<div class="col-md-12">
    <div ng-repeat="n in downloadsFiltered track by $index" class="homeDownloadsDisplay">
        <div>
            <div class="item">
                <div class="contentBlock image" resizable ratio="1.5">
                    <img ng-src="{{n.image_path?pathAmazonDev+n.image_path:defaultArticleImage}}">
                </div>
                <div class="contentBlock excerpt">
                    <p class="title" convert-special to-convert="n.title" ng-bind-html="trustAsHtml(n.title)"></p>
                    <p class="text" convert-special to-convert="n.text" ng-bind-html="trustAsHtml(n.text)"></p>
                </div>
                <div class="contentBlock">
                    <div class="btnGreen" ui-sref="downloads.detail({id: n._id})">Detalii</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
    <pagination total-items="totalItems" ng-model="currentPage" items-per-page="resultsPerPage" max-size="maxSize"
                class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>