<div class="col-xs-12 mobileHome">
    <div class="col-xs-12 category" ng-repeat="category in categories">
        <div class="col-xs-12 name">{{category.name}}</div>
        <div class="col-xs-12 content" ng-repeat="content in category.content" mobile-content-box>
            <div class="col-xs-4 image">
                <img ng-src="{{content.image_path?pathAmazonDev+content.image_path:defaultArticleImage}}">
            </div>
            <div class="col-xs-8 description">
                <div class="col-xs-12 title">{{content.title}}</div>
                <div class="col-xs-12 content" ng-bind-html="trustAsHtml(content.text)"></div>
            </div>
        </div>
    </div>
</div>