<div class="adminEditableSingleList">
    <div>
        <div>
            <label>{{title}}</label>
        </div>
        <div>
            <alert ng-if="csvAlert.text" type="{{csvAlert.type}}" close="csvAlert.text=null">{{csvAlert.text}}</alert>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nume" ng-model="itemName">
            <div class="input-group-btn">
                <a class="btn btn-default" ng-click="addItem()">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                <a class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false">
                    <i class="glyphicon glyphicon-folder-open"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="csvParse" ng-if="parsedCSVContents && parsedCSVContents.length>0">
        <label>Rezultatele citirii:</label>
        <div class="container items">
            <div ng-repeat="item in parsedCSVContents track by $index" class="item">
                <div class="name">{{item.email}}</div>
                <div class="action">
                    <a class="btn btn-sm btn-danger" ng-click="removeParsedItem($index)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
            </div>
            <div class="confirmItems">
                <a class="btn btn-primary" ng-click="addParsedItems()">Confirma adaugarea</a>
            </div>
        </div>
    </div>
    <div class="container items">
        <div ng-repeat="item in ngModel" class="item">
            <div class="name">{{item}}</div>
            <div class="action">
                <a class="btn btn-sm btn-danger" ng-click="removeItem(item)">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </div>
        </div>
    </div>
</div>