.main-view-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
}
.titleAndButton div {
  float: left;
  margin-right: 20px;
}
.titleAndButton div .btn {
  margin-top: 16px;
}
