a{
  cursor: pointer;
}

.modal{
  &.stretch{
    .modal-dialog{
      width: 90%;
    }
  }
}

.main-view-container {
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
}

.titleAndButton{
  div{
    float: left;
    margin-right: 20px;
    .btn{
      margin-top: 16px;
    }
  }
}

.noPadding{
  padding: 0;
}

.newAccountsTabs{
  width: 100%;
  float: left;
  border-bottom: 1px solid darkgray;
  .tab{
    cursor: pointer;
    float: left;
    padding: 5px;
    //border-bottom: 1px solid gray;
    &.active{
      border-left: 1px solid darkgray;
      border-top: 1px solid darkgray;
      border-right: 1px solid darkgray;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        border: 1px solid white;
      }
    }
  }
}

.specialProductsMenu{
  .menuBlock{
    div{
      float: left;
    }
  }
  .item{
    border: 1px solid darkgray;
    border-radius: 3px;
    background-color: #f5f5f5;
    cursor: pointer;
    padding: 5px;
    &.parent{
      width: 300px;
    }
    &.child{
      margin-left: 50px;
      width: 250px;
    }
    .unselectable;
    &:hover{
      background-color: white;
    }
  }
}

.importTable{
  width: 100%;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  td{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 5px;
  }
  .headers{
    font-weight: bold;
  }
}

.manageItems{
  display: block;
  width: 100%;
  .item{
    display: block;
    width: 48%;
    float: left;
    background-color: #f5f5f5;
    margin: 5px 1%;
    padding: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    &.full{
      width: 98%;
    }
    &.half{
      width: 23%;
    }
  }
  .title{
    float: left;
  }
  .action{
    float: right;
    padding-left: 5px;
  }
}

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.marginTop5px{
  margin-top: 5px;
}

.marginTop20{
  margin-top: 20px;
}

.marginTop70{
  margin-top:70px;
}
.marginTop25{
  margin-top: 25px;
}
.padding10{
  padding: 10px;
}
.pointer{
  cursor: pointer;
}
.handCursor {
  cursor: pointer;
}
.leftPadding5px{
  padding-left: 5px;
}
.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

//============================================================================================ TREE E-LEARNING
.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tree-node{
  &.active{
    background-color: lightgrey;
    color: black;
  }
}

.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2;
}

.nodrop {
  background-color: #f2dede;
}

.tree-node-content {
  margin: 10px;
}
.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


//============================================================================================ NEWSLETTER
.newsletterDashboard{
  .overallStats{
    padding: 0;
    margin-bottom: 15px;
  }
  .tabViewPanel{
    margin-top: 15px;
  }
}
.newsletterEditTemplate{
  .ace_editor{
    height: 300px;
    border-radius: 5px;
    border: 1px solid #eee;
    margin-bottom: 15px;
  }
  .variables{
    padding: 0 0 15px 0;
  }
}
.newsletterEditCampaign{
  .manageTemplates{
    margin-bottom: 15px;
    .template{
      padding: 0;
      border: 1px solid #eee;
      position: relative;
      min-height: 33px;
      .content{
        padding: 0;
      }
      .actions{
        position: absolute;
        right: 5px;
        top: 5px;
        visibility: hidden;
        display: none;
        height: 30px;
      }
      &:hover{
        border: 1px solid #777;
        .actions{
          visibility: visible;
          display: block;
        }
      }
    }
  }
}
.newsletterChooseCampaignTemplate{
  .template{
    border: 1px solid #eee;
    margin-bottom: 15px;
    &.welded{
      margin-bottom: 0;
    }
    cursor: pointer;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
    &:hover{
      border: 1px solid #777;
    }
  }
}
.newsletterPopulateTemplate{
  .templatePreview{
    padding: 0;
    border:1px solid #eee;
    margin-bottom: 15px;
  }
}



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// injector
// endinjector

.main-content {
  position: absolute;
  width: 100%;
  top: 40px;
  min-height: 1000px;
  bottom: 0;
}

.courses-tree {
  padding: 10px;
  .courses-panel {
    padding: 10px 0 20px 0;
    width: 100%;
    .add {
      color:#3c763d;
    }
    .remove {
      color: #d9534f;
    }

  }

    &.firstCourse{
      border-radius: 5px 5px 0 0;
    }

    &.lastCourse{
      border-radius: 0 0 5px 5px;
    }
}
.padding20{
  padding: 20px 0;
}
.edit-content {
  width: 600px; }
.edit-content .panel-heading {
  font-weight: bold; }
.edit-content .panel-heading h4 {
  margin-top: 5px;
  margin-bottom: 5px; }
.edit-content .as-sortable-item-handle {
  float: left;
  width: 440px; }
.edit-content .as-sortable-placeholder {
  border: 1px dashed darkgrey;
  box-sizing: border-box;
  background-color: #ddd;
  list-style: none; }
.edit-content .as-sortable-drag {
  opacity: .8;
  margin-top: -40px;
  margin-left: -400px; }
.edit-content .edit-course {
  margin-right: 0px;
  cursor: pointer;
  float: right;
  width: 1px;
  overflow: hidden;
  -webkit-transition: width .5s;
  transition: width .5s; }
.edit-content .edit-course .content {
  width: 50px; }
.edit-content .edit-course:hover {
  width: 50px;
  color: #34aadc; }
.edit-content .delete-course {
  margin-right: 10px;
  cursor: pointer;
  float: right;
  width: 1px;
  overflow: hidden;
  -webkit-transition: width .5s;
  transition: width .5s; }
.edit-content .delete-course .content {
  width: 60px; }
.edit-content .delete-course:hover {
  width: 60px;
  color: #ff2d55; }
.edit-content .popover {
  max-width: 350px; }
.edit-content .editPopover {
  width: 290px; }

.editLink{
  position: relative;
  float: left;
  left: 5px;
  z-index: 200;
  cursor: pointer;
  bottom: 20px;
}
.editLinkSlide{
  position: relative;
  float: left;
  left: 5px;
  z-index: 200;
  cursor: pointer;
}

.modalUpdateExample{
  color:#A0A0A0 ;

}

.marginLeft10{
  margin-left:10px;
}
//======================================My Prescription admin
.myPrescription{
  button{
    float:left;
    clear:left;
  }
  .myPrescriptionTextArea{
    float:left;
    clear:left;
    margin:20px 50px;
    span{
      font-size: 20px;
      float:left;
    }
    textarea{
      float: left;
      clear:left;
      resize:none;
    }
  }
  .myPrescriptionPhone{
    float:left;
    clear:left;
    margin:20px 50px;
    span{
      font-size: 20px;
      float:left;
    }
    input{
      margin:10px;
      float:left;
      clear:left;
    }

  }

}
