a{
  cursor: pointer;
}

.main-view-container {
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
}

.titleAndButton{
  div{
    float: left;
    margin-right: 20px;
    .btn{
      margin-top: 16px;
    }
  }
}

.noPadding{
  padding: 0;
}

.newAccountsTabs{
  width: 100%;
  float: left;
  .tab{
    cursor: pointer;
    float: left;
    padding: 5px;
    //border-bottom: 1px solid gray;
    &.active{
      border-left: 1px solid darkgray;
      border-top: 1px solid darkgray;
      border-right: 1px solid darkgray;
      //border-bottom: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

.specialProductsMenu{
  .menuBlock{
    div{
      float: left;
    }
  }
  .item{
    border: 1px solid darkgray;
    border-radius: 3px;
    background-color: #f5f5f5;
    cursor: pointer;
    padding: 5px;
    &.parent{
      width: 300px;
    }
    &.child{
      margin-left: 50px;
      width: 250px;
    }
    .unselectable;
    &:hover{
      background-color: white;
    }
  }
}

.manageItems{
  display: block;
  width: 100%;
  .item{
    display: block;
    width: 48%;
    float: left;
    background-color: #f5f5f5;
    margin: 5px 1%;
    padding: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
  }
  .title{
    float: left;
  }
  .action{
    float: right;
    padding-left: 5px;
  }
}

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.marginTop5px{
  margin-top: 5px;
}
.pointer{
  cursor: pointer;
}