a {
  cursor: pointer;
}
.main-view-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
}
.titleAndButton div {
  float: left;
  margin-right: 20px;
}
.titleAndButton div .btn {
  margin-top: 16px;
}
.noPadding {
  padding: 0;
}
.newAccountsTabs {
  width: 100%;
  float: left;
}
.newAccountsTabs .tab {
  cursor: pointer;
  float: left;
  padding: 5px;
}
.newAccountsTabs .tab.active {
  border-left: 1px solid darkgray;
  border-top: 1px solid darkgray;
  border-right: 1px solid darkgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.specialProductsMenu .menuBlock div {
  float: left;
}
.specialProductsMenu .item {
  border: 1px solid darkgray;
  border-radius: 3px;
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.specialProductsMenu .item.parent {
  width: 300px;
}
.specialProductsMenu .item.child {
  margin-left: 50px;
  width: 250px;
}
.specialProductsMenu .item:hover {
  background-color: white;
}
.manageItems {
  display: block;
  width: 100%;
}
.manageItems .item {
  display: block;
  width: 48%;
  float: left;
  background-color: #f5f5f5;
  margin: 5px 1%;
  padding: 5px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.manageItems .item.full {
  width: 98%;
}
.manageItems .item.half {
  width: 23%;
}
.manageItems .title {
  float: left;
}
.manageItems .action {
  float: right;
  padding-left: 5px;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.marginTop5px {
  margin-top: 5px;
}
.pointer {
  cursor: pointer;
}
