<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--Get amazon bucket-->
    <script>
        sessionStorage.defaultAmazonBucket = "<%=amazonBucket%>";
    </script>

    <!--Core-modules-->
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/jquery-ui/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="components/moment/moment.js"></script>
<script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script type="text/javascript" src="components/qrcode/lib/qrcode.min.js"></script>
<script type="text/javascript" src="components/angular-qr/angular-qr.min.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="components/angular-growl/build/angular-growl.js"></script>
    <script src="components/angular-ui-select/dist/select.min.js"></script>
    <script src="modules/google_analytics/angulartics-ga.js"></script>
    <script src="components/aws-sdk/dist/aws-sdk.min.js"></script>
    <script src="components/tinymce/tinymce.min.js"></script>
    <script src="modules/ui-tinymce/tinymce.js"></script>
    <script src="components/ng-file-upload/angular-file-upload.min.js"></script>
    <script src="components/async/lib/async.js"></script>



    <!--Controllers-->
    <script src="javascript/admin/app.js"></script>
    <script src="javascript/admin/controllers.js"></script>
    <script src="javascript/admin/services.js"></script>
    <script src="javascript/shared/controllers.js"></script>
    <script src="javascript/shared/services.js"></script>
    <script src="javascript/admin/customDirectives.js"></script>
    <script src="javascript/admin/UtilizatoriControllers/GrupuriController.js"></script>
    <script src="javascript/admin/UtilizatoriControllers/AddGroupController.js"></script>
    <script src="javascript/admin/UtilizatoriControllers/EditGroupController.js"></script>
    <script src="javascript/admin/UtilizatoriControllers/NewAccounts/newAccountsController.js"></script>
    <script src="javascript/admin/UtilizatoriControllers/NewAccounts/UsersAcceptedController.js"></script>
    <script src="javascript/admin/UtilizatoriControllers/NewAccounts/UsersRejectedController.js"></script>
    <script src="javascript/admin/UtilizatoriControllers/NewAccounts/UsersPendingController.js"></script>
    <script src="javascript/admin/UtilizatoriControllers/NewAccounts/AcceptUserController.js"></script>
    <script src="javascript/admin/UtilizatoriControllers/NewAccounts/RejectUserController.js"></script>
    <script src="javascript/admin/ContinutControllers/ContinutPublicController.js"></script>
    <script src="javascript/admin/ContinutControllers/AddPublicContentController.js"></script>
    <script src="javascript/admin/ContinutControllers/EditPublicContentController.js"></script>
    <script src="javascript/admin/ContinutControllers/indexContentController.js"></script>
    <script src="javascript/admin/CarouselPublicControllers/CarouselPublicController.js"></script>
    <script src="javascript/admin/CarouselPublicControllers/AddPublicCarouselController.js"></script>
    <script src="javascript/admin/CarouselPublicControllers/EditPublicCarouselController.js"></script>

        <script src="javascript/admin/CarouselMedicControllers/CarouselMedicController.js"></script>
    <script src="javascript/admin/CarouselMedicControllers/AddMedicCarouselController.js"></script>
    <script src="javascript/admin/CarouselMedicControllers/EditMedicCarouselController.js"></script>

    <script src="javascript/admin/ProduseController/productsCtrl.js"></script>
    <script src="javascript/admin/ProduseController/productsAddCtrl.js"></script>
    <script src="javascript/admin/ProduseController/productsEditCtrl.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductsController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductModalController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductAddController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductDeleteController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductEnableController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductEditController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductMenuController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductAddMenuController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductEditMenuController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductResourcesController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductGlossaryController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductCrudGlossaryController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductAddResourceController.js"></script>
    <script src="javascript/admin/SpecialProductsControllers/SpecialProductEditResourceController.js"></script>
    <script src="javascript/admin/ArticoleController/articlesCtrl.js"></script>
    <script src="javascript/admin/ArticoleController/articlesAddCtrl.js"></script>
    <script src="javascript/admin/ArticoleController/articlesUpdateCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/roomAddCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/roomUpdateCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/eventToggleCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/eventsCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/eventsAddCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/ConferencesAddCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/conferenceUpdateCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/eventsUpdateCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/SpeakerAddCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/speakerUpdateCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/TalkAddCtrl.js"></script>
    <script src="javascript/admin/EvenimenteController/talkUpdateCtrl.js"></script>

    <script src="javascript/admin/ariiController/ariiTerapeuticeCtrl.js"></script>
    <script src="javascript/admin/ariiController/ariiTerapeuticeAddCtrl.js"></script>
    <script src="javascript/admin/ariiController/ariiTerapeuticeEditCtrl.js"></script>

    <script src="javascript/admin/MultimediaController/multimediaCtrl.js"></script>
    <script src="javascript/admin/MultimediaController/multimediaAddCtrl.js"></script>
    <script src="javascript/admin/testeController/testeInteractiveCtrl.js"></script>
    <script src="javascript/admin/testeController/testeAddCtrl.js"></script>
    <script src="javascript/admin/applicationsControllers/qa/qaController.js"></script>
    <script src="javascript/admin/applicationsControllers/qa/addTopicController.js"></script>
    <script src="javascript/admin/applicationsControllers/qa/editTopicController.js"></script>
    <script src="javascript/admin/applicationsControllers/qa/deleteTopicController.js"></script>
    <script src="javascript/admin/applicationsControllers/qa/addAnswerGiverController.js"></script>
    <script src="javascript/admin/applicationsControllers/qa/editAnswerGiverController.js"></script>
    <script src="javascript/admin/applicationsControllers/qa/deleteAnswerGiverController.js"></script>


    <!--Plug-ins-->
    <script src="components/ng-table/dist/ng-table.js"></script>
    <script src="modules/multiple_select/multiple_select.js"></script>
    <link rel="stylesheet" href="modules/multiple_select/multiple_select_style.css">
    <script src="modules/therapeutic_select/therapeutic_select.js"></script>
    <link rel="stylesheet" href="modules/therapeutic_select/therapeutic_select.css">
    <script src="modules/s3_upload_manager/s3_upload_manager.js"></script>


    <!--Stylesheets-->
    <link rel='stylesheet' href='components/ng-table/dist/ng-table.min.css' />
    <link rel='stylesheet' href='components/angular-ui-select/dist/select.min.css' />
    <link rel='stylesheet' href='components/select2/select2.css' />
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/admin/defaultStyles.css">
    <link rel="stylesheet" href="stylesheets/stylesThatReignSupreme.css">

</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top ng-scope" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" collapse="navCollapsed">

            <ul class="nav navbar-nav">
                <li class="dropdown" ng-class="{'active': $state.includes('utilizatori')}">
                    <a class="dropdown-toggle" data-toggle="dropdown"> Utilizatori <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="utilizatori.gestionareConturi"> Gestionare conturi </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="utilizatori.conturiNoi.pending"> Conturi noi </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="utilizatori.grupuri"> Grupuri utilizatori </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="utilizatori.importUsers"> Import Users </a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active': $state.includes('continut')}">
                    <a class="dropdown-toggle" data-toggle="dropdown"> Continut <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="continut.produse"> Produse </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="continut.specialProducts"> Produs special </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="continut.articole"> Articole </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="continut.evenimente"> Evenimente </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="continut.intro"> Intro </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="continut.carouselMedic"> Carousel Medic </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="continut.carouselPublic"> Carousel Public </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="continut.continutPublic"> Continut Public </a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active': $state.includes('newsletter')}">
                    <a class="dropdown-toggle" data-toggle="dropdown"> Newsletter <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="newsletter.consolaNewsletter"> Consola Newsletter </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="newsletter.rapoarteUtilizare"> Rapoarte Utilizare </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="newsletter.rapoarteGlobale"> Rapoarte Globale </a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active': $state.includes('elearning')}">
                    <a class="dropdown-toggle" data-toggle="dropdown"> Elearning <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="elearning.multimedia"> Multimedia </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="elearning.transmisiiLive"> Transmisii live </a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="elearning.testeInteractive"> Teste Interactive </a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li ng-class="{'active': $state.includes('ariiTerapeutice')}"><a ui-sref="ariiTerapeutice"> Arii terapeutice </a></li>
                <li class="dropdown" ng-class="{'active': $state.includes('applications')}">
                    <a class="dropdown-toggle" data-toggle="dropdown"> Applicatii <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="applications.qa"> Q/A </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> <%= user.username %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a style="cursor: pointer;" ng-click="showProfile()">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ui-view class="view-container main-view-container"></div>

</body>
</html>