<div ng-controller="ProductPageMenu">
    <div class="modal-header">
        <div class="modal-title"><h3>Modifica meniu produs</h3></div>
    </div>
    <div class="modal-body container" style="margin: 0; width: 100%">
        <alert type="{{alert.type}}" ng-if="alert.show">{{alert.text}}</alert>
        <div class="col-md-12" style="margin-bottom: 30px">
            <button class="btn btn-default" ng-click="addParent()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;&nbsp;Adauga parinte</button>
        </div>
        <div class="col-md-12 noPadding specialProductsMenu">
            <div ng-repeat="item in menuItems" class="col-md-12 noPadding">
                <div class="col-md-12 menuBlock">
                    <div class="item parent" ng-click="editItem(item._id)">{{item.title}}</div>
                    <div class="item" ng-click="removeItem(item)"><i class="glyphicon glyphicon-remove"></i></div>
                    <div class="item" ng-click="addChild(item._id)"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;&nbsp;Adauga copil</div>
                </div>
                <div class="col-md-12 menuBlock" ng-repeat="it in item.children_ids">
                    <div class="item child" ng-click="editItem(it._id)">{{it.title}}</div>
                    <div class="item" ng-click="removeItem(it)"><i class="glyphicon glyphicon-remove"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default pull-left" ng-click="closeModal(true)">Inchide</a>
        <a class="btn btn-warning pull-right" ng-click="renderView('specialProductEdit')">Inapoi</a>
    </div>
</div>