<div ng-controller="EditProductPage">
    <div class="modal-header">
        <div class="modal-title"><h3>Pagina resursa</h3></div>
    </div>
    <div class="modal-body container" style="margin: 0; width: 100%">
        <alert type="{{alert.type}}" ng-if="alert.show">{{alert.text}}</alert>
        <div class="col-md-12">
            <div class="col-md-6 noPaddingLeft">
                <div class="form-group col-md-12 noPadding">
                    <label>Nume resursa:</label>
                    <input class="form-control" type="text" ng-model="newProductPage.product_name">
                </div>
            </div>
            <div class="col-md-6 noPaddingRight">
                <div class="form-group col-md-6 noPaddingLeft">
                    <label for="productType">Tip:</label>
                    <select ng-model="newProductPage.productType" ng-options="productType as productTypeDisplayName(productType) for productType in productDisplayNames"
                            class="form-control col-md-12 noPadding" id="productType">
                    </select>
                </div>
                <div class="form-group col-md-6 noPadding">
                    <label>Numar ordine: </label>
                    <input type="number" class="form-control" ng-model="newProductPage.order_index">
                </div>
            </div>
        </div>
        <div class="col-md-12 marginTop20">
            <div class="form-group">
                <label>Patologii:</label>
                <my-multiple-select all-objects="pathologies" selected-objects="myPathologies.selectedPathologies" track-by="_id" display-by="display_name"
                                    output="notUsed"></my-multiple-select>
            </div>
        </div>
        <div class="col-md-12">
            <label>Divizie:</label><br>
            <select title="activationCode" ng-model="newProductPage.activationCode" class="select-code">
                <option disabled selected value> Selectati o divizie </option>
                <option ng-repeat="item in activationCodes" ng-value="item.code">{{item.name}}</option>
            </select>
        </div>
        <div class="col-md-12 marginTop20">
            <button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, 'header')" ngf-multiple="false"
                    ngf-accept="'image/*'"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca header</button>
            <span ng-if="headerImageBody">{{headerImageBody.name}}</span>
            <span ng-if="!headerImageBody">{{newProductPage.header_image}}</span>
        </div>
        <div class="col-md-12" style="margin-top: 10px">
            <button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, 'logo')" ngf-multiple="false"
                    ngf-accept="'image/*'"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca logo</button>
            <span ng-if="logoImageBody">{{logoImageBody.name}}</span>
            <span ng-if="!logoImageBody">{{newProductPage.logo_path}}</span>
        </div>
        <angular-bootstrap-tabs tabs="editableTabs" editor-options="tinymceOptions"></angular-bootstrap-tabs>

    </div>
    <div class="modal-footer">
        <div class="col-xs-12">
            <a class="btn btn-default pull-left" ng-click="closeModal(true)">Inchide</a>
            <a class="btn btn-warning pull-right" ng-click="addPage()">Salveaza</a>
            <a class="btn btn-warning pull-right" ng-click="addPage(true)">Modifica meniu</a>
            <a class="btn btn-warning pull-right" ng-click="renderView('resourcesList')">Lista Resurse</a>
        </div>
    </div>
</div>