<div ng-controller="EditProductPage">
    <div class="modal-header">
        <div class="modal-title"><h3>Pagina produs</h3></div>
    </div>
    <div class="modal-body container" style="margin: 0; width: 100%">
        <alert type="{{alert.type}}" ng-if="alert.show">{{alert.text}}</alert>
        <div class="col-md-12 noPadding">
            <div class="col-md-6 noPadding">
                <div class="form-group col-md-12">
                    <label>Nume produs:</label>
                    <input class="form-control" type="text" ng-model="newProductPage.product_name">
                </div>
                <div class="col-md-12">
                    <!--<label>Grupuri curente:</label>{{newProductPage.groups}}-->
                </div>
                <div class="col-md-12">
                    <label>Schimba grupuri:</label>
                    <my-multiple-select all-objects="groupsAvailable" selected-objects="selectedGroups"
                                        track-by="_id" display-by="display_name" split-by="profession.display_name"
                                        output="newProductPage.groups"></my-multiple-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group col-md-12 noPadding">
                    <label>Header title:</label>
                    <input type="text" class="form-control" ng-model="newProductPage.header_title">
                </div>
                <div class="col-md-12 noPadding">
                    <button class="btn btn-default" type="file" ng-file-select ng-file-change="headerSelected($files, $event)" multiple="false"
                            accept="image/*"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca header</button>
                    <span ng-if="headerImageBody">{{headerImageBody.name}}</span>
                    <span ng-if="!headerImageBody">{{newProductPage.header_image}}</span>
                </div>
                <div class="col-md-12 noPadding" style="margin-top: 10px">
                    <button class="btn btn-default" type="file" ng-file-select ng-file-change="logoSelected($files, $event)" multiple="false"
                            accept="image/*"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca logo</button>
                    <span ng-if="logoImageBody">{{logoImageBody.name}}</span>
                    <span ng-if="!logoImageBody">{{newProductPage.logo_path}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 15px">
            <div class="newAccountsTabs">
                <div class="tab" ng-class="{'active': activeTab == 'description'}" ng-click="showTab('description')">
                    <span>General description</span>
                </div>
                <div class="tab" ng-class="{'active': activeTab == 'prescription'}" ng-click="showTab('prescription')">
                    <span>Prescription</span>
                </div>
                <div class="tab" ng-class="{'active': activeTab == 'safety'}" ng-click="showTab('safety')">
                    <span>Safety info</span>
                </div>
            </div>
            <div class="col-md-12 noPadding" ng-class="{'hidden': activeTab != 'description'}">
                <textarea ui-tinymce="tinymceOptions" ng-model="newProductPage.general_description"></textarea>
            </div>
            <div class="col-md-12 noPadding" ng-class="{'hidden': activeTab != 'prescription'}">
                <textarea ui-tinymce="tinymceOptions" ng-model="newProductPage.prescription"></textarea>
            </div>
            <div class="col-md-12 noPadding" ng-class="{'hide': activeTab != 'safety'}">
                <textarea ui-tinymce="tinymceOptions" ng-model="newProductPage.safety_information"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default pull-left" ng-click="closeModal(true)">Inchide</a>
        <a class="btn btn-warning pull-right" ng-click="addPage()">Finalizeaza</a>
        <a class="btn btn-warning pull-right" ng-click="addPage(true)">Modifica meniu</a>
        <a class="btn btn-warning pull-right" ng-click="renderView('viewGlossary')">Modifica glosar</a>
        <a class="btn btn-warning pull-right" ng-click="renderView('viewResources')">Modifica resurse</a>
    </div>
</div>