<div ng-controller="EditProductPage">
    <div class="modal-header">
        <div class="modal-title"><h3>Pagina produs</h3></div>
    </div>
    <div class="modal-body container" style="margin: 0; width: 100%">
        <alert type="{{alert.type}}" ng-if="alert.show">{{alert.text}}</alert>
                <div class="col-md-12">
                    <div class="col-md-6 noPaddingLeft">
                        <div class="form-group col-md-12 noPadding">
                            <label>Nume produs:</label>
                            <input class="form-control" type="text" ng-model="newProductPage.product_name">
                        </div>
                        <div class="col-md-12 noPadding">
                            <!--<label>Grupuri curente:</label>{{newProductPage.groups}}-->
                        </div>
                        <div class="col-md-12 noPadding">
                            <label>Schimba grupuri:</label>
                            <my-multiple-select all-objects="groupsAvailable" selected-objects="selectedGroups"
                                                track-by="_id" display-by="display_name" split-by="profession.display_name"
                                                output="newProductPage.groups"></my-multiple-select>
                        </div>
                    </div>
                    <div class="col-md-6 noPaddingRight">
                        <div class="form-group col-md-6 noPadding">
                            <label>Header title:</label>
                            <input type="text" class="form-control" ng-model="newProductPage.header_title">
                        </div>
                        <div class="form-group col-md-6" style="padding: 0 0 0 10px">
                            <label>Job ID:</label>
                            <input type="text" class="form-control" ng-model="newProductPage.job_id">
                        </div>
                        <div class="col-md-12 noPadding" style="margin-top: 10px">
                            <div class="col-md-12 noPadding"><label>Afiseaza safety info pentru:</label></div>
                            <div class="col-md-4 noPadding">
                                <label>Resurse: </label>
                                <input type="checkbox" ng-model="newProductPage.show_safety_info_for.resources">
                            </div>
                            <div class="col-md-4 noPadding">
                                <label>Glosar: </label>
                                <input type="checkbox" ng-model="newProductPage.show_safety_info_for.glossary">
                            </div>
                            <div class="col-md-4 noPadding">
                                <label>Site map: </label>
                                <input type="checkbox" ng-model="newProductPage.show_safety_info_for.site_map">
                            </div>
                        </div>
                        <div class="col-md-12 noPadding" style="margin-top: 10px">
                            <div class="col-md-12 noPadding">
                                <label>Afiseaza prescription in site map: </label>
                                <input type="checkbox" ng-model="newProductPage.show_sitemap_prescription">
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-md-12 marginTop20">
            <button class="btn btn-default" type="file" ngf-select ngf-change="headerSelected($files, $event)" ngf-multiple="false"
                    ngf-accept="'image/*'"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca header</button>
            <span ng-if="headerImageBody">{{headerImageBody.name}}</span>
            <span ng-if="!headerImageBody">{{newProductPage.header_image}}</span>
        </div>
        <div class="col-md-12" style="margin-top: 10px">
            <button class="btn btn-default" type="file" ngf-select ngf-change="logoSelected($files, $event)" ngf-multiple="false"
                    ngf-accept="'image/*'"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca logo</button>
            <span ng-if="logoImageBody">{{logoImageBody.name}}</span>
            <span ng-if="!logoImageBody">{{newProductPage.logo_path}}</span>
        </div>
                <div class="col-md-12" style="margin-top: 15px">
                    <div class="newAccountsTabs">
                        <div class="tab" ng-class="{'active': activeTab == 'description'}" ng-click="showTab('description')">
                            <span>General description</span>
                        </div>
                        <div class="tab" ng-class="{'active': activeTab == 'prescription'}" ng-click="showTab('prescription')">
                            <span>Prescription</span>
                        </div>
                        <div class="tab" ng-class="{'active': activeTab == 'safety'}" ng-click="showTab('safety')">
                            <span>Safety info</span>
                        </div>
                        <div class="tab" ng-class="{'active': activeTab == 'site_map'}" ng-click="showTab('site_map')">
                            <span>Site map description</span>
                        </div>
                    </div>
                    <div class="col-md-12 noPadding" ng-class="{'hidden': activeTab != 'description'}">
                        <textarea ui-tinymce="tinymceOptions" ng-model="newProductPage.general_description"></textarea>
                    </div>
                    <div class="col-md-12 noPadding" ng-class="{'hidden': activeTab != 'prescription'}">
                        <textarea ui-tinymce="tinymceOptions" ng-model="newProductPage.prescription"></textarea>
                    </div>
                    <div class="col-md-12 noPadding" ng-class="{'hide': activeTab != 'safety'}">
                        <textarea ui-tinymce="tinymceOptions" ng-model="newProductPage.safety_information"></textarea>
                    </div>
                    <div class="col-md-12 noPadding" ng-class="{'hide': activeTab != 'site_map'}">
                        <textarea ui-tinymce="tinymceOptions" ng-model="newProductPage.site_map_description"></textarea>
                    </div>
                </div>

    </div>
    <div class="modal-footer">
        <div class="col-xs-12">
            <a class="btn btn-default pull-left" ng-click="closeModal(true)">Inchide</a>
            <a class="btn btn-warning pull-right" ng-click="addPage()">Finalizeaza</a>
            <a class="btn btn-warning pull-right" ng-click="addPage(true)">Modifica meniu</a>
            <a class="btn btn-warning pull-right" ng-click="renderView('resourcesList')">Lista Resurse</a>
            <a class="btn btn-warning pull-right" ng-click="renderView('viewGlossary')">Modifica glosar</a>
            <a class="btn btn-warning pull-right" ng-click="renderView('viewResources')">Modifica resurse</a>
            <a class="btn btn-warning pull-right" ng-click="renderView('viewSpeakers')">Modifica speakeri</a>
        </div>
    </div>
</div>