<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Gestionare pagini de produse speciale</h3></div>
    <div class="col-md-3"><div class="btn btn-default pull-right" ng-click="addSpecialProduct()">Adauga pagina produs</div></div>
</div>
<div class="col-md-12">
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="product in $data">
            <td data-title="'Nume produs'" filter="{ 'product_name': 'text' }" sortable="'product_name'">
                {{product.product_name}}
            </td>
            <td data-title="'Grupuri atasate'">
                <ul>
                    <li ng-repeat="productGroup in product.groups">
                        {{productGroup.display_name}}&nbsp;({{productGroup.profession.display_name}})
                    </li>
                </ul>
            </td>
            <td data-title="'Actiuni'">
                <action-buttons item-enable-property="product.enabled" show-toggle-button="true" show-edit-button="true" show-delete-button="true"
                                toggle-item="toggleSpecialProduct(product._id,product.enabled)" delete-item="deleteSpecialProduct(product._id)" update-item="editSpecialProduct(product._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>