<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Gestionare resurse & produse speciale</h3></div>
    <div class="col-md-3"><div class="btn btn-default pull-right" ng-click="addSpecialProduct()">Adauga pagina produs</div></div>
</div>
<bulk-operations model="specialProducts" delete-button modify-button items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
<div class="col-md-12">
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="product in $data">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(product._id)" ng-checked="checkValue(product._id)"/>
            </td>
            <td data-title="'Nume produs'" filter="{ 'product_name': 'text' }" sortable="'product_name'">
                {{product.product_name}}
            </td>
            <td data-title="'Numar ordine'" sortable="'order_index'">
                {{product.order_index}}
            </td>
            <td data-title="'Tip'" sortable="'productType'" filter="{'productType' : 'text'}">
                {{product.productType}}
            </td>
            <td data-title="'Patologii'" filter="{ 'pathologiesID.display_name': 'text' }">
                <ul>
                    <li ng-repeat="pathology in product.pathologiesID">
                        {{pathology.display_name}}
                    </li>
                </ul>
            </td>
            <td data-title="'Actiuni'">
                <action-buttons item-enable-property="product.enabled" show-toggle-button="true" show-edit-button="true" show-delete-button="true"
                                toggle-item="toggleSpecialProduct(product._id,product.enabled)" delete-item="deleteSpecialProduct(product._id)" update-item="editSpecialProduct(product._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>