<div ng-controller="ProductPageSpeakers">
    <div class="modal-header">
        <div class="modal-title"><h3>Editeaza speakeri</h3></div>
    </div>
    <div class="modal-body container" style="margin: 0; width: 100%">
        <alert type="{{alert.type}}" ng-if="alert.show">{{alert.text}}</alert>
        <div class="form-group col-md-12">
            <label>Adauga speaker:</label>
            <select class="form-control" style="width:50%" ng-model="selectedSpeaker"
                    ng-options="speaker as speaker.last_name+' '+speaker.first_name for speaker in allSpeakers" ng-change="addSpeaker()"></select>
        </div>
        <div class="col-md-12">
            <table ng-table="tableParams" show-filter="true" class="table table-bordered">
                <tr ng-repeat="r in $data">
                    <td data-title="'Nume'" filter="{ 'last_name': 'text' }" sortable="'last_name'">
                        {{r.last_name}}
                    </td>
                    <td data-title="'Prenume'" filter="{ 'first_name': 'text' }" sortable="'first_name'">
                        {{r.first_name}}
                    </td>
                    <td data-title="'Actiuni'">
                        <action-buttons show-toggle-button="false" show-edit-button="false" show-delete-button="true"
                                        delete-item="removeSpeaker(r)"></action-buttons>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-xs-12">
            <a class="btn btn-default pull-left" ng-click="closeModal(true)">Inchide</a>
            <a class="btn btn-warning pull-right" ng-click="renderView('specialProductEdit')">Inapoi</a>
        </div>
    </div>
</div>