<!doctype html>
<html ng-app="conferenceApp">
	<head>
		<script src="components/angular/angular.min.js"></script>
		<script src="components/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="components/angular-resource/angular-resource.min.js"></script>
    	<script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="components/socket.io-client/socket.io.js"></script>
		<script src="components/angular-socket-io/socket.min.js"></script>
		<script src="components/ngDraggable/ngDraggable.js"></script>
		<script src="components/webrtc-adapter/adapter.js"></script>
		<script src="components/kurento-utils/js/kurento-utils.js"></script>
		<script src="components/jquery/dist/jquery.min.js"></script>
		<script src="javascript/conference/app.js"></script>
		<link rel="stylesheet" href="components/qconferences-front-end/dist/qconferences-bundle.css">
		<script src="components/qconferences-front-end/dist/qconferences-bundle.js"></script>
	</head>
	<body ng-controller="ConferenceController">
		<q-conferences-front-end
			conference-token="<%=token%>"
			conference-id="<%=conference%>"
			socket-path="<%=socketPath%>"
			api-path="<%=apiPath%>"
			img-src-logo="assets/conference/logo_MSD.png"
			img-src-close-conference="assets/conference/conferenceIcon1.png"
			img-src-leave-conference="assets/conference/disconnect.png"
			img-src-toggle-menu="assets/conference/conferenceIcon4.png"
			img-src-banned-menu="assets/conference/conferenceIcon5.png"
			img-src-share-screen-start="assets/conference/conferenceIcon3.png"
			img-src-share-screen-stop="assets/conference/conferenceIcon3.png"
			on-leave="closeConferenceWindow"
		>
		</q-conferences-front-end>
	</body>
</html>