<!doctype html>
<html lang="en" ng-app="cloudStreamAdminApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--Get amazon bucket-->
    <script>
        sessionStorage.defaultAmazonBucket = "<%=amazonBucket%>";
    </script>

    <!--Core-modules-->
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/jquery-ui/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="components/moment/moment.js"></script>
<script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script type="text/javascript" src="components/angular-qr/angular-qr.min.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="modules/google_analytics/angulartics-ga.js"></script>
    <script src="components/aws-sdk/dist/aws-sdk.min.js"></script>
    <script src="components/swfobject.js"></script>
    <!--<script src="components/flash/playerProductInstall.swf"></script>-->
    <!--<script src="components/flash/simpleBroadcaster2.swf"></script>-->
    <!--<script src="components/flash/simpleBroadcaster3.swf"></script>-->
    <!--<script src="components/flash/simpleSubscriber2.swf"></script>-->
    <!--<script src="components/flash/simpleSubscriber3.swf"></script>-->

    <!--Controllers-->
    <script src="javascript/streamAdmin/app.js"></script>
    <script src="javascript/streamAdmin/controllers.js"></script>
    <script src="javascript/streamAdmin/services.js"></script>
    <script src="javascript/streamAdmin/liveTransmissionCtrl.js"></script>

    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/stylesThatReignSupreme.css">

</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top ng-scope" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" collapse="navCollapsed">

            <ul class="nav navbar-nav">
                <li ng-class="{'active': $state.includes('transmisiiLive')}"><a ui-sref="transmisiiLive"> Transmisii live </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> <%= user.username %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a style="cursor: pointer;" ng-click="showProfile()">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ui-view class="view-container main-view-container"></div>

</body>
</html>