<div class="eventDetails">
        <div class="modal-header">
            <div class="modal-title"><i class="glyphicon glyphicon-facetime-video fontM" ng-if="itemsEvent.type==2"></i>&nbsp;{{itemsEvent['name']}}
            </div>
        </div>
        <div class="modal-body container">
            <div class="details">
                <div class="location">
                    <strong>Locatie:&nbsp;</strong><strong convert-special conver="itemsEvent.place" ng-bind-html="trustAsHtml(itemsEvent.place)"></strong>
                </div>
                <div class="date">
                    <span class="label label-primary">&nbsp;{{itemsEvent.start | asDate | date: 'dd/MM/yyyy'}}&nbsp;-&nbsp;{{itemsEvent.end | asDate | date: 'dd/MM/yyyy'}}</span>
                </div>
                <div class="description" convert-special conver="itemsEvent.description" ng-bind-html="trustAsHtml(itemsEvent.description + '&nbsp;')"></div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default float-left" ng-click="closeModal()">Inchide</a>
        </div>
</div>