<!doctype html>
<head>
    <script src="components/fullcalendar/fullcalendar.js"></script>
    <script src="components/fullcalendar/gcal.js"></script>

    <link rel='stylesheet' href='components/fullcalendar/fullcalendar.css' />

</head>
<body>
<div class="col-md-12 col-xs-12">
    <div id="calendar" calendar="myCalendar" ui-calendar="uiConfigMobile.calendar" ng-model="realEventsMob" class="visible-xs visible-sm col-xs-12 noPadding"></div>
    <div class="visible-xs visible-sm col-xs-12 padd40px">
        <h3 class="bottomBorder specialTitleCalendarMobile">EVENIMENTE URMATOARE</h3>
        <div class="col-md-12" ng-if="!events2Filtered">
            <h3>Nu exista nici un eveniment pentru grupul dvs.!</h3>
        </div>
        <div class="event blue" ng-repeat="eventim in events2Filtered">
            <div class="col-md-12 col-xs-12 col-sm-12 noPadding" ng-class="$index==0?'paddingTop5':''">
                <div class="col-md-2 col-xs-2 col-sm-1 noPadding padd10Bottom date2">
                    <h2 class="MSDTitleDark noMarginBottom">{{eventim.start | filter: asDate | date:'dd'}}</h2>
                    <h5 class="MSDTitleDark noMarginTop">{{eventim.start | filter: asDate | date:'MMM'}}</h5>
                </div>

                <div class="noPadding col-md-9 col-sm-9 col-xs-9 top2percent margin2Left">

                    <h4 class="handCursor" ng-if="eventim.type==1" ng-click="goToEvent(eventim._id)" convert-special conver="eventim.name" ng-bind-html="trustAsHtml(eventim.name)">

                    </h4>
                    <h4 class="handCursor" ng-if="eventim.type==2" ng-click="goToEvent(eventim._id)" convert-special conver="eventim.name" ng-bind-html="trustAsHtml(eventIcon+eventim.name)">

                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm padd40px">
            <h3 class="bottomBorder specialTitleCalendarMobile">EVENIMENTE URMATOARE</h3>
            <div class="col-md-12" ng-if="!events2Filtered">
                <h3>Nu exista nici un eveniment pentru grupul dvs.!</h3>
            </div>
             <div class="event blue" ng-repeat="eventim in events2Filtered">
                    <div class="col-md-12 col-xs-12 noPadding" ng-class="$index==0?'paddingTop5':''">
                        <div ng-cloak class="col-md-2 col-xs-2 noPadding padd10Bottom date2">
                            <h2 class="MSDTitleDark noMarginBottom">{{eventim.start | filter: asDate | date:'dd'}}</h2>
                            <h5 class="MSDTitleDark noMarginTop">{{eventim.start | filter: asDate | date:'MMM'}}</h5>
                          </div>

                        <div class="noPadding col-md-9 col-xs-9 top2percent margin2Left">

                            <h4 class="handCursor" ng-if="eventim.type==1" ng-click="goToEvent(eventim._id)" convert-special conver="eventim.name" ng-bind-html="trustAsHtml(eventim.name)">

                            </h4>
                            <h4 class="handCursor" ng-if="eventim.type==2" ng-click="goToEvent(eventim._id)" convert-special conver="eventim.name" ng-bind-html="trustAsHtml(eventIcon+eventim.name)">

                            </h4>
                        </div>
                    </div>
                </div>
         </div>
<div id="calendar" calendar="myCalendar" ui-calendar="uiConfig.calendar" ng-model="realEvents" class="col-md-8 hidden-xs hidden-sm padd35px"></div>
        </div>
<ng-view></ng-view>
</body>