<div class="eventDetails">
    <div class="modal-header">
        <div class="modal-title"><i class="glyphicon glyphicon-facetime-video fontM"
                                    ng-if="itemsEvent.event.type==2"></i>&nbsp;{{itemsEvent.event['name']}}
        </div>
        <div class="details">
            <div class="date location">
                <span class="label label-primary"><strong>&nbsp;{{itemsEvent.event.start | asDate | date: 'MMMM dd'}} </strong><strong>
                        &nbsp;-&nbsp;{{itemsEvent.event.end | asDate | date: 'dd,yyyy'}}</strong> <strong
                            convert-special
                            conver="itemsEvent.event.place"
                            ng-bind-html="trustAsHtml(itemsEvent.event.place)"></strong></span>
            </div>
        </div>
    </div>
    <div class="modal-body container">
        <div class="calendarTabs">
            <tabset class="text-center">
                <tab heading="Despre">
                    <p ng-show="!itemsEvent.event.description" class="text-center">Nu sunt disponibile detalii despre Eveniment.</p>
                    <div class="aboutContainer" ng-bind-html="trustAsHtml(itemsEvent.event.description)">
                    </div>
                </tab>
                <tab heading="Program">
                    <div class="programContainer">
                        <p ng-show="isEmpty(itemsEvent.days)" class="text-center">Nu sunt disponibile detalii
                            despre Program.
                        </p>
                        <div ng-repeat="(key,day) in itemsEvent.days" class="dayItem">

                            <span class="eventDay" ng-click="isCollapsed =!isCollapsed"><i ng-class="{'glyphicon glyphicon-chevron-down':isCollapsed,'glyphicon glyphicon-chevron-up':!isCollapsed}"></i>
                                <strong>{{ formatDate(key) | date: 'dd MMMM' }}</strong> </span>

                            <div collapse="isCollapsed">
                                <div class="conferenceItem" ng-repeat="(key ,conference) in day">
                                    <span class="conferenceTitle" ng-click="subMenuCollapsed=!subMenuCollapsed"><i
                                                ng-class="{'glyphicon glyphicon-chevron-down':!subMenuCollapsed,'glyphicon glyphicon-chevron-up':subMenuCollapsed}"></i><strong>
                                            {{key}}</strong> </span>

                                    <div collapse="!subMenuCollapsed">
                                        <div ng-repeat="talk in conference">
                                            <div class="talkTitle">
                                                <span><strong> {{talk.hour_start | asDate |date:'HH:mm' }} -
                                                        {{talk.hour_end | asDate|date:'HH:mm'}} {{talk.title}}
                                                        {{"- " +talk.room.room_name}}</strong></span>
                                                <span ng-bind-html="trustAsHtml(talk.description)"></span>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>

                <tab heading="Speakeri">
                    <div class="speakerContainer">
                        <p ng-show="!itemsEvent.speakers.length" class="text-center">Nu sunt disponibile detalii
                            despre Speakeri.
                        </p>
                        <div dir-paginate="speaker in itemsEvent.speakers | itemsPerPage:8"
                             class="col-xs-12 col-sm-6 col-md-4 noPadding speaker cell">

                            <div class="pull-left imageOuterFrame">
                                <div class="imageInnerFrame">
                                    <a><img ng-src="{{speaker.image_path?pathAmazonDev+speaker.image_path:defaultUserImage}}"></a>
                                </div>
                            </div>
                            <div class="descriptionFrame">
                                <div class="name">
                                    <span>{{speaker.profession + " " + speaker.first_name + " " + speaker.last_name}}</span>
                                </div>
                                <div class="cell title">
                                    {{speaker.workplace}}
                                    <span ng-bind-html="trustAsHtml(speaker.short_description)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>

                </tab>
            </tabset>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default float-left" ng-click="closeModal()">Inchide</a>
    </div>
</div>
