<!doctype html>
<head>
    <script src="components/fullcalendar/fullcalendar.js"></script>
    <script src="components/fullcalendar/gcal.js"></script>

    <link rel='stylesheet' href='components/fullcalendar/fullcalendar.css' />

</head>
<body>
<div class="col-md-12">
    <div class="row-margintop20px">
        <div class="col-md-4 hidden-md padd40px">
            <h3 class="bottomBorder">EVENIMENTE URMATOARE:</h3>
             <div class="event blue" ng-repeat="eventim in events2Filtered">
                    <div class="col-md-12 noPadding">
                        <div class="col-md-2 noPadding padd10Bottom date2">
                            <h2 class="MSDTitleDark noMarginBottom">{{eventim.start | filter: asDate | date:'dd'}}</h2>
                            <h5 class="MSDTitleDark noMarginTop">{{eventim.start | filter: asDate | date:'MMM'}}</h5>
                          </div>

                        <div class="noPadding col-md-9 top2percent margin2Left">
                            <h4 class="handCursor" ng-click="goToEvent(eventim._id)" convert-special conver="eventim.name" ng-bind-html="trustAsHtml(eventim.name)"></h4>
                        </div>
                    </div>
                </div>
         </div>
<div id="calendar" calendar="myCalendar" ui-calendar="uiConfig.calendar" ng-model="realEvents" class="well col-md-8 well-content padd35px"></div>
        </div>
</divhydrateOption
<ng-view></ng-view>
</body>