<div class="col-xs-12 calendarWrapper">
    <div class="col-md-12 col-sm-12" id="calendar" calendar="myCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" ng-if="eventSources"></div>
    <div class="col-md-12 col-sm-12 nextEvents">
        <h3 class="MainTitle">EVENIMENTE URM&#258;TOARE</h3>
        <div class="col-md-12" ng-if="!eventsFiltered || !eventsFiltered.length">
            <h3>Nu exist&#259; nici un eveniment pentru patologia selectat&#259;!</h3>
        </div>
        <div ng-repeat="eventim in eventsFiltered">
            <div class="col-md-12 col-xs-12 noPadding">
                <div ng-cloak class="col-md-2 col-xs-2 noPadding Date">
                    <h3 class="day">{{eventim.start | filter: asDate | date:'dd'}}</h3>
                    <h5 class="month">{{eventim.start | filter: asDate | date:'MMM'}}</h5>
                </div>

                <div class="noPadding col-md-9 col-xs-9 Title">

                    <h4 ng-if="eventim.type==1" ng-click="goToEvent(eventim._id)" convert-special conver="eventim.name" ng-bind-html="trustAsHtml(eventim.name)">

                    </h4>
                    <h4 ng-if="eventim.type==2" ng-click="goToEvent(eventim._id)" convert-special conver="eventim.name" ng-bind-html="trustAsHtml(eventIcon+eventim.name)">

                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-view></ng-view>