<div class="row-fluid specialProductMainWrapper col-md-offset-2 col-xs-offset-0">
    <div class="col-md-10 col-xs-12" id="descriptionDiv">
        <div class="col-xs-12 well well-lg DescriptionWrapper">
            <div class="col-xs-12">
                <img class="col-xs-12 noPadding" ng-if="brochureHeader" no-cache-src="{{brochureHeader}}" />
            </div>
            <table ng-table="tableParams" show-filter="true" class="table table-bordered">
                <tr ng-repeat="user in $data">
                    <td data-title="'Email'" filter="{ 'userName': 'text' }" sortable="'userName'">
                        {{user.userName}}
                    </td>
                    <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">
                        {{user.name}}
                    </td>
                    <td data-title="'City'" sortable="'city'">
                        {{user.city}}
                    </td>
                    <td data-title="'Country'" sortable="'country'">
                        {{user.country}}
                    </td>
                    <td data-title="'Amount'" sortable="'amount'">
                        {{user.amount}}
                    </td>
                    <td data-title="'Currency'" sortable="'currency'">
                        {{user.currency}}
                    </td>
                    <td data-title="'Purpose'" sortable="'purpose'">
                        {{user.purpose}}
                    </td>
                    <td data-title="'ID baza de date'" filter="{ 'dbId': 'text' }" sortable="'dbId'">
                        {{user.dbId}}
                    </td>
                    <td data-title="'Actiuni'">
                        <action-buttons show-toggle-button="false" show-edit-button="true" show-delete-button="true"
                                        update-item="editUser(user._id)" delete-item="removeUser(user._id)"></action-buttons>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>