<div class="col-xs-12 filterByTherapeuticAreas" id="content">
    <div class="col-xs-12 areasMobile" dropdown is-open="status.isopen" id="menuDiv" ng-if="isMobile(true)">
        <select class="form-control" ng-options="pathology._id as pathology.display_name for pathology in allPathologies"
                ng-model="selectedArea" ng-change="selectPathology(selectedPathology)"></select>
    </div>
    <div class="col-md-2 col-sm-3 areas text-center" ng-if="!isMobile(true)">
        <div class="col-xs-11 col-xs-offset-1 title">PATOLOGII</div>

        <ul class="col-xs-12 menu text-center">
            <div class="col-xs-11 col-xs-offset-1 area text-left" ng-repeat="pathology in allPathologies" ng-class="{'active':pathology._id == selectedPathology}" ng-click="selectPathology(pathology._id)">
                <b convert-special conver="pathology.display_name" ng-bind-html="trustAsHtml(pathology.display_name)"></b>
            </div>
        </ul>
        <hr ng-if="isMobile(true)">
    </div>

    <div class="col-md-10 col-sm-9 col-xs-12 noPadding viewport">
        <ui-view></ui-view>
    </div>
</div>