<div id="footer">
    <div class="col-md-6 col-xs-3 col-sm-3 text-left">
        <a ui-sref="home"><img src="https://s3-eu-west-1.amazonaws.com/msdapp/resources/msd_white.png" class="pull-left img-responsive" style="height:28px;margin-right:10px;"></a>
    </div>
    <div id="notMsieDiv" class="col-md-6 col-xs-9 col-sm-9 text-right">
        <a ng-click="$parent.showTermsModal()" class="link-footer handCursor hidden-xs hidden-sm">Termeni si conditii</a>&nbsp;
        <a ng-click="$parent.showFarmaModal()" class="link-footer handCursor hidden-xs hidden-sm">Farmacovigilenta</a>
        <a ng-click="$parent.goToTerms()" class="link-footer handCursor hidden-md hidden-lg">Termeni si conditii</a>
        <a ng-click="$parent.goToPharma()" class="link-footer handCursor hidden-md hidden-lg">Farmacovigilenta</a>
        &nbsp;<a ng-click="$parent.showContactModal()" class="link-footer handCursor">Contact</a>
    </div>
</div>