<div class="carousel-container hidden-xs hidden-sm" ng-if="HomeCarousel.length!=0">
    <ul rn-carousel rn-carousel-index='$parent.selectedIndexCarousel' class="main-carousel" rn-swipe-disabled="true" rn-carousel-auto-slide="{{myInterval}}" carousel-resizable>
        <li ng-repeat="carouselItem in HomeCarousel track by $index" class="carouselMargins" ng-click="carouselNavigate(carouselItem)">
            <div class="carouselSlide">
                <div class="carousel-title">
                    <h3 class="titleFont" convert-special conver="carouselItem.title" ng-bind-html="trustAsHtml(createHeader(htmlToPlainText(carouselItem.title), 60))"></h3>
                </div>
                <div class="imageWrapper firstTrimmedImage" ng-if="$index===0">
                    <img ondragstart="return false;" ng-src="{{pathAmazonDev+firstIllusion.image_path}}"/>
                </div>
                <div class="imageWrapper">
                    <img ondragstart="return false;" ng-src="{{pathAmazonDev+carouselItem.image_path}}"/>
                </div>
                <div class="imageWrapper lastTrimmedImage" ng-if="$index===HomeCarousel.length-1">
                    <img ondragstart="return false;" ng-src="{{pathAmazonDev+lastIllusion.image_path}}"/>
                </div>
            </div>
        </li>
    </ul>
    <div class="carousel-controll">
        <div class="carousel-controll-element"
             ng-repeat="image in HomeCarousel track by $index"
             ng-class="{'selected':$index == selectedIndexCarousel}"
             ng-click="setSlideCarousel($index)">
        </div>
    </div>
</div>

<div class="col-xs-12 container homeStyles" >
    <div class="col-md-6 col-sm-7 leftSection">
        <div class="col-xs-12 aboutSection" ng-if="brochure">
            <div class="col-xs-12 Title noPadding">
                <h3>MSD în România - Dedicaţi binelui</h3>
            </div>
            <div class="col-xs-12 noPadding">
                <div class="col-xs-4 noPadding image">
                    <img ng-src="{{brochureLogo}}" ui-sref="about" width="100%">
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-12 descriptionWrapper" ng-bind-html="trustAsHtml(brochure.text)">
                    </div>
                    <br/>
                    <div class="col-xs-12 noPadding marginTop5px">
                        <a class="btn btn-default" ui-sref="about"> Citeşte mai mult </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 lastNewsWrapper">
            <div class="col-xs-12 Title">
                <h3>DESPRE MSD</h3>
            </div>
            <div ng-if="!isMobile()">
                <div class="col-xs-4 content" ng-repeat="n in scientificNews">
                    <vertical-content-list content="n" image-path-attr="image_path" image-path-prefix="{{pathAmazonDev}}" default-image-path="{{defaultArticleImage}}"
                                           title-attr="title" text-attr="text" navigate="navigateToArticles"></vertical-content-list>
                </div>
            </div>
            <div ng-if="isMobile()">
                <mobile-content-list content="scientificNews" image-attr="image_path" image-prefix="{{pathAmazonDev}}" default-image="{{defaultArticleImage}}" title-attr="title"
                                     text-attr="text" navigate="navigateToArticles" limit="3"></mobile-content-list>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-5 rightSection">
        <div class="col-md-8 leftColumn">
            <div class="col-xs-12 Multimedia">
                <div class="col-xs-12 Title">
                    <h3>MULTIMEDIA</h3>
                </div>
                <div class="col-xs-12 Wrapper" ng-repeat="m in multimedia | limitTo: 3">
                    <div class="iconWrapper">
                        <i class="glyphicon" ng-class="{'glyphicon-picture':m.type==2,'glyphicon-film':m.type==1}"></i>&nbsp;
                    </div>
                    <div class="col-xs-12 Content">
                        <div class="col-xs-12 mediaTitle" ng-click="navigateToMultimedia(m)">
                            <span convert-special conver="m.title" ng-bind-html="trustAsHtml(m.title)"></span>
                            <span>&nbsp;(</span>
                            <span convert-special conver="m.author" ng-bind-html="trustAsHtml(m.author)"></span>
                            <span>)</span>
                        </div>
                        <div class="col-xs-12 description" ng-if="m.description != null" convert-special conver="m.description" ng-bind-html="convertAndTrustAsHtml(m.description)"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <hr/>
            </div>
            <div class="col-xs-12 Content">
                <div class="col-xs-12 Title">
                    <h3>RESURSE ȘI PRODUSE</h3>
                </div>
                <div class="col-xs-12 Wrapper" ng-repeat="product in specialProducts | limitTo: 3">
                    <div class="iconWrapper">
                        <i class="glyphicon glyphicon-file"></i>
                    </div>
                    <div class="col-xs-12 Content">
                        <div class="col-xs-12 mediaTitle" ng-click="navigateToProduct(product)">
                            <span>{{product.product_name}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 rightColumn">
            <div class="col-xs-12 noPadding widgets" ng-if="showFarmaWidget" ng-include="PharmaUrl"></div>
            <div class="col-xs-12 noPadding widgets" ng-if="univadisURL" ng-include="univadisURL"></div>
        </div>
    </div>
    <div ng-if="temporaryAccount" class="alert alert-info temporary-label">
        <strong>Atentie!</strong> Contul este temporar
    </div>
</div>