<div class="carousel-container hidden-xs hidden-sm" ng-if="HomeCarousel.length!=0">
    <ul rn-carousel rn-carousel-index='$parent.selectedIndexCarousel' class="main-carousel" rn-carousel-auto-slide="{{myInterval}}" carousel-resizable>
        <li ng-repeat="carouselItem in HomeCarousel track by $index" class="carouselMargins">
            <div class="carouselSlide">
                <div class="carousel-title">
                    <h3 class="titleFont" ng-click="carouselNavigate(carouselItem)" convert-special conver="carouselItem.title" ng-bind-html="trustAsHtml(trimWords(htmlToPlainText(carouselItem.title), 3))"></h3>
                </div>
                <div class="imageWrapper firstTrimmedImage" ng-if="$index===0">
                    <img ondragstart="return false;" ng-src="{{pathAmazonDev+firstIllusion.image_path}}"/>
                </div>
                <div class="imageWrapper">
                    <img ondragstart="return false;" ng-src="{{pathAmazonDev+carouselItem.image_path}}"/>
                </div>
                <div class="imageWrapper lastTrimmedImage" ng-if="$index===HomeCarousel.length-1">
                    <img ondragstart="return false;" ng-src="{{pathAmazonDev+lastIllusion.image_path}}"/>
                </div>
            </div>
        </li>
    </ul>
    <div class="carousel-controll">
        <div class="carousel-controll-element"
             ng-repeat="image in HomeCarousel track by $index"
             ng-class="{'selected':$index == selectedIndexCarousel}"
             ng-click="setSlideCarousel($index)">
        </div>
    </div>
</div>

<div class="col-xs-12 container homeStyles" >
    <div class="col-md-6 col-sm-7 leftSection">
        <div class="col-xs-12 lastNewsWrapper">
            <div class="col-xs-12 Title">
                <h3>ULTIMELE NOUTATI</h3>
            </div>
            <div ng-if="!isMobile()">
                <div class="col-xs-4 content" ng-repeat="n in news | limitTo: 3">
                    <vertical-content-list content="n" image-path-attr="image_path" image-path-prefix="{{pathAmazonDev}}" default-image-path="{{defaultArticleImage}}"
                                           title-attr="title" text-attr="text" navigate="navigateToNews"></vertical-content-list>
                </div>
            </div>
            <div ng-if="isMobile()">
                <mobile-content-list content="news" image-attr="image_path" image-prefix="{{pathAmazonDev}}" default-image="{{defaultArticleImage}}" title-attr="title"
                                     text-attr="text" navigate="navigateToNews" limit="3"></mobile-content-list>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1"><hr></div>
        <div class="col-xs-12 lastNewsWrapper">
            <div class="col-xs-12 Title">
                <h3>ULTIMELE NOUTATI STIINTIFICE</h3>
            </div>
            <div ng-if="!isMobile()">
                <div class="col-xs-4 content" ng-repeat="n in scientificNews | limitTo: 3">
                    <vertical-content-list content="n" image-path-attr="image_path" image-path-prefix="{{pathAmazonDev}}" default-image-path="{{defaultArticleImage}}"
                                           title-attr="title" text-attr="text" navigate="navigateToArticles"></vertical-content-list>
                </div>
            </div>
            <div ng-if="isMobile()">
                <mobile-content-list content="scientificNews" image-attr="image_path" image-prefix="{{pathAmazonDev}}" default-image="{{defaultArticleImage}}" title-attr="title"
                                     text-attr="text" navigate="navigateToArticles" limit="3"></mobile-content-list>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-5 rightSection">
        <div class="col-md-8 leftColumn">
            <div class="col-xs-12 Multimedia">
                <div class="col-xs-12 Title">
                    <h3>MULTIMEDIA</h3>
                </div>
                <div class="col-xs-12 Wrapper" ng-repeat="m in multimedia | limitTo: 3">
                    <div class="col-xs-1 col-sm-2 col-md-1 iconWrapper">
                        <i class="glyphicon" ng-class="{'glyphicon-picture':m.type==2,'glyphicon-film':m.type==1}"></i>&nbsp;
                    </div>
                    <div class="col-xs-11 col-sm-10 col-md-11 Content">
                        <a class="hidden-xs mediaTitle" ui-sref="elearning.multimedia.multimediaByArea({idArea:0,idMulti: m._id})"><b convert-special conver="m.title" ng-bind-html="trustAsHtml(m.title)"></b><b>&nbsp;(</b><b convert-special conver="m.author" ng-bind-html="trustAsHtml(m.author)"></b><b>)</b></a>
                        <a class="hidden-sm hidden-lg mediaTitle" ui-sref="elearning.multimedia.multimediaMobile({id: m._id})"><b convert-special conver="m.title" ng-bind-html="trustAsHtml(m.title)"></b><b>&nbsp;(</b><b convert-special conver="m.author" ng-bind-html="trustAsHtml(m.author)"></b><b>)</b></a>
                        <p ng-if="m.description != null" convert-special conver="m.description" ng-bind-html="convertAndTrustAsHtml(m.description)"></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12"><hr/></div>
            <div class="col-xs-12 Events">
                <div class="col-xs-12 Title">
                    <h3>EVENIMENTE URMATOARE</h3>
                </div>
                <div class="col-xs-12 eventDisplay" ng-repeat="e in events | limitTo: 3">
                    <div class="col-xs-1 col-sm-2 col-md-1 date">
                        <div class="col-xs-12 day">{{toDate(e.start).getDate()}}</div>
                        <div class="col-xs-12 month">{{monthsArray[toDate(e.start).getMonth()]}}</div>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 Content">
                        <div class="col-xs-12 title MediaTitle" ng-if="e.type==2" ui-sref="calendar({id:e._id})"><b convert-special conver="e.name" ng-bind-html="trustAsHtml(iconLive + e.name)"></b></div>
                        <div class="col-xs-12 title MediaTitle" ng-if="e.type==1 || e.type==null" ui-sref="calendar({id:e._id})"><b convert-special conver="e.name" ng-bind-html="trustAsHtml(e.name)"></b></div>
                        <div class="col-xs-12 header Description" ng-if="e.description!='undefined'" convert-special conver="e.description" ng-bind-html="trimText(htmlToPlainText(e.description), 50)"></div>
                        <div class="col-xs-12 header Description" ng-if="e.description=='undefined'" convert-special conver="e.description">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 rightColumn">
            <div class="col-xs-12 noPadding widgets" ng-if="specialWidgetUrl" ng-include="specialWidgetUrl"></div>
            <div class="col-xs-12 noPadding widgets" ng-include="merckBoxUrl"></div>
        </div>
    </div>
</div>