<div class="carousel-container">
    <ul rn-carousel rn-carousel-index="selectedIndex" class="main-carousel" rn-carousel-auto-slide="60"
        carousel-resizable style="{{carouselResponsiveStyle}}">
        <li ng-repeat="carouselItem in HomeCarousel track by $index" style="margin-left: 10px;margin-right:10px">
            <div class="carouselSlide">
                <div ng-class='{hide:$index!=selectedIndex}' class="carousel-title"><h3>{{carouselItem.title | uppercase}}</h3></div>
                <div class="imageCover"></div>
                <div class="imageWrapper">
                    <img ng-src="{{pathAmazonDev+carouselItem.image_path}}"/>
                </div>
            </div>
        </li>
    </ul>
    <div class="carousel-controll">
        <div class="carousel-controll-element"
             ng-repeat="image in HomeCarousel"
             ng-class='{selected:$index==selectedIndex}'
             ng-click="setSlide($index)">
        </div>
    </div>
    <div class="userAndSearch">
        <form class="navbar-form" role="search">
            <div class="input-group mySearch">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </form>
        <div class="dropdown">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a ng-click="showProfile()">Profile</a></li>
                <li><a href="logout">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-xs-12 container homeStyles">
    <div class="col-xs-5 leftColumn">
        <div class="col-xs-12">
            <div class="col-xs-12 noPadding">
                <h4>ULTIMELE NOUTATI</h4>
            </div>
            <div class="col-xs-4 noPadding newsClass" ng-repeat="n in news | limitTo: 3">
                <div class="col-xs-9 noPadding">
                    <a ui-sref="noutati.articol({articleType:n.type, articleId:n._id})">
                        <img class="my-img-thumbnail img-responsive" ng-src="{{n.image_path?pathAmazonDev+n.image_path:defaultArticleImage}}" style="max-width: 100%; max-height: 100%;">
                    </a>
                </div>
                <div class="col-xs-9 noPadding">
                    <div class="col-xs-12 title noPadding"><a class="MSDgreenDarker" ui-sref="noutati.articol({articleType:n.type, articleId:n._id})"><b>{{n.title | limitTo : 30}}...</b></a></div>
                    <div class="col-xs-12 header justified noPadding">{{createHeader(n.text,80)}}</div>
                    <div class="col-xs-12 noPadding">
                        <a ui-sref="noutati.articol({articleType:n.type, articleId:n._id})"><i class="gray glyphicon glyphicon-eye-open"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr align="center" width="75%"/>
        </div>
        <div class="col-xs-12" >
            <div class="col-xs-12 noPadding">
                <h4>ULTIMELE NOUTATI STIINTIFICE</h4>
            </div>
            <div class="col-xs-4 noPadding newsClass" ng-repeat="n in scientificNews | limitTo: 3">
                <div class="col-xs-9 noPadding">
                    <a ui-sref="noutati.articol({articleType:n.type, articleId:n._id})">
                        <img class="my-img-thumbnail img-responsive" ng-src="{{n.image_path?imagePre+n.image_path:defaultArticleImage}}" style="width: 100%;">
                    </a>
                </div>
                <div class="col-xs-9 noPadding">
                    <div class="col-xs-12 title noPadding"><a class="MSDgreenDarker" ui-sref="noutati.articol({articleType:n.type, articleId:n._id})"><b>{{n.title | limitTo : 30}}...</b></a></div>
                    <div class="col-xs-12 header justified noPadding">{{createHeader(n.text,80)}}<br/></div>
                    <div class="col-xs-12 noPadding">
                        <a ui-sref="noutati.articol({articleType:n.type, articleId:n._id})"><i class="gray glyphicon glyphicon-eye-open"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4 midColumn">
        <div class="col-xs-12">
            <div class="col-xs-12 noPadding">
                <h4>E-LEARNING</h4>
            </div>
            <div class="col-xs-12 noPadding margintop20px" ng-repeat="m in multimedia | limitTo: 3">
                <i class="gray glyphicon" ng-class="{'glyphicon-picture':m.type==2,'glyphicon-film':m.type==1}"></i>&nbsp;
                <a ui-sref="elearning.multimedia.multimediaById({idd:m._id})"><b class="MSDgreenDarker">{{m.title+"("+m.author+")"}}</b></a>
            </div>
        </div>
        <div class="col-xs-12"><hr/></div>
        <div class="col-xs-12">
            <div class="col-xs-12 noPadding">
                <h4>EVENIMENTE URMATOARE:</h4>
            </div>
            <div class="col-xs-12 eventDisplay" ng-repeat="e in events | limitTo: 3">
                <div class="col-xs-2 noPadding date MSDgreenDarker">
                    <div class="col-xs-12 noPadding day">{{toDate(e.start).getDate()}}</div>
                    <div class="col-xs-12 noPadding month">{{monthsArray[toDate(e.start).getMonth()]}}</div>
                </div>
                <div class="col-xs-10 noPadding">
                    <div class="col-xs-12 title MSDgreenDarker" ui-sref="calendar.calendarDetails({id:e._id})"><b>{{e.name}}</b></div>
                    <div class="col-xs-12 header margintop5px ">{{e.description.length>20?createHeader(e.description,20):htmlToPlainText(e.description)}}</div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-3 rightColumn noPadding MerckSmall" ng-include="merckBoxUrl"></div>
</div>
