<div class="carousel-container" ng-if="$parent.specialGroupSelected">
    <ul rn-carousel rn-carousel-index="selectedIndex" class="main-carousel" rn-carousel-auto-slide="{{myInterval}}"
        carousel-resizable style="{{carouselResponsiveStyle}}">
        <li ng-repeat="carouselItem in HomeCarousel track by $index" style="margin-left: 10px;margin-right:10px">
            <div class="carouselSlide">
                <div class="carousel-title"><h3 class="newFont" ui-sref="noutati.articol({articleId:carouselItem.article_id._id,articleType:carouselItem.article_id.type})" convert-special conver="carouselItem.title" ng-bind-html="convertAndTrustAsHtmlTrimmed(carouselItem.title)"></h3></div>
                <div class="imageWrapper firstIllusion" ng-if="$index===0">
                    <img ng-src="{{pathAmazonDev+firstIllusion.image_path}}"/>
                </div>
                <div class="imageWrapper">
                    <img ondragstart="return false;" ng-src="{{pathAmazonDev+carouselItem.image_path}}"/>
                </div>
                <div class="imageWrapper secondIllusion" ng-if="$index===HomeCarousel.length-1" style="">
                    <img ng-src="{{pathAmazonDev+lastIllusion.image_path}}"/>
                </div>
            </div>
        </li>
    </ul>
    <div class="carousel-controll">
        <div class="carousel-controll-element"
             ng-repeat="image in HomeCarousel"
             ng-class='{selected:$index==selectedIndex}'
             ng-click="setSlide($index)">
        </div>
    </div>
    <!--<div class="userAndSearch">-->
        <!--<form class="navbar-form" role="search">-->
            <!--<div class="input-group mySearch">-->
                <!--<input type="text" class="form-control" ng-enter="searchText()" placeholder="Search" name="srch-term" id="srch-term" ng-model="textToSearch">-->
                <!--<span class="input-group-addon" ng-click="searchText()"><i class="glyphicon glyphicon-search"></i></span>-->
            <!--</div>-->
        <!--</form>-->
        <!--<div class="dropdown">-->
            <!--<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                <!--<i class="glyphicon glyphicon-user"></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu myMenu greyBackground">-->
                <!--<li><a ng-click="showProfile()">Profile</a></li>-->
                <!--<li><a href="logout">Sign Out</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
</div>

<div class="col-md-12 container homeStyles" >
    <div class="col-md-6 leftColumn">
        <div class="col-md-11 leftMargin noPaddingRight">
            <div class="col-md-12 noPadding padd5pxBottom">
                <h3>ULTIMELE NOUTATI</h3>
            </div>
            <div class="col-md-4 noPadding" ng-repeat="n in news | limitTo: 3">
                <div class="col-md-10 noPadding">
                    <a ui-sref="noutati.articol({articleType:n.type, articleId:n._id})">
                        <img class="my-img-thumbnail img-responsive" height="155" ng-src="{{n.image_path?pathAmazonDev+n.image_path:defaultArticleImage}}">
                    </a>
                </div>
                <div class="col-md-10 contentBlock textHome noPadding fixedHeight">
                    <div class="col-md-10 title margintop5px noPadding"><a class="MSDTitleDark" ui-sref="noutati.articol({articleType:n.type, articleId:n._id, fromHome: 1})"><b convert-special conver="n.title" ng-bind-html="trustAsHtml(n.title)"></b></a></div>
                    <div class="col-md-10 header justified margintop5px noPadding" convert-special conver="n.text" ng-bind-html="convertAndTrustAsHtml(n.text,0)"></div>

                </div>
                <div class="col-md-10 noPadding margintop5px">
                    <a class="btn btn-info btn-more-news btn-sm" ui-sref="noutati.articol({articleType:n.type, articleId:n._id, fromHome: 1})"> Citeste mai mult </a>
                </div>
            </div>
        </div>
        <div class="col-md-10 leftMargin "><hr></div>
        <div class="col-md-11 leftMargin margintop25px noPaddingRight" >
            <div class="col-md-12 noPadding padd5pxBottom">
                <h3>ULTIMELE NOUTATI STIINTIFICE</h3>
            </div>
            <div class="col-md-4 noPadding" ng-repeat="n in scientificNews | limitTo: 3">
                <div class="col-md-10 noPadding">
                    <a ui-sref="noutati.articol({articleType:n.type, articleId:n._id})">
                        <img class="my-img-thumbnail img-responsive" ng-src="{{n.image_path?imagePre+n.image_path:defaultArticleImage}}">
                    </a>
                </div>
                <div class="col-md-10 noPadding contentBlock textHome fixedHeight">
                    <div class="col-md-10 title margintop5px noPadding"><a class="MSDTitleDark" ui-sref="noutati.articol({articleType:n.type, articleId:n._id, fromHome: 1})"><b convert-special conver="n.title" ng-bind-html="convertAndTrustAsHtml(n.title,0)"></b></a></div>
                    <div class="col-md-10 header margintop5px justified noPadding" convert-special conver="n.text" ng-bind-html="convertAndTrustAsHtml(n.text,0)"></div>
                </div>
                <div class="col-md-10 noPadding margintop5px">
                    <a class="btn btn-info btn-more-news btn-sm" ui-sref="noutati.articol({articleType:n.type, articleId:n._id, fromHome: 1})"> Citeste mai mult</a>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 midColumn margin2Left padd0left width32">
        <div class="col-md-12">
            <div class="col-md-12 noPadding ">
                <h3 class="bottom1Percent">E-LEARNING</h3>
            </div>
            <div class="col-md-12 noPadding margintop20px" ng-repeat="m in multimedia | limitTo: 3">
                <div class="col-md-1 noPadding">
                    <i class="gray glyphicon" ng-class="{'glyphicon-picture':m.type==2,'glyphicon-film':m.type==1}"></i>&nbsp;
                </div>
                <div class="col-md-11 noPadding justify">
                    <a ui-sref="elearning.multimedia.multimediaByArea({idArea:0,idMulti: m._id})"><b class="MSDTitleDark" convert-special conver="m.title" ng-bind-html="trustAsHtml(m.title)"></b><b class="MSDTitleDark">&nbsp;(</b><b class="MSDTitleDark" convert-special conver="m.author" ng-bind-html="trustAsHtml(m.author)"></b><b class="MSDTitleDark">)</b></a>
                    <p ng-if="m.description != null" convert-special conver="m.description" ng-bind-html="convertAndTrustAsHtml(m.description,0)"></p>
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr/></div>
        <div class="col-md-12">
            <div class="col-md-12 noPadding">
                <h3 class="bottom4Percent">EVENIMENTE URMATOARE:</h3>
            </div>
            <div class="col-md-12 eventDisplay" ng-repeat="e in events | limitTo: 3">
                <div class="col-md-1 noPadding date MSDTitleDark">
                    <div class="col-md-12 noPadding day">{{toDate(e.start).getDate()}}</div>
                    <div class="col-md-12 noPadding month">{{monthsArray[toDate(e.start).getMonth()]}}</div>
                </div>
                <div class="col-md-11 noPadding leftBorder">
                    <div class="col-md-12 justify title MSDTitleDark handCursor" ui-sref="calendar({id:e._id})"><b>{{e.name}}</b></div>
                    <div class="col-md-12 justify header margintop5px" convert-special conver="e.description" ng-bind-html="convertAndTrustAsHtml(e.description,50)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 padd4Left padd15Right rightColumn">
        <div class="col-md-12 noPadding" ng-if="specialWidgetUrl" ng-include="specialWidgetUrl"></div>
        <div class="col-md-12 noPadding" ng-include="merckBoxUrl"></div>
    </div>
</div>
