<div class="carousel-container">
    <ul rn-carousel rn-carousel-index="selectedIndex" class="main-carousel" rn-carousel-auto-slide="{{myInterval}}"
        carousel-resizable style="{{carouselResponsiveStyle}}">
        <li ng-repeat="carouselItem in HomeCarousel track by $index" style="margin-left: 10px;margin-right:10px">
            <div class="carouselSlide">
                <div class="carousel-title"><h4 ui-sref="noutati.articol({articleId:carouselItem.article_id._id,articleType:carouselItem.article_id.type})">{{carouselItem.article_id.title}}</h4></div>
                <div class="imageWrapper firstIllusion" ng-if="$index===0">
                    <img ng-src="{{pathAmazonDev+firstIllusion.image_path}}"/>
                </div>
                <div class="imageWrapper">
                    <img ondragstart="return false;" ng-src="{{pathAmazonDev+carouselItem.image_path}}"/>
                </div>
                <div class="imageWrapper secondIllusion" ng-if="$index===HomeCarousel.length-1" style="">
                    <img ng-src="{{pathAmazonDev+lastIllusion.image_path}}"/>
                </div>
            </div>
        </li>
    </ul>
    <div class="carousel-controll">
        <div class="carousel-controll-element"
             ng-repeat="image in HomeCarousel"
             ng-class='{selected:$index==selectedIndex}'
             ng-click="setSlide($index)">
        </div>
    </div>
    <div class="userAndSearch">
        <form class="navbar-form" role="search">
            <div class="input-group mySearch">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="textToSearch">
                <span class="input-group-addon" ui-sref="homeSearch({data:textToSearch})"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </form>
        <div class="dropdown">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>
            </a>
            <ul class="dropdown-menu myMenu greyBackground">
                <li><a ng-click="showProfile()">Profile</a></li>
                <li><a href="logout">Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-12 container homeStyles">
    <div class="col-md-6 leftColumn">
        <div class="col-md-12 leftMargin padd10p">
            <div class="col-md-12 noPadding">
                <h3>ULTIMELE NOUTATI</h3>
            </div>
            <div class="col-md-4 noPadding newsClass Box300" ng-repeat="n in news | limitTo: 3">
                <div class="col-md-12 noPadding">
                    <a ui-sref="noutati.articol({articleType:n.type, articleId:n._id})">
                        <img class="my-img-thumbnail img-responsive homePictureStyle" height="155" ng-src="{{n.image_path?pathAmazonDev+n.image_path:defaultArticleImage}}">
                    </a>
                </div>
                <div class="col-md-11 noPadding fixedHeight">
                    <div class="col-md-11 title margintop5px noPadding"><a class="MSDTitleDark" ui-sref="noutati.articol({articleType:n.type, articleId:n._id})"><b>{{n.title}}</b></a></div>
                    <div class="col-md-11 header justified margintop5px noPadding">{{createHeader(n.text,80)}}</div>

                </div>
                <div class="col-md-11 margintop20px noPadding">
                    <a ui-sref="noutati.articol({articleType:n.type, articleId:n._id})"><i class="gray glyphicon glyphicon-eye-open"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-12 leftMargin" >
            <div class="col-md-12 noPadding">
                <h3>ULTIMELE NOUTATI STIINTIFICE</h3>
            </div>
            <div class="col-md-4 noPadding newsClass Box300" ng-repeat="n in scientificNews | limitTo: 3">
                <div class="col-md-12 noPadding">
                    <a ui-sref="noutati.articol({articleType:n.type, articleId:n._id})">
                        <img class="my-img-thumbnail img-responsive homePictureStyle" ng-src="{{n.image_path?imagePre+n.image_path:defaultArticleImage}}">
                    </a>
                </div>
                <div class="col-md-11 noPadding fixedHeight">
                    <div class="col-md-11 title margintop5px noPadding"><a class="MSDTitleDark" ui-sref="noutati.articol({articleType:n.type, articleId:n._id})"><b>{{n.title}}</b></a></div>
                    <div class="col-md-11 header margintop5px justified noPadding">{{createHeader(n.text,80)}}<br/></div>

                </div>
                <div class="col-md-11 margintop20px noPadding">
                    <a ui-sref="noutati.articol({articleType:n.type, articleId:n._id})"><i class="gray glyphicon glyphicon-eye-open"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 midColumn padd0left rightMarginMinus">
        <div class="col-md-12">
            <div class="col-md-12 noPadding">
                <h3>E-LEARNING</h3>
            </div>
            <div class="col-md-12 noPadding margintop20px" ng-repeat="m in multimedia | limitTo: 3">
                <div class="col-md-1 noPadding">
                    <i class="gray glyphicon" ng-class="{'glyphicon-picture':m.type==2,'glyphicon-film':m.type==1}"></i>&nbsp;
                </div>
                <div class="col-md-11 noPadding">
                    <a ui-sref="elearning.multimedia.multimediaByArea({id:0,idM: m._id})"><b class="MSDTitleDark">{{m.title+"("+m.author+")"}}</b></a>
                    <p>{{htmlToPlainText(m.description)}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr/></div>
        <div class="col-md-12">
            <div class="col-md-12 noPadding">
                <h3>EVENIMENTE URMATOARE:</h3>
            </div>
            <div class="col-md-12 eventDisplay" ng-repeat="e in events | limitTo: 3">
                <div class="col-md-2 noPadding date MSDTitleDark">
                    <div class="col-md-12 noPadding day">{{toDate(e.start).getDate()}}</div>
                    <div class="col-md-12 noPadding month">{{monthsArray[toDate(e.start).getMonth()]}}</div>
                </div>
                <div class="col-md-10 noPadding leftBorder">
                    <div class="col-md-12 title MSDTitleDark handCursor" ui-sref="calendar({data:{id:e._id}})"><b>{{e.name}}</b></div>
                    <div class="col-md-12 header margintop5px ">{{e.description.length>50?createHeader(e.description,50):htmlToPlainText(e.description)}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 rightColumn">
        <div class="col-md-12 noPadding" ng-if="specialWidgetUrl" ng-include="specialWidgetUrl"></div>
        <div class="col-md-12 noPadding" ng-include="merckBoxUrl"></div>
    </div>
</div>
