<div class="col-md-6 col-md-offset-3">

    <h4 class="margintop20px">Cautare Continut</h4>
    <div ng-if="answer!=''" class="col-md-12">
        <h4>{{answer}}</h4>
    </div>
    <div ng-if="products.length>0" ng-repeat="product in products" class="col-md-12 searchArticle noPadding">
        <div class="col-md-2 noPadding" ng-class="showDetails">
            <img class="img-responsive img-thumbnail"  ng-src="{{amazon+product.image_path}}">
        </div>
        <div ng-class="showDetails=='show' ? 'col-md-10':'col-md-12'">
            <div class="col-md-12">
                <h4 class="MSDgreen handCursor" ui-sref="biblioteca.produse.prodById({id:product._id})">{{product.name}}
                <span ng-if="showDetails=='hide'" class="label label-warning pull-right"><i class="glyphicon glyphicon-th-large"></i>Produs</span>
                </h4>
            </div>


            <div class="col-md-12">
                {{htmlToPlainText(product.description) | limitTo: 220}}&nbsp ...
            </div>
        </div>
        <div class="btn btn-info btn-sm pull-right btnSearchTop btn-more-news" ng-class="showDetails" ui-sref="biblioteca.produse.prodById({id:product._id})">
            Vezi detalii
        </div>
    </div>
    <div ng-if="calendarEv.length>0" ng-repeat="calendar in calendarEv" class="col-md-12 searchArticle noPadding">
        <div ng-class="showDetails=='show'?'col-md-12 searchLeftBorder':'col-md-12'">

            <div class="col-md-1 date3 " ng-class="showDetails">
                <h2 class="MSDgreen">{{calendar.start | filter: asDate | date:'dd'}}</h2>
                <h5 class="MSDgreen">{{calendar.start | filter: asDate | date:'MMM'}}</h5>
            </div>
            <div ng-class="showDetails=='show' ? 'col-md-11':'col-md-12'">
                <div class="col-md-12">
                    <h4 class="MSDgreen handCursor" ui-sref="calendar({id:calendar._id})">{{calendar.name | limitTo: 100}}
                    <span ng-if="showDetails=='hide'" class="label label-warning pull-right"><i class="glyphicon glyphicon-calendar"></i>Event</span>
                    </h4>
                </div>
                <div class="col-md-12">
                    <div ng-bind-html="calendar.description | limitTo: 100  | unsafe ">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div ng-if="quizes.length>0" ng-repeat="quiz in quizes track by $index" class="col-md-12 well noPadding">
        <div class="col-md-2 noPadding" ng-class="showDetails">
            <img class="img-responsive img-thumbnail" ng-if="quiz.entity!='SLIDE'" ng-src="{{defaultImageVideo}}">
            <img class="img-responsive img-thumbnail" ng-if="quiz.entity=='SLIDE'" ng-src="{{defaultImageSlide}}">
        </div>
        <div ng-class="showDetails=='show' ? 'col-md-10':'col-md-12'">
            <div class="col-md-12">
                <h4 class="MSDgreen handCursor" ui-sref="elearning.teste.quizById({id:quiz._id,idd:quiz.questionsID[0]})">{{quiz.title}}
                <span ng-if="showDetails=='hide'" class="label label-warning pull-right"><i class="glyphicon glyphicon-list-alt"></i>Quiz</span>
                </h4>
            </div>
            <div class="col-md-12">
                {{htmlToPlainText(quiz.description) | limitTo: 220}}&nbsp ...
            </div>
        </div>
        <button class="btn btn-info pull-right btnArticleSearch btn-more-news " ng-class="showDetails" ui-sref="elearning.teste.quizById({id:quiz._id,idd:quiz.questionsID[0]})">Sustine testul</button>
    </div>
    <div ng-if="articles.length>0" ng-repeat="article in articles" class="col-md-12 searchArticle noPadding">
        <div class="col-md-2 noPadding" ng-class="showDetails">
            <img class="img-responsive img-thumbnail" ng-src="{{amazon+article.image_path}}">
        </div>

        <div ng-class="showDetails=='show' ? 'col-md-10':'col-md-12'">
            <div class="col-md-12">
                <h4 class="MSDgreen handCursor" ui-sref="{{sref(article.type)}}">{{article.title}}
                <span ng-if="showDetails=='hide'" class="label label-warning pull-right"><i class="glyphicon glyphicon-file"></i>Article</span>
                </h4>
            </div>
            <div class="col-md-12" ng-bind-html=" article.text | limitTo: 260 | unsafe"></div>
        </div>
        <div class="btn btn-info pull-right btnArticleSearch btn-more-news" ui-sref="{{sref(article.type)}}" ng-class="showDetails">
            Vezi detalii
        </div>
    </div>
    <div ng-if="multimedia.length>0"  ng-repeat="media in multimedia" class="col-md-12 searchArticle noPadding">
        <div class="col-md-2 noPadding" ng-class="showDetails">
            <img class="img-responsive img-thumbnail" ng-src="{{media.thumbnail_path?amazon+media.thumbnail_path:(media.type==1?defaultVideoImage:defaultSlideImage)}}">
        </div>
        <div ng-class="showDetails=='show' ? 'col-md-10':'col-md-12'">
            <div class="col-md-12">
                <h4 class="MSDgreen handCursor" ui-sref="elearning.multimedia.multimediaByArea({idArea:0,idMulti: media._id})">{{media.title}}
                <span ng-if="showDetails=='hide'" class="label label-warning pull-right"><i class="glyphicon glyphicon-film"></i>Multimedia</span>
                </h4>
            </div>
            <div class="col-md-12">
                {{media.description | limitTo: 260}}&nbsp ...
            </div>
        </div>
        <button class="btn btn-info  pull-right btnMultimediaSearch btn-more-news" ng-class="showDetails" ui-sref="elearning.multimedia.multimediaByArea({idArea:0,idMulti: media._id})">Vezi material</button>
    </div>
</div>
<div class="col-md-2 homeSearchPreview">
    <ul class="nav nav-list MSDgreen">
        <li class="active" ng-click="clasicPreview()">Clasic</li>
        <li class="divider"></li>

        <li ng-click="detailedPreview()">Detaliat</li>

    </ul>
</div>