<div class="medicProfile">
    <div class="modal-header">
        <div class="modal-title"><h3>{{userData.name}}</h3></div>
    </div>
    <div class="modal-body" ng-if="validationsObject">
        <accordion close-others="true">
            <accordion-group class="no-text-decoration" is-open="openFirst">
                <accordion-heading class="no-text-decoration" ><p class="no-text-decoration"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Profilul meu</p></accordion-heading>
                <div class="col-md-12 col-xs-12">
                    <alert ng-if="userProfileAlert.text" type="{{userProfileAlert.type}}" close="userProfileAlert.text=null">{{userProfileAlert.text}}</alert>
                </div>
                <form name="profileForm" novalidate>
                    <div class="col-md-12 col-xs-12 col-sm-12 noPadding">
                        <div class="col-md-4 col-xs-12 col-sm-5 noPadding">
                            <div class="col-md-12 col-xs-12 profileImg">
                                <div class="wrapper" resizable ratio="1" alt-if="isMobile(true)" alt-ratio="2">
                                    <div class="align">
                                        <img no-cache-src="{{imageUser}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12" style="margin-top: 5px">
                                <a class="btn btn-default" style="width: 100%" type="file" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false" ngf-accept="'image/*'"><i class="glyphicon glyphicon-camera"></i>&nbsp;Încarcă o poză</a>
                            </div>
                            <div class="col-md-12 col-xs-12" style="margin-top: 5px">
                                <alert type="{{uploadAlert.type}}" ng-if="uploadAlert.newAlert" close="uploadAlert.newAlert=false">{{uploadAlert.message}}</alert>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-12 noPadding">
                            <div class="col-md-12 col-xs-12 noPadding">
                                <!--<div class="form-group-sm col-md-12" ng-class="{'has-error': profileForm.nume.$invalid && !profileForm.nume.$pristine || showerrorProf && profileForm.nume.$invalid}">-->
                                <div class="form-group-sm col-md-3 col-sm-12 col-xs-12">
                                    <label>Titlu:</label>
                                    <select ng-model="userData.title" class="form-control" ng-options="title.number as title.name for title in titles"></select>
                                </div>
                                <div class="form-group-sm col-md-9 col-sm-12 col-xs-12" ng-class="{'has-error': profileForm.nume.$error.pattern  || profileForm.nume.$error.required}">
                                    <label>Nume<sup>*</sup>:</label>
                                    <input type="text" class="form-control" id="nume" name="nume" ng-model="fullname" ng-pattern="nameValidator" ng-required="true">
                                    <p class="" ng-show="profileForm.nume.$error.pattern">Numele nu conţine caractere valide/are mai puţin de 3 caractere!</p>
                                    <p class="" ng-show="profileForm.nume.$error.required">Numele este obligatoriu!</p>
                                </div>
                            </div>
                            <div class="form-group-sm col-md-6 col-sm-12 col-xs-12" ng-class="{'has-error': profileForm.telefon.$error.pattern}">
                                <label for="telefon">Telefon:</label>
                                <input type="text" class="form-control" id="telefon" name="telefon" ng-model="phone" ng-pattern="phoneValidator">
                                <p class="" ng-show="profileForm.telefon.$error.pattern">Numărul de telefon trebuie să conţină minim 10 cifre!</p>
                                <p class="" ng-show="profileForm.telefon.$error.required">Numărul de telefon este obligatoriu!</p>
                            </div>
                            <div class="form-group-sm col-md-6 col-sm-12 col-xs-12">
                                <label>Tip de practică:</label>
                                <select ng-model="userData.practiceType" class="form-control" ng-options="practice.number as practice.name for practice in practices"></select>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <therapeutic-select all-areas="allAreas" selected-areas="selectedAreas" returned-areas="newAreas" display-compact="true"></therapeutic-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 noPadding">
                        <hr style="margin: 10px 0"/>
                        <div class="col-md-12 form-group-sm col-xs-12" ng-class="{'has-error': profileForm.address.$error.required}">
                           <label>Adresa<sup>*</sup>:</label>
                           <input type="text" class="form-control" name="address" ng-model="address" ng-required="true">
                           <p ng-show="profileForm.address.$error.required">Adresa este obligatorie</p>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group-sm">
                                <label>Judeţ<sup>*</sup>:</label>
                                <angular-select-autocomplete ng-model="selectedCounty" ng-options="counties" id-attr="_id" title-attr="name" on-option-select="countyWasSelected"></angular-select-autocomplete>
                                <!-- <ui-select ng-model="county.selected" name="judet" theme="select2" ng-disabled="false" style="width: 100%;" id="county" ng-required="true">
                                    <ui-select-match placeholder="Selecteaza un judet">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="county in counties | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="trustAsHtml((county.name | highlight: $select.search))"></div>
                                    </ui-select-choices>
                                </ui-select> -->
                                 <!--<p class="" ng-show="profileForm.judet.$invalid && !profileForm.judet.$pristine">Judetul nu este valid!</p>-->
                            </div>
                            <!-- <div class="form-group-sm" ng-show="isMobileDevice">
                                <label>Judet<sup>*</sup>: </label>
                                <select class="form-control" ng-model="county.selected" ng-options="county as county.name for county in counties track by county._id"></select>
                            </div> -->
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group-sm">
                                <label>Oraş<sup>*</sup>:</label>
                                <angular-select-autocomplete ng-model="selectedCity" ng-options="cities" id-attr="_id" title-attr="name" ng-disabled="!selectedCounty || !selectedCounty._id"></angular-select-autocomplete>
                                <!--<ui-select ng-model="city.selected" name="oras" theme="select2" ng-disabled="false" style="width: 100%;" id="city" ng-required="true">-->
                                    <!--<ui-select-match placeholder="Selecteaza un oras">{{$select.selected.name}}</ui-select-match>-->
                                    <!--<ui-select-choices repeat="city in cities | propsFilter: {name: $select.search}">-->
                                        <!--<div ng-bind-html="trustAsHtml((city.name | highlight: $select.search))"></div>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                                <!--<p class="" ng-show="profileForm.oras.$invalid && !profileForm.oras.$pristine">Orasul nu este valid!</p>-->
                            </div>
                            <!--<div class="form-group-sm" ng-show="isMobileDevice">-->
                                <!--<label>Oras<sup>*</sup>: </label>-->
                                <!--<select class="form-control" ng-model="city.selected" ng-options="city as city.name for city in cities track by city._id"></select>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 noPadding">
                        <div class="col-md-12 form-group-sm" style="padding-bottom: 0">
                            <input type="checkbox" ng-model="userData.subscriptions.newsletterStaywell"/>
                            <span>Abonat la newsletter Staywell</span>
                        </div>
                        <div class="col-md-12 col-xs-12 form-group-sm" style="padding-bottom: 0">
                            <input type="checkbox" ng-model="userData.subscriptions.infoMSD"/>
                            <span>Abonat la informaţii MSD</span>
                        </div>
                        <div class="col-md-12 col-xs-12 form-group-sm" style="padding-bottom: 0">
                            <input type="checkbox" name="rememberOption" ng-model="rememberOption">
                            <span>Afisează prezentarea iniţială</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12" style="margin-top: 15px">
                        <button type="submit" ng-click="submitProfileForm(profileForm.$valid)" class="btn btn-primary pull-right">Salvează</button>
                    </div>
                </form>
            </accordion-group>
            <accordion-group class="no-text-decoration">
                <accordion-heading class="no-text-decoration"><p class="no-text-decoration"><i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp;Loc de muncă</p></accordion-heading>
                <div class="col-md-12 col-xs-12">
                    <alert ng-if="userJobAlert.newAlert" type="{{userJobAlert.type}}" close="userJobAlert.newAlert=false">{{userJobAlert.message}}</alert>
                </div>
                <form name="jobForm" novalidate>
                    <div class="col-md-12 col-xs-12 noPadding">
                        <div class="form-group-sm col-md-6 col-xs-12">
                            <label for="tipLoc">Tip loc de muncă:</label>
                            <select ng-model="selectedJob" name="tip_munca" ng-options="job.number as job.name for job in jobTypes"
                                    class="form-control" id="tipLoc" style="width: 100%;">
                            </select>
                            <p class="" ng-show="jobForm.tip_munca.$invalid && !jobForm.tip_munca.$pristine">Tipul locului de muncă este invalid!</p>
                        </div>
                        <div class="form-group-sm col-md-6 col-xs-12" ng-class="{'has-error':jobForm.locMunca.$error.required || jobForm.locMunca.$error.pattern}">
                            <label for="locMunca">Loc de muncă<sup>*</sup>:</label>
                            <input type="text" class="form-control" id="locMunca" name="locMunca" ng-pattern="jobNameValidator" ng-model="job.job_name" ng-required="true">
                            <p class="" ng-show="jobForm.locMunca.$error.required">Locul de muncă este obligatoriu!</p>
                            <p class="" ng-show="jobForm.locMunca.$error.pattern">Locul de muncă trebuie să conţină între 3 şi 30 caractere/conţine caractere invalide!</p>

                        </div>
                    </div>
                    <div class="col-md-12 noPadding col-xs-12">
                        <div class="form-group-sm col-md-4 col-xs-12" ng-class="{'has-error':jobForm.numeStrada.$error.required || jobForm.numeStrada.$error.pattern}">
                            <label for="numeStrada">Numele străzii:</label>
                            <input type="text" class="form-control" name="numeStrada" id="numeStrada" ng-pattern="streetNameValidator" ng-model="job.street_name" >
                            <p class="" ng-show="jobForm.numeStrada.$error.required">Numele străzii este obligatoriu!</p>
                            <p class="" ng-show="jobForm.numeStrada.$error.pattern">Numele străzii trebuie să conţină între 1 şi 50 caractere/conţine caractere invalide!</p>
                        </div>
                        <div class="form-group-sm col-md-4 col-xs-12" ng-class="{'has-error':jobForm.numarStrada.$error.required || jobForm.numarStrada.$error.pattern}">
                            <label for="numarStrada">Numărul străzii:</label>
                            <input type="text" class="form-control" id="numarStrada" name="numarStrada" ng-pattern="jobNumberValidator"  ng-model="job.street_number" >
                            <p class="" ng-show="jobForm.numarStrada.$error.required">Numărul străzii este obligatoriu!</p>
                            <p class="" ng-show="jobForm.numarStrada.$error.pattern">Numărul străzii trebuie să conţină între 1 şi 5 caractere/conţine caractere invalide!</p>
                        </div>
                        <div class="form-group-sm col-md-4 col-xs-12" ng-class="{'has-error':jobForm.codPostal.$error.required || jobForm.codPostal.$error.pattern}">
                            <label for="codPostal">Cod poştal</label>
                            <input type="text" class="form-control" id="codPostal" name="codPostal" ng-model="job.postal_code" ng-pattern="/^\d+$/">
                            <p class="" ng-show="jobForm.codPostal.$error.required">Codul poştal este obligatoriu!</p>
                            <p class="" ng-show="jobForm.codPostal.$error.pattern">Codul poştal trebuie să contină numai cifre!</p>
                        </div>
                    </div>
                    <div class="col-md-12 noPadding col-xs-12">
                        <div class="form-group-sm col-md-12">
                            <label for="codPostal">Alte informaţii, adresa:</label>
                            <input type="text" class="form-control" id="alteInfoAdr" ng-model="job.job_address">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12" style="margin-top: 15px">
                        <button ng-click="submitJobForm(jobForm.$valid)" class="btn btn-primary pull-right">Salvează loc de muncă</button>
                    </div>
                </form>
            </accordion-group>
            <accordion-group class="no-text-decoration">
                <accordion-heading class="no-text-decoration"><p class="no-text-decoration"><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Contul meu</p></accordion-heading>
                <div class="col-md-12 col-xs-12">
                    <alert ng-if="userChangeMailAlert.newAlert" type="{{userChangeMailAlert.type}}" close="userChangeMailAlert.newAlert=false">{{userChangeMailAlert.message}}</alert>
                </div>
                <form name="emailForm" ng-submit="submitEmailForm(true)">
                    <div class="col-md-12 col-xs-12 noPadding">
                        <div class="form-group-sm col-md-12 col-xs-12">
                            <label for="emailNew">Adresa de e-mail:</label>
                            <input type="text" class="form-control" id="emailNew" name="emailNew" ng-model="username" disabled>
                            <p class="" ng-show="emailForm.emailNew.$invalid && !emailForm.emailNew.$pristine ">Introduceţi un email valid!</p>
                        </div>
                        <!--<div class="form-group-sm col-md-6">-->
                        <!--<label for="changeEmailPass"><sup>*</sup>Parola:</label>-->
                        <!--<input type="password" class="form-control" id="changeEmailPass" name="changeEmailPass" ng-model="changePass" ng-required="true">-->
                        <!--<p class="">Parola este necesara pentru a confirma schimbarea e-mail-ului!</p>-->
                        <!--<p class="" ng-show="emailForm.changeEmailPass.$invalid && !emailForm.changeEmailPass.$pristine ">Introduceti parola corecta!</p>-->
                        <!--</div>-->
                    </div>
                </form>
                <div class="col-md-12 col-xs-12">
                    <hr style="margin: 10px 0"/>
                    <label style="margin-bottom: 15px">Schimbă parola</label>
                </div>
                <div class="col-md-12 col-xs-12">
                    <alert ng-if="userChangePassAlert.newAlert" type="{{userChangePassAlert.type}}" close="userChangePassAlert.newAlert=false">{{userChangePassAlert.message}}</alert>
                </div>
                <form name="changePassForm" novalidate>
                    <div class="form-group-sm col-md-12 col-xs-12" ng-class="{'has-error': changePassForm.oldPass.$error.required && showerrorPass}">
                        <label for="oldPass">Parola<sup>*</sup>:</label>
                        <input type="password" class="form-control" id="oldPass" name="oldPass" ng-model="oldPass" ng-required="true">
                        <p class="" ng-show="changePassForm.oldPass.$error.required && showerrorPass">Introduceţi vechea parolă!</p>
                    </div>
                    <div class="col-md-12 noPadding col-xs-12">
                        <div class="form-group-sm col-md-6" ng-class="{'has-error':changePassForm.newPass.$error.required && showerrorPass}">
                            <label for="newPass">Parola nouă<sup>*</sup>:</label>
                            <input type="password" class="form-control" id="newPass" name="newPass" ng-model="newPass" ng-required="true">
                            <p class="" ng-show="changePassForm.newPass.$error.required && showerrorPass">Introduceţi noua parolă!</p>
                        </div>
                        <div class="form-group-sm col-md-6 col-xs-12" ng-class="{'has-error':changePassForm.confirmPass.$error.required && showerrorPass}">
                            <label for="confirmPass">Repetă parola<sup>*</sup>:</label>
                            <input type="password" class="form-control" id="confirmPass" name="confirmPass" ng-model="confirmPass" ng-required="true">
                            <p class="" ng-show="changePassForm.confirmPass.$error.required && showerrorPass">Reintroduceţi noua parolă!</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12" style="margin-top: 15px">
                        <button type="submit" ng-click="submitChangePassForm(changePassForm.$valid)" class="btn btn-danger pull-right">Schimbă parola</button>
                    </div>
                </form>
            </accordion-group>
        </accordion>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default positionMiddle right" ng-click="$state.includes('profileMobile')? goHome() : $close()">Închide</a>
    </div>
</div>