<div class="modal-header">
    <div class="modal-title"><h3>{{userData.name}}</h3></div>
</div>
<div class="modal-body">
    <accordion close-others="true">
        <accordion-group class="no-text-decoration" is-open="openFirst">
            <accordion-heading class="no-text-decoration" ><p class="no-text-decoration"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Profilul meu</p></accordion-heading>
            <div class="col-md-12">
                <alert ng-if="userProfileAlert.newAlert" type="{{userProfileAlert.type}}" close="userProfileAlert.newAlert=false">{{userProfileAlert.message}}</alert>
            </div>
            <form name="profileForm" novalidate>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <img ng-class="hideImg" class="img-responsive img-thumbnail imgFix" no-cache-src="{{imageUser}}" style="width:100%;">
                            <div class="col-md-12 noPadding ">

                                <div class="col-md-12 noPadding margintop5px">
                                    <button class="btn btn-default " type="file" ng-file-select ng-file-change="fileSelected($files, $event)" multiple="false" accept="image/*"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca o poza</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group col-md-6" ng-class="{'has-error': profileForm.nume.$invalid && !profileForm.nume.$pristine || showerrorProf && profileForm.nume.$invalid}">
                                <label for="nume">Nume<sup>*</sup>:</label>
                                <input type="text" class="form-control" id="nume" name="nume" ng-model="firstName" ng-pattern="/^[a-zA-ZA-zĂăÂâÎîȘșŞşȚțŢţ\s]{3,30}$/" ng-required="true">
                                <p class="" ng-show="profileForm.nume.$invalid && !profileForm.nume.$pristine || showerrorProf && profileForm.nume.$invalid">Numele nu este valid!</p>
                            </div>
                            <div class="form-group col-md-6" ng-class="{'has-error': profileForm.prenume.$invalid && !profileForm.prenume.$pristine || showerrorProf && profileForm.prenume.$invalid}">
                                <label for="prenume">Prenume<sup>*</sup>:</label>
                                <input type="text" class="form-control" id="prenume" name="prenume" ng-model="lastName" ng-pattern="/^[a-zA-ZĂăÂâÎîȘșŞşȚțŢţ\s]{3,30}$/" ng-required="true">
                                <p class="" ng-show="profileForm.prenume.$invalid && !profileForm.prenume.$pristine || showerrorProf && profileForm.prenume.$invalid">Prenumele nu este valid!</p>
                            </div>
                            <div class="form-group col-md-12" ng-class="{'has-error': profileForm.telefon.$invalid && !profileForm.telefon.$pristine || showerrorProf && profileForm.telefon.$invalid}">
                                <label for="telefon">Telefon<sup>*</sup>:</label>
                                <input type="text" class="form-control" id="telefon" name="telefon" ng-model="phone" ng-pattern="/^[0-9]{10,20}$/" ng-required="true">
                                <p class="" ng-show="profileForm.telefon.$invalid && !profileForm.telefon.$pristine || showerrorProf && profileForm.telefon.$invalid">Numar de telefon invalid!</p>
                            </div>
                            <div class="col-md-12">
                                <label for="abonat">Abonat la newsletter</label>
                                <input type="checkbox" id="abonat" ng-model="newsletter" ng-checked="newsletter"/>
                            </div>
                            <div class="col-md-12 margintop30px">
                                <div class="btn col-md-12" ng-click="uploadAlert.newAlert=false" ng-class="uploadAlert.type==='danger'?'btn-danger':'btn-success'" ng-if="uploadAlert.newAlert"><span class="pull-left">{{uploadAlert.message}}&nbsp; &nbsp; &nbsp;</span> <i ng-click="uploadAlert.newAlert=false" class="glyphicon pull-right glyphicon-remove-circle"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr/>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Judet: </label>
                                <ui-select ng-model="county.selected" name="judet" theme="select2" ng-disabled="false" style="width: 100%;" id="county" ng-required="true">
                                    <ui-select-match placeholder="Selecteaza un judet">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="county in counties | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="trustAsHtml((county.name | highlight: $select.search))"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <p class="" ng-show="profileForm.judet.$invalid && !profileForm.judet.$pristine || showerrorProf && profileForm.judet.$invalid">Judetul nu este valid!</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Oras: </label>
                                <ui-select ng-model="city.selected" name="oras" theme="select2" ng-disabled="false" style="width: 100%;" id="city" ng-required="true">
                                    <ui-select-match placeholder="Selecteaza un oras">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="city in cities | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="trustAsHtml((city.name | highlight: $select.search))"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <p class="" ng-show="profileForm.oras.$invalid && !profileForm.oras.$pristine || showerrorProf && profileForm.oras.$invalid">Orasul nu este valid!</p>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="areas">Arii terapeutice:</label>
                                <select ng-model="selectedArea" ng-options="area as area.name.replace('0','&nbsp;&nbsp;&nbsp;&nbsp;') for area in allAreas"
                                        class="form-control" id="areas" style="width: 100%;" ng-change="areaWasSelected(selectedArea)">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div ng-repeat="userArea in userTherapeuticAreas">
                                <div class="label label-primary" style="float: left; margin-right: 10px; margin-bottom: 10px;">
                                    {{userArea.name.replace('0','')}}&nbsp;
                                    <i class="glyphicon glyphicon-remove-sign" ng-click="removeUserArea(userArea.id)" style="cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" ng-click="submitProfileForm(profileForm.$valid)" class="btn btn-primary pull-right">Salveaza</button>
                        </div>
                    </div>
                </div>
            </form>
        </accordion-group>
        <accordion-group class="no-text-decoration">
            <accordion-heading class="no-text-decoration"><p class="no-text-decoration"><i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp;Loc de munca</p></accordion-heading>
            <div class="col-md-12">
                <alert ng-if="userJobAlert.newAlert" type="{{userJobAlert.type}}" close="userJobAlert.newAlert=false">{{userJobAlert.message}}</alert>
            </div>
            <form name="jobForm" novalidate>
                <div class="col-md-12">
                    <div class="form-group col-md-6" ng-class="{'has-error':jobForm.tip_munca.$invalid && !jobForm.tip_munca.$pristine || showerror && jobForm.tip_munca.$invalid}">
                        <label for="tipLoc">Tip loc de munca<sup>*</sup>:</label>
                        <select ng-model="selectedJob" name="tip_munca" ng-options="jobS for jobS in jobTypes" class="form-control" id="tipLoc" style="width: 100%;" ng-required="true">
                            <option value="">Selecteaza o optiune</option>
                        </select>
                        <p class="" ng-show="jobForm.tip_munca.$invalid && !jobForm.tip_munca.$pristine || showerror && jobForm.tip_munca.$invalid">Tipul locului de munca este invalid!</p>
                    </div>
                    <div class="form-group col-md-6" ng-class="{'has-error':jobForm.locMunca.$invalid && jobForm.locMunca.$dirty || showerror && jobForm.locMunca.$invalid}">
                        <label for="locMunca">Loc de munca<sup>*</sup>:</label>
                        <input type="text" class="form-control" id="locMunca" name="locMunca" ng-model="job.job_name" ng-pattern="/^[a-zA-ZĂăÂâÎîȘșŞşȚțŢţ\s]{3,30}$/" ng-required="true">
                        <p class="" ng-show="jobForm.locMunca.$invalid && jobForm.locMunca.$dirty || showerror && jobForm.locMunca.$invalid">Introduceti un loc de munca!</p>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-4" ng-class="{'has-error':jobForm.numeStrada.$invalid && !jobForm.numeStrada.$pristine || showerror && jobForm.numeStrada.$invalid}">
                        <label for="numeStrada">Numele strazii<sup>*</sup>:</label>
                        <input type="text" class="form-control" name="numeStrada" id="numeStrada" ng-model="job.street_name" ng-pattern="/^[a-zA-Z0-9ĂăÂâÎîȘșŞşȚțŢţ\s]{3,30}$/" ng-required="true">
                        <p class="" ng-show="jobForm.numeStrada.$invalid && !jobForm.numeStrada.$pristine || showerror && jobForm.numeStrada.$invalid">Introduceti numele strazii ( minim 3 caractere )!</p>
                    </div>
                    <div class="form-group col-md-4" ng-class="{'has-error':jobForm.numarStrada.$invalid && !jobForm.numarStrada.$pristine || showerror && jobForm.numarStrada.$invalid}">
                        <label for="numarStrada">Numarul strazii<sup>*</sup>:</label>
                        <input type="text" class="form-control" id="numarStrada" name="numarStrada" ng-pattern="/^[a-zA-Z0-9\s]{1,30}$/" ng-model="job.street_number" ng-required="true">
                        <p class="" ng-show="jobForm.numarStrada.$invalid && !jobForm.numarStrada.$pristine || showerror && jobForm.numarStrada.$invalid">Introduceti un numar al strazii!</p>

                    </div>
                    <div class="form-group col-md-4" ng-class="{'has-error':jobForm.codPostal.$invalid && !jobForm.codPostal.$pristine || showerror && jobForm.codPostal.$invalid }">
                        <label for="codPostal">Cod postal<sup>*</sup>:</label>
                        <input type="text" class="form-control" id="codPostal" name="codPostal" ng-model="job.postal_code" ng-pattern="/^\d+$/" ng-required="true">
                        <p class="" ng-show="jobForm.codPostal.$invalid && !jobForm.codPostal.$pristine || showerror && jobForm.codPostal.$invalid">Introduceti un cod postal format numai din cifre!</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <label for="codPostal">Alte informatii, adresa:</label>
                        <input type="text" class="form-control" id="alteInfoAdr" ng-model="job.job_address">
                    </div>
                </div>
                <div class="col-md-12">
                    <button ng-click="submitJobForm(jobForm.$valid)" class="btn btn-primary pull-right">Salveaza loc de munca</button>
                </div>
            </form>
        </accordion-group>
        <accordion-group class="no-text-decoration">
            <accordion-heading class="no-text-decoration"><p class="no-text-decoration"><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Contul meu</p></accordion-heading>
            <div class="col-md-12">
                <alert ng-if="userChangeMailAlert.newAlert" type="{{userChangeMailAlert.type}}" close="userChangeMailAlert.newAlert=false">{{userChangeMailAlert.message}}</alert>
            </div>
            <form name="emailForm" ng-submit="submitEmailForm(true)">
                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <label for="emailNew">Adresa de e-mail:</label>
                        <input type="text" class="form-control" id="emailNew" name="emailNew" ng-model="username" disabled>
                        <p class="" ng-show="emailForm.emailNew.$invalid && !emailForm.emailNew.$pristine ">Introduceti un email valid!</p>
                    </div>
                    <!--<div class="form-group col-md-6">-->
                        <!--<label for="changeEmailPass"><sup>*</sup>Parola:</label>-->
                        <!--<input type="password" class="form-control" id="changeEmailPass" name="changeEmailPass" ng-model="changePass" ng-required="true">-->
                        <!--<p class="">Parola este necesara pentru a confirma schimbarea e-mail-ului!</p>-->
                        <!--<p class="" ng-show="emailForm.changeEmailPass.$invalid && !emailForm.changeEmailPass.$pristine ">Introduceti parola corecta!</p>-->
                    <!--</div>-->
                </div>
            </form>
            <div class="col-md-12">
                <h4>Schimba parola</h4>
                <hr/>
            </div>
            <div class="col-md-12">
                <alert ng-if="userChangePassAlert.newAlert" type="{{userChangePassAlert.type}}" close="userChangePassAlert.newAlert=false">{{userChangePassAlert.message}}</alert>
            </div>
            <form name="changePassForm" novalidate>
                <div class="col-md-12">
                    <div class="form-group col-md-12" ng-class="{'has-error': changePassForm.oldPass.$invalid && !changePassForm.oldPass.$pristine || showerrorPass && changePassForm.oldPass.$invalid}">
                        <label for="oldPass"><sup>*</sup>Parola:</label>
                        <input type="password" class="form-control" id="oldPass" name="oldPass" ng-model="oldPass" ng-required="true">
                        <p class="" ng-show="changePassForm.oldPass.$invalid && !changePassForm.oldPass.$pristine || showerrorPass && changePassForm.oldPass.$invalid">Introduceti parola corecta!</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-6" ng-class="{'has-error':changePassForm.newPass.$invalid && !changePassForm.newPass.$pristine || showerrorPass && changePassForm.newPass.$invalid}">
                        <label for="newPass"><sup>*</sup>Parola noua:</label>
                        <input type="password" class="form-control" id="newPass" name="newPass" ng-model="newPass" ng-required="true">
                        <p class="" ng-show="changePassForm.newPass.$invalid && !changePassForm.newPass.$pristine || showerrorPass && changePassForm.newPass.$invalid">Introduceti o parola noua valida!</p>
                    </div>
                    <div class="form-group col-md-6" ng-class="{'has-error':changePassForm.confirmPass.$invalid && !changePassForm.confirmPass.$pristine || showerrorPass && changePassForm.confirmPass.$invalid}">
                        <label for="confirmPass"><sup>*</sup>Repeta parola:</label>
                        <input type="password" class="form-control" id="confirmPass" name="confirmPass" ng-model="confirmPass" ng-required="true">
                        <p class="" ng-show="changePassForm.confirmPass.$invalid && !changePassForm.confirmPass.$pristine || showerrorPass && changePassForm.confirmPass.$invalid">Introduceti din nou noua parola!</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" ng-click="submitChangePassForm(changePassForm.$valid)" class="btn btn-danger pull-right">Schimba parola</button>
                </div>
            </form>
        </accordion-group>
        <accordion-group class="no-text-decoration">
            <accordion-heading class="no-text-decoration"><p class="no-text-decoration"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;Punctele mele</p></accordion-heading>
            <div class="col-md-12">
                <h4>Total puncte: {{pointsTotal}}</h4>
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">Puncte acumulate din slide:</div>
                <div class="col-md-8"><label class="label label-primary">{{pointsSlide}}</label></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">Puncte acumulate din video:</div>
                <div class="col-md-8"><label class="label label-primary">{{pointsVideo}}</label></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">Puncte acumulate din articole:</div>
                <div class="col-md-8"><label class="label label-primary">{{pointsArticles}}</label></div>
            </div>
        </accordion-group>
    </accordion>
</div>
<div class="modal-footer">
    <a class="btn btn-default" ng-click="closeModal()">Inchide</a>
</div>