<!doctype html>
<html lang="en" ng-app="cloudAdminApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Document</title>
    <!--Get amazon bucket-->
    <script>
        sessionStorage.defaultAmazonBucket = "<%=amazonBucket%>";
    </script>

    <!--Core-modules-->

    <script src="components/jquery/jquery.js"></script>
    <script src="components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="components/shifty/dist/shifty.min.js"></script>
    <link href="components/angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css" />
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-touch/angular-touch.js"></script>
    <script src="components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="components/angular-ui-select/dist/select.min.js"></script>
    <script src="modules/angular-pdf/pdf.js"></script>
    <script src="modules/angular-pdf/angular-pdf.js"></script>
    <script src="modules/google_analytics/angulartics-ga.js"></script>
    <script src="components/ng-file-upload/angular-file-upload.min.js"></script>


<!--Controllers-->
    <script src="javascript/medic/controllers.js"></script>
    <script src="javascript/medic/eventsController.js"></script>
    <script src="javascript/medic/modalCtrl.js"></script>
    <script src="javascript/medic/MerckManualController.js"></script>
    <script src="javascript/medic/productsController.js"></script>
    <script src="javascript/medic/productDetailsController.js"></script>
    <script src="javascript/medic/multimediaController.js"></script>
    <script src="javascript/medic/multimediaDetailsController.js"></script>
    <script src="javascript/medic/app.js"></script>
    <script src="javascript/medic/customDirectives.js"></script>
    <script src="javascript/medic/HomeController.js"></script>
    <script src="javascript/medic/HomeSearchController.js"></script>
    <script src="javascript/medic/therapeuticControllerCtrl.js"></script>
    <script src="javascript/medic/ContentController.js"></script>
    <script src="javascript/medic/contactCtrl.js"></script>
    <script src="javascript/medic/ContentArticleController.js"></script>
    <script src="javascript/medic/services.js"></script>
    <script src="javascript/medic/require.js"></script>
    <script src="javascript/medic/FarmacovigilentaCtrl.js"></script>
    <script src="javascript/medic/TermsCtrl.js"></script>
    <script src="javascript/medic/ProfileController.js"></script>
    <script src="javascript/medic/testeController.js"></script>
    <script src="javascript/medic/testeQuestionsController.js"></script>
    <script src="javascript/medic/DisplayFeaturesController.js"></script>
    <script src="javascript/medic/SpecialGroupsMenuController.js"></script>
    <script src="javascript/medic/MultimediaBeforeQuizController.js"></script>

<!--Plug-ins-->
    <script src="components/angular-ui-calendar/src/calendar.js"></script>
    <script src="components/angular-growl/build/angular-growl.js"></script>
    <script src="modules/my_slider/slider.js"></script>
    <script src="components/angular-timer/app/js/timer.js"></script>

<!--Stylesheets-->

    <link rel='stylesheet' href='components/angular-ui-select/dist/select.min.css' />
    <link rel='stylesheet' href='components/select2/select2.css' />
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/customStyles.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top ng-scope navbar-border" role="navigation" ng-controller="SpecialGroupsMenuController">
    <div class="container moveNavbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img ng-src="{{MSDlogo}}"></a>


            <ul class="hidden-md hidden-lg navbar-brand pull-right" style="list-style: none;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                    <ul class="dropdown-menu profile-drop" role="menu">
                        <li><a style="cursor: pointer;" ng-click="showProfile()">Profile</a></li>
                        <li><a href="logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" collapse="navCollapsed">

            <ul class="nav navbar-nav">
                <li ng-class="{'active': $state.includes('home')}"><a ui-sref="home" href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="dropdown" ng-class="{'active': $state.includes('noutati')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-globe"></span> Noutati <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu myMenu greyBackground" role="menu" >
                        <li><a class="myListItem" ui-sref="noutati.listaArticole({articleType:1})" style=":hover{background-color:#009d97}"><i class="glyphicon glyphicon-file white leftPosition iconLeft darkGrey"></i>&nbsp Stiri<i class="glyphicon glyphicon-chevron-right white rightPosition greyColor"></i></a> </li>

                        <li><a class="myListItem" ui-sref="noutati.listaArticole({articleType:2})" style=":hover{background-color:#009d97}"><i class="glyphicon glyphicon-folder-open white leftPosition iconLeft darkGrey"></i>&nbsp Stiri legislative <i class="glyphicon glyphicon-chevron-right white rightPosition greyColor"></i> </a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active': $state.includes('biblioteca')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-book"></span> Biblioteca <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu myMenu greyBackground" role="menu">
                        <li><a class="myListItem" ui-sref="biblioteca.produse.productsByArea({id:0})" href="#/produse"><i class="glyphicon glyphicon-th-large white leftPosition iconLeft darkGrey"></i>&nbsp Produse <i class="glyphicon glyphicon-chevron-right white rightPosition greyColor"></i></a></li>
                        <li><a class="myListItem" ui-sref="biblioteca.articoleStiintifice.listaArticole({articleType:3})"><i class="glyphicon glyphicon-file white leftPosition iconLeft darkGrey"></i>&nbsp Articole stiintifice <i class="glyphicon glyphicon-chevron-right white rightPosition greyColor"></i></a></li>
                        <li><a class="myListItem" ui-sref="biblioteca.manualMerck" href="http://www.merckmanuals.com/" target="_blank"><i class="glyphicon glyphicon-th-large white leftPosition iconLeft darkGrey"></i>&nbsp Manualul Merck <i class="glyphicon white glyphicon-chevron-right rightPosition greyColor"></i></a></li>
                    </ul>
                </li>
                <li ng-class="{'active': $state.includes('calendar')}"><a ui-sref="calendar" href="#/calendar"><span class="glyphicon glyphicon-calendar">Calendar</span></a></li>
                <li class="dropdown" ng-class="{'active': $state.includes('elearning')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-download"></span> E-learning <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu myMenu greyBackground" role="menu">
                        <li><a class="myListItem" ui-sref="elearning.multimedia.multimediaByArea({id:0})" href="#/multimedia"><i class="glyphicon glyphicon-film white leftPosition iconLeft darkGrey"></i>&nbsp Multimedia<i class="glyphicon glyphicon-chevron-right white rightPosition greyColor"></i></a></li>
                        <li><a class="myListItem" ui-sref="elearning.transmisii" href="#/transmisii"><i class="glyphicon glyphicon-facetime-video white leftPosition iconLeft darkGrey"></i>&nbsp Transmisii live<i class="glyphicon glyphicon-chevron-right white rightPosition greyColor"></i></a></li>
                        <li><a class="myListItem" ui-sref="elearning.teste" href="#/teste"><i class="glyphicon glyphicon-question-sign white leftPosition iconLeft darkGrey"></i>&nbsp Teste interactive <i class="glyphicon glyphicon-chevron-right white rightPosition greyColor"></i></a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active': $state.includes('groupFeatures')}" ng-if="groupFeatures">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-download"></span> {{specialGroupSelected?specialGroupSelected.display_name:""}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu myMenu greyBackground" role="menu">
                        <li ng-repeat="feat in groupFeatures"><a class="myListItem" ui-sref="groupFeatures({feature: feat})">{{feat}}<i class="glyphicon glyphicon-chevron-right white rightPosition greyColor"></i></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-class="$state.is('home') ? 'show': 'hide'" ng-if="specialGroups.length != 0">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle specialGroupDropdown" data-toggle="dropdown">
                        <img ng-src="{{specialGroupSelected.image_path?pathAmazonDev+specialGroupSelected.image_path:MSDlogo}}">
                    </a>
                    <ul class="dropdown-menu myMenu greyBackground" role="menu">
                        <li ng-repeat="group in specialGroups">
                            <a class="myListItem" style="cursor: pointer;" ng-click="selectSpecialGroup(group)">{{group.display_name}} <i class="glyphicon glyphicon-chevron-right white rightPosition greyColor"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div ng-class="{'hide': $state.includes('home')}" class="input-group mySearch pull-right" style="width: 15%; top:10px">
                <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" name="srch-term" id="srch-term" ng-model="textToSearch">
                <span class="input-group-addon" ui-sref="homeSearch({data:textToSearch})"><i class="glyphicon glyphicon-search"></i></span>
                <img class="img-circle" ng-click="showProfile()" ng-src="{{imageForUser}}">
            </div>
        </div>

    </div>
</div>


<div ui-view class="main-view-container margintop20px autoOver"></div>

<div id="footer">
    <div class="col-xs-6">
        <a href="http://www.msd.ro/">
            <img src="https://s3-eu-west-1.amazonaws.com/msdapp/resources/msd_white.png" class="pull-left img-responsive" style="height:28px;margin-right:10px;">
        </a>

    </div>
    <div id="notMsieDiv" class="col-xs-6 text-right">
        &nbsp &nbsp <a ng-click="showTermsModal()" class="link-footer handCursor">Termeni si conditii</a>
        &nbsp &nbsp <a ng-click="showFarmaModal()" class="link-footer handCursor">Farmacovigilenta</a>
        &nbsp &nbsp <a ng-click="showContactModal()" class="link-footer handCursor">Contact</a>


    </div>
</div>

</body>
</html>