<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>MSD Be Well</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!--Get amazon bucket-->
    <script>
        const DEFAULT_AMAZON_BUCKET = "<%=amazonBucket%>";
        const DEFAULT_AMAZON_PREFIX = "<%=amazonPrefix%>";
        const GA_CODE = "<%=GA_code%>";
    </script>

    <!--Google analytics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', GA_CODE, 'auto');
    </script>

    <!--Google analytics debug-->
    <!--<script>-->
        <!--(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
            <!--(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
                <!--m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
        <!--})(window,document,'script','//www.google-analytics.com/analytics_debug.js','ga');-->
        <!--ga('create', 'UA-60523258-1', {-->
            <!--'cookieDomain': 'none'-->
        <!--});-->
    <!--</script>-->

    <!--Core-->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <!--<script src="components/jquery-ui/ui/minified/jquery-ui.min.js"></script>-->
    <script src="components/angular/angular.js"></script>
    <script src="components/oclazyload/dist/ocLazyLoad.js"></script>

    <!--Global styles-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/medic/medicStyles.css">
    <link rel="stylesheet" href="stylesheets/stylesThatReignSupreme.css">

    <!--Core-modules-->
    <script src="components/angular-touch/angular-touch.min.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="components/angular-resource/angular-resource.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="components/angular-animate/angular-animate.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="components/angular-off-click/offClick.js"></script>
    <script src="components/angulartics/dist/angulartics.min.js"></script>
    <script src="components/angulartics/dist/angulartics-ga.min.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/moment/moment.js"></script>
    <script src="components/checklist-model/checklist-model.js"></script>

    <!--Widgets-->
    <link rel="stylesheet" href="modules/mobile_content_list/mobile_content_list.css">
    <script src="modules/mobile_content_list/mobile_content_list.js"></script>
    <script src="modules/sticky-footer-fixed/footer_responsive.js"></script>
    <link rel="stylesheet" href="modules/horizontal-content-list/styles.css">
    <script src="modules/horizontal-content-list/directive.js"></script>
    <link rel="stylesheet" href="modules/widget-most-read/styles.css">
    <script src="modules/widget-most-read/directive.js"></script>
    <link rel="stylesheet" href="modules/vertical-content-list/styles.css">
    <script src="modules/vertical-content-list/directive.js"></script>
    <script src="modules/bootstrapMultilevel/bootstrap-subnav.js"></script>
    <link rel="stylesheet" href="modules/bootstrapMultilevel/bootstrap-subnav.css">

    <!--Global controllers, services, directives-->
    <script src="javascript/medic/app.js"></script>
    <script src="javascript/medic/controllers.js"></script>
    <script src="javascript/shared/controllers.js"></script>
    <script src="javascript/medic/services.js"></script>
    <script src="javascript/shared/services.js"></script>
    <script src="javascript/medic/customDirectives.js"></script>
    <script src="javascript/shared/directives.js"></script>
    <script src="javascript/medic/MainController.js"></script>
    <script src="javascript/medic/SpecialGroupsControllers/DisplayFeatures.js"></script>
    <script src="javascript/medic/SpecialGroupsControllers/SpecialGroupsMenu.js"></script>
    <link rel="stylesheet" href="modules/bootstrap-search/bootstrap_search.css">
    <script src="modules/bootstrap-search/bootstrap_search.js"></script>
    <link rel="stylesheet" href="modules/bootstrap-effects-button/effects-button.css">

    <!--TODO: find a way to lazy load theese files:-->
    <script src="modules/angular-pdf-custom/pdf.js"></script>

</head>
<body ng-controller="MainController">
<div class="col-xs-12 cookieBar" collapse="isCollapsed">
    <div class="col-xs-12 pull-left">
        Acest site foloseste cookie-uri. Prin continuarea navigarii in site acceptati modul in care folosim aceste informatii!
        <div class="btn btn-default pull-right" ng-click="setCookie()">Am inteles</div>
    </div>
</div>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbarMedic" role="navigation" ng-controller="SpecialGroupsMenu">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-toggle" ng-click="toggleNavbar()" id="nav-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <ul class="profile nav navbar-nav pull-right dropdown" ng-class="{'profileNoSpecialGroups': !specialGroupSelected}">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                </a>
                <ul class="dropdown-menu myProfile">
                    <li ng-click="showProfile()"><a>Profile</a></li>
                    <li ng-click="logoutUser()"><a>Sign Out</a></li>
                </ul>
            </ul>
                <div class="nav navbar-nav navbar-right hideOnMobile" ng-class="{'searchNoSpecialGroups': !specialGroupSelected, 'searchWithGroups': specialGroupSelected}">
                        <bootstrap-search animated-input=true on-search="searchText">
                        </bootstrap-search>
                </div>
            <a class="navbar-brand" ui-sref="home"><img ng-src="{{MSDlogo}}"></a>

        </div>

        <div class="collapse navbar-collapse" collapse="navCollapsed" off-click="closeNavbar()" off-click-if="!navCollapsed" off-click-filter="'#nav-toggle'">
            <ul class="nav navbar-nav navbarMenu">
                <li class="paddedForm hideOnDesktop">
                    <form role="search" ng-submit="searchText(this.textToSearch)">
                        <div class="input-group">
                            <input type="text" class="form-control blackTextIcon" placeholder="Search" ng-model="textToSearch">
                            <span class="input-group-addon" ng-click="searchText(textToSearch)"><i class="glyphicon glyphicon-search blackTextIcon"></i></span>
                        </div>
                        <button type="submit" class="btn btn-default sr-only">Submit</button>
                    </form>
                </li>

                <li class="dropdown" ng-if="pathologies" ng-class="{'active': $state.includes('pathologies') || $state.params.isResource}">
                    <a class="dropdown-toggle " data-toggle="dropdown">
                        Patologii <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" >
                        <li ng-repeat="pathology in pathologies" ui-sref="pathologies({pathology_id:pathology._id})" ng-click="closeNavbar()"><a>&nbsp;{{pathology.display_name}}</a>

                        </li>
                    </ul>
                </li>

                <bootstrap-subnav ng-if="pathologiesWithProducts" active-conditions="($state.includes('groupSpecialProduct') && !$state.params.isResource) || $state.includes('productList')" objects-array="pathologiesWithProducts"
                                  menu-title="Produse" children-property="associated_items" click-on-final-child="closeNavbar" parent-display-name="display_name" child-display-name="product_name" no-children-state-name="productList.all.groupedByPathology"
                                  no-children-state-parameters-exist="true" no-children-state-parameters="idArea" no-children-state-parameters-values="0" state-parameters-exist="true" state-name="groupSpecialProduct.menuItem" state-parameters="product_id" state-parameters-values="_id">

                </bootstrap-subnav>

                <li class="dropdown" ng-class="{'active': $state.includes('calendar') || $state.includes('conferinte')}">
                    <a class="dropdown-toggle " data-toggle="dropdown">
                        Evenimente <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" >
                        <li ui-sref="calendar.events.event({idArea: 0})" ng-click="closeNavbar()"><a>&nbsp;Calendar</a></li>
                        <li ui-sref="conferinte" href="#/evenimente/conferinte" ng-click="closeNavbar()"><a>&nbsp;Conferinte live</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-class="{'active': $state.includes('biblioteca') || $state.includes('elearning')}">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Resurse <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ui-sref="biblioteca.articoleStiintifice.listaArticole({articleType:3})" ng-click="closeNavbar()"><a>&nbsp;Despre MSD </a></li>
                        <li ng-click="goToMerckSite()"><a ng-click="closeNavbar()">&nbsp;Manualul MSD</a></li>
                        <li ng-click="closeNavbar(); $state.go('elearning.multimedia.multimediaByArea',{'idArea': 0})"><a>&nbsp;Multimedia</a></li>
                    </ul>
                </li>
                <li class="mobileLink dividerTop" ng-class="{'active': $state.includes('profileMobile')}" ng-click="showProfile();closeNavbar()"><a>Contul meu</a></li>
                <li class="mobileLink" ng-click="logoutUser()"><a>Sign out</a></li>
            </ul>

        </div>

    </div>
</div>

<div id="mainContainer" ui-view class="main-view-container" ng-class="{'height100': $state.is('notFound') || $state.is('forbidden') || $state.is('serverError')}">
</div>
<footer-responsive stick-below-id="mainContainer" template-link="partials/medic/footerMedic.html">
</footer-responsive>
</body>
</html>