<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()">&times;</button>
        <h3 class="modal-title">Adaugare device-uri</h3>
    </div>
    <div class="modal-body">
        <div style="margin-bottom: 15px;">
            <alert ng-if="alert.show" type="{{alert.type}}" close="alert.newAlert=false">{{alert.text}}</alert>
        </div>
        <div ng-if="importedWithErrors" ng-repeat="error in importedWithErrors">
            <div>
                {{error}}
            </div>
        </div>
        <div ng-if="parsedCSV.unprocessed.length > 0">
            <div>
                Urmatoarele device-uri nu au putut fi citite:
            </div>
            <div ng-repeat="u in parsedCSV.unprocessed">{{u}}</div>
        </div>
        <div>
            Urmatoarele device-uri au fost citite cu succes:
        </div>
        <div>
            <table class="importTable">
                <tr class="headers">
                    <td ng-repeat="header in parsedCSV.headers">
                        {{header}}
                    </td>
                </tr>
                <tr class="body" ng-repeat="row in parsedCSV.body">
                    <td ng-repeat="h in parsedCSV.headers">
                        {{row[h]}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$close()">Inchide</button>
        <button type="submit" class="btn btn-primary pull-right" ng-click="importAll()">Adauga toate</button>
    </div>
</div>