<div class = "col-md-12 well">
    <div class="col-md-9"><h3>MSD DPOC</h3></div>
</div>
<div class="col-md-12">
    <div class="titleAndButton col-xs-12 noPadding">
        <div class="col-xs-2 noPadding">
            <h3>Device-uri:</h3>
        </div>
        <div class="col-xs-10 noPadding">
            <button class="btn btn-primary" ng-click="addDevice()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</button>
            <button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false">Importa din CSV</button>
            <button class="btn btn-primary pull-right" ng-csv="csv.rows" csv-header="getHeader()" filename="{{csv.filename}}">Export DPOC Users</button>
        </div>
    </div>
    <bulk-operations model="DPOC_Devices" delete-button items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="device in $data">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(device._id)" ng-checked="checkValue(device._id)"/>
            </td>
            <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
                {{device.name}}
            </td>
            <td data-title="'Email Associated'" filter="{ 'email': 'text' }" sortable="'email'">
                {{device.email}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons show-toggle-button="false" show-edit-button="false" show-delete-button="true"
                                delete-item="removeDevice(device._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>