<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="col-xs-offset-1" id="content">
    <div class="row margintop20px">
        <div class="col-xs-3 therapeuticAreas">
            <h4 class="h-title">Arii terapeutice</h4>

            <ul class="list">
                <li ui-sref="elearning.multimedia.multimediaByArea({id:0})">Toate ariile terapeutice</li>
                <li ui-sref="elearning.multimedia.multimediaByArea({id:area._id})"  ng-repeat="area in therapeuticAreas| orderBy: 'name'" ng-if="area['therapeutic-areasID'].length==0">
                    {{area.name}}
                    <ul ng-if="area.has_children">
                        <li ng-repeat="area2 in therapeuticAreas | filter : { 'therapeutic-areasID' : area._id } | orderBy: 'name'" ui-sref="elearning.multimedia.multimediaByArea({id:area2._id})">
                            {{area2.name}}
                        </li>
                        <!--<li>ceva</li>-->
                    </ul>
                </li>
            </ul>
            <hr class="visible-phone ">
        </div>

        <div class="col-xs-9" >
            <ui-view></ui-view>
        </div>
    </div>
</div>
</body>
</html>