<div class="col-md-8 col-md-offset-2 col-xs-12 coursesWrapper">

    <div class="mainTitle">CURSURI</div>
    <div ng-if="courses.length == 0" class="col-md-12 noPadding">
        <h4>Nu exista nici un curs pentru grupul dumneavoastra!</h4>
    </div>
    <div class="col-xs-12 noPadding" ng-if="courses.length > 0">
        <div ng-repeat="course in courses track by $index" class="col-md-12 col-xs-12 col-sm-12 result">
            <horizontal-content-list content="course" image-path-attr="image_path" image-path-prefix="{{pathAmazonDev}}" default-image-path="{{defaultSlideImage}}"
                                     title-attr="title" text-attr="description" button-label="Vizionare curs"
                                     navigate="navigateToCourseDetails" smaller-image with-background drop-shadow></horizontal-content-list>
        </div>
    </div>
</div>