<div class="col-xs-12">
    <div class="courseTitle">CUPRINS</div>
    <div class="chaptersContainer">
        <!-- chapter -->
        <div ng-if="course.listChapters.length == 1 && course.listChapters[0].listSubchapters.length == 1" ng-repeat="slide in course.listChapters[0].listSubchapters[0].listSlides | orderBy:' order'"
             class="entry clearfix"
             ng-class="{'disabledChapter': slideViews[slide._id].views >= slide.retake && slide.type == 'test' }"
             ng-click="slideViews[slide._id].views >= slide.retake && slide.type == 'test' ? null : goToSlide(slide,course.listChapters[0].listSubchapters[0]._id)">
            <div class="item-text col-xs-12 clearfix noPadding">
                <div class="item-text-container col-xs-12">
                    <div class="item-completion col-xs-1 noPadding">
                        <div class="indicator" ng-class="{'empty' : !slideViews[slide._id].views}"></div>
                    </div>
                    <div class="item-text-text col-xs-11">{{slide.title}}
                        <span class="label label-success pull-right" ng-if="slide.type == 'test' && (slideViews[slide._id].score || slideViews[slide._id].score == 0)">
                            <b class="fontM">{{slideViews[slide._id].score || slideViews[slide._id].score == 0 ? slideViews[slide._id].score : ''}}</b>{{slideViews[slide._id].score || slideViews[slide._id].score == 0 ? ' puncte' : ''}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="course.listChapters.length > 1 || course.listChapters[0].listSubchapters.length > 1" ng-repeat="chapter in course.listChapters | orderBy:' order'" >
            <div class="chapter">
                <div class="chapter-title">
                    <div class="myProgress " ng-class="{'oneDigit': chapter.progressInPercentage < 10 || !chapter.progressInPercentage,'twoDigit': chapter.progressInPercentage < 100,'threeDigit': chapter.progressInPercentage == 100}">
                        {{chapter.progress ? chapter.progressInPercentage + '%' : 0 + '%'}}
                    </div>
                    <div round-progress
                            max="chapter.total"
                            current="chapter.progress"
                            color="#006d69"
                            bgcolor="#eaeaea"
                            radius="20"
                            stroke="4"
                            semi="false"
                            rounded="true"
                            clockwise="true"
                            responsive="false"
                            duration="500"
                            animation="easeInOutQuart" class="col-md-2 noPadding"></div>

                    <div class="text-placeholder col-md-10">{{ ($index+1) +'. ' + chapter.title}} </div>
                </div>
                <div class="chapter-subtext" convert-special conver="chapter.description" ng-bind-html="trustAsHtml(chapter.description)">
                </div>
                <div class="chapter-sub-text"></div>
            </div>
            <!-- sub-chapter -->
            <div class="sub-chapters-container" ng-repeat="subChapter in chapter.listSubchapters | orderBy:' order'">
                <div class="separator">
                    {{subChapter.title}}
                </div>
                <!-- slide -->
                <div ng-repeat="slide in subChapter.listSlides | orderBy:' order'"
                     class="entry clearfix"
                     ng-class="{'disabledChapter': slideViews[slide._id].views >= slide.retake && slide.type == 'test'}"
                     ng-click="slideViews[slide._id].views >= slide.retake && slide.type == 'test' ? null : goToSlide(slide,subChapter._id)">
                    <div class="item-text col-xs-12 clearfix noPadding">
                        <div class="item-text-container col-xs-12">
                            <div class="item-completion col-xs-1 noPadding">
                                <div class="indicator" ng-class="{'empty' : !slideViews[slide._id].views}"></div>
                            </div>
                            <div class="item-text-text col-xs-11 noPadding">{{slide.title}}
                                 <span class="label label-success pull-right" ng-if="slide.type == 'test' && (slideViews[slide._id].score || slideViews[slide._id].score == 0)">
                            <b class="fontM">{{slideViews[slide._id].score || slideViews[slide._id].score == 0 ? slideViews[slide._id].score : ''}}</b>{{slideViews[slide._id].score || slideViews[slide._id].score == 0 ? ' puncte' : ''}}
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

