<div class="col-xs-12">
    <div class="courseTitle">CUPRINS</div>
    <div class="chaptersContainer">
            <div class="btn btn-default backToCourses" ui-sref="elearning.courses" ui-sref-opts="{reload: true}">Inapoi la cursuri</div>
        <!-- chapter -->
        <div ng-if="course.listChapters.length == 1 && course.listChapters[0].listSubchapters.length == 1" class="row paddingOnlySlides">
            <v-accordion class="vAccordion--default">
                <v-pane ng-repeat="slide in course.listChapters[0].listSubchapters[0].listSlides | orderBy:' order'">
                    <v-pane-header class="col-md-12 col-sm-12 hideAccordionIcon" ng-click="slideViews[slide._id].views >= slide.retake && slide.type == 'test' ? null : goToSlide(slide,course.listChapters[0].listSubchapters[0]._id)" ng-class="{'disabledChapter': slideViews[slide._id].views >= slide.retake && slide.type == 'test' }">
                        <div class="col-md-12 noPadding">
                            <div class="item-completion col-md-1 col-sm-1 noPadding">
                                <div class="indicator" ng-class="{'empty' : !slideViews[slide._id].views}"></div>
                            </div>
                            <div class="item-text-text col-md-11 col-sm-11 fontM">{{slide.title}}
                    <span class="label label-success pull-right" ng-if="slide.type == 'test' && (slideViews[slide._id].score || slideViews[slide._id].score == 0)">
                    <b class="fontM">{{slideViews[slide._id].score || slideViews[slide._id].score == 0 ? slideViews[slide._id].score : ''}}</b>{{slideViews[slide._id].score || slideViews[slide._id].score == 0 ? ' puncte' : ''}}
                    </span>
                            </div>
                        </div>
                    </v-pane-header>
                    <v-pane-content>
                    </v-pane-content>
                </v-pane>
            </v-accordion>
        </div>
        <div ng-if="course.listChapters.length > 1 || course.listChapters[0].listSubchapters.length > 1">
        <v-accordion class="vAccordion--default" multiple>
            <v-pane ng-repeat="chapter in course.listChapters | orderBy:' order'" expanded>
                <v-pane-header>
                    <div class="container noPadding">
                        <div class="myProgress " ng-class="{'oneDigit': chapter.progressInPercentage < 10 || !chapter.progressInPercentage,'twoDigit': chapter.progressInPercentage < 100,'threeDigit': chapter.progressInPercentage == 100}">
                            {{chapter.progress ? chapter.progressInPercentage + '%' : 0 + '%'}}
                        </div>
                        <div round-progress
                             max="chapter.total"
                             current="chapter.progress"
                             color="#006d69"
                             bgcolor="#eaeaea"
                             radius="20"
                             stroke="4"
                             semi="false"
                             rounded="true"
                             clockwise="true"
                             responsive="false"
                             duration="500"
                             animation="easeInOutQuart" class="col-md-2 col-sm-2 noPadding"></div>
                        <div class="col-md-10 col-sm-10 lineHeight43 fontXXL">
                            {{ ($index+1) +'. ' + chapter.title}}
                        </div>
                    </div>
                </v-pane-header>

                <v-pane-content>
                    <div convert-special conver="chapter.description" ng-bind-html="trustAsHtml(chapter.description)">

                    </div>
                    <!-- accordions can be nested :) -->
                    <v-accordion ng-if="chapter.listSubchapters" multiple>
                        <v-pane ng-repeat="subChapter in chapter.listSubchapters | orderBy:' order'" expanded>
                            <v-pane-header class="fontL">
                                {{ subChapter.title }}
                            </v-pane-header>
                            <v-pane-content>
                                <div convert-special conver="subChapter.description" ng-bind-html="trustAsHtml(subChapter.description)">

                                </div>
                                <v-accordion ng-if="subChapter.listSlides" multiple>
                                    <v-pane ng-repeat="slide in subChapter.listSlides | orderBy:' order'">
                                        <v-pane-header class="col-md-12 col-sm-12 hideAccordionIcon" ng-click="slideViews[slide._id].views >= slide.retake && slide.type == 'test' ? null : goToSlide(slide,subChapter._id)" ng-disabled="slideViews[slide._id].views >= slide.retake && slide.type == 'test'" ng-class="{'disabledChapter': slideViews[slide._id].views >= slide.retake && slide.type == 'test'}">
                                            <div class="col-md-12 col-sm-12 noPadding">
                                                <div class="item-completion col-md-1 col-sm-1 noPadding">
                                                    <div class="indicator" ng-class="{'empty' : !slideViews[slide._id].views}"></div>
                                                </div>
                                                <div class="item-text-text col-md-11 col-sm-11 fontM">{{slide.title}}
                                                <span class="label label-success pull-right" ng-if="slide.type == 'test' && (slideViews[slide._id].score || slideViews[slide._id].score == 0)">
                                                    <b class="fontM">{{slideViews[slide._id].score || slideViews[slide._id].score == 0 ? slideViews[slide._id].score : ''}}</b>{{slideViews[slide._id].score || slideViews[slide._id].score == 0 ? ' puncte' : ''}}
                                                 </span>
                                                </div>
                                            </div>
                                        </v-pane-header>
                                        <v-pane-content>
                                        </v-pane-content>
                                    </v-pane>
                                </v-accordion>
                            </v-pane-content>
                        </v-pane>
                    </v-accordion>
                </v-pane-content>
            </v-pane>

        </v-accordion>
        </div>
    </div>
</div>

