<div class="col-xs-12">
    <div class="courseTitle">CUPRINS</div>
    <div class="chaptersContainer">
        <!-- chapter -->
        <div ng-if="course.listChapters.length == 1 && course.listChapters[0].listSubchapters.length == 1" ng-repeat="slide in course.listChapters[0].listSubchapters[0].listSlides | orderBy:' order'"
             class="entry clearfix"
             ng-class="{'disabledChapter': slideViews[slide._id].views >= slide.retake }"
             ng-click="slideViews[slide._id].views >= slide.retake ? null : goToSlide(slide,course.listChapters[0].listSubchapters[0]._id)">
            <div class="item-text col-xs-12 clearfix">
                <div class="item-text-container col-xs-12">
                    <div class="item-text-text">{{slide.title}}
                        <span class="label label-success pull-right" ng-if="slide.type == 'test'">
                            <b class="fontM">{{slideViews[slide._id].score || slideViews[slide._id].score == 0 ? slideViews[slide._id].score : ''}}</b>{{slideViews[slide._id].score || slideViews[slide._id].score == 0 ? ' puncte' : ''}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="course.listChapters.length > 1 || course.listChapters[0].listSubchapters.length > 1" ng-repeat="chapter in course.listChapters | orderBy:' order'" >
            <div class="chapter">
                <div class="chapter-title">
                    <div class="text-placeholder">{{ ($index+1) +'. ' + chapter.title}} </div>
                </div>
                <div class="chapter-subtext">
                    {{chapter.description}}
                </div>
                <div class="chapter-sub-text"></div>
            </div>
            <!-- sub-chapter -->
            <div class="sub-chapters-container" ng-repeat="subChapter in chapter.listSubchapters | orderBy:' order'">
                <div class="separator">
                    {{subChapter.title}}
                </div>
                <!-- slide -->
                <div ng-repeat="slide in subChapter.listSlides | orderBy:' order'"
                     class="entry clearfix"
                     ng-class="{'disabledChapter': slideViews[slide._id].views >= slide.retake }"
                     ng-click="slideViews[slide._id].views >= slide.retake ? null : goToSlide(slide,subChapter._id)">
                    <div class="item-text col-xs-12 clearfix">
                        <div class="item-text-container col-xs-12">
                            <div class="item-text-text">{{slide.title}}
                                <span class="label label-success pull-right" ng-if="slide.type == 'test'">
                                    {{slideViews[slide._id].score ? slideViews[slide._id].score + ' puncte' : ''}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

