<div class="col-xs-12 col-md-8 col-md-offset-2 slideWrapper">
    <div class="col-xs-12 well well-lg noGrey">
        <div class="col-xs-12 noPadding">
            <div class="btn btn-default" ng-click="backToChapter()">Inapoi la cuprins</div>
        </div>
        <div class="col-xs-12 justify padding24" ng-if="slide.type != 'test'" convert-special conver="slide.content" ng-bind-html="trustAsHtml(slide.content)">

        </div>
        <div class="col-xs-12 noPadding" ng-if="slide.type != 'test'">
            <div class="btn btn-default" ng-if="previousSlide" ng-click="goPrevious()">Pagina precedenta</div>
            <div class="btn btn-default pull-right" ng-if="nextSlide" ng-click="goNext()">Pagina urmatoare</div>
        </div>
        <div class="test-container" ng-if="slide.type == 'test'" >
            <!-- HEADER -->
            <div class="test-header clearfix" ng-if="slide.type == 'test'">
                <div class="col-xs-12 padding24" >
                    <!-- QUIZ TITLE -->
                    <div class="row">
                        <div class="quiz-title col-sm-9 col-xs-12"> {{slide.title}}</div>
                    </div>
                </div>
            </div>
            <!-- QUIZ QUESTIONS -->
            <div class="test-questions" ng-if="slide.type == 'test'">
                <div class="question-container clearfix" ng-repeat="question in slide.questions">
                    <!-- QUESTION META -->
                    <div class="question-info col-xs-2">
                        <div class="question-number">{{$index+1}}.</div>
                    </div>
                    <!-- QUESTION CONTENTS -->
                    <div class="question-contents col-xs-10">
                        <div class="question-text">{{question.text}}</div>
                        <div class="col-xs-12">
                            <label class="col-xs-12" ng-repeat="answer in question.answers">
                                <input type="checkbox" checklist-model="answersArray" checklist-value="answer._id" ng-change="checkAnswer(question._id,answer._id,checked)"> {{answer.text}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-bottom-container" ng-if="slide.type == 'test'">
                <button class="quiz-button colored centered" ng-click="submitQuiz()">TRIMITE</button>
            </div>
        </div>
    </div>
</div>