<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h3 class="modal-title">Modifica utilizator</h3>
    </div>
    <div class="modal-body">
        <div style="margin-bottom: 15px;">
            <alert ng-if="alert.text" type="{{alert.type}}" close="!alert.text">{{alert.text}}</alert>
        </div>
        <div class="form-group">
            <label>Nume:</label>
            <input type="text" class="form-control" ng-model="user.name">
        </div>
        <div class="form-group">
            <label>Tip utilizator:</label>
            <select class="form-control" ng-model="user.type" ng-options="userType for userType in userTypes"></select>
        </div>
        <div ng-show="user.type==='reprezentant'">
            <label>Utilizatori asociati:</label>
            <my-multiple-select all-objects="medics" selected-objects="selectedMedics" track-by="_id" display-by="name" output="selectedMedicsIds"></my-multiple-select>
        </div>
        <div class="form-group">
            <label>Judet:</label>
            <angular-select-autocomplete ng-model="selectedCounty" ng-options="counties" id-attr="_id" title-attr="name" on-option-select="countyWasSelected"></angular-select-autocomplete>
        </div>
        <div class="form-group">
            <label>Oras:</label>
            <angular-select-autocomplete ng-model="selectedCity" ng-options="cities" id-attr="_id" title-attr="name"></angular-select-autocomplete>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="closeModal()">Inchide</button>
        <button type="submit" class="btn btn-primary pull-right" ng-click="save()">Salveaza</button>
    </div>
</div>