<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Januvia</h3></div>
</div>
<div class="col-md-12">
    <div class="titleAndButton col-xs-12 noPadding">
        <div class="col-xs-2 noPadding">
            <h3>Utilizatori:</h3>
        </div>
        <div class="col-xs-10 noPadding">
            <button class="btn btn-primary" ng-click="addUser()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</button>
            <button class="btn btn-default" type="file" accept=".xlsx" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false">Importa din Excel</button>
            <button class="btn btn-primary pull-right" ng-csv="csv.rows" csv-header="getHeader()" filename="{{csv.filename}}">Export Januvia Users</button>
        </div>
    </div>
    <bulk-operations model="januvia_users" connected-entities="entities" delete-button items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="user in $data">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(user._id)" ng-checked="checkValue(user._id)"/>
            </td>
            <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
                {{user.name}}
            </td>
            <td data-title="'Data adaugarii'" sortable="'date_created'">
                {{user.date_created | date}}
            </td>
            <td data-title="'Tip utilizator'" sortable="'type'">
                {{user.type}}
            </td>
            <td data-title="'Oras'" filter="{ 'city.name': 'text' }" sortable="'city.name'">
                {{user.city.name}}
            </td>
            <td data-title="'Judet'" filter="{ 'city.county.name': 'text' }" sortable="'city.county.name'">
                {{user.city.county.name}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons show-toggle-button="false" show-edit-button="true" show-delete-button="true"
                                update-item="editUser(user._id)" delete-item="removeUser(user._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>