<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Januvia</h3></div>
</div>
<div class="col-md-12">
    <div class="titleAndButton">
        <div><h3>Utilizatori:</h3></div>
        <div>
            <div class="btn btn-primary" ng-click="addUser()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</div>
            <button class="btn btn-default" type="file" accept=".xlsx" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false">Importa din Excel</button>
        </div>
    </div>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="user in $data">
            <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
                {{user.name}}
            </td>
            <td data-title="'Data adaugarii'" sortable="'date_created'">
                {{user.date_created | date}}
            </td>
            <td data-title="'Tip utilizator'" sortable="'type'">
                {{user.type}}
            </td>
            <td data-title="'Oras'" filter="{ 'city.name': 'text' }" sortable="'city.name'">
                {{user.city.name}}
            </td>
            <td data-title="'Judet'" filter="{ 'city.county.name': 'text' }" sortable="'city.county.name'">
                {{user.city.county.name}}
            </td>
            <td data-title="'Actiuni'">
                <div class="btn-group">
                    <div class="btn btn-primary" ng-click="editUser(user._id)"><i class="glyphicon glyphicon-cog"></i></div>
                    <div class="btn btn-danger" ng-click="removeUser(user._id)"><i class="glyphicon glyphicon-trash"></i></div>
                </div>
            </td>
        </tr>
    </table>
</div>