<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h3 class="modal-title">Sumar campanie</h3>
    </div>
    <div class="modal-body col-md-12" style="padding: 0 0 15px 0">
        <div class="col-md-12" style="margin-bottom: 15px;">
            <alert ng-if="alert.text" type="{{alert.type}}" close="!alert.text">{{alert.text}}</alert>
        </div>
        <div class="col-md-12">
            <h4>Primele 30 de zile:</h4>
        </div>
        <div class="col-md-12" ng-if="!statistics">Se incarca...</div>
        <div class="col-md-12 noPadding" ng-if="statistics">
            <div class="col-md-12">
                <admin-widget-stats selected-stats="statistics"></admin-widget-stats>
            </div>
            <div class="col-md-12" style="margin-top: 15px">
                <a class="btn btn-primary" ng-csv="csv.rows" filename="{{csv.filename}}">Export CSV</a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="$close()">Anuleaza</button>
    </div>
</div>