<div class="container-fluid">
<div class="well">
    <div class="row">
        <div class="col-xs-5"><h3>Gestionare Produse</h3></div>
                <div class="col-xs-2 pull-right">
            <a ng-click="addProduct()" class="btn btn-info pull-right margintop20px" id="add-product"><i class="glyphicon glyphicon-plus-sign"></i> Adauga produs</a>
        </div>
    </div>
</div>
    <bulk-operations model="msd-applications" delete-button items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="prod in $data">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(prod._id)" ng-checked="checkValue(prod._id)"/>
            </td>
            <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">{{prod.name}}</td>
            <td data-title="'Description'" sortable="'description'" ng-bind-html="renderHtml(prod.description)"></td>
            <td data-title="'Therapeutic Areas'" filter="{ 'therapeutic-areasID': 'text' }">
                <li ng-repeat="therap in prod['therapeutic-areasID']">
                    {{therap.name}}
                </li>
            </td>
            <td>
                <action-buttons show-edit-button="true" show-delete-button="true"
                                delete-item="deleteProduct(prod._id)" update-item="editProduct(prod._id)"></action-buttons>
            </td>
        </tr>
    </table>

</div>