<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Gestionare carousel public</h3></div>
    <div class="col-md-3"><div class="btn btn-default pull-right" ng-click="addImage()">Adauga imagine</div></div>
</div>
<div class="col-md-12">
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="image in $data">
            <td data-title="'Titlu'" filter="{ 'title': 'text' }" sortable="'title'">
                {{image.title + (checkArticleDisabled(image)?" (article disabled)":"")}}
            </td>
            <td data-title="'Ordine'" sortable="'order_index'">
                {{image.order_index}}
            </td>
            <td data-title="'Tip'" sortable="'link_name'">
                {{linkTypeDisplay(image)}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons item-enable-property="image.enable" show-toggle-button="true" show-edit-button="true" show-delete-button="true"
                                toggle-item="toggleImageEnable(image)" update-item="editImage(image._id)" delete-item="deleteImage(image._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>