<form>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeModal()">&times;</button>
            <h3 class="modal-title">Editeaza imagine</h3>
        </div>
        <div class="col-md-12 modal-body">
            <div class="col-md-12" style="margin-bottom: 10px;">
                <alert ng-if="statusAlert.message" type="{{statusAlert.type}}" close="resetAlert()">{{statusAlert.message}}</alert>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <label for="titlu">Titlu:</label>
                    <input type="text" class="form-control" id="titlu" ng-model="toEdit.title">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label for="ordine">Ordine:</label>
                    <input type="text" class="form-control" id="ordine" ng-model="toEdit.order_index">
                </div>

    <!--Begin link type selection            -->

                <div class="form-group col-md-6">
                    <label for="linkType">Tip legatura:</label>
                    <select ng-model="toEdit.link_name" ng-options="linkName as linkNameDisplay(linkName) for linkName in linkNames"
                            class="form-control" id="linkType" style="width: 100%;">
                    </select>
                </div>
            </div>

            <div class="col-md-12" ng-show="toEdit.link_name === linkNames[0]">
                <div class="form-group col-md-12">
                    <label>Tip continut:</label>
                    <select ng-model="contentType" ng-options="contentType as contentTypeDisplay(contentType) for contentType in [1,2,3,4]"
                            ng-init="contentType=contentType||1;selectContentType(1)" ng-change="selectContentType(contentType)" class="form-control" style="width: 100%;">
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label>Continut: </label>
                    <ui-select ng-model="content.selected" theme="select2" ng-disabled="false" style="width: 100%;" id="content">
                        <ui-select-match placeholder="Selecteaza un continut">{{$select.selected.title}}</ui-select-match>
                        <ui-select-choices repeat="content in allContent | propsFilter: {title: $select.search}">
                            <div ng-bind-html="trustAsHtml((content.title | highlight: $select.search))"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-md-12" ng-show="toEdit.link_name === linkNames[1]">
                <div class="form-group col-md-12">
                    <label>Categorie:</label>
                    <select ng-model="toEdit.links.category" ng-options="category._id as category.name for category in categories"
                            class="form-control" style="width: 100%;">
                    </select>
                </div>
            </div>

            <div class="col-md-12" ng-show="toEdit.link_name === linkNames[2]">
                <div class="form-group col-md-12">
                    <label>URL:</label>
                    <input type="text" class="form-control" ng-model="toEdit.links.url">
                </div>
            </div>

    <!--End link tyoe selection        -->

            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <label for="descriere">Descriere:</label>
                    <textarea ui-tinymce ng-model="toEdit.description" id="descriere"></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false" ngf-accept="'image/*'"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca imagine</button>
                </div>
                <div class="col-md-6">
                    <a ng-if="toEdit.image_path" ng-href="{{pathAmazonDev+toEdit.image_path+'?cacheDummy='+currentDate()}}" target="_blank">
                        <img ng-src="{{defaultSlideImage}}" style="width: 50px;">&nbsp;Descarca imagine
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">Inchide</button>
            <button type="submit" class="btn btn-primary" ng-click="editImage()">Modifica</button>
        </div>
    </div>
</form>