<form>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeModal()">&times;</button>
            <h3 class="modal-title">Adauga grup</h3>
        </div>
        <div class="col-md-12 modal-body">
            <div class="col-md-12" style="margin-bottom: 15px;">
                <alert ng-if="statusAlert.newAlert" type="{{statusAlert.type}}" close="statusAlert.newAlert=false">{{statusAlert.message}}</alert>
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <div class="col-md-12 noPadding">
                    <div class="form-group col-md-6" style="padding-left: 0;">
                        <label for="nume">Nume:</label>
                        <input type="text" class="form-control" id="nume" ng-model="newGroup.display_name">
                    </div>
                    <div class="col-md-6 noPadding">
                        <div class="col-md-6 noPadding">
                            <div class="col-md-12">
                                <button class="btn btn-default" type="file" ng-file-select ng-file-change="fileSelected($files, $event)" multiple="false" accept="image/*"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca fisier</button>
                            </div>
                            <div class="col-md-12" ng-if="fileBody">
                                {{fileBody.name}}
                            </div>
                        </div>
                        <div class="col-md-6" style="padding: 0; text-align: right;">
                            <div class="col-md-12">
                                <label for="showAtSignup">Arata la signup</label>
                                <input type="checkbox" id="showAtSignup" ng-model="newGroup.show_at_signup">
                            </div>
                            <div class="col-md-12">
                                <label for="contentSpecific">Content specific</label>
                                <input type="checkbox" id="contentSpecific" ng-model="newGroup.content_specific">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 noPadding">
                    <div class="form-group col-md-6" style="padding-left: 0;">
                        <label for="descriere">Descriere:</label>
                        <input type="text" class="form-control" id="descriere" ng-model="newGroup.description">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="profesie">Profesie:</label>
                        <select id="profesie" class="form-control"
                                ng-model="newGroup.profession"
                                ng-options="profession._id as profession.display_name for profession in professions">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <my-multiple-select all-objects="users" selected-objects="selectedUsers" track-by="_id" display-by="username" output="arrayUsers"></my-multiple-select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()">Inchide</button>
            <button type="submit" class="btn btn-primary" ng-click="addGroup()">Adauga grup</button>
        </div>
    </div>
</form>