<div class="col-md-12 noPadding">
    <div class="btn btn-primary" ng-click="addTemplate()" style="margin-bottom: 15px"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga template</div>
</div>
<table ng-table="tableParams" show-filter="true" class="table table-bordered">
    <tr ng-repeat="template in $data">
        <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
            {{template.name}}
        </td>
        <td data-title="'Data crearii'" sortable="'date_created'">
            {{template.date_created | date}}
        </td>
        <td data-title="'Tip'" sortable="'type'">
            {{template.type}}
        </td>
        <td data-title="'Actiuni'">
            <action-buttons show-toggle-button="false" show-edit-button="true" show-delete-button="true"
                            update-item="editTemplate(template._id)" delete-item="removeTemplate(template._id)"></action-buttons>
        </td>
    </tr>
</table>