<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Gestionare categorii</h3></div>
    <div class="col-md-3"><div class="btn btn-default pull-right" ng-click="addCategory()">Adauga categorie</div></div>
</div>
<div class="col-md-12">
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="category in $data">
            <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
                {{category.name}}
            </td>
            <td data-title="'Actiuni'">
                <div class="btn-group">
                    <div class="btn btn-default" ng-click="editCategory(category._id)"><i class="glyphicon glyphicon-cog"></i></div>
                    <div class="btn btn-danger" ng-click="deleteCategory(category._id)"><i class="glyphicon glyphicon-trash"></i></div>
                    <div class="btn" ng-class="{'btn-primary':!category.isEnabled,'btn-danger':category.isEnabled}" ng-click="toogleCategoryEnabled(category._id, category.isEnabled)"><i class="glyphicon" ng-class="{'glyphicon-lock':category.isEnabled,'glyphicon-share':!category.isEnabled}"></i></div>
                </div>
            </td>
        </tr>
    </table>
</div>