<div class="col-md-12 elearningList">
    <div class="col-md-12 entry" ng-repeat="n in elearning | limitTo:contentLimit track by $index" ng-if="n.file_path">
        <div class="col-md-2 picture">
            <div>
                <img ng-src="{{n.image_path?pathAmazonDev+n.image_path:defaultSlideImage}}">
            </div>
        </div>
        <div class="col-md-10 details">
            <div class="col-md-12 title">
                <a ui-sref="elearning.detail({id: n._id})" convert-special to-convert="n.title" ng-bind-html="trustAsHtml(n.title)"></a>
            </div>
            <div class="col-md-12 author" convert-special to-convert="n.author" ng-bind-html='trustAsHtml("("+n.author+")")'></div>
            <div class="col-md-12 date">Adaugat la: {{n.date_added | date:'dd/MM/yyyy'}}</div>
            <div class="col-md-12 noPadding">
                <a class="btn btn-default btn-sm btnGreenBorder" ui-sref="elearning.detail({id: n._id})">Vizualizeaza</a>
            </div>
        </div>
        <div class="col-md-12 divider" ng-if="$index!=contentLimit-1 && $index!=elearning.length-1"></div>
    </div>
</div>
<div class="col-md-12 text-center" ng-style="{'display':contentLimit<elearning.length?'initial':'none'}">
    <a class="btn btn-default btnGreenBorder" ng-click="contentLimit=contentLimit+3">Mai multe</a>
</div>