<div class="col-md-12 elearningDetail">
    <div class="col-md-12 title" convert-special to-convert="elearning.title" ng-bind-html="trustAsHtml(elearning.title)"></div>
    <div class="col-md-12 author" convert-special to-convert="elearning.author" ng-bind-html='trustAsHtml("("+elearning.author+")")'></div>
    <div class="col-md-12 videoWrapper">
        <videogular vg-theme="videoConfig.theme" vg-auto-play="!isMobile()">
            <vg-media vg-src="videoConfig.sources"></vg-media>

            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>

            <vg-overlay-play></vg-overlay-play>
            <!--<vg-poster vg-url='videoConfig.plugins.poster'></vg-poster>-->
        </videogular>
    </div>
</div>
<div class="col-md-12" style="padding-top: 20px;">
    <div class="btn btn-default" ng-click="goBack()">Inapoi</div>
</div>