<div class="col-md-12 elearningLayout">
    <div class="col-md-3 categories">
        <div class="col-md-12 mainTitle">
            CATEGORII
        </div>
        <div class="col-md-12 noPadding">
            <div class="therapeuticArea" ng-repeat="area in tpa">
                {{area.parent?'':'&nbsp;&nbsp;&nbsp;&nbsp;'}}<a class="area" ui-sref="elearning.all({area: area.id})">{{area.name}}</a>
            </div>
        </div>
    </div>
    <div class="col-md-9 noPadding">
        <div ui-view></div>
    </div>
</div>