<div class="col-md-12 elearningLayout">
    <div class="col-md-3 categories">
        <div class="col-md-12 mainTitle">
            CATEGORII
        </div>
        <div class="col-md-12 noPadding">
            <div class="therapeuticArea" ng-repeat="area in tpa track by $index">
                {{area.ident?'&nbsp;&nbsp;&nbsp;&nbsp;':''}}
                <a class="area" ui-sref="elearning.all({area: $index})" convert-special to-convert="area.name" ng-bind-html="trustAsHtml(area.name)"></a>
            </div>
        </div>
    </div>
    <div class="col-md-9 noPadding">
        <div ui-view></div>
    </div>
</div>