<div class="col-sm-12 elearningLayout">
    <div class="col-sm-3 categories" ng-if="!isMobile(true)">
        <div class="col-sm-12 mainTitle">
            CATEGORII
        </div>
        <div class="col-sm-12 noPadding">
            <div class="therapeuticArea" ng-repeat="area in tpa">
                {{area.ident?'&nbsp;&nbsp;&nbsp;&nbsp;':''}}
                <a class="area" ui-sref="elearning.all({area: area._id})" convert-special to-convert="area.name" ng-bind-html="trustAsHtml(area.name)"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mobileArea" ng-if="isMobile(true)" style="margin-bottom:25px">
        <div class="col-xs-12 category">
            <div class="col-xs-12 name">BIBLIOTECA DE RESURSE</div>
        </div>
        <label>Arii terapeutice:</label>
        <select class="form-control" ng-options="area._id as (area.ident?'&nbsp;&nbsp;&nbsp;&nbsp;':'')+area.name for area in tpa"
                ng-model="selectedArea" ng-change="$state.go('elearning.all', {area: selectedArea})"></select>
    </div>
    <div class="col-sm-9 noPadding">
        <div ui-view></div>
    </div>
</div>