<div ng-controller="SpecialProductAddController">
    <div class="modal-header">
        <div class="modal-title"><h3>Adauga pagina produs</h3></div>
    </div>
    <div class="modal-body">
        <alert type="{{alert.type}}" ng-if="alert.show">{{alert.text}}</alert>
        adsdads
    </div>
    <div class="modal-footer">
        <a class="btn btn-default pull-left" ng-click="closeModal()">Inchide</a>
        <a class="btn btn-warning pull-right" ng-click="addPage()">Adauga</a>
    </div>
</div>