<div ng-controller="SpecialProductAddController">
    <div class="modal-header">
        <div class="modal-title"><h3>Adauga pagina produs</h3></div>
    </div>
    <div class="modal-body container" style="margin: 0; width: 100%">
        <alert type="{{alert.type}}" ng-if="alert.show">{{alert.text}}</alert>
        <div class="col-md-12 noPadding">
            <div class="col-md-6 noPadding">
                <div class="form-group col-md-12">
                    <label>Nume produs:</label>
                    <input class="form-control" type="text" ng-model="newProductPage.product_name">
                </div>
                <div class="col-md-12">
                    <label>Grupuri:</label>
                    <my-multiple-select all-objects="groupsAvailable" selected-objects="selectedGroups"
                                        track-by="_id" display-by="display_name" split-by="profession.display_name"
                                        output="newProductPage.groups"></my-multiple-select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>General description:</label>
                <textarea ui-tinymce="tinymceOptions" ng-model="newProductPage.general_description"></textarea>
            </div>
        </div>
        <div class="col-md-12 noPadding">
            <div class="form-group col-md-6">
                <label>Prescription:</label>
                <textarea ui-tinymce="tinymceOptions" ng-model="newProductPage.prescription"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Safety info:</label>
                <textarea ui-tinymce="tinymceOptions" ng-model="newProductPage.safety_information"></textarea>
            </div>
            <div class="col-md-12">
                <button class="btn btn-default" type="file" ng-file-select ng-file-change="fileSelected($files, $event)" multiple="false"
                        accept="image/*"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca logo</button>
                <span ng-if="fileBody">{{fileBody.name}}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default pull-left" ng-click="closeModal()">Inchide</a>
        <a class="btn btn-warning pull-right" ng-click="addPage()">Adauga</a>
    </div>
</div>