//the main objective here is to make the modal behave as a static page

//=========================== remove modal animation
.modal.fade {
  opacity: 1;
}
.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
//==================


//========================== restyle modal
.authModalNoPatients{
  background-color: #ffffff;
  .modal-content{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .btn-default{
    visibility: hidden;
    display: none;
  }
}