.fontS {
  font-size: 12px;
}
.fontM {
  font-size: 14px;
}
.fontL {
  font-size: 17px;
}
.fontXL {
  font-size: 20px;
}
.fontXXL {
  font-size: 25px;
}
.fontDefault {
  font-size: 14px;
}
.contentShadow {
  -webkit-box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
  -moz-box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
  box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
}
.horizontal-content-list {
  padding: 10px;
}
.horizontal-content-list .picture {
  padding: 0;
}
.horizontal-content-list .picture div {
  border: 5px solid #eeeeee;
  border-radius: 10px;
}
.horizontal-content-list .picture div img {
  width: 100%;
  border-radius: 5px;
}
.horizontal-content-list .details {
  padding: 5px 0 0 15px;
}
.horizontal-content-list .details .title {
  padding: 0;
  cursor: pointer;
  margin-bottom: 10px;
}
.horizontal-content-list .details .title a {
  color: #01877b;
  font-size: 17px;
  font-weight: bold;
}
.horizontal-content-list .details .excerpt {
  padding: 0;
  margin-bottom: 15px;
}
.horizontal-content-list .details .excerpt img {
  visibility: hidden;
  display: none;
}
.horizontal-content-list .details .boldAttr {
  font-size: 12px;
  font-weight: bold;
  padding: 0;
}
.horizontal-content-list .details .footer {
  padding: 0;
}
.horizontal-content-list .details .footer .date {
  font-size: 12px;
  float: left;
}
.horizontal-content-list .details .footer .readMore {
  float: right;
}
.horizontal-content-list .divider {
  border-bottom: 1px solid #eeeeee;
  padding: 0;
  margin: 15px 20%;
  width: 60%;
}
.horizontal-content-list.withBackground {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
.horizontal-content-list.dropShadow {
  -webkit-box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
  -moz-box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
  box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
}
