<div class="col-xs-12 horizontal-content-list" ng-class="{'withBackground': withBackground, 'dropShadow': dropShadow, 'showDivider': showDivider}" ng-if="content">
    <div class="picture" ng-class="smallerPicture?'col-sm-2':'col-sm-3'">
        <div>
            <img ng-src="{{content[imagePathAttr]?imagePathPrefix+content[imagePathAttr]:defaultImagePath}}">
        </div>
    </div>
    <div class="details" ng-class="smallerPicture?'col-sm-10':'col-sm-9'">
        <div class="col-sm-12 title"><a ng-click="navigate(content)" ng-bind-html="trustAsHtml(content[titleAttr])"></a></div>
        <div class="col-sm-12 excerpt" ng-bind-html="trustAsHtml(createHeader(content[textAttr], 300) + safetyPadding)"></div>
        <div class="col-sm-12 boldAttr" ng-bind-html="trustAsHtml(content[boldAttr1])"></div>
        <div class="col-sm-12 boldAttr" ng-bind-html="trustAsHtml(content[boldAttr2])"></div>
        <div class="col-sm-12 boldAttr" ng-bind-html="trustAsHtml(boldAttrHardcoded)"></div>
        <div class="col-sm-12 date">{{content[dateAttr] | date:'dd/MM/yyyy'}}</div>
    </div>
    <div class="readMore"><a class="btn btn-default" ng-click="navigate(content)">{{buttonLabel}}</a></div>
</div>