<div class="timelineBody">
    <div class="gridMiddle">
        <div class="todayBox">
            <div class="dateShow">{{dayDisplay(today)+"."+monthDisplay(today)}}</div>
            <div class="arrowDown"></div>
            <div class="lineDown" ng-style="{'display':hideTodayBoxLine?'none':'initial'}"></div>
        </div>
        <div class="event" ng-repeat="event in events track by $index"
             ng-style="{'left': (event.positionOffset * dayWidth) + 'px'}"
             ng-class="{'isBelow': event.isBelow}">
            <div class="eventLine"></div>
            <div class="day" popover="{{event[nameAttr]}}" popover-trigger="mouseenter" popover-placement="top">
                {{dayDisplay(toDate(event[dateAttr]))}}
            </div>
        </div>
        <div class="grid" ng-repeat="grid in timeGrid"
             ng-style="{'left': (grid.offset * dayWidth) + 'px', 'width': dayWidth + 'px'}"
             ng-class="{'contrastColor': grid.contrastColor, 'firstDay': grid.data}">
            {{grid.data}}
        </div>
    </div>
</div>