<div class="modal-header">
    <h3 class="user-name">Date de contact</h3>
</div>

<div class="modal-body" style="min-height:265px;">
    <p><strong>Merck Sharp & Dohme Romania SRL</strong></p>

    <p>Şoseaua Bucureşti - Ploieşti, Nr. 1 A, Bucureşti Business Park, Clădirea C, Etaj 3,</p>

    <p>Sector 1, Bucureşti</p>

    <p><strong>Telefon:</strong> +4(0) 021 529 29 00</p>

    <p><strong>Fax:</strong> +4 (0) 21 318.52.36</p>

    <p style="margin-top: 30px"><i class="glyphicon glyphicon-info-sign"></i> Mesaje referitoare la reacţii adverse, reclamaţii, calitate informaţii medicale:</p>

    <p><strong>E-mail:</strong> dpoc.romania@merck.com</p>

    <p><strong>Telefon:</strong> 021 529 29 00</p>

    <p style="margin-top: 30px"><i class="glyphicon glyphicon-info-sign"></i> Alte solicitări de exemplu disponibilitatea produselor MSD</p>

    <p><strong>Telefon:</strong> 021 529 29 00</p>
</div>

<div class="modal-footer">
    <a class="btn btn-default float-left" ng-click="$close()">Închide</a>
</div>