<div class="modal-content col-md-12 noPadding">
    <div class="modal-header col-md-12">
        <h4>P&#259;r&#259;sire site Staywell</h4>
    </div>

    <div class="modal-body col-md-12">
        <div class="col-md-12 noPadding">
            <alert ng-if="modalAlert.show" type="{{modalAlert.type}}" close="modalAlert.show=false">{{modalAlert.message}}</alert>
        </div>
        <div class="col-md-12 noPadding">
            Aten&#355;ie! Acum p&#259;r&#259;si&#355;i platforma MSD Romania. MSD Romania nu face declara&#355;ii sau garan&#355;ii cu privire la nicio alt&#259; platform&#259; pe care o pute&#355;i accesa prin Staywell.ro.
        </div>
    </div>

    <div class="modal-footer col-md-12">
        <a class="btn btn-default pull-left" ng-click="closeModal()">Anuleaz&#259;</a>
        <a class="btn btn-primary pull-right" href="{{medicalCoursesUrl}}" ng-click="closeModal()" target="_blank">Continu&#259;</a>
    </div>
</div>