<div class="modal-header">
    <h4 class="equalMarginModalTitle">{{presentation.description}}</h4>
</div>

<div class="modal-body col-md-12">
    <div buffering class="col-md-12" ng-bind-html="trustAsHtml(presentation.article_content)">
    </div>
    <div class="col-md-12">
        <input type="checkbox" name="rememberOption" ng-checked="true" ng-change="changeStatus()" ng-model="rememberOption">
        <label>Aratati data viitoare?</label>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default float-left" ng-click="closeModal()">Inchide</button>
</div>