<div class="modal-header">
    <h4>{{presentation.description}}</h4>
</div>

<div class="modal-body col-md-12">
    <div class="col-md-12" ng-bind-html="trustAsHtml(presentation.article_content)">
    </div>
    <div class="col-md-12">
        <input type="checkbox" name="rememberOption" ng-change="changeStatus()" ng-model="showNextTime">
        <label>Ar&#259;ta&#355;i data viitoare?</label>
    </div>
</div>

<div class="modal-footer">
    <a class="btn btn-default float-left" ng-click="closeModal()">&#206;nchide</a>
</div>