@import "variables.less";

.articlesStyles{
  .articleBox{
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    border: 1px solid @articleBorder;
    border-radius: 3px;
    background-color: @articleBG;
    .displayImage{
      padding: 0;
      img{
        width: 205px;
      }
    }
    .title{
      font-size: 17px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .trimmedArticle{
      padding-bottom: 10px;
    }
    .author{
      font-weight: bold;
    }
    .lastUpdate{

    }
  }
  .articleDetail{
    .title{
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid lightgray;
    }
    .articleContent{
      img{
        width: 300px;
        padding-right: 15px;
        padding-bottom: 15px;
      }
    }
  }
  .stretchHorizontal{
    padding-left: 0px;
    padding-right: 0px;
  }
  .paddingTop10{
    padding-top: 10px;
  }
}
.noPadding{
  padding:0;
}
.homeStyles{
  .container-fluid{
    padding: 0 15px 0 0;
    .well{
      .title{
        font-size: 14px;
        font-weight: bold;
        color: @articleSmallTitle;
      }
      .header{
        font-size: 14px;
      }
      .readMore{
        font-size: 13px;
        color: @articleLink;
      }
      .day{
        font-size: 30px;
      }
    }
  }
}
.therapeuticAreas{
  li{
    cursor: pointer;
  }
}
#footer {
  background: #009D97;
  padding: 5px 0;
  width: 100%;
  clear:both;
}
ul.products li {
  display: inline-block !important;
  vertical-align: top;
  margin: 0 20px;
  float: inherit !important;
  *display: inline;
  *zoom: 1;
}
.col-xs-special{
  margin-left: 3%;
}
.list li::selection{
  background-color: #3ADF00;
}
.rotate0 {-webkit-transform: rotate(0deg); transform: rotate(0deg); }
.rotate90 {-webkit-transform: rotate(90deg); transform: rotate(90deg); }
.rotate180 {-webkit-transform: rotate(180deg); transform: rotate(180deg); }
.rotate270 {-webkit-transform: rotate(270deg); transform: rotate(270deg); }
.growl{top:auto !important;}
.margintop20px{margin-top:20px !important; }
.marginbottom0{margin-bottom: 0px;}
.specialSublist{list-style: none;display: inline;}
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.img-carousel
{
  width:30%;
  margin-top: -5%;

}
.my-carousel-caption{
  margin-bottom: -2% !important;
  right: 45% !important;
}
.wrapping-div{
  margin-left: -20%;
  height: 150px;
  width:140%;
  overflow: hidden;
  margin-bottom: 25px;
}
.carousel-indicators{
  left: 69%;
}
.carousel-indicators .active{
  background-color: orange !important;
}
.carousel-indicators li{
  border-radius: 0px !important;
}
.container-fluid{
  margin-left: 12% !important;
  margin-right: 12% !important;
}
.my-img-thumbnail{
  border-radius: 10px !important;
}
.justified{
  text-align: justify;
  word-spacing:-2px;
}
.readMore{
  vertical-align: bottom;
}
.readMoreEye{
  position:absolute;
  bottom:0px;
  left:0px;
}
.paddingLeft{
  padding-left: 18px;
}
.margintop5px{
  margin-top: 5px;
}
.hrNewColor{
  border-color: #333333;
}
.MerckAlign{
  text-align: center;
}
.MerckContentAlign{
  text-align: justify;
}
@media(max-width: 1025px) {
  h1 {
    font-size: 26px;
  }
  h4 {
    font-size: 14px;
  }
  .carousel-caption{
    left: 23% !important;
  }
}
@media(max-width: 1025px) {
  body {
    font-size: 11px;
  }
  .newsClass{
    float:left !important;
    height: 240px !important;
  }
  .paddingLeft {
    padding-left: 0px;
  }
  .smallScreen{
    margin-top: -5%;
  }
  .MerckSmall{
    margin-top: -8%;
  }
  .noPadd{
    padding: 0 !important;
  }
  .calendar-style{
    margin-top: -55% !important;height: 60px !important;float: left;border-left: 1px solid black;
    margin-left: 3% !important;}
}

.link-footer{
  color:white !important;
  cursor:hand ;
}

.calendar-style{
  margin-top:-40%;height: 60px;float: left;border-left: 1px solid black;margin-left: 15%
}

.customFloatLeft{
  float:left;
}

.newsClass{
  float:left;
  height: 350px;
}
.container-fluid-carousel{
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}