@import "variables.less";

.articlesStyles{
  .articleBox{
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
//    .displayImage{
//      padding: 0;
//      img{
//        width: 205px;
//      }
//    }
    .title{
      font-size: 17px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .trimmedArticle{
      padding-bottom: 10px;
    }
    .author{
      font-weight: bold;
    }
    .lastUpdate{

    }
  }
  .articleDetail{
    .title{
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid lightgray;
    }
    .articleContent{
      img{
        width: 300px;
        padding-right: 15px;
        padding-bottom: 15px;
      }
    }
  }
  .stretchHorizontal{
    padding-left: 0px;
    padding-right: 0px;
  }
  .paddingTop10{
    padding-top: 10px;
  }
}
.noPadding{
  padding:0;
}
.homeStyles{
  .container-fluid{
    padding: 0 15px 0 0;
    .well{
      .title{
        font-size: 14px;
        font-weight: bold;
        color: @articleSmallTitle;
      }
      .header{
        font-size: 14px;
      }
      .readMore{
        font-size: 13px;
        color: @articleLink;
      }
      .day{
        font-size: 30px;
      }
    }
  }
}
.therapeuticAreas{
  li{
    cursor: pointer;
  }
}
#footer {
  background: #009d97;
  padding: 5px 0;
  width: 100%;
  clear: both;
  height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
}
ul.products li {
  display: inline-block !important;
  vertical-align: top;
  margin: 0 20px;
  float: inherit !important;
  *display: inline;
  *zoom: 1;
}
.col-xs-special{
  margin-left: 3%;
}
.list li::selection{
  background-color: #3ADF00;
}
.rotate0 {-webkit-transform: rotate(0deg); transform: rotate(0deg); }
.rotate90 {-webkit-transform: rotate(90deg); transform: rotate(90deg); }
.rotate180 {-webkit-transform: rotate(180deg); transform: rotate(180deg); }
.rotate270 {-webkit-transform: rotate(270deg); transform: rotate(270deg); }
.growl{top:auto !important;}
.margintop20px{margin-top:20px !important; }
.marginbottom0{margin-bottom: 0px;}
.specialSublist{list-style: none;display: inline;}


.wrapping-div{
  margin-left: -20%;
  height: 150px;
  width:140%;
  overflow: hidden;
  margin-bottom: 25px;
}

.profile-drop{
  min-width: 0% !important;
  background-color: rgba(255,255,255,0.6) !important;
}

.container-fluid{
  margin-left: 8%;
  margin-right: 8%;
}
.my-img-thumbnail{
  border-radius: 10px !important;
}
.justified{
  text-align: justify;
  word-spacing:-2px;
}
.readMore{
  vertical-align: bottom;
}
.readMoreEye{
  position:absolute;
  bottom:-8%;
  left:0px;
}

.btn-more-news{
  background-color: transparent;
  color: black;
}
.dayFont{
  font-size: 20px;
}
.monthFont{
  font-size: 12px;
}
.newBlue{
  color: #1c9893;
}
.no-border{
  border: 0px solid #ddd !important;
}
.paddingLeft{
  padding-left: 18px;
}
.margintop5px{
  margin-top: 5px;
}
.hrNewColor{
  border-color: #333333;
}
.MerckAlign{
  text-align: center;
}
.MerckContentAlign{
  text-align: justify;
}

.col-Left{
  margin-left: -7%;
}

@media(min-width: 1367px){
  .newsClass {
    float: left;
    height: 310px !important;
  }
}

@media(max-width: 1366.5px){
  .noPadd{
    padding: 0 !important;
  }
  .smallScreen{
    margin-top: 0%;
  }
  .MerckSmall {
    margin-top: 0%;
  }
  .container-fluid{
    margin-left: 6%;
    margin-right: 6%;
  }
  .newsClass {
    float: left;
    height: 310px;
  }

}

@media (min-width: 1025px) and (max-width: 1365px) {
  .calendar-style{
    height: 60px !important;float: left;border-left: 1px solid #D9D7D7;
  }
  .newsClass {
    float: left;
    height: 315px !important;
  }
}

@media (max-width: 1025px) {
  .col-Left{
    margin-left: -7%;
  }
  .leftBorder{
    border-left: 2px solid #D9D7D7;
  }
  h1 {
    font-size: 26px;
  }
  h4 {
    font-size: 14px;
  }
  body {
    font-size: 11px;
  }
  .newsClass{
    float:left !important;
    height: 240px !important;
  }
  .paddingLeft {
    padding-left: 0px;
  }
  .smallScreen{
    margin-top: 0%;
  }
  .MerckSmall{
    margin-top: 0%;
  }
  .noPadd{
    padding: 0 !important;
  }
  .calendar-style{
    height: 60px !important;float: left;border-left: 1px solid #D9D7D7;
    }
  .container-fluid{
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
}

@media(max-width: 768px){
  .container-fluid {
    margin-left: -5% !important;
    margin-right: -5% !important;
  }

  .newsClass{
    float:left !important;
    height: auto !important;
  }

  .rightBorder{
    border-right: 0px !important;
  }

  .leftBorder{
    border-left: 0px !important;
  }

  .calendar-style{
    display: none;
  }
  .hrNewColor{
    display: none;
  }
  .wrapping-div {
    margin-left: -20%;
    height: 150px;
    width: 145%;
    overflow: hidden;
    margin-bottom: 25px;
  }
  .hiddenSearch{
    width: 33%;
    float: right;
    margin-top: 1%;
  }
  .merckTitle{
    font-size: 14px !important;
  }
}

.articleEye{
  color: #1c9893;
  background-color: transparent;
}

.img-back{
  background-color: #ddd;
}

.padd35px{
  padding-left: 35px;
}

.specialGlyph{
  position: absolute;
  right: 0px;
  padding: 10px 10px;
  color: black;
}

.add-on .input-group-btn > .btn {
  border-left-width:0px;
  left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.view-container {
  min-height:100%;
  position:relative;
}




.my-form-control{
  border-radius: 0% !important;
  height: 28px !important;
}





.well{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.marginELearn{
  margin-left: -3%;
}

.textBlue{
  color:#009d97;
}



.well{
  background-color: transparent;
   border: hidden;
}

.link-footer{
  color:white !important;
  cursor:hand ;
}

.calendar-style{
  height: 60px;float: left;border-left: 1px solid #D9D7D7;margin-left: 15%
}

.customFloatLeft{
  float:left;
}

.rightBorder{
  border-right: 1px solid #D9D7D7;
}

.leftBorder{
  border-left: 1px solid #D9D7D7;
}

.newsClass{
  float:left;
  height: 286px;
}

//========================================================================================================== SEARCH BOX
.userAndSearch{
  position: absolute;
  right: 30px;
  top: 10px;
  width: 330px;
  .dropdown{
    float: right;
    padding-right: 10px;
    .btn{
      border-radius: 0;
    }
  }
  .mySearch{
    float: right;
    input{
      border-radius: 0;
    }
    .input-group-addon{
      border-radius: 0;
    }
  }
  @media(max-width: 991px){
    display: none;
  }
}

//============================================================================================================ CAROUSEL
.carousel-container{
  margin-bottom: 1%;
  overflow-x: hidden;
  position: relative;
  .unselectable;

  .main-carousel {
    width: 75%;
    margin: 0 auto;
    overflow: visible!important;
    .carouselSlide{
      height: 100%;
      position: relative;
      .carousel-title{
        z-index: 1001;
        position: absolute;
        color: white;
        bottom: 10px;
        left: 3%;
        cursor: pointer;
      }
      .imageCover{
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0);
      }
      .imageWrapper{
        z-index: 999;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
          width: 98%;
        }
      }
    }
  }

  .carousel-controll {
    position: absolute;
    right: 17%;
    bottom: 10px;
    .carousel-controll-element {
      float: left;
      margin: 5px;
      width: 10px;
      height: 10px;
      background-color: white;
      cursor: pointer;
      &:hover {
        outline: 2px solid white;
      }
      &.selected {
        background-color: orange;
      }
    }
  }
}

//============================================================================================================== NAVBAR
.navbar-fixed-top {
  height: 70px;
  padding-top: 10px;
  background-color: #ffffff;
  border-color: #ffffff;
  .navbar-brand{
    padding: 5px 15px;
  }
  .specialGroupDropdown{
    padding: 5px 15px;
    img{
      height: 35px;
    }
  }
  .navbar-nav>.active>a{
    background-color: #ffffff;
    color: #000000;
    &:hover{
      background-color: #ffffff;
      color: #000000;
    }
    &:focus{
      background-color: #ffffff;
      color: #000000;
    }
  }
  .navbar-nav>.open>a{
    background-color: #ffffff;
    color: #000000;
    &:hover{
      background-color: #ffffff;
      color: #000000;
    }
    &:focus{
      background-color: #ffffff;
      color: #000000;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-collapse.collapse.in {
      display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
      display:block !important;
    }
    .navbar-header {
      float:none;
    }
    .container-fluid{
      margin-left: 1% !important;
      margin-right: 1% !important;
    }
    .hiddenSearch{
      width: 33%;
      float: right;
      margin-top: 1%;
    }
  }
}

//======================================================================================================= USEFUL STYLES
.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}