@import "variables.less";

.articlesStyles{
  .articleBox{
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    border: 1px solid @articleBorder;
    border-radius: 3px;
    background-color: @articleBG;
    .displayImage{
      padding: 0;
      img{
        width: 170px;
      }
    }
    .title{
      font-size: 17px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .trimmedArticle{
      padding-bottom: 10px;
    }
    .author{
      font-weight: bold;
    }
    .lastUpdate{

    }
  }
}