.main-view-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  padding-bottom: 50px;
}
.articlesStyles .articleBox {
  padding: 5px 5px 5px 5px;
  margin-bottom: 15px;
}
.articlesStyles .articleBox .title {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}
.articlesStyles .articleBox .trimmedArticle {
  padding-bottom: 10px;
}
.articlesStyles .articleBox .author {
  font-weight: bold;
}
.articlesStyles .articleDetail .title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}
.articlesStyles .articleDetail .articleContent img {
  width: 300px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.articlesStyles .stretchHorizontal {
  padding-left: 0px;
  padding-right: 0px;
}
.articlesStyles .paddingTop10 {
  padding-top: 10px;
}
.therapeuticAreas li {
  cursor: pointer;
}
ul.products li {
  display: inline-block !important;
  vertical-align: top;
  margin: 0 20px;
  float: inherit !important;
  *display: inline;
  *zoom: 1;
}
.col-xs-special {
  margin-left: 3%;
}
.list li::selection {
  background-color: #3ADF00;
}
.specialSublist {
  list-style: none;
  display: inline;
}
.wrapping-div {
  margin-left: -20%;
  height: 150px;
  width: 140%;
  overflow: hidden;
  margin-bottom: 25px;
}
.profile-drop {
  min-width: 0% !important;
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.container-fluid {
  margin-left: 8%;
  margin-right: 8%;
}
.my-img-thumbnail {
  border-radius: 5px !important;
}
.btn-more-news {
  background-color: transparent;
  color: black;
}
.monthFont {
  font-size: 12px;
}
.no-border {
  border: 0px solid #ddd !important;
}
.margintop5px {
  margin-top: 5px;
}
.hrNewColor {
  border-color: #333333;
}
.MerckContentAlign {
  text-align: justify;
}
@media (min-width: 1367px) {
  .newsClass {
    float: left;
    height: 310px !important;
  }
}
@media (max-width: 1366.5px) {
  .container-fluid {
    margin-left: 6%;
    margin-right: 6%;
  }
  .newsClass {
    float: left;
    height: 310px;
  }
}
@media (min-width: 1025px) and (max-width: 1365px) {
  .newsClass {
    float: left;
    height: 315px !important;
  }
}
@media (max-width: 1025px) {
  .leftBorder {
    border-left: 2px solid #d9d7d7;
  }
  h1 {
    font-size: 26px;
  }
  h4 {
    font-size: 14px;
  }
  body {
    font-size: 11px;
  }
  .newsClass {
    float: left !important;
    height: 240px !important;
  }
  .paddingLeft {
    padding-left: 0px;
  }
  .container-fluid {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
}
@media (max-width: 768px) {
  .container-fluid {
    margin-left: -5% !important;
    margin-right: -5% !important;
  }
  .newsClass {
    float: left !important;
    height: auto !important;
  }
  .rightBorder {
    border-right: 0px !important;
  }
  .leftBorder {
    border-left: 0px !important;
  }
  .hrNewColor {
    display: none;
  }
  .wrapping-div {
    margin-left: -20%;
    height: 150px;
    width: 145%;
    overflow: hidden;
    margin-bottom: 25px;
  }
  .hiddenSearch {
    width: 33%;
    float: right;
    margin-top: 1%;
  }
}
.articleEye {
  color: #1c9893;
  background-color: transparent;
}
.img-back {
  background-color: #ddd;
}
.padd35px {
  padding-left: 45px;
}
.specialGlyph {
  position: absolute;
  right: 0px;
  padding: 10px 10px;
  color: black;
}
.my-form-control {
  border-radius: 0% !important;
  height: 28px !important;
}
.link-footer {
  color: white !important;
  cursor: hand ;
}
.rightBorder {
  border-right: 1px solid #000000;
}
.leftBorder {
  border-left: 1px solid #000000;
}
.newsClass {
  float: left;
  height: 286px;
}
.homeStyles {
  height: 100%;
  padding: 0 0 50px 0;
}
.homeStyles .eventDisplay {
  padding: 0 0 30px 0;
}
.homeStyles .eventDisplay .date {
  border-right: 0px solid #aaaaaa;
}
.homeStyles .eventDisplay .date .day {
  font-size: 20px;
}
.homeStyles .eventDisplay .date .month {
  margin-top: -5px;
}
.homeStyles .leftColumn:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-right: 1px solid #000000;
}
.homeStyles .midColumn:before {
  position: absolute;
  content: '';
  top: 0;
  left: -1px;
  width: 0;
  height: 100%;
}
.homeStyles .midColumn:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
}
.homeStyles .rightColumn:before {
  position: absolute;
  content: '';
  top: 0;
  left: -1px;
  width: 0;
  height: 100%;
  border-left: 1px solid #000000;
}
.userAndSearch {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 330px;
}
.userAndSearch .dropdown {
  float: right;
  padding-right: 10px;
}
.userAndSearch .dropdown .btn {
  border-radius: 0;
}
.userAndSearch .mySearch {
  float: right;
}
.userAndSearch .mySearch input {
  border-radius: 0;
}
.userAndSearch .mySearch .input-group-addon {
  border-radius: 0;
}
@media (max-width: 991px) {
  .userAndSearch {
    display: none;
  }
}
.carousel-container {
  margin-bottom: 1%;
  overflow-x: hidden;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel-container .main-carousel {
  width: 75%;
  margin: 0 auto;
  overflow: visible!important;
}
.carousel-container .main-carousel .carouselSlide {
  height: 100%;
  position: relative;
}
.carousel-container .main-carousel .carouselSlide .carousel-title {
  z-index: 1001;
  position: absolute;
  color: white;
  bottom: 10px;
  left: 3%;
  cursor: pointer;
}
.carousel-container .main-carousel .carouselSlide .imageCover {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-container .main-carousel .carouselSlide .imageWrapper {
  z-index: 999;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carousel-container .main-carousel .carouselSlide .imageWrapper img {
  width: 98%;
}
.carousel-container .carousel-controll {
  position: absolute;
  right: 17%;
  bottom: 10px;
}
.carousel-container .carousel-controll .carousel-controll-element {
  float: left;
  margin: 5px;
  width: 10px;
  height: 10px;
  background-color: white;
  cursor: pointer;
}
.carousel-container .carousel-controll .carousel-controll-element:hover {
  outline: 2px solid white;
}
.carousel-container .carousel-controll .carousel-controll-element.selected {
  background-color: orange;
}
.navbar-fixed-top {
  height: 70px;
  padding-top: 10px;
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-fixed-top .container {
  padding: 0 47px;
  width: 100%;
}
.navbar-fixed-top .navbar-brand {
  padding: 5px 10px;
}
.navbar-fixed-top .specialGroupDropdown {
  padding: 5px 15px;
}
.navbar-fixed-top .specialGroupDropdown img {
  height: 35px;
}
.navbar-fixed-top .navbar-nav > .active > a {
  background-color: #ffffff;
  color: #000000;
}
.navbar-fixed-top .navbar-nav > .active > a:hover {
  background-color: #ffffff;
  color: #000000;
}
.navbar-fixed-top .navbar-nav > .active > a:focus {
  background-color: #ffffff;
  color: #000000;
}
.navbar-fixed-top .navbar-nav > .open > a {
  background-color: #ffffff;
  color: #000000;
}
.navbar-fixed-top .navbar-nav > .open > a:hover {
  background-color: #ffffff;
  color: #000000;
}
.navbar-fixed-top .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #000000;
}
.navbar-fixed-top .navbar-collapse {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
}
@media (max-width: 991px) {
  .navbar-fixed-top .navbar-collapse {
    border: 1px solid #eeeeee;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-fixed-top .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-fixed-top .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-fixed-top .navbar-header .collapse,
  .navbar-fixed-top .navbar-toggle {
    display: block !important;
  }
  .navbar-fixed-top .navbar-header {
    float: none;
  }
  .navbar-fixed-top .container-fluid {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
  .navbar-fixed-top .hiddenSearch {
    width: 33%;
    float: right;
    margin-top: 1%;
  }
}
#footer {
  background: #009d97;
  padding: 5px 0;
  width: 100%;
  clear: both;
  height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rotate0 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rotate90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.growl {
  top: auto !important;
}
.margintop20px {
  margin-top: 20px !important;
}
.marginbottom0 {
  margin-bottom: 0px;
}
.noPadding {
  padding: 0;
}
.MSDgreen {
  color: #1c9893;
}
.MSDgreenDarker {
  color: #009d97;
}
.gray {
  color: #aaaaaa;
}
.justified {
  text-align: justify;
}
.myMenu {
  border-radius: 6px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.myMenu a:hover {
  border-radius: 3px !important;
  background-color: #009d97 !important;
}
.myMenu a::selection {
  border-radius: 3px !important;
  background-color: #009d97 !important;
}
.myListItem {
  padding-left: 20px !important ;
  padding-right: 5px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  min-width: 180px !important;
}
.rightPosition {
  float: right !important;
}
.myListItem2 {
  padding-left: 20px !important ;
  padding-right: 5px !important;
}
.white {
  color: white;
  top: 3px;
}
.navbar-fixed-top .navbar-nav > .active > a {
  color: #008780;
  font-weight: bold;
  background-color: #ffffff;
}
.navbar-fixed-top .navbar-nav > .active > a:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 0px;
  border: 3px solid #bbbbbb;
  border-radius: 5px;
  left: 30%;
  top: 40px;
}
.img-multimedia {
  border: 5px solid #ddd;
}
.top10 {
  margin-top: 13%;
}
.handCursor {
  cursor: pointer;
}
.date {
  margin-top: 0%;
}
.MSDdark {
  color: #000000;
}
.greyBackground {
  background-color: #F0F0F0;
}
.greyColor {
  color: #F0F0F0;
}
.myMenu i:hover {
  color: #ffffff;
}
.bottomBorder {
  border-bottom: 1px solid #009d97;
}
.date2 {
  margin-top: -5%;
}
.date3 {
  margin-top: -2%;
}
.searchLeftBorder {
  border-left: 2px solid #1c9893;
}
.searchArticle {
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
  padding: 5px;
  background: #f9f9f9;
  border: 1px solid rgba(51, 51, 51, 0.2);
  -webkit-box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
  -moz-box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
  box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btnSearhTop {
  margin-top: 5%;
}
.btnArticleSearch {
  margin-top: 5%;
}
.btnMultimediaSearch {
  margin-top: 7%;
}
.homeSearchPreview {
  margin-top: 3% ;
  margin-left: 3%;
}
.leftPosition {
  float: left !important;
}
.navbar-border {
  border-bottom: 1px solid #ccc;
}
.autoOver {
  overflow: auto;
}
.hiddenSearch {
  width: 33%;
  float: right;
  margin-top: 1%;
}
.leftMargin {
  margin-left: 20px;
}
.modal-open {
  overflow-y: scroll;
  overflow-x: hidden;
}
.nameMedic {
  padding-top: 0.8%;
}
