.articlesStyles .articleBox {
  padding: 5px 5px 5px 5px;
  margin-bottom: 15px;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  background-color: #dbe0ff;
}
.articlesStyles .articleBox .displayImage {
  padding: 0;
}
.articlesStyles .articleBox .displayImage img {
  width: 205px;
}
.articlesStyles .articleBox .title {
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}
.articlesStyles .articleBox .trimmedArticle {
  padding-bottom: 10px;
}
.articlesStyles .articleBox .author {
  font-weight: bold;
}
.articlesStyles .articleDetail .title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}
.articlesStyles .articleDetail .articleContent img {
  width: 300px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.articlesStyles .stretchHorizontal {
  padding-left: 0px;
  padding-right: 0px;
}
.articlesStyles .paddingTop10 {
  padding-top: 10px;
}
.noPadding {
  padding: 0;
}
.homeStyles .wellContainer {
  padding: 0 15px 0 0;
}
.homeStyles .wellContainer .well .title {
  font-size: 14px;
  font-weight: bold;
  color: #0000ff;
}
.homeStyles .wellContainer .well .header {
  font-size: 14px;
}
.homeStyles .wellContainer .well .readMore {
  font-size: 13px;
  color: #0000ff;
}
.homeStyles .wellContainer .well .day {
  font-size: 30px;
}
.therapeuticAreas li {
  cursor: pointer;
}
#footer {
  background: #da288c;
  padding: 5px 0;
  width: 100%;
  margin-top:865px;
}
ul.products li {
  display: inline-block !important;
  vertical-align: top;
  margin: 0 20px;
  float: inherit !important;
  *display: inline;
  *zoom: 1;
}
.col-xs-special{
  margin-left: 3%;
}