<div class="col-xs-12 well articleDetail">
    <div class="col-xs-12 title stretchHorizontal">
        {{currentArticle.title}}
    </div>
    <div class="col-xs-12 stretchHorizontal paddingTop10">
        <div class="col-xs-9 stretchHorizontal author">
            {{currentArticle.author}}
        </div>
        <div class="col-xs-3 stretchHorizontal text-right date">
            <div class="label label-default">{{date}}</div>
        </div>
    </div>
    <div class="col-xs-12 articleContent stretchHorizontal paddingTop10">
        <img class="pull-left" ng-src="{{image}}"/>
        <div ng-bind-html="articleContent"></div>
    </div>
    <div class="col-xs-12"></div>
    <div class="col-xs-12"></div>
</div>