<div class="col-md-12 well articleDetail">
    <div class="col-md-12 title stretchHorizontal">
        {{currentArticle.title}}
    </div>
    <div class="col-md-12 stretchHorizontal paddingTop10">
        <div class="col-md-9 stretchHorizontal author" convert-special conver="currentArticle.author" ng-bind-html="trustAsHtml(currentArticle.author)">
        </div>
        <div class="col-md-3 stretchHorizontal text-right date">
            <div class="label label-default">{{date}}</div>
        </div>
    </div>
    <div class="col-md-12 articleContent stretchHorizontal paddingTop10">
        <div convert-special conver="currentArticle.text" ng-bind-html="trustAsHtml(currentArticle.text)"></div>
    </div>
    <div class="btn btn-default" style="margin-top: 20px" ng-click="backToArticles()">{{$stateParams.searchTerm?'&#206;napoi la rezultate':'&#206;napoi la articole'}}</div>
    <div class="col-md-12"></div>
</div>