<div ng-repeat="cont in content | limitTo: lmt">
    <div class="col-xs-12 articleBox">
        <div class="col-xs-3 displayImage">
            <img class="img-thumbnail img-responsive img-back" ng-src="{{imagePre+cont.image_path}}"/>
        </div>
        <div class="col-xs-9">
            <div class="col-xs-12 title MSDgreenDarker handCursor" ui-sref="{{sr}}">{{cont.title}}</div>
            <div class="col-xs-12 trimmedArticle">{{createHeader(cont.text,250)}}</div>
            <div class="col-xs-12 author">{{cont.author}}</div>
            <div class="col-xs-12 lastUpdate">{{cont.last_updated | date: 'dd/MM/yyyy'}}</div>
            <div class="col-xs-12">&nbsp;<i style="color:#bfbfbe" class="glyphicon glyphicon-eye-open pull-right grey-eye"></i><a class="label label-default pull-right articleEye" ui-sref="{{sr}}">{{btn}}</a></div>
        </div>
    </div>
</div>
<div style="clear: both;margin:0 auto;" align="center">
    <button class="btn btn-sm btn-info btn-more-news" ng-class="showMore" ng-click="increaseLimit()">Mai multe stiri</button>
</div>