<div class="row noPadding" style="text-align: center" ng-if="message!=''"><h4>{{message}}</h4></div>
<div class="well noBox noPadding" ng-repeat="cont in content | limitTo: lmt">
    <div class="row articleBox zeroMarginLeft">
        <img class="img-thumbnail width20 pull-left marginPlus3Left articlesPictures img-back" ng-src="{{cont.image_path?pathAmazonDev+cont.image_path:defaultArticleImage}}"/>

        <div class="col-md-9 width80 noPaddingLeft ">
            <div class="col-md-12 title MSDgreenDarker handCursor" ui-sref="{{sr}}" convert-special conver="cont.title" ng-bind-html="trustAsHtml(cont.title)"></div>
            <div class="col-md-12 trimmedArticle" convert-special conver="cont.text" ng-bind-html="convertAndTrustAsHtml(cont.text,250)"></div>

                <div class="col-md-12 author ">
                    <div class="col-md-8 noPadding">
                        <div class="col-md-12 noPadding" convert-special conver="cont.author" ng-bind-html="trustAsHtml(cont.author)">
                        </div>
                        <div class="col-md-12 noPadding">
                            {{cont.last_updated | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-sm btn-info margintop5percent pull-right btn-more-news margintop5px" ui-sref="{{sr}}">{{cont.type<3?'Vezi stire':'Vezi articol'}}</a>
                    </div>
                </div>

        </div>
    </div>
</div>
<div style="clear: both;margin:0 auto;" align="center">
    <button class="btn btn-sm btn-info btn-more-news" ng-class="showMore" ng-click="increaseLimit()">Mai multe stiri</button>
</div>