<div class="container articlesStyles">
    <div class="col-xs-12">
        <div class="col-xs-3">
            <div class="col-xs-12">
                Cele mai citite {{title}}
            </div>
        </div>
        <div class="col-xs-9">
            <ui-view>

            </ui-view>
        </div>
    </div>
</div>