<div class="container-fluid articlesStyles">
    <div class="col-xs-12">
        <div class="col-xs-4">
            <div class="col-xs-12">
                <h3>CELE MAI CITITE STIRI</h3>
            </div>
            <div ng-repeat="cont in content | orderBy: last_updated| limitTo: 3">
                <div class="col-xs-12 articleBox">
                     <div class="col-xs-12">
                        <div class="col-xs-12 title" ui-sref="{{sr}}">{{cont.title}}</div>
                        <div class="col-xs-12 trimmedArticle">{{createHeader(cont.text,100)}}</div>
                        <div class="col-xs-12"><a ui-sref="{{sr}}">Citeste mai mult &nbsp;<i class="glyphicon glyphicon-eye-open"></i> </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <ui-view>

            </ui-view>
        </div>
    </div>
</div>