<div class="container-fluid">
    <div class="well">
        <div class="row">
            <div class="col-xs-5"><h3>Gestionare Arii Terapeutice</h3></div>
            <div class="col-xs-2 pull-right">
                <a ng-click="addArea()" class="btn btn-info pull-right margintop20px"><i class="glyphicon glyphicon-plus-sign"></i> Adauga arie</a>
            </div>
        </div>
    </div>
    <bulk-operations model="therapeutic-areas" delete-button items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="parent in $data">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(parent._id)" ng-checked="checkValue(parent._id)"/>
            </td>
            <td data-title="'Nume arie'"  filter="{ 'name': 'text' }" sortable="'name'">{{parent.name}}</td>
            <td data-title="'Nume subarie'">
                    <div style="margin-bottom: 15px" class="col-xs-12" ng-repeat="child in parent.children | orderBy: 'name'">
                        <div class="col-xs-10">
                            {{child.name}}&nbsp;
                        </div>
                        <div class="col-xs-2 noPadding">
                            <action-buttons show-toggle-button="false" show-edit-button="true" show-delete-button="true"
                                            update-item="editArea(child._id)" delete-item="deleteArea(child._id)"></action-buttons>
                        </div>
                    </div>
            </td>
            <td data-title="'Actiuni'">
                <action-buttons show-toggle-button="false" show-edit-button="true" show-delete-button="true"
                                update-item="editArea(parent._id)" delete-item="deleteArea(parent._id)"></action-buttons>
            </td>
        </tr>
    </table>

</div>