<div class="modal-header">
    <div class="modal-title"><h3>{{modal.title}}</h3></div>
</div>
<div class="modal-body" style="height: 70%;">
    <div class="row">
        <div class="col-md-12">
            <alert ng-if="therapeuticAlert.newAlert" type="{{therapeuticAlert.type}}" close="therapeuticAlert.newAlert=false">{{therapeuticAlert.message}}</alert>
        </div>
        <div class="col-md-12 form-group">
            <label>Nume arie:</label>
            <input type="text" ng-model="arie.name" class="form-control" required>
        </div>
        <div class="col-md-12 form-group">
            <input type="checkbox" ng-model="arie.is_public"/>
            <span>Este publica</span>
        </div>
        <div class="col-md-12 form-group">
            <label>Parinte:</label>
            <select class="form-control" style="width: 100%" ng-model="arie['therapeutic-areasID']" ng-options="area._id as area.name for area in areas"></select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn pull-left btn-primary" ng-click="closeModal()">Close</a>
    <a class="btn pull-right btn-primary" ng-click="updateArie()">{{modal.action}}</a>
</div>