<div class="modal-header">
    <div class="modal-title"><h3>Adauga arie</h3></div>
</div>
<div class="modal-body" style="height: 70%;">
    <div class="row">
        <div class="col-md-12">
            <alert ng-if="therapeuticAlert.newAlert" type="{{therapeuticAlert.type}}" close="therapeuticAlert.newAlert=false">{{therapeuticAlert.message}}</alert>
        </div>
        <div class="col-xs-12">
            <label class="label label-default">Nume arie:</label>
            <input type="text" ng-model="arie.name" class="form-control col-xs-12" required>
        </div>
        <div class="col-md-12 form-group-sm" style="padding-bottom: 0">
            <input type="checkbox" ng-model="arie.has_children"/>
            <span>Are sub-arii</span>
        </div>
        <div ng-show="arie.has_children==true" class="col-md-12 form-group-sm">
            <label class="label label-default">Sub-arii:</label>
            <therapeutic-select all-areas="areas" selected-areas="selectedAreas" returned-areas="returnedAreas"></therapeutic-select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn pull-left btn-primary" ng-click="okk()">Close</a>
    <a class="btn pull-right btn-primary" ng-click="addArie()">Adauga arie</a>
</div>