<style id="pdf-export-classes">
  .col-md-3{
    width: 20%;
  }
  .col-md-4{
    width: 28.33333333%
  }
  .col-md-6{
    width: 45%;
  }
  .col-md-9{
    width: 70%;
  }
  .col-md-12{
    width: 95%;
  }
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-12{
    position: relative;
    /*min-height: 1px;*/
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  .row{
    margin-right: -15px;
    margin-left: -15px;
    display: inline-block;
  }
</style>

<div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Preview PDF</h3>
    </div>
    <div class="modal-body col-xs-12 customPreviewModal">
      <div id="bulkOperationsPdfProducts" style="width:730px; float: left; padding-left: 30px" ng-show="!isArticle">
        <div class="pdfItem" ng-repeat="item in items" style="float: left; border-bottom: 1px solid black; margin-top: 10px; width: 780px;">
          <div>
            <span style="font-size: 30px;">{{item.name}}</span>
          </div>
          <div style="float: left;" >
            <img ng-src="{{item.image_path? pathAmazonDev+item.image_path:pathAmazonResources + 'piles-of-pills.jpg'}}" width="200" />
          </div>
          <div ng-bind-html="item.description" style="float:left; margin-left: 20px; width: 445px;"></div>
        </div>
    </div>
      <div id="bulkOperationsPdfArticles" style="width:730px; float: left; padding-left: 30px" ng-show="isArticle">
        <div class="pdfItem" ng-repeat="item in items" style="float: left; border-bottom: 1px solid black; margin-top: 10px;">
          <div>
            <p style="font-size: 16px;">{{item.title}}</p>
            <p style="font-size: 14px;"> {{item.author}}</p>
          </div>
          <div data-ng-bind-html="trustAsHtml(item.text)" style="font-size: 14px; width: 750px"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-xs-12 customModalFooter">
        <button class="btn btn-default pull-left" ng-click="closeModal()" ng-disabled="isDisabled">Inchide</button>
        <span ng-show="showMsg" class="bulkPdfErrMsg">Pdf-ul este generat !</span>
        <button class="btn btn-primary pull-right" ng-click="downloadPDF()" ng-disabled="isDisabled">Descarca</button>
      </div>
    </div>
</div>
