<div style="width:100%; height:100%;" class="sliderStyles">
    <div class="sliderNavigation" style="width: 100%;">
        <a class="btn btn-default" ng-click="goPrevious()"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="btn btn-default" ng-click="goNext()"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    <div style="width: 100%;">
        <div id="sliderSlidesContainer" style="width: 100%;">
            <img ng-src="{{toRender}}" style="width: 100%;">
        </div>
    </div>
    <div class="sliderFooter" style="width: 100%;">
        <span>Slide: {{slideToDisplay}} / {{slidesCount}}</span>
    </div>
</div>