<div class="col-md-12 multimediaView">
    <div class="col-md-12 message" ng-if="multimedias[0].message"><h2>{{multimedias[0].message}}</h2></div>
    <div ng-if="multimedias.length>=1 && !multimedias[0].message">
        <div class="col-xs-12 multimediaWrapper" ng-repeat="prod in multimedias | orderBy:'title'">
            <horizontal-content-list content="prod" image-path-attr="thumbnail_path" image-path-prefix="{{pathAmazonDev}}"
                                     default-image-path="{{prod.type==1?defaultVideoImage:defaultSlideImage}}"
                                     title-attr="title" text-attr="description" button-label="Vezi material"
                                     navigate="openMultimedia" with-background></horizontal-content-list>
        </div>
    </div>
</div>