<div class="col-md-12 multimediaView">
    <div ng-cloak class="col-md-12 message" ng-if="multimedias && multimedias.length==0">
        <h4>Nu există materiale multimedia conform criteriilor selectate</h4>
    </div>
    <div ng-if="multimedias && multimedias.length>=1">
        <div class="col-xs-12 noPadding" ng-if="!isMobile(true)">
            <div class="col-xs-12 multimediaWrapper" ng-repeat="prod in multimedias | orderBy:'title'">
                <horizontal-content-list content="prod" image-path-attr="thumbnail_path" image-path-prefix="{{pathAmazonDev}}"
                                         default-image-path="{{prod.type==1?defaultVideoImage:defaultSlideImage}}"
                                         title-attr="title" text-attr="description" button-label="Vezi material"
                                         navigate="openMultimedia" with-background smaller-image drop-shadow></horizontal-content-list>
            </div>
        </div>
        <div class="col-xs-12 noPadding" ng-if="isMobile(true)">
            <mobile-content-list content="multimedias" image-attr="thumbnail_path" image-prefix="{{pathAmazonDev}}"
                                 default-image="{{prod.type==1?defaultVideoImage:defaultSlideImage}}" title-attr="title"
                                 text-attr="description" navigate="openMultimedia" limit="lmt"></mobile-content-list>
        </div>
    </div>
</div>