<!DOCTYPE html>
<html>
<head>
    <script src="components/video-js/dist/video-js/video.js"></script>
    <link rel="stylesheet" href="components/video-js/dist/video-js/video-js.min.css" />
</head>

<body>
<div class="padd55px" id="content">
    <div class="row">
        <div class="col-xs-12 marginLeft0 hidden-md hidden-lg col-md-2 marginLeft25px padd25Bottom" dropdown is-open="status.isopen" id="menuDiv">
            <select class="form-control" ng-options="area._id as (area.ident?'&nbsp;&nbsp;&nbsp;&nbsp;':'')+area.name for area in therapeuticAreas"
                    ng-model="selectedArea" ng-change="selectAreaMultimedia(selectedArea)"></select>
        </div>
        <div class="col-md-2 col-xs-12 hideOnSmallScreen noPadding hidden-sm margin65pxRight" >
            <h3 class="h-title top0px specialTitleProductsMobile">ARII TERAPEUTICE</h3>

            <ul class="list-group MSDgreen" style="list-style: none">
                <li  ng-repeat="area in therapeuticAreas">
                    <span ng-class="{'activeArea':area._id == selectedArea}" class="list-group-item no-border handCursor borderRadiusMenu" ng-click="selectAreaMultimedia(area._id)">
                        <b convert-special conver="area.name" ng-bind-html="trustAsHtml(area.ident?'&nbsp;&nbsp;&nbsp;&nbsp;'+area.name:area.name)"></b>
                    </span>
                </li>
            </ul>
            <hr class="visible-phone ">
        </div>

        <div ng-class="{'col-md-9 noPadding margin4LeftMultimedia col-xs-12':deviceWidth>700,'col-md-9 noPadding col-xs-12':deviceWidth<=700}" style="margin-top: 0px" >
            <ui-view></ui-view>
        </div>

    </div>
</div>
</body>
</html>