<div class="modal-header modalTitleStyles">
    <div class="modal-title"><h3 class="equalMarginModalTitle">{{selectedMultimedia.title}}</h3></div>
</div>
<div class="modal-body col-md-12">
    <div class="col-md-12 noPadding" ng-if="selectedMultimedia.type==1">
        <div class="col-md-12" convert-special conver="selectedMultimedia.description" ng-bind-html="trustAsHtml(selectedMultimedia.description)"></div>
        <div class="col-md-12" style="height: 80%;">
            <video class="video-js vjs-default-skin vjs-big-play-centered"
                   controls preload="auto" width="100%" height="100%">
                <source ng-src="{{getVideoSrc(selectedMultimedia.file_path)}}" type='video/mp4' />
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
        </div>
    </div>
    <div class="col-md-12 noPadding" ng-if="selectedMultimedia.type==2">
        <div class="col-md-8 col-md-offset-2">
            <ng-slides-view my-input="slidesArray" slides-template="modules/my_slider/slider_template.html"
                            url-prefix="{{pathAmazonDev}}" path-to-slides="image_path"></ng-slides-view>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn pull-right btn-primary" ng-click="okk()">Close</a>
</div>