<!DOCTYPE html>
<html>
<head>
    <script src="components/video-js/dist/video-js/video.js"></script>
    <link rel="stylesheet" href="components/video-js/dist/video-js/video-js.min.css" />
</head>

<body>
<div class="col-xs-offset-1" id="content">
    <div class="row margintop20px">
        <div class="col-md-2" >
            <h4 class="h-title">Arii terapeutice</h4>

            <ul class="list-group MSDgreen" style="list-style: none">
                <li  ui-sref-active="active" class="handCursor" ui-sref="elearning.multimedia.multimediaByArea({id:0})"><b>Toate ariile terapeutice</b></li>
                <li  ui-sref-active="active"   ng-repeat="area in therapeuticAreas| orderBy: 'name'" ng-if="area['therapeutic-areasID'].length==0">
                    <span class="list-group-item no-border handCursor" ui-sref="elearning.multimedia.multimediaByArea({id:area._id})"><b>{{area.name}}</b></span>
                    <ul ng-if="area.has_children">
                        <li ui-sref-active="active" ng-repeat="area2 in therapeuticAreas | filter : { 'therapeutic-areasID' : area._id } | orderBy: 'name'" ui-sref="elearning.multimedia.multimediaByArea({id:area2._id})">
                            <span class="list-group-item no-border handCursor" ui-sref="biblioteca.produse.productsByArea({id:area2._id})"><b>{{area2.name}}</b></span>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr class="visible-phone ">
        </div>

        <div class="col-xs-10" >
            <ui-view></ui-view>
        </div>
    </div>
</div>
</body>
</html>