<!DOCTYPE html>
<html>
<head>
    <link href="components/angular-growl/build/angular-growl.min.css" rel="stylesheet">

</head>
<body>
<div class="row col-xs-offset-1 margintop20px" ng-if="teste[0].message"><h2>{{teste[0].message}}</h2></div>
<div  ng-if="teste.length>1" class="padd55px" id="content">
    <div class="row margintop20px">
        <div class="col-xs-3" >
            <h4 class="h-title MSDTitleDark">ISTORIC TESTE INTERACTIVE</h4>

            <ul class="list-group MSDTitleDark">
                <li ng-repeat="quiz in teste"><h5 class="MSDdark">{{quiz.title | uppercase}}</h5>  {{quiz.last_updated | asDate | date: "dd/MM/yyyy"}} - expira la {{quiz.expiry_date | asDate | date: "dd/MM/yyyy"}}
                    <br/>
                </li>
                <br/>
            </ul>
            <hr class="visible-phone ">
        </div>

        <div class="col-xs-9" >
            <ul class="articles" style="list-style: none;">
                <li class="col-xs-12" ng-repeat="quiz in teste | orderBy:'title'">


                    <div class="row well">
                        <div class="col-xs-3">
                            <img class="img-responsive img-thumbnail img-multimedia" ng-if="quiz.entity!='SLIDE'" src="https://s3-eu-west-1.amazonaws.com/msdapp/resources/video.png" alt="{{quiz.title}}" />
                            <img class="img-responsive img-thumbnail img-multimedia" ng-if="quiz.entity=='SLIDE'" src="https://s3-eu-west-1.amazonaws.com/msddev-test/multimedia/4/slide/multimedia_88.png"/>
                        </div>
                        <div class="col-xs-9">
                            <h4><a href="#"></a>{{quiz.title}}</h4>
                            <p>{{quiz.description | htmlToPlaintext | limitTo: 190}}...
                            </p>
                        </div>


                            <button class="btn btn-info pull-right top10 btn-more-news" ui-sref="elearning.multimediaBeforeQuiz({id:quiz._id})">Sustine testul</button>

                    </div>

                </li>

            </ul>
            <div growl>
            </div>
        </div>


    </div>
</div>


</body>
</html>