<div id="modal-content">
    <div class="modal-header equalMarginModalTitle" >
        {{newQuestions[contor].text}}
        <div class="pull-right"><timer autostart="false" countdown="par" max-time-unit="'minute'" interval="1000" finish-callback="finished()">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer></div>
    </div>
    <div id="question" class="marginbottom10px modal-body">
    <div>
    <span ng-repeat="ans in answersFiltered" ng-if="newQuestions[contor]['answersID'].indexOf(ans._id) > -1"><input type="radio" ng-checked="chk[answersFiltered.indexOf(ans)]" ng-click="modifyChk(answersFiltered.indexOf(ans))">{{ans.text}}
        </span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn pull-left btn-primary" ng-class="clasa" ng-click="previousQuestion()">Back</a>
    <a class="btn pull-right btn-primary" ng-class="hideNext" ng-click="nextQuestion()">Next</a>
    <a class="btn pull-right btn-primary" ng-class="hideFinish" ng-click="finishJob()" ui-sref="elearning.teste">Finish</a>
</div>
</div>