<!DOCTYPE html>
<html>
<head>
    <meta name='layout' content='user-layout'/>
    <script>

    </script>
</head>

<body>
<div class="container" id="content">
    <div class="row">
        <h3 class="MSDgreenDarker">Transmisii live</h3>
        <div id="videoContainer" align="center" class="col-md-12 well well-content" style="width: 480px;height: 350px;resize: both; overflow: auto;">
            <div id="myContent">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <span class="col-xs-3"><button id="toggleFullScreen" class="btn btn-small hide">Fullscreen</button></span>
    </div>
</div>
</body>
</html>