<div class="modal-header">
    <div class="modal-title"><h3>Actualizeaza sectiune brosura</h3></div>
</div>
<div class="modal-body col-xs-12 padding30" style="height: 70%;">
    <div class="col-md-12 noPadding">
        <alert ng-if="statusAlert.newAlert" type="{{statusAlert.type}}" close="statusAlert.newAlert=false">{{statusAlert.message}}</alert>
    </div>
    <div class="col-xs-12 noPadding">
        <div class="col-xs-12 noPadding">
            <label>Titlu sectiune:</label>
            <input ng-model="section.title" type="text" class="form-control col-xs-12">
        </div>
    </div>
    <div class="col-xs-12 noPadding">
        <div class="col-xs-12 noPadding">
            <label>Numar ordine:</label>
            <input ng-model="section.orderIndex" type="number" class="form-control col-xs-12">
        </div>
    </div>
    <div class="col-md-12 noPadding marginTop20">
        <div class="col-md-12 noPadding">
            <div class="col-md-6 noPadding">
                <button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false" ngf-accept="'image/*'"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca imagine titlu</button>

            </div>
            <div class="col-md-6 noPadding pull-right">
                <button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, $event, true)" ngf-multiple="false" ngf-accept="'image/*'"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca imagine laterala</button>
            </div>
        </div>
        <div class="col-md-12 marginTop20 noPadding">
            <div class="col-md-6 noPadding">
                <img no-cache-src="{{title_image}}" ng-if="title_image" style="width:100px;">
            </div>
            <div class="col-md-6 noPadding pull-right">
                <img no-cache-src="{{side_image}}" ng-if="side_image" style="width:100px;">
            </div>
        </div>
        <div class="col-xs-12 noPadding" ng-if="title_image">
            <label>Link imagine titlu:</label>
            <ul>
                <li style="font-size: 12px" class="col-xs-12">
                    {{pathAmazonDev + section.title_image}}&nbsp;
                </li>
            </ul>
            <br/>
        </div>
        <div class="col-xs-12 noPadding" ng-if="side_image">
            <label>Link imagine laterala:</label>
            <ul>
                <li style="font-size: 12px" class="col-xs-12">
                    {{pathAmazonDev + section.side_image}}&nbsp;
                </li>
            </ul>
        </div>
        <div class="col-md-12 noPadding">
            <alert ng-if="uploadAlert.newAlert" type="{{uploadAlert.type}}" close="uploadAlert.newAlert=false">{{uploadAlert.message}}</alert>
        </div>
    </div>
    <div class="col-md-12 noPadding">
        <label>Text:</label>
        <textarea ui-tinymce="tinymceOptions" ng-model="section.text"></textarea>
    </div>
</div>
<div class="modal-footer">
    <div class="col-xs-12">
        <a class="btn pull-left btn-primary" ng-click="closeModal()">Inchide</a>
        <a class="btn pull-right btn-primary" ng-click="updateSection(true)">Actualizeaza sectiune</a>
    </div>
</div>