<div class="modal-header">
    <div class="modal-title"><h3>Adauga multimedia</h3></div>
</div>
<div class="modal-body" style="height: 70%;">
    <div class="row">
        <div class="col-xs-6">
            <label class="label label-default">Titlu:</label>
            <input type="text" ng-model="newMultimedia.title" class="form-control col-xs-12">
        </div>
        <div class="col-xs-6">
            <label class="label label-default">Autor:</label>

            <input type="text" class="form-control col-xs-12" ng-model="newMultimedia.author">
        </div>
        <div class="col-xs-6">
            <label class="label label-default">Tip multimedia:</label>
            <select class="form-control" ng-model="newMultimedia.type">
                <option value="1">Film</option>
                <option value="2">SLIDE</option>
            </select>
        </div>
        <div class="col-md-12 noPadding">
            <therapeutic-select all-areas="areas" selected-areas="selectedAreas" returned-areas="returnedAreas"></therapeutic-select>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label>Grupuri:</label>
                <my-multiple-select all-objects="groups" selected-objects="selectedGroups" track-by="_id" display-by="display_name"
                                    split-by="profession.display_name" output="notUsed"></my-multiple-select>
            </div>
        </div>
        <div class="col-md-12">
            <label>Descriere:</label>
            <textarea ui-tinymce="tinymceOptions" ng-model="newMultimedia.description"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12">
        <a class="btn pull-left btn-primary" ng-click="closeModal()">Inchide</a>
        <a class="btn pull-right btn-danger" ng-click="createMultimedia()">Adauga</a>
    </div>
</div>