<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Costs</h3></div>
</div>
<div class="col-md-12">
    <div class="titleAndButton col-xs-12 noPadding">
        <div class="col-xs-2 noPadding">
            <h3>Utilizatori:</h3>
        </div>
        <div class="col-xs-10 noPadding">
            <button class="btn btn-primary" ng-click="addUser()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</button>
            <button class="btn btn-default" type="file" accept=".xlsx" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false">Importa din Excel</button>
        </div>
    </div>
    <bulk-operations model="januvia_users" connected-entities="entities" delete-button items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="user in $data">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(user._id)" ng-checked="checkValue(user._id)"/>
            </td>
            <td data-title="'Email'" filter="{ 'name': 'email' }" sortable="'email'">
                {{user.userName}}
            </td>
            <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
                {{user.name}}
            </td>
            <td data-title="'City'" sortable="'city'">
                {{user.city}}
            </td>
            <td data-title="'Country'" sortable="'country'">
                {{user.country}}
            </td>
            <td data-title="'Amount'" sortable="'amount'">
                {{user.amount}}
            </td>
            <td data-title="'Currency'" sortable="'currency'">
                {{user.currency}}
            </td>
            <td data-title="'Purpose'" sortable="'purpose'">
                {{user.purpose}}
            </td>
            <td data-title="'ID baza de date'" sortable="'dbId'">
                {{user.dbId}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons show-toggle-button="false" show-edit-button="true" show-delete-button="true"
                                update-item="editUser(user._id)" delete-item="removeUser(user._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>