<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Gestionare topicuri si raspunzatori</h3></div>
</div>
<div class="col-md-12">
    <div class="titleAndButton">
        <div><h3>Topicuri:</h3></div>
        <div>
            <div class="btn btn-primary" ng-click="addTopic()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</div>
        </div>
    </div>
    <table ng-table="tableParamsTopics" show-filter="true" class="table table-bordered">
        <tr ng-repeat="topic in $data">
            <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
                {{topic.name}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons show-toggle-button="false" show-edit-button="true" show-delete-button="true"
                                update-item="editTopic(topic._id)" delete-item="deleteTopic(topic._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>
<div class="col-md-12">
    <div class="titleAndButton">
        <div><h3>Raspunzatori:</h3></div>
        <div>
            <div class="btn btn-primary" ng-click="addAnswerGiver()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</div>
        </div>
    </div>
    <table ng-table="tableParamsAnswerGivers" show-filter="true" class="table table-bordered">
        <tr ng-repeat="ag in $data">
            <td data-title="'Nickname'" filter="{ 'nickname': 'text' }" sortable="'nickname'">
                {{ag.nickname}}
            </td>
            <td data-title="'Nume'" filter="{ 'id_user.name': 'text' }" sortable="'id_user.name'">
                {{ag.id_user.name}}
            </td>
            <td data-title="'E-mail'" filter="{ 'id_user.username': 'text' }" sortable="'id_user.username'">
                {{ag.id_user.username}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons show-toggle-button="false" show-edit-button="true" show-delete-button="true"
                                update-item="editAnswerGiver(ag._id)" delete-item="deleteAnswerGiver(ag._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>