<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Contract Management</h3></div>
</div>
<div class="col-md-12">
    <div class="titleAndButton">
        <div><h3>Template-uri:</h3></div>
        <div>
            <div class="btn btn-primary" ng-click="addTemplate()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</div>
        </div>
    </div>
    <bulk-operations model="CM_templates" delete-button modify-button field="isEnabled" items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="template in $data">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(template._id)" ng-checked="checkValue(template._id)"/>
            </td>
            <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
                {{template.name}}
            </td>
            <td data-title="'Ultima modificare'" sortable="'last_updated'">{{template.last_modified.substr(0,10)}}</td>
            <td data-title="'Actiuni'">
                <action-buttons item-enable-property="template.isEnabled" show-toggle-button="true" show-edit-button="true" show-delete-button="true"
                                toggle-item="toggleTemplate(template)" update-item="editTemplate(template._id)" delete-item="removeTemplate(template._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>