<div class="modal-header">
    <div class="noPatientsLogo"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.png'}}" ng-click="renderView('login')"></div>
    <div class="modal-title"><h3>Activare cont</h3></div>
</div>
<div class="modal-body" style="padding: 20px; min-height: 150px">
    Link-ul de verificare nu este valid. Dac&#259; a&#539;i urmat instruc&#539;iunile din e-mail &#351;i vede&#539;i acest mesaj,
    v&#259; rug&#259;m contacta&#539;i prin email administratorul MSD la adresa "adminMSD@qualitance.ro"
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" ng-click="closeModal()">&#206;nchide</a>
</div>