<div class="modal-header">
    <div class="noPatientsLogo"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.jpg'}}"></div>
    <div class="modal-title"><h3>Activare cont</h3></div>
</div>
<div class="modal-body" style="padding: 20px; min-height: 150px">
    Adresa de e-mail a fost verificata cu succes !
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" ng-click="closeModal()">Inchide</a>
    <a class="btn btn-primary pull-right" ng-click="renderView('login')">Acceseaza contul</a>
</div>