<div class="modal-header">
    <div class="noPatientsLogo"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.jpg'}}"></div>
    <div class="modal-title"><h3>Activare cont</h3></div>
</div>
<div class="modal-body" style="padding: 20px; min-height: 150px">
    Link-ul de verificare nu este valid. Daca ati urmat instructiunile din e-mail si vedeti acest mesaj,
    va rugam contactati prin email administratorul MSD la adresa "adminMSD@qualitance.ro"
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" ng-click="closeModal()">Inchide</a>
</div>