<div class="modal-header">
    <div class="noPatientsLogo"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.png'}}" ng-click="renderView('login')"></div>
    <div class="modal-title"><h3>Activare cont</h3></div>
</div>
<div class="modal-body" style="padding: 20px; min-height: 150px">
    Link-ul de verificare nu este valid. Dacă ați urmat instrucțiunile din e-mail şi vedeți acest mesaj,
    vă rugăm contactați prin email administratorul MSD la adresa "adminMSD@qualitance.ro"
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" ng-click="closeModal()">Închide</a>
</div>