<div class="modal-header">
    <div class="noPatientsLogo"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.png'}}" ng-click="renderView('login')"></div>
    <div class="modal-title"><h3><span class="fa fa-sign-in"></span>&nbsp;{{modalData.title}}</h3></div>
</div>
<div class="modal-body" style="padding: 20px; min-height: 150px">
    Vă mulțumim pentru înregistrarea pe Staywell !<br>
    În maxim 48 de ore veți primi un e-mail pe adresa "{{modalData.registeredAddress}}" referitor la acceptul dovezii dumneavoastră.<br>
    Vă rugăm verificați şi folder-ul de spam.
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" ng-click="closeModal()">Închide</a>
</div>