<div class="modal-header">
    <div class="noPatientsLogo"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.png'}}" ng-click="renderView('login')"></div>
    <div class="modal-title"><h3>Creare cont</h3></div>
</div>
<div class="modal-body" style="padding: 20px; min-height: 150px">
    Vă mulțumim pentru înregistrarea pe MSD !<br>
    Pentru a continua, adresa dumneavoastră de e-mail trebuie verificată.<br>
    Veți primi în scurt timp un e-mail cu un link de verificare la adresa "{{modalData.registeredAddress}}".<br>
    Vă rugăm verificați şi folder-ul de spam.
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" ng-click="closeModal()">Închide</a>
</div>