<div class="modal-header">
    <div class="noPatientsLogo"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.png'}}" ng-click="renderView('login')"></div>
    <div class="modal-title"><h3><span class="fa fa-sign-in"></span>&nbsp;{{modalData.title}}</h3></div>
</div>
<div class="modal-body" style="padding: 20px; min-height: 150px">
    V&#259; mul&#539;umim pentru &#238;nregistrarea pe Staywell !<br>
    &#206;n maxim 48 de ore ve&#539;i primi un e-mail pe adresa "{{modalData.registeredAddress}}" referitor la acceptul dovezii dumneavoastr&#259;.<br>
    V&#259; rug&#259;m verifica&#539;i &#351;i folder-ul de spam.
</div>
<div class="modal-footer">
    <a class="btn btn-default pull-left" ng-click="closeModal()">&#206;nchide</a>
</div>