<div class="modal-header">
    <div class="noPatientsLogo"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.png'}}" ng-click="renderView('login')"></div>
    <div class="modal-title"><h3>Creaza cont</h3></div>
</div>
<div class="modal-body" style="padding: 20px; min-height: 150px">
    Va multumim pentru inregistrarea pe MSD !<br>
    Pentru a continua, adresa dumneavoastra de e-mail trebuie verificata.<br>
    Veti primi in scurt timp un e-mail cu un link de verificare la adresa "{{modalData.registeredAddress}}".<br>
    Va rugam verificati si folder-ul de spam.
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-default pull-left" ng-click="closeModal()">Inchide</a>
</div>