<div ng-controller="ActivationCode">
    <div class="modal-header">
        <div class="noPatientsLogo"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.png'}}" ng-click="renderView('login')"></div>
        <div class="modal-title"><h3><span class="fa fa-sign-in"></span>&nbsp;Activare cont</h3></div>
    </div>
    <div class="modal-body col-md-12 noPadding">
        <div class="col-md-12">
            <div class="well" style="margin: 20px 0">
                Va multumim pentru inscrierea pe portalul medical www.staywell.ro.<br><br>
                Deoarece statul roman, prin legea 95/2006 cu HCS nr 27_11.10.2013 reglementeaza publicitatea
                medicamentelor doar catre specialisti in domeniul sanatatii, va rugam sa introduceti codul care
                atesta dovada calitatii dvs de profesionist in domeniul sanatatii (medic/farmacist) pentru a
                activa contul dumneavoastra.<br><br>
                Daca nu aveti un cod de activare, va rugam sa contactati un reprezentant MSD sau sa sunati
                la numarul de telefon ...
            </div>
        </div>

        <div class="col-md-12">
            <alert ng-if="alert.show" type="{{alert.type}}" close="alert.show=false">{{alert.text}}</alert>
        </div>

        <div class="col-md-12 noPadding">
            <div class="form-group col-md-6">
                <label for="profession">Profesie:</label>
                <select ng-model="selectedProfession" class="form-control" ng-change="selectProfession()"
                        ng-options="profession._id as profession.display_name for profession in professions" id="profession"></select>
            </div>
            <div class="form-group col-md-6">
                <label for="group">Grup preferat:</label>
                <select ng-model="selectedSpecialGroup" class="form-control"
                        ng-options="group._id as group.display_name for group in groups" id="group"></select>
            </div>
            <div class="form-group col-md-6">
                <label for="code">Cod de activare:</label>
                    <input id="code" type="text" ng-model="activationCode" class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer" style="padding: 15px">
        <a class="btn btn-default pull-left" ng-click="closeModal()">Inchide</a>
        <button class="btn btn-primary pull-right" ng-click="sendActivationForm()">Trimite</button>
    </div>
</div>