<div>
    Av&#226;nd &#238;n vedere prevederile legii nr. 95/2006 privind reforma &#238;n domeniul s&#259;n&#259;t&#259;&#539;ii &#351;i ale Ordinului Ministerului S&#259;n&#259;t&#259;&#539;ii nr. 194/2015 privind aprobarea Normelor pentru evaluarea &#351;i avizarea publicit&#259;&#539;ii la medicamentele
    de uz uman care reglementeaz&#259; publicitatea medicamentelor eliberate pe baza de prescrip&#539;ie medical&#259; doar c&#259;tre speciali&#351;ti &#238;n domeniul s&#259;n&#259;t&#259;&#539;ii, v&#259; rug&#259;m s&#259; introduce&#539;i codul care atest&#259; dovada
    calit&#259;&#539;ii dvs. de profesionist &#238;n domeniul s&#259;n&#259;t&#259;&#539;ii (de ex. medic/farmacist) furnizat prin e-mail/sms/personal. Dac&#259; nu ave&#539;i un cod de activare, v&#259;
    rug&#259;m s&#259; contact&#259;&#539;i un reprezentant MSD sau s&#259; suna&#539;i la num&#259;rul de telefon ... .
</div>