<div>
    Având în vedere prevederile legii nr. 95/2006 privind reforma în domeniul sănătății şi ale Ordinului Ministerului Sănătății nr. 194/2015 privind aprobarea Normelor pentru evaluarea şi avizarea publicității la medicamentele
    de uz uman care reglementează publicitatea medicamentelor eliberate pe baza de prescripție medicală doar către specialişti în domeniul sănătății, vă rugăm să introduceți codul care atestă dovada
    calității dvs. de profesionist în domeniul sănătății (de ex. medic/farmacist) furnizat prin e-mail/sms/personal. Dacă nu aveți un cod de activare, vă
    rugăm să contactăți un reprezentant MSD sau să sunați la numărul de telefon ... .
</div>