<form ng-submit="reset()">
    <div class="modal-header">
        <div class="noPatientsLogo"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.png'}}" ng-click="renderView('login')"></div>
        <div class="modal-title"><h3><i class="glyphicon glyphicon-lock" style="font-size: 20px"></i>&nbsp;Resetează parola</h3></div>
    </div>
    <div class="modal-body">
        <alert type="{{alert.type}}" ng-if="alert.show" close="alert.show=false">{{alert.text}}</alert>
        <div class="form-group-sm">
            <label for="email">Email: </label>
            <input type="text" class="form-control" name="emailInput" id="email" ng-model="email">
        </div>
        <div>
            <ul class="pointerLinks" style="margin: 10px 0">
                <li>Nu ai cont? <a ng-click="showSignup()">Creează cont nou</a></li>
                <li>Ai deja un cont creat? <a ng-click="renderView('login')">Accesează contul</a></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default pull-left" ng-click="closeModal()">Închide</a>
        <button class="btn btn-primary pull-right" type="submit">Resetează parola</button>
    </div>
</form>