<div class="col-md-12 noPadding" ng-init="user.temp.proofType='file'">
    <div class="form-group-sm col-md-6">
        <label for="profession">Profesie<sup>*</sup>:</label>
        <select ng-model="user.profession" class="form-control" ng-change="selectProfession()"
                ng-options="profession._id as profession.display_name for profession in professions" id="profession"></select>
    </div>
    <div class="form-group-sm col-md-6">
        <label popover-template="'{{signUpPopoverTemplate}}'" popover-trigger="mouseenter" popover-placement="bottom"
               style="visibility: visible; display: inline-block"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Cod de activare<sup>*</sup>:</label>
        <input id="code" type="text" ng-model="user.temp.activationCode" class="form-control">
    </div>
    <!--<div class="col-md-6 noPadding" ng-show="proofRequired">-->
        <!--<div class="form-group-sm col-md-6 showOnD">-->
            <!--<input type="radio" ng-model="user.temp.proofType" value="file"><label>&nbsp;Dovada:</label>-->
            <!--<a class="btn btn-default form-control" type="file" ngf-select ngf-change="proofSelected($files, $event)"-->
                    <!--multiple="false" ng-disabled="user.temp.proofType!='file'" popover="{{codeTooltip}}" popover-trigger="mouseenter" popover-placement="bottom"-->
                    <!--style="visibility: visible; display: block">-->
                <!--<i class="glyphicon glyphicon-file"></i>&nbsp;{{user.temp.proofFile?user.temp.proofFile.name:"Incarca dovada"}}-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="form-group-sm col-md-6 showOnPT">-->
            <!--<input type="radio" ng-model="user.temp.proofType" value="file">-->
            <!--<label>&nbsp;Dovada:&nbsp;<i class="glyphicon glyphicon-info-sign pointer" ng-click="proofAlert()"></i></label>-->
            <!--<a class="btn btn-default form-control" type="file" ngf-select ngf-change="proofSelected($files, $event)"-->
                    <!--multiple="false" ng-disabled="user.temp.proofType!='file'" style="visibility: visible; display: block">-->
                <!--<i class="glyphicon glyphicon-file"></i>&nbsp;{{user.temp.proofFile?user.temp.proofFile.name:"Incarca dovada"}}-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group-sm col-md-6" ng-if="specialties.length > 0">
        <label for="specialty">Specialitate<sup>*</sup>:</label>
        <select ng-model="user.specialty" class="form-control"
                ng-options="specialty._id as specialty.name for specialty in specialties" id="specialty"></select>
    </div>
    <div class="form-group-sm col-md-6">
        <label>Tip de practică:</label>
        <select ng-model="user.practiceType" class="form-control" ng-options="practice.number as practice.name for practice in practices"></select>
    </div>
    <div class="form-group-sm col-md-12">
        <label>Loc de muncă<sup>*</sup>:</label>
        <input type="text" class="form-control" ng-model="user.job"/>
    </div>
    <div class="form-group-sm col-md-12">
        <label>Adresa<sup>*</sup>:</label>
        <input type="text" class="form-control" ng-model="user.address">
    </div>
    <div class="col-md-6">
        <div class="form-group-sm">
            <label>Județ<sup>*</sup>: </label>
            <ui-select class="noPadding" ng-model="county.selected"
                       theme="bootstrap"
                       ng-disabled="false"
                       reset-search-input="true"
                       on-select="countyWasSelected(county.selected)">
                <ui-select-match placeholder="Alegeti un judet">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="county in counties | filter: {name: $select.search}"
                                   refresh-delay="0">
                    <div ng-bind-html="county.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group-sm">
            <label>Oraş<sup>*</sup>: </label>
            <ui-select class="noPadding" ng-model="city.selected"
                       theme="bootstrap"
                       ng-disabled="!county.selected || !county.selected._id"
                       reset-search-input="true"
            >
                <ui-select-match placeholder="Alegeti un oras">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="city in cities | filter: {name: $select.search}"
                                   refresh-delay="0">
                    <div ng-bind-html="city.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group-sm col-md-6">
        <label>Telefon:</label>
        <input type="text" class="form-control" ng-model="user.phone">
    </div>
    <div class="col-md-6 noPadding">
        <div class="form-group-sm col-md-6">
            <label>Sursă de informare:</label>
            <select ng-model="infoSource.type" ng-options="i as i.name for i in infoSources" class="form-control"></select>
        </div>
        <div class="form-group-sm col-md-6">
            <label ng-style="{'color':infoSource.type.id!=0?'#ffffff':'initial'}">Specifica</label>
            <input type="text" class="form-control" ng-model="infoSource.text" ng-disabled="infoSource.type.id!=0">
        </div>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="nonUser.termsStaywell">
        <span>Accept <a href="apiPublic/termsAndConditionsStaywell" target="_blank">termenii şi condițiile Staywell</a>&nbsp;<sup>*</sup></span>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="nonUser.termsMSD">
        <span>Accept <a href="apiPublic/termsAndConditionsMSD" target="_blank">politica de confidențialitate a MSD privind datele cu caracter personal</a>&nbsp;<sup>*</sup></span>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="user.subscriptions.newsletterStaywell">
        <span>Sunt de acord să primesc newsletter Staywell</span>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="user.subscriptions.infoMSD">
        <span>Sunt de acord să primesc informații de la MSD</span>
    </div>
</div>