<div class="col-md-12 noPadding" ng-init="user.temp.proofType='file'">
    <div class="form-group-sm col-md-6">
        <label for="profession">Profesie<sup>*</sup>:</label>
        <select ng-model="user.profession" class="form-control" ng-change="selectProfession()"
                ng-options="profession._id as profession.display_name for profession in professions" id="profession"></select>
    </div>
    <div class="form-group-sm col-md-6">
        <label>&nbsp;Cod de activare:</label>
        <input id="code" type="text" ng-model="user.temp.activationCode" class="form-control">
    </div>
    <!--<div class="col-md-6 noPadding" ng-show="proofRequired">-->
        <!--<div class="form-group-sm col-md-6 showOnD">-->
            <!--<input type="radio" ng-model="user.temp.proofType" value="file"><label>&nbsp;Dovada:</label>-->
            <!--<a class="btn btn-default form-control" type="file" ngf-select ngf-change="proofSelected($files, $event)"-->
                    <!--multiple="false" ng-disabled="user.temp.proofType!='file'" popover="{{codeTooltip}}" popover-trigger="mouseenter" popover-placement="bottom"-->
                    <!--style="visibility: visible; display: block">-->
                <!--<i class="glyphicon glyphicon-file"></i>&nbsp;{{user.temp.proofFile?user.temp.proofFile.name:"Incarca dovada"}}-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="form-group-sm col-md-6 showOnPT">-->
            <!--<input type="radio" ng-model="user.temp.proofType" value="file">-->
            <!--<label>&nbsp;Dovada:&nbsp;<i class="glyphicon glyphicon-info-sign pointer" ng-click="proofAlert()"></i></label>-->
            <!--<a class="btn btn-default form-control" type="file" ngf-select ngf-change="proofSelected($files, $event)"-->
                    <!--multiple="false" ng-disabled="user.temp.proofType!='file'" style="visibility: visible; display: block">-->
                <!--<i class="glyphicon glyphicon-file"></i>&nbsp;{{user.temp.proofFile?user.temp.proofFile.name:"Incarca dovada"}}-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group-sm col-md-6" ng-if="groups.length > 0">-->
        <!--<label for="group">Specialitate<sup>*</sup>:</label>-->
        <!--<select ng-model="user.groupsID" class="form-control"-->
                <!--ng-options="group._id as group.display_name for group in groups" id="group"></select>-->
    <!--</div>-->
    <div class="form-group-sm col-md-6" ng-if="specialties.length > 0">
        <label for="specialty">Specializare<sup>*</sup>:</label>
        <select ng-model="user.specialty" class="form-control"
                ng-options="specialty._id as specialty.name for specialty in specialties" id="specialty"></select>
    </div>
    <div class="form-group-sm col-md-6">
        <label>Tip de practica:</label>
        <select ng-model="user.practiceType" class="form-control" ng-options="practice.number as practice.name for practice in practices"></select>
    </div>
    <div class="form-group col-md-12">
        <label>Loc de munca:</label>
        <input type="text" class="form-control" ng-model="user.job"/>
    </div>
    <div class="form-group-sm col-md-12">
        <label>Adresa<sup>*</sup>:</label>
        <input type="text" class="form-control" ng-model="user.address">
    </div>
    <div class="col-md-6">
        <div class="form-group-sm">
            <label>Judet<sup>*</sup>: </label>
            <angular-select-autocomplete ng-model="selectedCounty" ng-options="counties" id-attr="_id" title-attr="name" on-option-select="countyWasSelected"></angular-select-autocomplete>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group-sm">
            <label>Oras<sup>*</sup>: </label>
            <angular-select-autocomplete ng-model="selectedCity" ng-options="cities" id-attr="_id" title-attr="name" ng-disabled="!selectedCounty || !selectedCounty._id"></angular-select-autocomplete>
        </div>
    </div>
    <div class="form-group-sm col-md-6">
        <label>Telefon:</label>
        <input type="text" class="form-control" ng-model="user.phone">
    </div>
    <div class="col-md-6 noPadding">
        <div class="form-group-sm col-md-6">
            <label>Sursa de informare:</label>
            <select ng-model="infoSource.type" ng-options="i as i.name for i in infoSources" class="form-control"></select>
        </div>
        <div class="form-group-sm col-md-6">
            <label ng-style="{'color':infoSource.type.id!=0?'#ffffff':'initial'}">Specifica</label>
            <input type="text" class="form-control" ng-model="infoSource.text" ng-disabled="infoSource.type.id!=0">
        </div>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="nonUser.termsStaywell">
        <span>Accept <a href="apiPublic/termsAndConditionsStaywell" target="_blank">termenii si conditiile Staywell</a>&nbsp;<sup>*</sup></span>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="nonUser.termsMSD">
        <span>Accept <a href="apiPublic/termsAndConditionsMSD" target="_blank">politica MSD privind datele profesionale</a>&nbsp;<sup>*</sup></span>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="user.subscriptions.newsletterStaywell">
        <span>Sunt de acord sa primesc newsletter Staywell</span>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="user.subscriptions.infoMSD">
        <span>Sunt de acord sa primesc informatii de la MSD</span>
    </div>
</div>