<div class="col-md-12 noPadding" ng-init="user.temp.proofType='file'">
    <div class="form-group-sm col-md-6">
        <label for="profession">Profesie<sup>*</sup>:</label>
        <select ng-model="user.profession" class="form-control" ng-change="selectProfession()"
                ng-options="profession._id as profession.display_name for profession in professions" id="profession"></select>
    </div>
    <div class="form-group-sm col-md-3">
        <input type="radio" ng-model="user.temp.proofType" value="file"><label>&nbsp;Dovada:</label>
        <button class="btn btn-default form-control" type="file" ng-file-select ng-file-change="proofSelected($files, $event)" id="proof"
                multiple="false" ng-disabled="user.temp.proofType!='file'" popover="{{codeTooltip}}" popover-trigger="mouseenter" popover-placement="bottom">
            <i class="glyphicon glyphicon-file"></i>&nbsp;{{user.temp.proofFile?user.temp.proofFile.name:"Incarca dovada"}}
        </button>
    </div>
    <div class="form-group-sm col-md-3">
        <input type="radio" ng-model="user.temp.proofType" value="code"><label>&nbsp;Cod de activare:</label>
        <input id="code" type="text" ng-model="user.temp.activationCode" class="form-control" ng-disabled="user.temp.proofType!='code'">
    </div>
    <div class="form-group-sm col-md-6">
        <label for="group">Grup preferat<sup>*</sup>:</label>
        <select ng-model="user.groupsID" class="form-control"
                ng-options="group._id as group.display_name for group in groups" id="group"></select>
    </div>
    <div class="form-group-sm col-md-6">
        <label>Tip de practica:</label>
        <select ng-model="user.practiceType" class="form-control" ng-options="practice.number as practice.name for practice in practices"></select>
    </div>
    <div class="form-group-sm col-md-12">
        <label>Adresa<sup>*</sup>:</label>
        <input type="text" class="form-control" ng-model="user.address">
    </div>
    <div class="col-md-6">
        <div class="form-group-sm">
            <label>Judet<sup>*</sup>: </label>
            <ui-select ng-model="county.selected" name="judet" theme="select2" ng-disabled="false" style="width: 100%;" id="county">
                <ui-select-match placeholder="Selecteaza un judet">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="county in counties | propsFilter: {name: $select.search}">
                    <div ng-bind-html="trustAsHtml((county.name | highlight: $select.search))"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group-sm">
            <label>Oras<sup>*</sup>: </label>
            <ui-select ng-model="city.selected" name="oras" theme="select2" ng-disabled="false" style="width: 100%;" id="city">
                <ui-select-match placeholder="Selecteaza un oras">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="city in cities | propsFilter: {name: $select.search}">
                    <div ng-bind-html="trustAsHtml((city.name | highlight: $select.search))"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group-sm col-md-6">
        <label>Telefon:</label>
        <input type="text" class="form-control" ng-model="user.phone">
    </div>
    <div class="col-md-6 noPadding">
        <div class="form-group-sm col-md-6">
            <label>Sursa de informare:</label>
            <select ng-model="infoSource.type" ng-options="i as i.name for i in infoSources" class="form-control"></select>
        </div>
        <div class="form-group-sm col-md-6">
            <label ng-style="{'color':infoSource.type.id!=0?'#ffffff':'initial'}">Specifica</label>
            <input type="text" class="form-control" ng-model="infoSource.text" ng-disabled="infoSource.type.id!=0">
        </div>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="nonUser.termsStaywell">
        <span>Accept termenii si conditiile Staywell</span>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="nonUser.termsMSD">
        <span>Accept politica MSD privind datele profesionale</span>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="user.subscriptions.newsletterStaywell">
        <span>Sunt de acord sa primesc newsletter Staywell</span>
    </div>
    <div class="form-group-sm col-md-6">
        <input type="checkbox" ng-model="user.subscriptions.infoMSD">
        <span>Sunt de acord sa primesc informatii de la MSD</span>
    </div>
</div>