<div class="form-group col-md-6">
    <label>Email<sup>*</sup>:</label>
    <input type="text" class="form-control" ng-model="user.username">
</div>
<div class="col-md-6 noPadding">
    <div class="form-group col-md-3">
        <label>Titlu<sup>*</sup>:</label>
        <select ng-model="user.title" class="form-control" ng-init="user.title = titles[0].number"
                ng-options="title.number as title.name for title in titles"></select>
    </div>
    <div class="form-group col-md-9">
        <label>Nume<sup>*</sup>:</label>
        <input type="text" class="form-control" ng-model="user.name">
    </div>
</div>
<div class="form-group col-md-6">
    <label>Parola<sup>*</sup>:</label>
    <input type="password" class="form-control" ng-model="user.password">
</div>
<div class="form-group col-md-6">
    <label>Confirma parola<sup>*</sup>:</label>
    <input type="password" class="form-control" ng-model="nonUser.confirm">
</div>