<form ng-submit="signup()">
    <div class="modal-header">
        <div class="modal-title"><h3><span class="fa fa-sign-in"></span>&nbsp;Signup</h3></div>
    </div>
    <div class="modal-body">
        <alert type="{{alert.type}}" ng-if="alert.show">{{alert.text}}</alert>
        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" ng-model="email">
        </div>
        <div class="form-group">
            <label>Nume:</label>
            <input type="text" class="form-control" ng-model="name">
        </div>
        <div class="form-group">
            <label>Parola:</label>
            <input type="password" class="form-control" ng-model="password">
        </div>
        <div class="form-group">
            <label>Confirma parola:</label>
            <input type="password" class="form-control" ng-model="confirm">
        </div>
        <div class="form-group">
            Sunt de acord cu <a href="/apiPublic/termsAndConditions" target="_blank">termenii si conditiile</a>
            <input type="checkbox" ng-model="terms">
        </div>
        <div>
            <ul class="pointerLinks">
                <li>Ai uitat parola? <a ng-click="renderView('reset')">Cere resetarea parolei</a></li>
                <li>Ai deja un cont creat? <a ng-click="renderView('login')">Acceseaza contul</a></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default pull-left" ng-click="closeModal()">Inchide</a>
        <button class="btn btn-warning pull-right" type="submit">Signup</button>
    </div>
</form>