<div class="col-md-12 unselectable noPadding" carousel-resizable>
    <div class="carouselWrapper" style="{{carouselStyle}}">
        <div class="fixedBox">
            <div class="carouselTitle">
                {{carouselSlides[selectedIndex].title}}
            </div>
            <div class="carouselDescription" ng-bind-html="trustAsHtml(carouselSlides[selectedIndex].description)">
            </div>
            <div class="carouselLearnMore" ng-click="carouselLearnMore(carouselSlides[selectedIndex].type, carouselSlides[selectedIndex].content_id)">
                Learn more <i class="fa fa-caret-right"></i>
            </div>
        </div>
        <div class="carouselNavigation">
            <div class="navSlide" ng-repeat="slide in carouselSlides | repeatReverse track by $index"  ng-class="{'active':(carouselSlides.length - $index - 1) == selectedIndex}" ng-click="setSlide(carouselSlides.length - $index - 1)">
                <img ng-src="{{pathAmazonDev+slide.image_path}}" tooltip-html-unsafe="{{getTooltip(slide)}}" tooltip-trigger="mouseenter">
            </div>
        </div>
        <ul rn-carousel rn-carousel-index="selectedIndex" class="myCarousel" rn-carousel-auto-slide="8">
            <li ng-repeat="slide in carouselSlides">
                <img ng-src="{{pathAmazonDev+slide.image_path}}" ondragstart="return false;">
            </li>
        </ul>
    </div>
</div>
<div class="col-md-12 noPadding unselectable">
    <div class="myTabs">
        <div class="myTab left" ng-class="{'active': $state.includes('home.noutati')}" ui-sref="home.noutati">ULTIMELE NOUTATI</div>
        <div class="myTab" ng-class="{'active': $state.includes('home.cmcArticole')}" ui-sref="home.cmcArticole">CELE MAI CITITE ARTICOLE</div>
        <div class="myTab right" ng-class="{'active': $state.includes('home.downloads')}" ui-sref="home.downloads">DOWNLOADS</div>
    </div>
</div>
<div class="col-md-12 noPadding" ui-view></div>
<div class="col-md-12 evenimente text-center"><i class="glyphicon glyphicon-calendar"></i>&nbsp;Evenimente</div>
<div class="col-md-12 timelineContainer">
    <ng-msd-timeline events="events" months="monthsArray"></ng-msd-timeline>
</div>