<div class="col-sm-12 searchResults">
    <div class="col-sm-12 mainTitle">REZULTATE C&#258;UTARE</div>

    <div class="col-sm-12 noPadding" ng-if="!searchResults || searchResults.length == 0">
        C&#259;utarea nu a returnat nici un rezultat
    </div>
    <div class="col-sm-12 noPadding" ng-if="searchResults && searchResults.length > 0">
        <div class="col-sm-12 noPadding" ng-if="!isMobile(true)">
            <div ng-repeat="item in searchResults track by $index" class="col-sm-12 noPadding">
                <horizontal-content-list content="item" image-path-attr="image_path" image-path-prefix="{{pathAmazonDev}}" default-image-path="{{defaultArticleImage}}"
                                         title-attr="title" text-attr="text" bold-attr-hardcoded="{{getCategory(item.type)}}" bold-attr-2="author" date-attr="date_added" button-label="Vizualizeaz&#259;"
                                         show-divider="$index!=articlesLimit-1 && $index!=searchResults.length-1" navigate="sref"></horizontal-content-list>
            </div>
        </div>
        <div class="col-sm-12 noPadding" ng-if="isMobile(true)">
            <mobile-content-list content="searchResults" image-attr="image_path" image-prefix="{{pathAmazonDev}}" default-image="{{defaultArticleImage}}"
                                 title-attr="title" text-attr="text" navigate="navigateTo" category-func="getSearchCategory"></mobile-content-list>
        </div>
    </div>
</div>