<div class = "col-md-12 well">

</div>
<div class="col-md-12">
    <div class="titleAndButton col-xs-12 noPadding">
        <div class="col-xs-2 noPadding">
            <h3>Aplicatii:</h3>
        </div>
        <div class="col-xs-10 noPadding">
            <div class="btn btn-primary" ng-click="addApp()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</div>
            <button class="btn btn-primary pull-right" ng-csv="csv.rows" csv-header="getHeader()" filename="{{csv.filename}}">Export Apps</button>
        </div>
    </div>

    <bulk-operations model="msd-applications" delete-button items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="app in $data">
            <td width="30">
              <input type="checkbox" ng-click="addToSelectedItems(app._id)" ng-checked="checkValue(app._id)"/>
            </td>
            <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
                {{app.name}}
            </td>
            <td data-title="'Data adaugarii'" sortable="'date_created'">
                {{app.upgradeDate | date}}
            </td>
            <td data-title="'Download Url'" sortable="'type'">
                {{app.downloadUrl}}
            </td>
            <td data-title="'Versiune'" sortable="'version'">
                {{app.version}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons show-toggle-button="false" show-edit-button="true" show-delete-button="true"
                                toggle-item="disableFile(file._id,file)" update-item="editApp(app._id)" delete-item="removeApp(app._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>