.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noPadding {
  padding: 0;
}
.carouselWrapper .fixedBox {
  position: absolute;
  left: 0px;
  top: 20%;
  height: 65%;
  width: 45%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  z-index: 100;
  padding: 30px 15px 35px 70px;
  background-color: rgba(250, 250, 250, 0.7);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1160px) {
  .carouselWrapper .fixedBox {
    padding: 20px 15px 35px 40px;
    box-shadow: none;
    background-color: rgba(250, 250, 250, 0.6);
  }
}
.carouselWrapper .fixedBox .textWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carouselWrapper .fixedBox .textWrapper .carouselTitle {
  width: 100%;
  white-space: normal;
  font-size: 30px;
  font-weight: bold;
  color: #028985;
  line-height: 1em;
  margin: 0;
}
@media (max-width: 1160px) {
  .carouselWrapper .fixedBox .textWrapper .carouselTitle {
    font-size: 30px;
  }
}
.carouselWrapper .fixedBox .textWrapper .carouselDescription {
  color: #000000;
  width: 100%;
  white-space: normal;
  padding-left: 30px;
  padding-top: 15px;
  font-size: 15px;
  margin: 0;
}
@media (max-width: 1160px) {
  .carouselWrapper .fixedBox .textWrapper .carouselDescription {
    padding-top: 10px;
  }
}
.carouselWrapper .fixedBox .carouselLearnMore {
  position: absolute;
  left: 70px;
  bottom: 15px;
  cursor: pointer;
  color: #f6902e;
  font-weight: bold;
  font-size: 17px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.carouselWrapper .carouselNavigation {
  position: absolute;
  right: 20px;
  bottom: 10%;
  width: 45%;
  z-index: 101;
  height: auto;
}
.carouselWrapper .carouselNavigation .navSlide {
  float: right;
  width: 60px;
  height: 35px;
  overflow: hidden;
  border: 2px solid #bbbbbb;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 0;
  cursor: pointer;
}
.carouselWrapper .carouselNavigation .navSlide.active {
  margin-bottom: 5px;
  border-color: #ffffff;
}
.carouselWrapper .carouselNavigation .navSlide img {
  height: 100%;
}
.carouselWrapper .carouselNavigation .navSlide .tooltip {
  width: 150px;
  padding-right: 50px;
}
.carouselWrapper .carouselNavigation .navSlide .tooltip .tooltip-inner {
  background-color: rgba(0, 135, 128, 0.5);
  margin-bottom: 4px;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}
.carouselWrapper .carouselNavigation .navSlide .tooltip .tooltip-inner img {
  width: 100%;
  margin-bottom: 5px;
}
.carouselWrapper .carouselNavigation .navSlide .tooltip .tooltip-arrow {
  border-width: 10px 10px 0;
  border-top-color: rgba(0, 135, 128, 0.5);
}
.carouselWrapper .myCarousel {
  height: 100%;
}
.carouselWrapper .myCarousel img {
  width: 100%;
}
