<div class="timelineWrapper">
    <div class="timelineBody">
        <div ng-repeat="event in formatEvents track by $index" ng-class="{'timeBox':!event.slim, 'timeBox2':event.slim}"
             ng-style="{'left':event.leftPx+'px','margin-top':event.isDown?timeBoxTopWhenFlipped+'px':timeBoxTop+'px','z-index':999-$index}"
             ng-click="event.collapsed = !event.collapsed">
            <div ng-if="!event.slim">
                <div class="timeBoxLine" ng-style="{'bottom':event.isDown?'25px':'-25px'}"></div>
                <div class="zi">{{event.zi}}</div>
                <div class="luna">.{{event.luna}}</div>
                <div class="isCollapsed">
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down':event.collapsed, 'glyphicon-chevron-right':!event.collapsed}"></i>
                </div>
                <div class="nume" ng-if="!event.collapsed">{{event.nume}}</div>
            </div>
            <div ng-if="event.slim">
                <div class="timeBoxLine" ng-style="{'bottom':event.isDown?'28px':'-26px'}"></div>
                <div class="isCollapsed">
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down':event.collapsed, 'glyphicon-chevron-right':!event.collapsed}"></i>
                </div>
                <div class="collapsedContent" ng-if="!event.collapsed">
                    <div class="zi">{{event.zi}}</div>
                    <div class="luna">.{{event.luna}}</div>
                    <div class="nume">{{event.nume}}</div>
                </div>
            </div>
        </div>
        <div class="timeGrid">
            <div class="gridd">
                <div class="month" ng-repeat="month in formatMonths" ng-style="{'left':month.poz+'px'}">
                    <div class="monthLine"></div>
                    <div class="monthName">{{month.name}}</div>
                </div>
            </div>
            <div class="todayBox">
                <div class="dateShow">{{(thisDay<10?"0"+thisDay:thisDay)+"."+((thisMonth+1)<10?"0"+(thisMonth+1):thisMonth+1)}}</div>
                <div class="arrowDown"></div>
                <div class="lineDown" ng-style="{'display':hideTodayBoxLine?'none':'initial'}"></div>
            </div>
        </div>
    </div>
</div>