<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Gestionare carousel medic</h3></div>
    <div class="col-md-3"><div class="btn btn-default pull-right" ng-click="addImage()">Adauga imagine</div></div>
</div>
<div class="col-md-12">
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="image in $data">
            <td data-title="'Titlu'" filter="{ 'title': 'text' }" sortable="'title'">
                {{image.title}}
            </td>
            <td data-title="'Ordine'" sortable="'order_index'">
                {{image.indexNumber}}
            </td>
            <td data-title="'Tip'" sortable="'type'">
                {{typeDisplay(image.type)}}
            </td>
            <td data-title="'Actiuni'">
                <div class="btn-group">
                    <div class="btn btn-default" ng-click="editImage(image._id)"><i class="glyphicon glyphicon-cog"></i></div>
                    <div class="btn btn-danger" ng-click="deleteImage(image._id)"><i class="glyphicon glyphicon-trash"></i></div>
                    <div class="btn btn-warning" ng-class="{'btn-primary':image.enable===false,'btn-danger':image.enable===true}" ng-click="toggleImageEnable(image._id, image.enable)"><i class="glyphicon" ng-class="{'glyphicon-lock':image.enable===true,'glyphicon-share':image.enable===false}"></i></div>
                </div>
            </td>
        </tr>
    </table>
</div>