<form>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeModal()">&times;</button>
            <h3 class="modal-title">Editeaza imagine</h3>
        </div>
        <div class="col-md-12 modal-body padding30">
            <tabset>
                <tab heading="Informatii">
                    <div class="col-md-12 noPadding" style="margin-bottom: 10px;">
                        <alert ng-if="statusAlert.newAlert" type="{{statusAlert.type}}" close="statusAlert.newAlert=false">{{statusAlert.message}}</alert>
                    </div>
                    <div class="col-md-12 noPadding">
                        <div class="form-group col-md-12 noPadding">
                            <label for="titlu">Titlu:</label>
                            <input type="text" class="form-control" id="titlu" ng-model="toEdit.title">
                        </div>
                    </div>
                    <div class="col-md-12 noPadding">
                        <div class="form-group col-md-6 noPaddingLeft">
                            <label for="ordine">Ordine:</label>
                            <input type="text" class="form-control" id="ordine" ng-model="toEdit.indexNumber">
                        </div>
                        <div class="form-group col-md-6 noPaddingRight">
                            <label for="type">Tip continut:</label>
                            <select ng-model="toEdit.type" ng-options="type as typeDisplay(type) for type in [1,2,3]"
                                    class="form-control" id="type" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 noPadding">
                        <div class="form-group col-md-12 noPadding">
                            <label>Continut: </label>
                            <angular-select-autocomplete ng-model="selectedContent" ng-options="allContent" id-attr="_id" title-attr="title"></angular-select-autocomplete>
                        </div>
                        <div class="form-group col-md-12 noPadding">
                            <label for="redirect">Redirecteaza catre:</label>
                            <input type="text" class="form-control" id="redirect" ng-model="toEdit.redirect_to_href">
                        </div>
                    </div>
                </tab>
                <tab heading="Multimedia">
                    <div class="col-md-12 noPadding" style="margin-bottom: 10px;">
                        <alert ng-if="uploadAlert.newAlert" type="{{uploadAlert.type}}" close="uploadAlert.newAlert=false">{{uploadAlert.message}}</alert>
                    </div>
                    <div class="col-md-12 noPadding">
                        <div class="col-md-6 noPadding">
                            <button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false" ngf-accept="'image/*'"><i class="glyphicon glyphicon-camera"></i>&nbsp;Schimba imagine</button>
                        </div>
                        <div class="col-md-6 noPadding">
                            <a ng-if="toEdit.image_path" ng-href="{{pathAmazonDev+toEdit.image_path}}" target="_blank">
                                <img ng-src="{{defaultSlideImage}}" style="width: 50px;">&nbsp;Descarca imagine
                            </a>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default pull-left" ng-click="closeModal()">Inchide</button>
                <button type="submit" class="btn btn-primary pull-right" ng-click="editImage()">Modifica</button>
            </div>
        </div>
    </div>
</form>