<div class="modal-header">
    <div class="modal-title"><h3>Stergere articol</h3></div>
</div>
<div class="modal-body" style="height: 70%;">
    Esti sigur ca vrei sa stergi acest articol?
</div>
<div class="modal-footer">
    <a class="btn pull-left btn-primary" ng-click="closeModal()">Inchide</a>
    <a class="btn pull-right btn-danger" ng-click="sterge()">Sterge articol</a>
</div>