<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>
<div class="modal-header">
    <div class="modal-title"><h3>Adauga articol</h3></div>
</div>
<div class="modal-body" style="height: 70%;">
    <div class="row">
        <div class="col-xs-6">
            <label class="label label-default">Nume articol:</label>
            <input ng-model="articolNou.title" type="text" class="form-control col-xs-12">
        </div>
        <div class="col-xs-6">
            <label class="label label-default">Nume autor:</label>

            <input ng-model="articolNou.author" type="text" class="form-control col-xs-12">
        </div>
        <div>
            <label class="label label-default">Tip document:</label>
            <select ng-model="articolNou.type" class="form-control">
                <option value="1">Noutati</option>
                <option value="2">Legislativ</option>
                <option value="3">Stiintifice</option>
            </select>
            </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="grupuri">Grupuri:</label>
                <select ng-model="selectedGroup" ng-options="grup as grup.display_name for grup in grupe"
                        class="form-control" id="grupuri" style="width: 100%;" ng-change="groupWasSelected(selectedGroup)">
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div ng-repeat="grup in grupeUser">
                <div class="label label-primary" style="float: left; margin-right: 10px; margin-bottom: 10px;">
                    {{grup.display_name}}&nbsp;
                    <i class="glyphicon glyphicon-remove-sign" ng-click="removeUserGroup(grup._id)" style="cursor: pointer;"></i>
                </div>
            </div>
        </div>

        <label class="label label-default">Text:</label>

            <textarea id="textArticle" style="width:100%"></textarea>

    </div>
</div>
<div class="modal-footer">
    <a class="btn pull-left btn-primary" ng-click="okk()">Close</a>
    <a class="btn pull-right btn-primary" ng-click="createArticle()">Adauga articol</a>
</div>