<script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
</script>

<div class="container-fluid">
    <div class="col-xs-12">
        <h3>Update conferinta</h3>
    </div>
    <div class="col-xs-12">
        <label class="label label-default">Titlu:</label>
        <input ng-model="newConference.title" type="text" class="form-control col-xs-12">
    </div>
    <div class="col-xs-6">
        <label class="label label-default">Data inceput:</label>
        <p class="input-group">
            <input ng-model="newConference.begin_date" type="text" class="form-control" ng-click="open1($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened1" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        </p>

    </div>
    <div class="col-xs-6">
        <label class="label label-default">Data sfarsit:</label>
        <p class="input-group">
            <input ng-model="newConference.end_date" type="text" class="form-control" ng-click="open2($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened2" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        </p>

    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="rooms">Room:</label>
            <select ng-model="selectedRoom" ng-options="room as room.room_name for room in rooms"
                    class="form-control" id="rooms" style="width: 100%;" ng-change="RoomWasSelected(selectedRoom)">
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div ng-repeat="room in groupRooms">
            <div class="label label-primary" style="float: left; margin-right: 10px; margin-bottom: 10px;">
                {{room.room_name}}&nbsp;
                <i class="glyphicon glyphicon-remove-sign" ng-click="removeRoom(room._id)" style="cursor: pointer;"></i>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <label class="label label-default">Message QR:</label>
        <input ng-model="newConference.qr_code.message" type="text" class="form-control col-xs-12">
    </div>
    <div class="col-xs-12">
        <a class="btn pull-left btn-primary" ng-click="okk()">Back to Events</a>
        <a class="btn pull-right btn-primary" ng-click="updateConference()">Update conference</a>
    </div>
    <div class="col-xs-12">
        <label class="label label-default">Message QR:</label>
        <input ng-model="newString" type="text" class="form-control col-xs-12">
    </div>
    <div class="col-xs-12">
        <form method="post">
            <label class="label label-default">Descriere:</label>
            <textarea ui-tinymce="tinymceOptions" ng-model="newConference.description"></textarea>
        </form>
    </div>
    <div growl class="col-xs-12">

    </div>
    <div class="col-xs-12">
        <table ng-table="tableParams" show-filter="true" class="table table-bordered">
            <tr ng-repeat="rooms in $data">
                <td data-title="'Room Name'" filter="{ 'room_name': 'text' }" sortable="'room_name'">{{rooms.room_name}}</td>
                <td>
                    <div class="btn-group-sm"  role="group" style="display: flex">
                        <button class="btn btn-danger" ui-sref=""><i class="glyphicon glyphicon-trash"></i></button>
                        <button class="btn btn-info" ui-sref="continut.updateRoom({id:rooms._id})"><i class="glyphicon glyphicon-cog"></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


