<script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
</script>

<div class="container-fluid">
    <div class="col-xs-12">
        <h3>Update conferinta</h3>
    </div>
    <div class="col-xs-12">
        <label class="label label-default">Titlu:</label>
        <input ng-model="newConference.title" type="text" class="form-control col-xs-12">
    </div>
    <div class="col-xs-6">
        <label class="label label-default">Data inceput:</label>
        <p class="input-group">
            <input ng-model="newConference.begin_date" type="text" class="form-control" ng-click="open1($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened1" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        </p>

    </div>
    <div class="col-xs-6">
        <label class="label label-default">Data sfarsit:</label>
        <p class="input-group">
            <input ng-model="newConference.end_date" type="text" class="form-control" ng-click="open2($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened2" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        </p>

    </div>
    <div class="col-xs-12">
        <label class="label label-default">Message QR:</label>
        <input ng-model="newConference.qr_code.message" type="text" class="form-control col-xs-12">
    </div>

    <div class="col-xs-6">
        <label class="label label-default">QR:</label>
        <qr text='string' image="true"></qr>

    </div>
    <div class="col-md-6" style="padding: 0;">
        <div class="col-md-12">
            <img no-cache-src="{{pathAmazonDev+newConference.image_path}}" ng-if="newConference.image_path" style="width:100px;">
        </div>
        <div class="col-md-12">
            <button class="btn btn-default" type="file" ng-file-select ng-file-change="fileSelected($files, $event)" multiple="false" accept="image/*"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca fisier</button>
        </div>
        <div class="col-md-12">
            <alert ng-if="uploadAlert.newAlert" type="{{uploadAlert.type}}" close="uploadAlert.newAlert=false">{{uploadAlert.message}}</alert>
        </div>
    </div>
    <div class="col-xs-12">
        <a class="btn pull-left btn-primary" ng-click="okk()">Back to Events</a>
        <a class="btn pull-right btn-primary" ng-click="updateConference()">Update conference</a>
    </div>
    <div class="col-xs-12">
        <form method="post">
            <label class="label label-default">Descriere:</label>
            <textarea ui-tinymce="tinymceOptions" ng-model="newConference.description"></textarea>
        </form>
    </div>
    <div class="form-group col-md-12" style="margin-bottom: 0;">
        <label for="notificationCheck">Trimite notificare&nbsp;</label>
        <input type="checkbox" id="notificationCheck" ng-model="notificationCheck">
    </div>
    <div class="form-group col-md-12">
        <label for="notificationText">Text notificare</label>
        <input type="text" ng-model="notificationText" class="form-control">
    </div>
    <div growl class="col-xs-12">

    </div>
</div>


