<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Gestionare continut public</h3></div>
    <div class="col-md-3"><div class="btn btn-default pull-right" ng-click="addContent()">Adauga continut</div></div>
</div>
<div class="col-md-12">
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="content in $data">
            <td data-title="'Titlu'" filter="{ 'title': 'text' }" sortable="'title'">
                {{content.title}}
            </td>
            <td data-title="'Autor'" sortable="'author'">
                {{content.author}}
            </td>
            <td data-title="'Tip'" sortable="'type'">
                {{typeDisplay(content.type)}}
            </td>
            <td data-title="'Actiuni'">
                <div class="btn-group">
                    <div class="btn btn-default" ng-click="editContent(content._id)"><i class="glyphicon glyphicon-cog"></i></div>
                    <div class="btn btn-danger" ng-click="deleteContent(content._id)"><i class="glyphicon glyphicon-trash"></i></div>
                    <div class="btn" ng-class="{'btn-primary':content.enable===true,'btn-danger':content.enable===false}" ng-click="toogleContentEnable(content._id, content.enable)"><i class="glyphicon" ng-class="{'glyphicon-lock':content.enable===true,'glyphicon-share':content.enable===false}"></i></div>
                </div>
            </td>
        </tr>
    </table>
</div>