<div class="modal-header">
    <div class="modal-title"><h3>Stergere talk</h3></div>
</div>
<div class="modal-body" style="height: 70%;">
    <div class="row">
        <p>Esti sigur ca vrei sa stergi acest talk?</p>
    </div>
</div>
<div class="modal-footer">
    <a class="btn pull-left btn-primary" ng-click="okk()">Close</a>
    <a class="btn pull-right btn-primary" ng-click="stergeTalk()">Sterge talk</a>
</div>