<div class="container-fluid">
    <div class="well">
        <div class="row">
            <div class="col-xs-2"><h3>Gestionare Evenimente</h3></div>
            <div class="col-xs-2 pull-right">
                <a ui-sref="continut.adaugaEveniment" class="btn btn-info pull-right margintop20px" id="add-event"><i class="glyphicon glyphicon-plus-sign"></i> Adauga eveniment</a>
            </div>
            <div class="col-xs-2 pull-right">
                <a ui-sref="continut.adaugaConferinta" class="btn btn-info pull-right margintop20px" id="add-event"><i class="glyphicon glyphicon-plus-sign"></i> Adauga conferinta</a>
            </div>
            <div class="col-xs-2 pull-right">
                <a ui-sref="continut.adaugaTalk" class="btn btn-info pull-right margintop20px" id="add-event"><i class="glyphicon glyphicon-plus-sign"></i> Adauga talk</a>
            </div>
            <div class="col-xs-2 pull-right">
                <a ui-sref="continut.adaugaSpeaker" class="btn btn-info pull-right margintop20px" id="add-event"><i class="glyphicon glyphicon-plus-sign"></i> Adauga speaker</a>
            </div>
            <div class="col-xs-2 pull-right">
                <a ui-sref="continut.adaugaRoom" class="btn btn-info pull-right margintop20px" id="add-event"><i class="glyphicon glyphicon-plus-sign"></i> Adauga room</a>
            </div>
        </div>
    </div>
    <h3>Evenimente</h3>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="eveniment in $data">
            <td data-title="'Denumire'" filter="{ 'name': 'text' }" sortable="'name'">{{eveniment.name}}</td>
            <td data-title="'Tip'" sortable="'type'" ><i class="glyphicon glyphicon-calendar">Eveniment</i></td>
            <td data-title="'Inceput'" sortable="'start'">{{eveniment.start | asDate | date:'dd/MM/yyyy'}}</td>
            <td data-title="'Final'" sortable="'end'">{{eveniment.end | asDate|date:'dd/MM/yyyy'}}</td>


            <td>
                <div class="btn-group-sm"  role="group" style="display: flex">
                    <button class="btn btn-danger" ui-sref="continut.evenimente.deleteEveniment({id: eveniment._id})"><i class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn btn-info" ui-sref="continut.updateEveniment({id: eveniment._id})"><i class="glyphicon glyphicon-cog"></i></button>
                </div>
            </td>
        </tr>
    </table>
    <hr><h3>Camere</h3>
    <table ng-table="tableParams2" show-filter="true" class="table table-bordered">
        <tr ng-repeat="rooms in $data">
            <td data-title="'Room Name'" filter="{ 'room_name': 'text' }" sortable="'room_name'">{{rooms.room_name}}</td>
            <td data-title="'Conference'" filter="{ 'id_conference.title': 'text' }" sortable="'id_conference.title'">{{rooms.id_conference.title}}
            <div ng-if="rooms.id_conference!=null" class="btn-group-sm"  role="group" style="display: flex">
                <button class="btn btn-danger" ui-sref=""><i class="glyphicon glyphicon-trash"></i></button>
                <button class="btn btn-info" ui-sref="continut.updateConference({id: rooms.id_conference._id})"><i class="glyphicon glyphicon-cog"></i></button>
            </div>
            </td>
            <td>
                <div class="btn-group-sm"  role="group" style="display: flex">
                    <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn btn-info" ui-sref="continut.updateRoom({id:rooms._id})"><i class="glyphicon glyphicon-cog"></i></button>
                </div>
            </td>
        </tr>
    </table>
    <hr><h3>Talk-uri</h3>
    <table ng-table="tableParams3" show-filter="true" class="table table-bordered">
        <tr ng-repeat="talks in $data">
            <td data-title="'Title'" filter="{ 'title': 'text' }" sortable="'title'">{{talks.title}}</td>
            <td>
                <div class="btn-group-sm"  role="group" style="display: flex">
                    <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn btn-info" ui-sref="continut.updateTalk({id:talks._id})"><i class="glyphicon glyphicon-cog"></i></button>
                </div>
            </td>
        </tr>
    </table>

</div>