<div class="container-fluid">
    <div class="well">
        <div class="row">
            <div class="col-xs-8"><h3>Gestionare Evenimente</h3></div>
            <div class="col-xs-2">
                <a ui-sref="continut.adaugaConferinta" class="btn btn-info pull-right margintop20px"><i class="glyphicon glyphicon-plus-sign"></i> Adauga conferinta</a>
            </div>
        </div>
    </div>
    <div class="titleAndButton">
        <div><h3>Evenimente</h3></div>
        <div><a ui-sref="continut.adaugaEveniment" class="btn btn-info"><i class="glyphicon glyphicon-plus-sign"></i> Adauga</a></div>
    </div>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="eveniment in $data">
            <td data-title="'Denumire'" filter="{ 'name': 'text' }" sortable="'name'">{{eveniment.name}}</td>
            <td data-title="'Tip'" sortable="'type'" ><i class="glyphicon glyphicon-calendar">Eveniment</i></td>
            <td data-title="'Inceput'" sortable="'start'">{{eveniment.start | asDate | date:'dd/MM/yyyy'}}</td>
            <td data-title="'Final'" sortable="'end'">{{eveniment.end | asDate|date:'dd/MM/yyyy'}}</td>
            <td data-title="'Conferinte'" sortable="'listconferences'">
                <ul style="list-style: none">
                    <li class="margintop20px" ng-repeat="conf in eveniment.listconferences | orderBy: 'title'">{{conf.title}}&nbsp;
                            <span class="btn-group-sm pull-right"  role="group" style="display: flex">
                                <button class="btn btn-danger btn-sm" ui-sref="continut.evenimente.deleteConference({id: conf._id})"><i class="glyphicon glyphicon-trash"></i></button>
                                <button class="btn btn-info btn-sm" ui-sref="continut.updateConference({id: conf._id})"><i class="glyphicon glyphicon-cog"></i></button>
                            </span>
                        <br />
                    </li>
                </ul>
            </td>

            <td>
                <div class="btn-group-sm"  role="group" style="display: flex">
                    <button class="btn btn-danger" ui-sref="continut.evenimente.deleteEveniment({id: eveniment._id})"><i class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn btn-info" ui-sref="continut.updateEveniment({id: eveniment._id})"><i class="glyphicon glyphicon-cog"></i></button>
                </div>
            </td>
        </tr>
    </table>
    <div class="titleAndButton">
        <div><h3>Camere</h3></div>
        <div><a ui-sref="continut.adaugaRoom" class="btn btn-info"><i class="glyphicon glyphicon-plus-sign"></i> Adauga</a></div>
    </div>
    <table ng-table="tableParams2" show-filter="true" class="table table-bordered">
        <tr ng-repeat="rooms in $data">
            <td data-title="'Room Name'" filter="{ 'room_name': 'text' }" sortable="'room_name'">{{rooms.room_name}}</td>
            <td>
                <div class="btn-group-sm"  role="group" style="display: flex">
                    <button class="btn btn-danger" ui-sref="continut.deleteRoom({id:rooms._id})"><i class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn btn-info" ui-sref="continut.updateRoom({id:rooms._id})"><i class="glyphicon glyphicon-cog"></i></button>
                </div>
            </td>
        </tr>
    </table>
    <div class="titleAndButton">
        <div><h3>Talk-uri</h3></div>
        <div><a ui-sref="continut.adaugaTalk" class="btn btn-info"><i class="glyphicon glyphicon-plus-sign"></i> Adauga</a></div>
    </div>
    <table ng-table="tableParamsTalks" show-filter="true" class="table table-bordered">
        <tr ng-repeat="talk in $data">
            <td data-title="'Title'" filter="{ 'title': 'text' }" sortable="'title'">{{talk.title}}</td>
            <td data-title="'Conferinta'" filter="{ 'conference.title': 'text' }" sortable="'conference.title'">{{talk.conference.title}}</td>
            <td data-title="'Camera'" filter="{ 'room.room_name': 'text' }" sortable="'room.room_name'">{{talk.room.room_name}}</td>
            <td>
                <div class="btn-group-sm"  role="group" style="display: flex">
                    <button class="btn btn-danger" ui-sref="continut.evenimente.deleteTalk({id: talk._id})"><i class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn btn-info" ui-sref="continut.updateTalk({id: talk._id})"><i class="glyphicon glyphicon-cog"></i></button>
                </div>
            </td>
        </tr>
    </table>
    <div class="titleAndButton">
        <div><h3>Speakeri</h3></div>
        <div><a ui-sref="continut.adaugaSpeaker" class="btn btn-info"><i class="glyphicon glyphicon-plus-sign"></i> Adauga</a></div>
    </div>
    <table ng-table="tableParamsSpeakers" show-filter="true" class="table table-bordered">
        <tr ng-repeat="speaker in $data">
            <td data-title="'Nume'" filter="{ 'last_name': 'text' }" sortable="'last_name'">{{speaker.last_name}}</td>
            <td data-title="'Prenume'" filter="{ 'first_name': 'text' }" sortable="'first_name'">{{speaker.first_name}}</td>
            <td>
                <div class="btn-group-sm"  role="group" style="display: flex">
                    <button class="btn btn-danger" ui-sref="continut.deleteSpeaker({id:speaker._id})"><i class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn btn-info" ui-sref="continut.updateSpeaker({id:speaker._id})"><i class="glyphicon glyphicon-cog"></i></button>
                </div>
            </td>
        </tr>
    </table>


</div>