<div class="container-fluid">
    <div class="well">
        <div class="row">
            <div class="col-xs-5"><h3>Gestionare Evenimente</h3></div>
            <div class="col-xs-2 pull-right">
                <a href="#" class="btn btn-info pull-right margintop20px" id="add-event"><i class="glyphicon glyphicon-plus-sign"></i> Adauga eveniment</a>
            </div>
        </div>
    </div>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="eveniment in $data">
            <td data-title="'Denumire'" filter="{ 'name': 'text' }" sortable="'name'">{{eveniment.name}}</td>
            <td data-title="'Tip'" sortable="'type'" ><i class="glyphicon glyphicon-calendar">Eveniment</i></td>
            <td data-title="'Detalii'" filter="{ 'description': 'text' }" sortable="'description'">{{eveniment.description}}</td>
            <td data-title="'Inceput'" sortable="'start'">{{eveniment.start | asDate | date:'dd/MM/yyyy'}}</td>
            <td data-title="'Final'" sortable="'end'">{{eveniment.end | asDate|date:'dd/MM/yyyy'}}</td>
            <td data-title="'Locatie'" sortable="'place'">{{eveniment.place}}</td>
            <td>
                <div class="btn-group-sm"  role="group" style="display: flex">
                    <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn btn-info"><i class="glyphicon glyphicon-cog"></i></button>
                </div>
            </td>
        </tr>
    </table>

</div>