<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>
<div class="modal-header">
    <div class="modal-title"><h3>Adauga produs</h3></div>
</div>
<div class="modal-body" style="height: 70%;">
<div class="row">
    <div class="col-xs-6">
<label class="label label-default">Nume produs:</label>
        <input type="text" class="input-group col-xs-12">
    </div>
    <div class="col-xs-6">
            <label class="label label-default">Aria terapeutica:</label>

            <select name="Arii" multiple="true" class="input-group col-xs-12" required="required">
                <option value="">-selecteaza-</option>
    </select>
</div>
    <div>
        <label class="label label-default">Selectati o arie terapeutica:</label>
<ui-select multiple="true" theme="select2">
    <ui-select-choices>

    </ui-select-choices>
</ui-select>
    </div>

        <form method="post">
            <textarea style="width:100%"></textarea>
        </form>
    </div>
    </div>
<div class="modal-footer">
    <a class="btn pull-right btn-primary" ng-click="okk()">Close</a>
</div>