<div class="modal-header">
    <div class="modal-title"><h3>Stergere produs</h3></div>
</div>
<div class="modal-body" style="height: 70%;">
    Esti sigur ca vrei sa stergi aceast produs?
    <alert ng-if="statusAlert.message!=''" type="success" close="statusAlert.newAlert=false">{{statusAlert.message}}</alert>
</div>
<div class="modal-footer">
    <a class="btn pull-left btn-primary" ng-click="closeModal()">Inchide</a>
    <a class="btn pull-right btn-danger" ng-click="deleteProduct()">Sterge produs</a>
</div>