<div class="modal-header">
    <div class="modal-title"><h3>Editeaza produs</h3></div>
</div>
<div class="col-md-12 modal-body">
    <div class="col-md-12">
        <label>Nume produs:</label>
        <input ng-model="product.name" type="text" class="form-control">
    </div>
    <div class="col-md-12 noPadding">
        <therapeutic-select all-areas="areas" selected-areas="selectedAreas" returned-areas="returnedAreas"></therapeutic-select>
    </div>
    <div class="col-md-12">
        <div class="form-group col-md-12">
            <label>Grupuri:</label>
            <my-multiple-select all-objects="groups" selected-objects="selectedGroups" track-by="_id" display-by="display_name" split-by="profession.display_name"></my-multiple-select>
        </div>
    </div>
    <div class="col-md-12">
        <label>Descriere:</label>
        <textarea ui-tinymce="tinymceOptions" ng-model="product.description"></textarea>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12">
        <a class="btn pull-left btn-primary" ng-click="closeModal()">Inchide</a>
        <a class="btn pull-right btn-danger" ng-click="updateProduct()">Modifica</a>
    </div>
</div>