<div class="container-fluid">
<div class="well">
    <div class="row">
        <div class="col-xs-5"><h3>Gestionare Produse</h3></div>
                <div class="col-xs-2 pull-right">
            <a ng-click="addProduct()" class="btn btn-info pull-right margintop20px" id="add-product"><i class="glyphicon glyphicon-plus-sign"></i> Adauga produs</a>
        </div>
    </div>
</div>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="prod in $data">
            <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">{{prod.name}}</td>
            <td data-title="'Description'" sortable="'description'" ng-bind-html="renderHtml(prod.description)"></td>
            <td data-title="'Therapeutic Areas'" filter="{ 'therapeutic-areasID.name': 'text' }" sortable="'therapeutic-areasID.name'">
                <li ng-repeat="therap in prod['therapeutic-areasID']">
                    {{therap.name}}
                </li>
            </td>
            <td>
                <div class="btn-group-sm"  role="group" style="display: flex">
                    <button class="btn btn-danger" ng-click="deleteProduct(prod._id)"><i class="glyphicon glyphicon-trash"></i></button>
                    <button class="btn btn-info" ng-click="editProduct(prod._id)"><i class="glyphicon glyphicon-cog"></i></button>
                </div>
            </td>
        </tr>
    </table>

</div>