<div class="container-fluid">
    <div class="col-xs-12">
        <h3>Update room</h3>
    </div>
    <div class="col-xs-12">
        <label class="label label-default">Room name:</label>
        <input ng-model="newRoom.room_name" type="text" class="form-control col-xs-12">
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="talks">Talks:</label>
            <select ng-model="selectedTalk" ng-options="talk as talk.title for talk in talks"
                    class="form-control" id="talks" style="width: 100%;" ng-change="TalkWasSelected(selectedTalk)">
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div ng-repeat="talk in groupTalks">
            <div class="label label-primary" style="float: left; margin-right: 10px; margin-bottom: 10px;">
                {{talk.title}}&nbsp;
                <i class="glyphicon glyphicon-remove-sign" ng-click="removeTalk(talk._id)" style="cursor: pointer;"></i>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <label class="label label-default">QR Code Message:</label>
        <input ng-model="newString2" type="text" class="form-control col-xs-12">
    </div>
    <div class="col-xs-12">
    <qr text='newString' size="300" image="true"></qr>
        </div>
    <div class="col-xs-12">
        <a class="btn pull-left btn-primary" ng-click="okk()">Back to Events</a>
        <a class="btn pull-right btn-primary" ng-click="updateRoom()">Update Room</a>
    </div>
    <div growl class="col-xs-12">

    </div>
</div>


