<script>
    $(function() {
        $( "#datepicker" ).datepicker();
    });
</script>

<div class="container-fluid">
    <div class="col-xs-12">
        <h3>Update talk</h3>
    </div>
    <div class="col-xs-12">
        <label class="label label-default">Titlu:</label>
        <input ng-model="newTalk.title" type="text" class="form-control col-xs-12">
    </div>
    <div class="col-xs-12">
        <label class="label label-default">Locatie:</label>
        <input ng-model="newTalk.place" type="text" class="form-control col-xs-12">
    </div>
    <div class="col-xs-6">
        <div class="dropdown">
            <a class="dropdown-toggle my-toggle-select" role="button" data-toggle="dropdown" data-target="#" href="">
                <div class="input-group col-xs-12">
                    <label>Inceput:</label>
                    <input type="text" class="form-control" data-ng-model="hour_start">
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="hour_start"
                                data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
            </ul>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="dropdown">
            <a class="dropdown-toggle my-toggle-select" role="button" data-toggle="dropdown" data-target="#" href="">
                <div class="input-group col-xs-12">
                    <label>Sfarsit:</label>
                    <input type="text" class="form-control" data-ng-model="hour_end">
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="hour_end"
                                data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
            </ul>
        </div>
    </div>
    <div class="col-xs-6">
        <label class="label label-default">Tip:</label>

        <select ng-model="newTalk.type" class="form-control">
            <option value="1" >Talk</option>
            <option value="2">Pauza</option>
        </select>
    </div>
    <div class="form-group col-md-12">
        <label for="conferences">Conferinta:</label>
        <select ng-model="selectedConference" ng-options="conference as conference.title for conference in conferences track by conference._id"
                class="form-control" id="conferences"></select>
    </div>
    <div class="form-group col-md-12">
        <label for="rooms">Camera:</label>
        <select ng-model="selectedRoom" ng-options="room as room.room_name for room in rooms track by room._id"
                class="form-control" id="rooms"></select>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="speakers">Speakers:</label>
            <select ng-model="selectedSpeaker" ng-options="speaker as speaker.first_name for speaker in speakers"
                    class="form-control" id="speakers" style="width: 100%;" ng-change="SpeakerWasSelected(selectedSpeaker)">
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div ng-repeat="speaker in groupSpeakers">
            <div class="label label-primary" style="float: left; margin-right: 10px; margin-bottom: 10px;">
                {{speaker.first_name}}&nbsp;
                <i class="glyphicon glyphicon-remove-sign" ng-click="removeSpeaker(speaker._id)" style="cursor: pointer;"></i>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <form method="post">
            <label class="label label-default">Descriere:</label>
            <textarea ui-tinymce="tinymceOptions" ng-model="newTalk.description"></textarea>
        </form>
    </div>
    <div class="form-group col-md-12" style="margin-bottom: 0;">
        <label for="notificationCheck">Trimite notificare&nbsp;</label>
        <input type="checkbox" id="notificationCheck" ng-model="notificationCheck">
    </div>
    <div class="form-group col-md-12">
        <label for="notificationText">Text notificare</label>
        <input type="text" ng-model="notificationText" class="form-control">
    </div>
    <div class="col-xs-12">
        <a class="btn pull-left btn-primary" ng-click="okk()">Back to Events</a>
        <a class="btn pull-right btn-primary" ng-click="updateTalk()">Update talk</a>
    </div>
    <div growl class="col-xs-12">

    </div>
</div>


