<!doctype html>
<html style="height: 100%;">
<head>
    <title>Dezabonare newsletter</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body style="height: 100%;">
<div style="height: 100%;position: relative">
    <div style="position: relative; margin-top: 80px; padding: 0 50px;">
        <div style="max-width: 500px; margin: 0 auto">
            <div style="text-align: left">
                <a href="/">
                    <img width="50%" src="https://s3-eu-west-1.amazonaws.com/msddev-test/resources/rsz_msd_be_well_green_gray.png"/>
                </a>
            </div>
            <div style="text-align: left; margin-top: 20px">
                A aparut o eroare la dezabonare. Va rugam reincercati accesarea link-ului de dezabonare.
            </div>
        </div>
    </div>
</div>
</body>
</html>