<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="container" id="content">
    <div class="row margintop20px">
        <div class="col-xs-3" >
            <h4 class="h-title">Arii terapeutice</h4>

            <ul class="list-unstyled" ng-repeat="area in therapeuticAreas">
                <li ng-if="area.parent_id==='0'"><a href="#"/>{{area.name}}</li>
                <ul ng-if="area.has_children=='1'" ng-repeat="area2 in therapeuticAreas | filter : { parent_id : area._id.toString()}">
                    <li><a href="#"/>
                        {{area2.name}}
                        </li>
                </ul>
                <br/>
                </ul>



         </ul>
            <hr class="visible-phone ">
        </div>

        <div class="col-xs-9" ng-controller="productsController">
             <ul class="panel-group">
                        <li class="col-xs-3">
                            <a ui-sref="biblioteca.productDetails" href="#/productDetails"></a>
                            <div class="product thumbnail">
                                <div class="caption" ng-repeat="prod in products">
                                    <img src="{{amazon + prod.image_path}}" alt="{{prod.name}}" height="300px" width="300px"/>
                                    <h4><a href="#"></a>{{prod.name}}</h4>-->

                                    <p>{{prod.description.text()}}</p>
                                </div>
                           </div>
                        </li>

            </ul>
        </div>

        <div class="col-xs-1 hidden-phone">
                <ul class="nav nav-list">
                    <li ><a href=""/></li>
                    <li class="divider"></li>

                        <li class=''><a href=""></a></li>

                </ul>

        </div>
    </div>
</div>
</body>
</html>