<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="col-xs-special" id="content">
    <div class="row margintop20px">
        <div class="col-xs-2" >
            <h4 class="h-title">Arii terapeutice</h4>

            <ul class="list-group" style="list-style: none">
                <li  ui-sref-active="active"   ng-repeat="area in therapeuticAreas| orderBy: 'name'" ng-if="area['therapeutic-areasID'].length==0">
                    <span class="list-group-item" ui-sref="biblioteca.produse.productsByArea({id:area._id})">{{area.name}}</span>
                    <ul ng-if="area.has_children">
                    <li ui-sref-active="active" ng-repeat="area2 in therapeuticAreas | filter : { 'therapeutic-areasID' : area._id } | orderBy: 'name'" ui-sref="biblioteca.produse.productsByArea({id:area2._id})">
                        <span class="list-group-item" ui-sref="biblioteca.produse.productsByArea({id:area2._id})">{{area2.name}}</span>
                        </li>
                </ul>
                </li>
                </ul>
            <hr class="visible-phone ">
        </div>

        <div class="col-xs-9" >
                       <ui-view></ui-view>
        </div>

    </div>
</div>
</body>
</html>