


  <div id="sidebar-wrapper" ng-class="{'width250':menuToggled}">
    <span class="pull-right"><i class="glyphicon glyphicon-remove fontXL" ng-click="toggleMenu()"></i></span>
    <ul class="sidebar-nav">
      <li>Sasdasd</li>
      <li>Sasdasd</li>
      <li>Sasdasd</li>
    </ul>
  </div>
<div class="conferenceStreamContainer col-xs-12 padding0" ng-class="{'toggled':menuToggled}" >



<div id="page-content-wrapper padding0">
  <div class="conferenceDetails col-xs-12 ">
      <span class="fontXXL pull-left">Conference Name|Current Speaker | number of viewers</span>
      <div class="pull-right context-Menu" ><img src="../../../stylesheets/img/conferenceIcon1.png" class="conferenceMenuIcon" ng-click="closeConference()"/><img src="../../../stylesheets/img/conferenceIcon2.png" class="conferenceMenuIcon"/><img src="../../../stylesheets/img/conferenceIcon3.png" class="conferenceMenuIcon"><img src="../../../stylesheets/img/conferenceIcon4.png" class="conferenceMenuIcon" ng-click="toggleMenu()" /></div>
  </div>

  <div class="activeSpeakerContainer col-xs-12 padding0">
    <div class="activeSpeakers col-xs-12">


      <div class="streamContainer padding0">
          <video class="me" autoplay >
          </video>
      </div>

      <div class="streamContainer padding0">
          <video class="me" autoplay >s
          </video>
      </div>

      <!-- <div class="streamContainer padding0">
          <video class="me" autoplay >
          </video>
      </div> -->

      <!-- <div class="streamContainer padding0">
          <video class="me" autoplay >
          </video>
      </div> -->
    </div>
  </div>

  <div class='inactiveSpeakersContainer col-xs-12 padding0'>
    <div class="inactiveSpeaker col-xs-2 padding0" >
        <span> Speaker name</span>
    </div>
    <div class="inactiveSpeaker col-xs-2 padding0" >

    </div>
    <div class="inactiveSpeaker col-xs-2 padding0" >

    </div>
    <div class="inactiveSpeaker col-xs-2 padding0" >

    </div>
    <div class="inactiveSpeaker col-xs-2 padding0" >

    </div>
  </div>

</div>

</div>
