


  <div id="sidebar-wrapper" ng-class="{'width250':menuToggled}">
    <span class="pull-right"><i class="glyphicon glyphicon-remove fontXL" ng-click="toggleMenu()"></i></span>
    <ul class="sidebar-nav">
      <li>Sasdasd</li>
      <li>Sasdasd</li>
      <li>Sasdasd</li>
    </ul>
  </div>
<div class="conferenceStreamContainer col-xs-12 padding0" ng-class="{'toggled':menuToggled}" >



<div id="page-content-wrapper padding0">
  <div class="conferenceDetails col-xs-12 ">
      <span class="fontXXL pull-left">Conference Name|Current Speaker | number of viewers</span>
      <span class="pull-right fontL context-Menu" ><i class="redText glyphicon glyphicon-earphone padding10" ng-click="closeConference()"></i><i class="redText glyphicon glyphicon-log-in padding10"></i><i class="glyphicon glyphicon-file padding10"></i><i class="glyphicon glyphicon-th-list padding10" ng-click="toggleMenu()" ></i></span>
  </div>

  <div class="activeSpeakerContainer col-xs-12 padding0">
    <div class="activeSpeakers col-xs-12">


      <div class="streamContainer padding0">
          <video class="me" autoplay >
          </video>
      </div>

      <div class="streamContainer padding0">
          <video class="me" autoplay >
          </video>
      </div>

      <!-- <div class="streamContainer padding0">
          <video class="me" autoplay >
          </video>
      </div> -->

      <!-- <div class="streamContainer padding0">
          <video class="me" autoplay >
          </video>
      </div> -->
    </div>
  </div>

  <div class='inactiveSpeakersContainer col-xs-12 padding0'>
    <div class="inactiveSpeaker col-xs-2 padding0" >
        <span> Speaker name</span>
    </div>
    <div class="inactiveSpeaker col-xs-2 padding0" >

    </div>
    <div class="inactiveSpeaker col-xs-2 padding0" >

    </div>
    <div class="inactiveSpeaker col-xs-2 padding0" >

    </div>
    <div class="inactiveSpeaker col-xs-2 padding0" >

    </div>
  </div>

</div>

</div>
