<div id="footer">
    <div class="col-xs-6">
        <a href="http://www.msd.ro/">
            <img src="https://s3-eu-west-1.amazonaws.com/msdapp/resources/msd_white.png" class="pull-left img-responsive" style="height:28px;margin-right:10px;">
        </a>

    </div>
    <div id="notMsieDiv" class="col-xs-6 text-right">

        <a ui-sref="contact" class="link-footer">Contact </a>
        <a ng-click="showFarmaModal()" class="link-footer">Farmacovigilenta</a>
        <a ng-click="showTermsModal()" class="link-footer">Termeni si conditii</a>
    </div>
</div>