<div class="col-xs-12 noPadding">
    <h3>GLYCEMIZER</h3>
</div>
<div class="col-xs-12 noPadding">
    <img class="img-responsive img-thumbnail" ng-src="{{pathAmazonResources+'customGroups/glycemizer_logo_180x60.png'}}" style="width: 100%;">
    <div class="col-xs-12 noPadding"><a class="MSDTitleDark" style="cursor: pointer;"><b>Descarca acum</b></a></div>
    <div class="col-xs-12 justify" style="padding: 0 0 30px 0;">
        Aplicatie pentru evaluarea tintei de HbA1c si screeningul pacientilor cu risc de diabet (pe baza recomandarilor ADA 2012).
    </div>
</div>