<div class="col-xs-12 noPadding title">
    <h3 class="noPadding">GLYCEMIZER</h3>
</div>
<div class="col-xs-12 noPadding contentPadding title">
    <img class="img-responsive img-thumbnail widgetImage" ng-src="{{pathAmazonResources+'customGroups/glycemizer_logo_180x60.png'}}">
</div>
<div class="col-xs-12 noPadding contentJustified">
    <div class="col-xs-12 noPadding"><a href={{pathGlycemizer}} class="subtitle handCursor"><b>Descarca acum</b></a></div>
    <div class="col-xs-12 glycemizerTextPadding">
        Aplicatie pentru evaluarea tintei de HbA1c si screeningul pacientilor cu risc de diabet (pe baza recomandarilor ADA 2012).
    </div>
</div>