<div class="col-xs-12 noPadding title">
    <h3 class="noPadding text-center">IMMUNOLOGY INTERNATIONAL FORUM</h3>
</div>
<div class="col-xs-12 noPadding contentPadding title">
    <a ui-sref="groupSpecialProduct.menuItem({product_id: '555c7c3b55ac231800ff941c', menuId: '555c89fda3605a1a00c272f1'})" ui-sref-opts="{inherit: false,reload: true}" class="subtitle handCursor">
        <img class="img-responsive img-thumbnail widgetImage" ng-src="{{pathAmazonResources+'customGroups/Discover_Immuniverse.png'}}">
    </a>
</div>