<div class="col-xs-12 title">
    <h3>MANUALUL MSD</h3>
</div>
<div class="col-xs-12 noPadding">
    <div class="col-xs-12 merckImageWrapper title">
        <img  ng-src="{{merckManualImage}}" class="merckImage" ng-click="showMerckManual()">
    </div>
    <div class="col-xs-12"><a class="subtitle handCursor" ng-click="showMerckManual()"><b>MANUALUL MSD</b></a></div>
    <div class="col-xs-12">
        De peste o suta de ani, Manualul MSD de Diagnostic si Tratament este cartea medicala
        cea mai utilizata din lume. Manualul MSD ofera informatii medicale, in special despre
        diferite afectiuni, pentru clinicieni si studenti in medicina.
    </div>
</div>