<div class="col-sm-12">
    <div class="col-sm-12 MerckAlign">
        <h3 class="merckTitle">MANUALUL MERCK</h3>
    </div>
        <div class="col-sm-12 MerckAlign">
        <img ng-src="{{merckManualImage}}" style="width: 60%; cursor:pointer;" ng-click="showMerckManual()">
        <div class="col-sm-12 title"><a class="MSDgreenDarker" style="cursor: pointer;" ng-click="showMerckManual()">MANUALUL MERCK</a></div>
        <div class="col-sm-12 header MerckContentAlign">
            De peste o sută de ani, Manualul Merck de Diagnostic și Tratament este cartea medicală
            cea mai utilizată din lume. Manualul Merck oferă informații medicale, în special despre
            diferite afecțiuni, pentru clinicieni și studenți în medicină.
        </div>
    </div>
</div>