<div class="col-xs-12 noPadding">
    <h3>MANUALUL MERCK</h3>
</div>
<div class="col-xs-12 noPadding">
    <img ng-src="{{merckManualImage}}" class="handCursor" style="width: 60%; cursor:pointer;" ng-click="showMerckManual()">
    <div class="col-xs-12 noPadding"><a class="MSDTitleDark" style="cursor: pointer;" ng-click="showMerckManual()"><b>MANUALUL MERCK</b></a></div>
    <div class="col-xs-12 noPadding justify">
        De peste o sută de ani, Manualul Merck de Diagnostic și Tratament este cartea medicală
        cea mai utilizată din lume. Manualul Merck oferă informații medicale, în special despre
        diferite afecțiuni, pentru clinicieni și studenți în medicină.
    </div>
</div>