<div class="col-xs-12 title">
    <h3 class="noPadding text-center">Univadis<sup>®</sup> - Un site dedicat Specialistilor in Sanatate<h4 class="noPadding text-center">descoperiţi tot ceea ce vă poate oferi Univadis.</h4>
    </h3>
</div>

<div class="col-xs-12 noPadding title">
    <a href='http://univadis.ro' target="_blank" class="subtitle handCursor">
        <img class="img-responsive img-thumbnail widgetImage univadisImage" ng-src="{{pathAmazonResources+'univadis.png'}}">
    </a>
</div>

<div class="col-xs-12 text-center paddingBottom20">
    <b>Cod de Validare: Univadis2015</b>
</div>