<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h3 class="modal-title">{{modal.title}}</h3>
    </div>
    <div class="col-md-12 modal-body">
        <div class="col-md-12" style="margin-bottom: 15px;">
            <alert ng-if="statusAlert.newAlert" type="{{statusAlert.type}}" close="statusAlert.newAlert=false">{{statusAlert.message}}</alert>
        </div>
        <div class="col-md-12">
            <label>Nume:</label>
            <input ng-model="app.name" type="text" class="form-control">
        </div>
        <div class="col-md-12">
            <label>Url:</label>
            <input ng-model="app.url" type="text" class="form-control">
        </div>
        <div class="col-md-12 form-group">
            <label>Grupuri speciale:</label>
            <my-multiple-select all-objects="specialGroups" selected-objects="app.groups" track-by="_id" display-by="display_name"
                                split-by="profession.display_name" output="selectedSpecialGroups"></my-multiple-select>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <button type="button" class="btn btn-default pull-left" ng-click="closeModal()">Anuleaza</button>
            <button type="button" class="btn btn-primary pull-right" ng-click="finalize()">{{modal.action}}</button>
        </div>
    </div>
</div>