<div class="container-fluid">
  <div class="well">
    <div class="row">
      <div class="col-xs-5"><h3>Gestionare Conferinte</h3></div>
      <div class="col-xs-2 pull-right">
        <a ng-click="addConference()" class="btn btn-primary pull-right marginTop20px"><i class="glyphicon glyphicon-plus-sign"></i> Adauga Conferinta</a>
      </div>
    </div>
  </div>
  <table ng-table="tableParams" show-filter="true" class="table table-bordered">
    <tr ng-repeat="conference in $data">
      <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
        {{conference.name}}</td>
      <td title="'Description'" filter="{ description: 'text'}" sortable="'description'">
        {{conference.description}}</td>
      <td title="'Location'" filter="{ location: 'text'}" sortable="'location'">
        {{conference.location}}</td>
      <td title="'Date'" sortable="'date'">
        {{conference.date | date: "dd/MM/yyyy 'at' hh:mm"}}</td>
      <td data-title="'Actiuni'">
        <div class="btn-group-sm pull-right"  role="group">
          <button class="btn" ng-class="{'btn-danger': conference.enabled, 'btn-success': !conference.enabled}" ng-click="statusConference(conference._id,conference.enabled)"><i class="glyphicon glyphicon-lock"></i></button>
          <button class="btn btn-info" ng-click="editConference(conference)"><i class="glyphicon glyphicon-cog"></i></button>
          <button class="btn btn-danger" ng-click="deleteConference(conference._id)"><i class="glyphicon glyphicon-trash"></i></button>
        </div>
      </td>
    </tr>
  </table>

</div>
