  <div class="modal-header">
    <div class="modal-title"><h3>Editare speakeri</h3></div>
  </div>
  <div class="modal-body">
    <div class="modal-body" style="height: 70%;">
      <div class="row">
        <div class="col-md-12 form-group">
          <div class="form-group-sm">
            <label>Email:</label>
            <angular-select-autocomplete ng-model="selectedUser" ng-options="speakers" id-attr="_id" title-attr="username" ng-required="true" ng-disabled="false"></angular-select-autocomplete>
          </div>
        </div>
        <div class="col-md-12 form-group-sm col-xs-12">
          <label>Nume:</label>
          <input type="text" class="form-control" name="nume" ng-model="selectedUser.name" ng-required="true">
        </div>
        <div class="col-md-12 form-group">
          <button class="btn btn-default pull-right" ng-click="addSpk(selectedUser)"><i class="glyphicon glyphicon-user"></i>&nbsp;Adauga speaker</button>
        </div>
        <div class="col-md-12 form-group">
          <label>Registered</label>
          <div class="col-md-12 form-group" ng-repeat="key in currentUsers.registered track by $index">
            <div class="col-md-11">{{($index + 1) + '. ' + key.name + ' (' + key.username + ') '}}</div>
            <div class="col-md-1"><a class="btn btn-default pull-right" ng-click="removeSpeaker($index,key)"><i class="glyphicon glyphicon-remove-sign"></i></a></div>
          </div>
        </div>
        <div class="col-md-12 form-group">
          <label>Unregistered</label>
          <div class="col-md-12 form-group" ng-repeat="key in currentUsers.unregistered track by $index">
            <div class="col-md-11">{{($index + 1) + '. ' + key.name + ' (' + key.username + ') '}}</div>
            <div class="col-md-1"><a class="btn btn-default pull-right" ng-click="removeSpeaker($index,key,true)"><i class="glyphicon glyphicon-remove-sign"></i></a></div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn btn-default pull-left" ng-click="$close()">Inapoi</div>
    <div class="btn btn-default pull-right" ng-click="saveSpk()">Salveaza</div>
  </div>
