<form name="conferenceForm" novalidate>
<div class="modal-header">
  <h4 class="modal-title">Editare conferinta</h4>
</div>
<div class="modal-body">
  <div class="modal-body" style="height: 70%;">
    <div class="col-md-12 col-xs-12 noPadding">
      <alert ng-if="conferenceAlert.text" type="{{conferenceAlert.type}}" close="conferenceAlert.text=null">{{conferenceAlert.text}}</alert>
    </div>
    <div class="row">
      <div class="col-md-12 form-group" ng-class="{'has-error': conferenceForm.nume.$error.required}">
        <label>Nume:</label>
        <input type="text" ng-model="objectToEdit.name" id="nume" name="nume" class="form-control" ng-required="true">
        <p class="" ng-show="conferenceForm.nume.$error.required">Numele este obligatoriu!</p>
      </div>
      <div class="col-md-12 form-group">
        <label>Descriere:</label>
        <input type="text" ng-model="objectToEdit.description" class="form-control">
      </div>
      <div class="col-md-12 form-group" ng-class="{'has-error': conferenceForm.locatie.$error.required}">
        <label>Locatie:</label>
        <input type="text" ng-model="objectToEdit.location" id="locatie" name="locatie" class="form-control" ng-required="true">
        <p class="" ng-show="conferenceForm.locatie.$error.required">Locatia este obligatorie!</p>
      </div>
      <div class="col-md-12">
        <therapeutic-select all-areas="areas" selected-areas="selectedAreas" returned-areas="returnedAreas"></therapeutic-select>
      </div>
      <div class="col-md-12 form-group">
        <img no-cache-src="{{pathAmazonDev + objectToEdit.image_path}}"  style="width:100px;">
      </div>
      <div class="col-md-12 form-group">
        <button class="btn btn-default" type="file" ngf-select name="file"  ngf-change="fileSelected($files, $event)" ngf-multiple="false" ngf-pattern="'image/*'" accept="image/*"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca imagine</button>
      </div>
      <div class="col-md-12 form-group">
        <label>Data conferinta:</label>
        <datetimepicker min-date="minDate" hour-step="1"
                        minute-step="1" ng-model="objectToEdit.date" show-meridian="false"
                        date-format="dd-MMM-yyyy" date-options="dateOptions"
                        readonly-date="false"
                        show-spinners="true"
                        readonly-time="false"></datetimepicker>
      </div>
      <div class="col-md-12 form-group">
        <div class="col-md-6 noPadding">
          <button class="btn btn-default pull-left" ng-click="sendInvitations()"><i class="glyphicon glyphicon-envelope"></i>&nbsp;Trimite invitatii</button>
        </div>
        <div class="col-md-6 noPadding">
          <button class="btn btn-default pull-right" ng-click="updateNotification()"><i class="glyphicon glyphicon-send"></i>&nbsp;Trimite notificare</button>
        </div>
      </div>
      <div class="col-md-12 form-group">
        <div class="form-group-sm">
          <label>Moderator Email:</label>
          <angular-select-autocomplete ng-model="selectedModerator" input-id="'moderator'" ng-options="users" id-attr="_id" title-attr="username" ng-required="true" ng-disabled="false"></angular-select-autocomplete>
        </div>
        <div class="form-group-sm">
          <label>Moderator Name:</label>
          <input type="text" class="form-control" name="name" id="name" ng-model="selectedModerator.name" ng-required="true">
        </div>
      </div>
        <div class="col-md-12 form-group">
          <h4>Speakers</h4>
          <div class="col-md-12 noPadding">
            <button class="btn btn-default" ng-click="editSpk(objectToEdit._id,objectToEdit.speakers)"><i class="glyphicon glyphicon-user"></i>&nbsp;Adauga speakeri</button>
          </div>
          <div class="col-md-12 form-group noPadding marginTop20 scrollableList">
            <div class="col-md-12 noPadding" ng-repeat="key in objectToEdit.speakers track by $index">
              <div class="col-md-11 padding5">{{($index + 1) + '. ' + key.username + ' (' + key.name + ')'}}</div>
              <div class="col-md-1"><a class="btn btn-default pull-right" ng-click="removeUser($index,key.username,'speaker')"><i class="glyphicon glyphicon-remove-sign"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-md-12 form-group">
          <h4>Viewers</h4>
          <div class="col-md-12 noPadding">
            <button class="btn btn-default" ng-click="editVw(objectToEdit._id,objectToEdit.viewers)"><i class="glyphicon glyphicon-user"></i>&nbsp;Adauga vieweri</button>
          </div>
          <div class="col-md-12 form-group noPadding marginTop20 scrollableList">
            <div class="col-md-12 noPadding" ng-repeat="key in objectToEdit.viewers track by $index">
              <div class="col-md-11 padding5">{{($index + 1) + '. ' + key.username  + ' (' + key.name + ')'}}</div>
              <div class="col-md-1"><a class="btn btn-default pull-right" ng-click="removeUser($index,key.username,'viewer')"><i class="glyphicon glyphicon-remove-sign"></i></a></div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
<div class="modal-footer">
  <a class="btn pull-left btn-primary" ng-click="$close()">Inchide</a>
  <a class="btn pull-right btn-primary" type="submit" ng-click="updateConference(objectToEdit._id,conferenceForm)">Actualizeaza conferinta</a>
</div>
</form>

