<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h3 class="modal-title">Adauga/Schimba divizie</h3>
    </div>
    <div class="col-md-12 modal-body">
        <div class="col-md-12" style="margin-bottom: 15px;">
            <alert ng-if="alert.show" type="{{alert.type}}" close="alert.show=false">{{alert.text}}</alert>
        </div>
        <div class="form-group col-md-12">
            <label>Divizie:</label>
            <input type="text" class="form-control" ng-model="division.name">
        </div>
        <div class="form-group col-md-12">
            <label>Cod nou:</label>
            <input type="password" class="form-control" ng-model="division.code">
        </div>
        <div class="form-group col-md-12">
            <label>Confirma cod nou:</label>
            <input type="password" class="form-control" ng-model="division.confirmCode">
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-xs-12">
            <button type="button" class="btn btn-default pull-left" ng-click="closeModal()">Inchide</button>
            <button type="submit" class="btn btn-primary" ng-click="updateDivision(division)">Adauga/Schimba divizie</button>
        </div>
    </div>
</div>