<div class="col-md-12 noPadding">
    <div class="btn btn-primary" ng-click="addList()" style="margin-bottom: 15px"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga lista</div>
</div>
<table ng-table="tableParams" show-filter="true" class="table table-bordered">
    <tr ng-repeat="list in $data">
        <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
            {{list.name}}
        </td>
        <td data-title="'Data crearii'" sortable="'date_created'">
            {{list.date_created | date}}
        </td>
        <td data-title="'Actiuni'">
            <div class="btn-group">
                <div class="btn btn-primary" ng-click="editList(list._id)"><i class="glyphicon glyphicon-cog"></i></div>
                <div class="btn btn-danger" ng-click="removeList(list._id)"><i class="glyphicon glyphicon-trash"></i></div>
            </div>
        </td>
    </tr>
</table>