<div class="modal-header">
    <div class="modal-title"><h3>Modifica utilizator</h3></div>
</div>
<div class="modal-body noPaddingBottom col-md-12">
    <div class="col-md-12">
        <alert ng-if="myAlert.newAlert" type="{{myAlert.type}}" close="myAlert.newAlert=false">{{myAlert.message}}</alert>
    </div>
    <form name="profileForm" novalidate>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group col-md-12" ng-class="{'has-error': profileForm.nume.$error.pattern  || profileForm.nume.$error.required}">
                    <label for="nume">Nume<sup>*</sup>:</label>
                    <input type="text" class="form-control" id="nume" name="nume" ng-model="user.name" ng-pattern="/^[a-zA-ZĂăÂâÎîȘșŞşȚțŢţ-\s]{3,30}$/" ng-required="true">
                    <p class="" ng-show="profileForm.nume.$error.pattern">Numele nu contine caractere valide/are mai putin de 3 caractere!</p>
                    <p class="" ng-show="profileForm.nume.$error.required">Numele este obligatoriu!</p>
                </div>
                <div class="form-group col-md-12">
                    <label for="emailNew">Adresa de e-mail:</label>
                    <input type="email" class="form-control" id="emailNew" name="emailNew" ng-model="user.username" required>
                    <p class="" ng-show="profileForm.emailNew.$invalid && !profileForm.emailNew.$pristine ">Introduceti un email valid!</p>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
                <div class="form-group col-md-12">
                    <label for="profession">Profesie:</label>
                    <select ng-model="selectedProfession" class="form-control" ng-disabled="saveSuccess"
                            ng-options="profession._id as profession.display_name for profession in professions" id="profession"></select>
                </div>
                <div class="form-group col-md-12">
                    <label>Grupuri:</label>
                    <my-multiple-select all-objects="groups" selected-objects="user.groupsID" track-by="_id" display-by="display_name"
                                        split-by="profession.display_name" output="selectedGroups"></my-multiple-select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-left" ng-click="closeModal()">Inchide</button>
    <button class="btn btn-default pull-right" ng-click="saveModifiedUser()" ng-disabled="profileForm.nume.$error.pattern || profileForm.nume.$error.required || profileForm.emailNew.$invalid">Modifica utilizator {{$valid}}</button>
</div>