//import our customizable variables
@import '../globalVariables';
@import 'medicVariables';

//import stripped-from-variables version of bootstrap, which will use our custom variables
@import '../../modules/bootstrap_noVariables/less/bootstrap';
body{
  font-size: 14px;
  @media(max-device-width: 767px){
    font-size: 15px;
  }
}
.filterByTherapeuticAreas{
  padding: 0 0 25px 55px;
  .areasMobile{
    margin-left: 25px;
  }
  .areas{
    padding: 0;
    margin-right: 65px;
    .title{
      margin-top: 0;
    }
    .menu{
      .MSDgreen;
      list-style: none;
      .area{
        border: 0px solid @grayLighter;
        cursor: pointer;
        border-radius: 4px !important;
        &:hover{
          background-color: @MSDgreenDarker;
          color:white;
        }
        &.active{
          background-color: @MSDgreenDarker;
          color:white;
        }
      }
    }
  }
  .viewport{
    margin-top: 0;
  }
}
.productsView{
  padding: 0;
  .noProducts{
    padding: 0;
    text-align: center
  }
  .product{
    margin-bottom: 25px;
    padding: 0 25px 0 0;
  }
}
.productDetails{
  .imageAndRCP{
    img{
      width: 100%;
    }
    .btn{
      margin-top: 10px;
    }
    hr{
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}
.multimediaView{
  padding: 0;
  .message{
    padding: 0 0 0 45px;
    margin-top: 20px;
    text-align: center;
  }
  .multimediaWrapper{
    padding: 0 0 25px 0;
  }
}
.paddingLeftMobile{
  padding-left: 0;
  @media(max-width: 768px){
    padding-left: 15px;
  }
}
.main-view-container {
  overflow-x: hidden;
  margin-top:20px !important;
  width: 100%;
  position:relative;
  top: 0;
  left: 0;
  padding-top: 70px;
  padding-bottom: 50px;
}
//===========================================================ARTICLES

.articlesStyles{
  .articlesWrapper{
    padding: 0;
    .articlesMenu{
      border-right: 1px solid @gray-base;
      padding: 0;
      padding-left: 21px;
      .Title{
        padding-left: 25px;
        padding-right: 25px;
      }
      .articleBox{
        padding: 5px 5px 5px 5px;
        margin-bottom: 15px;
        .wrapper{
          padding: 0;
          padding-left: 5px;
          .title{
            font-size: 17px;
            font-weight: bold;
            padding-bottom: 10px;
            cursor: pointer;
            color:@MSDgreenDarker;
          }
          a{
            cursor: pointer;
            color:@MSDgreenDarker;
          }
          .trimmedArticle{
            padding-bottom: 10px;
            text-align: justify;
          }
          .author{
            font-weight: bold;
          }
          .lastUpdate{

          }
        }
      }
    }
    .articlesList{
      .articlesMoreNews{
        clear: both;margin:0 auto;
        .btn-news{
          margin-top: 20px;
          background-color: transparent;
          color: black;
          &:hover{
            color: @body-bg;
            background-color: #31b0d5;
            border-color: #269abc;
          }
        }
      }
      .noArticles{
        padding: 0;
      }
      .articlesMobileMessage
      {
        padding: 0;
        padding-bottom: 10px;
        text-align: left;
      }
      .articlesListWrapper{
        padding: 0;
        .article{
          padding: 0;
        }
      }
    }
  }
  .articleDetail{
    .title{
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid lightgray;
    }
    .articleContent{
      img{
        padding-right: 15px;
        padding-bottom: 15px;
      }
    }
    .btn-news{
      margin-top: 20px;
      background-color: transparent;
      color: black;
      &:hover{
        color: @body-bg;
        background-color: #31b0d5;
        border-color: #269abc;
      }
    }
    .date {
      margin-top: 0%;
    }
    .author{
      font-weight: bold;
    }
  }
  .stretchHorizontal{
    padding-left: 0px;
    padding-right: 0px;
  }
  .paddingTop10{
    padding-top: 10px;
  }
}
.paddingTop10{
  padding-top: 10px;
}

//===========================================================CALENDAR
.calendarWrapper{
  .noPadding{
    padding: 0;
  }
  .nextEvents{
    padding-left: 40px;
    //@media(max-width: 1277px){
    //  padding-left: 0;
    //}
    .paddingTop5{
      padding-top: 5px;
    }
    .MainTitle{
      border-bottom: 1px solid @MSDTitle;
      //@media(max-width: 1277px){
      //  font-size: 20px;
      //  font-weight: bold;
      //}
    }
    .Date{
      padding-bottom: 10px;
      margin-top: -25px;
      .day{
        color: #006d69;
        margin-bottom: 0;
      }
      .month{
        color: #006d69;
        margin-top: 0;
      }
    }
    .Title{
      margin-top: -10px;
      margin-left: -2%;
      h4{
        cursor: pointer;
      }
    }
  }
}

//=======================================SEARCH
.homeSearchWrapper{
  .mainTitle{
    margin-top: 20px;
  }
  .result{
    padding: 0;
    margin-bottom: 20px;
  }
  .eventWrapper {
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
    padding: 5px;
    background: @table-bg-accent;
    border: 1px solid rgba(51, 51, 51, 0.2);
    -webkit-box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
    -moz-box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
    box-shadow: 2px 2px 10px rgba(55, 66, 74, 0.2);
    .event{
      border-left: 2px solid @MSDgreenDarker;
      .date{
        margin-top: -18px;
        .green{
          color: @MSDgreenDarker;
        }
      }
    }
    .buttonWrapper{
      padding-right: 0;
      padding-bottom: 0;
      .btn-news{
        background-color: transparent;
        color: black;
        &:hover{
          color: @body-bg;
          background-color: #31b0d5;
          border-color: #269abc;
        }
      }
    }
    .category{
      padding-top: 5px;
      font-weight: bolder;
    }
  }
  .contentWrapper{
    padding-left: 0;
    .Title{
      color: @MSDgreenDarker;
      cursor: pointer;
    }
  }
}

.btn-transparent{
  background-color: transparent;
  color: black;
}

.link-footer{
  color:white !important;
  cursor:hand ;
}

.homeStyles{
  height: 100%;
  padding: 0 0 50px 0;
  .leftColumn{
    .lastNewsWrapper{
      padding-right: 0;
      @media(min-width: 1278px) {
        margin-left: 25px;
      }
      .Title{
        padding: 0 0 0 10px;
        padding-bottom: 8px !important;
      }
      .content{
        padding: 0 15px 0 0;
      }
    }
    &:after{
      position: absolute;
      content: '';
      top: 0;
      width: 0;
      height: 100%;
      border-right: 1px solid #000000;
      @media(max-width: 1277px){
        border-right: 0px solid #000000;
      }
    }
  }
  .midColumn{
    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: -16px;
      width: 0;
      height: 100%;
      margin-left: -1%;
    }
      margin-left: -2%;
      @media(max-width: 768px){
        margin-left: 0;
      }
      padding-left: 0;
      @media(max-width: 768px){
        padding-left: 15px !important;
      }
    .Multimedia{
      @media(max-width: 768px){
        padding-left: 15px;
      }
      .Title{
        padding:0;
        h3{
          margin-bottom: -1%;
        }
      }
      .Wrapper{
        padding: 0;
        margin-top:20px !important;
        .iconWrapper{
          padding: 0;
          i{
            color: @gray;
          }
        }
        .Content{
          b{
            color: @MSDTitle;
          }
          padding: 0;
          text-align: justify;
            @media(min-width: 768px) and (max-width: 1277px)
            {
              left: -5%;
            }
          .mediaTitle{
            @media(min-width: 768px) and (orientation: portrait){
              font-size: 16px;
            }
          }
        }
      }
    }
    .Events{
      @media(max-width: 768px){
        padding-left: 15px;
      }
    .Title{
      padding: 0;
      h3{
        margin-bottom: 4%;
      }
     }
      .eventDisplay{
        padding: 0 0 30px 0;
        .date{
          padding: 0;
          border-right: 0px solid @gray;
          color: @MSDTitle;
          .day{
            padding: 0;
            font-size: 20px;
          }
          .month{
            padding: 0;
            margin-top: -5px;
          }
        }
        .Content{
          @media(min-width: 768px) and (max-width: 1277px)
          {
            left: -5%;
          }
          padding: 0;
          border-left: 1px solid #000000;
          .MediaTitle{
            color: @MSDTitle;
            cursor: pointer;
            text-align: justify;
            @media(max-width: 768px){
              padding-left: 15px;
            }
          }
          .Description{
            margin-top: 5px;
            text-align: justify;
          }
        }
      }
    }
    &:after{
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
    }
    .MobileWidgets{
      padding: 0;
    }
  }
  .rightColumn{
      padding-left: 2%;
      @media(max-device-width: 768px){
        padding-left: 3%;
      }
    .homeWidgetsColumnNoPadding{
      padding:0;
    }
    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: -1px;
      width: 0;
      height: 100%;
      border-left: 1px solid #000000;
    }
  }
}

//===================================================WIDGETS
.widgets{
  .subtitle
  {
    color: @MSDTitle;
  }
  .glycemizerTextPadding{
    padding: 0 0 30px 0;
  }
  .handCursor{
    cursor: pointer;
  }
  .title{
    text-align: left;
    @media(max-width: 1277px),(orientation: portrait){
      text-align: center;
    }
  }
  .contentPadding{
    padding-top: 10%;
    padding-bottom: 10%;
    @media(max-width: 1277px),(orientation: portrait){
      padding-bottom: 1%;
      padding-top: 1%;
    }
  }
  .contentJustified{
    text-align: left;
    @media(max-width: 1277px),(orientation: portrait){
      text-align: justify;
    }
  }
  .contentPaddingMobile{
    padding-left: 0;
    @media(max-width: 768px){
      padding-left: 15px;
    }
  }
  .widgetImage{
    width: 100%;
    margin-bottom: 10px;
    @media(max-device-width: 768px){
      width: 50% !important;
    }
  }
  .merckImageWrapper{
      vertical-align: middle;
      text-align: left;
    padding-left: 0;
    padding-right: 0;
    .merckImage{
      width: 70%;
      cursor:pointer;
      @media(max-width: 1277px),(orientation: portrait){
        width: 30%;
        cursor:pointer;
      }
    }
  }
}


//============================================================================================================ CAROUSEL
.carousel-container{
  margin-bottom: 1%;
  overflow-x: hidden;
  position: relative;
  .unselectable;

  .main-carousel {
    width: 75%;
    margin: 0 auto;
    overflow: visible!important;
    .carouselMargins{
      margin-left: 10px;
      margin-right:10px
    }
    .carouselSlide{
      height: 100%;
      position: relative;
      .carousel-title{
        z-index: 1001;
        position: absolute;
        color: white;
        bottom: 10px;
        left: 3%;
        cursor: pointer;
        .titleFont{
          font-family: "Trebuchet MS", Helvetica, sans-serif;
          color: white;
          text-shadow: black 0.1em 0.1em 0.2em;
          font-size: 30px;
          @media(max-width: 768px){
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: white;
            text-shadow: black 0.1em 0.1em 0.2em;
            font-size: 18px;
          }
        }
      }
      .imageCover{
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0);
      }
      .imageWrapper{
        z-index: 999;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
          width: 98%;
        }
      }
      .firstTrimmedImage{
        display: inline-block; -webkit-transform: translate3d(-100%, 0px, 0px);-moz-transform: translate3d(-100%, 0px, 0px); transform: translate3d(-100%, 0px, 0px);
      }
      .lastTrimmedImage{
        display: inline-block; -webkit-transform: translate3d(100%, 0px, 0px);-moz-transform: translate3d(100%, 0px, 0px); transform: translate3d(100%, 0px, 0px);
      }
    }
  }
  .carousel-controll {
    position: absolute;
    right: 17%;
    bottom: 20px;
    .carousel-controll-element {
      float: left;
      margin: 5px;
      width: 10px;
      height: 10px;
      background-color: white;
      cursor: pointer;
      &:hover {
        outline: 2px solid white;
      }
      &.selected {
        background-color: orange;
      }
    }
  }
}

//===================================================================================================== HEADER / FOOTER
.navbar-fixed-top .navbar-nav > .active > a {
  color: #008780;
  font-weight: bold;
  background-color: #ffffff;
}
.navbar-fixed-top .navbar-nav > .active > a:after{
  content: '';
  position: absolute;
  width: 40%;
  height: 0px;
  border: 3px solid #bbbbbb;
  border-radius: 5px;
  left: 30%;
  top: 40px;
  @media(max-width: @grid-float-breakpoint-max){
    display: none;
  }
}
.navbarMedic {
  padding: 10px 25px 0 25px;
  border-bottom: 1px solid #ccc;
  .container{
    padding: 0;
    width: 100%;
    padding-bottom: 8px !important;
  }
  .dropdown-menu{
    border-radius: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 180px;
    background-color: #F0F0F0;
    li{
      padding: 10px 5px 10px 5px;
      min-width: 180px;
      height: 50px;
      &:hover{
        border-radius: 3px;
        background-color: @MSDTitle;
        a {
          color: #ffffff;
          background-color: @MSDTitle;
          .glyphicon{
           color:darkgrey;
          }
        }
      }
    }
    &.myProfile{
      right: auto;
      margin-top: 5px;
      left: 0 !important;
      @media(max-width: 1279px){
        left: auto !important;
      }
      @media(min-width: 1280px)
      {
        right: 100px !important;
      }
    }
  }
  .navbar-brand{
    padding: 0 0 0 35px;
    margin-bottom: 6px;
    @media(max-width: 767px){
      padding: 0;
    }
    img{
      height: 50px;
      @media (max-width: 1277px){
        height: 40px;
        margin-top: 9px;
      }
    }
  }
  .profile{
    position: absolute;
    right: 234px;
    margin-top: 8px;
    margin-right: 10px;
    @media(min-width: 769px) and (max-width: @grid-float-breakpoint-max){
      right: 10px;
    }
    @media(max-width: 768px){
      right: -15px;
    }
  }
  .navbar-collapse{
    background-color: #ffffff;
    @media (max-width: @grid-float-breakpoint-max) {
      border: 1px solid @gray-lighter;
    }
    overflow-x: hidden;
    overflow-y: hidden !important;
    max-height: 375px!important;
    @media only screen and (orientation: landscape) {
      overflow-y: visible !important;
      max-height: 340px!important;
    }
  }
  .navbar-toggle {
    position: relative;
    float: left;
    margin-left: 25px;
    margin-right: 10px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    //@media (min-device-width: 480px) and (max-device-width: 767px) {
    //  margin-left: 9px;
    //}
  }
  .navbar-nav{
    &.navbarMenu{
      padding-top: 4px;
      padding-left: 4px;
    }
  }
  .userDropdown{
    @media (min-width: @grid-float-breakpoint) {
      display: none;
      visibility: hidden;
    }
  }
}

#footer {
  border-top: 1px solid @grayLightest;
  //z-index: 1040;
  background: @MSDgreenDarker;
  padding: 5px 0;
  width: 100%;
  clear: both;
  height: 35px;
  bottom: 0;
  left: 0;
}

//============================================================================================= PRODUCT PAGE
.specialProductMainWrapper{
  margin-top: 20px;
  #menuDiv{
    margin-left: 30px;
    .menuMarginBottom{
    margin-bottom: 0;
    }
    @media(max-width: 1277px){
      margin-left: 0px;
    }
    .panel-body{
      padding: 0;
    }
    .list-group{
      margin-bottom: 0px;
    }
    .borderRadiusSpecial{
      border-radius: 0px;
    }
    .panel-heading{
      background-color: @body-bg;
    }
    .panel-group{
      box-shadow: 0px 3px 1px @grayLighter;
      .panel{
        margin-top: 0px;
      }
      border: 1px solid @grayLighter;
      border-top: 0px;
      div{
        border: 0;
        border-radius: 0px;
      }
    }
    .parentBorderTop{
      border-top: 1px solid @grayLighter !important;
    }
    .productPageMenu{
      .parent{
        a{
          text-decoration: none;
        }
        .panel-heading{
          .MSDgreenDarker;
          .panel-title{
            font-size: inherit;
          }
        }
        .noPaddingBottom;
        .parentBorderTop;
        &.active{
          background-color: @MSDTitle;
          color: white;
          .panel-heading{
            background-color: @MSDTitle;
            color: white !important;
            .MSDgreenDarker{
              color: @body-bg !important;
            }
          }
        }
      }
      .child{
        a{
          text-decoration: none;
        }
        .MSDgreenDarker;
        .handCursor;
        .smallFontSize;
        position: relative;
        display: block;
        padding: 10px 15px;
        background-color: @body-bg;
        &.active{
          color: darkorange;
        }
      }
    }
    .mobileDropdown{
      padding-bottom: 10px;
      padding-left: 0;
      padding-right: 0;
      .glyphicon-Special-Product{
        margin-top: 2px;
      }
      .smallFontSize{
        font-size: smaller;
      }
      .my-dropdown-menu {
        padding: 0;
        background-color: transparent;
        border: 0px solid #cccccc;
        border: 0px solid rgba(0, 0, 0, 0.15);
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-clip: border-box;
        list-style: none;
        .my-list-menu-item{
          padding: 0;
          background-color: transparent;
          border: 0px solid @grayLighter;
        }
      }
    }
  }
  #descriptionDiv{
    #initialDescriptionDiv{
      margin-right: -30px;
    }
    .noPadding{
      padding: 0;
    }
    .specialProductTitle{
      margin-top: 20px;
      margin-bottom: 20px;
      color: @MSDgreenDarker;
      font-size: 30px;
      font-weight: bold
    }
    .justify{
      text-align: justify;
    }
    .DescriptionWrapper{
      background-color: @body-bg;
      border-radius: 0px;
      .prescription{
        margin-top: 15px
      }
      .job_id{
        margin-top: 20px
      }
      .fileLinks{
          color: @MSDgreenDarker !important;
        &:focus
        {
          text-decoration: none !important;
        }
      }
      .glossary{
        font-weight: bold;
        color: @MSDgreenDarker;
        padding-bottom: 10px;
        .Description{
          padding-bottom: 10px;
        }
      }
    .glossaryPrintButtons{
      padding-top: 5px;
      padding-bottom: 5px;
      i{
        cursor: pointer;
      }
      }
      .safety {
        margin-bottom: 50px;
      }
      .siteMap{
        ul{
          list-style: none;
          font-weight: bold;
          padding: 0;
          line-height: 2em;
          cursor: pointer;
          color: @MSDgreenDarker !important;
        }
        .siteMapList{
          cursor: pointer;
          color: @MSDgreenDarker !important;
        }
      }
    }
  }
}
@media print{
  #menuDiv{
    display: none;
  }
  #descriptionDiv{
    width: 100%;
  }
  #initialDescriptionDiv{
    width: 100%;
  }
  #siteMapDiv{
    width: 100%;
  }
  #footer{
    display: none !important;
  }
  a:link:after, a:visited:after {
    content: "";
  }
}

.viewSpeakers{
  .speaker{
    padding-right: 15px;
    padding-bottom: 15px;
    .imageOuterFrame{
      width: 70px;
      height: 70px;
      border: 1px solid @gray-lighter;
      border-radius: 100px;
      overflow: hidden;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
      -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.1);
      box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.1);
      .imageInnerFrame{
        width: 60px;
        height: 60px;
        border-radius: 100px;
        overflow: hidden;
        margin-left: 4px;
        margin-top: 4px;
        img{
          width: 60px;
          height: 60px;
        }
      }
    }
    .descriptionFrame{
      cursor: pointer;
      position: relative;
      left: 0;
      top: 0;
      padding-left: 85px;
      .ellips{
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        //margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .name{
        color: @MSDgreen;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.5em;
        height: 3em;
        .ellips;
      }
      .title{
        line-height: 1.4em;
        height: 6em;
        .ellips;
      }
      .cell{
        padding-top: 5px;
        font-size: 12px;
        &.bold{
          font-weight: bold;
        }
      }
    }
  }
}
.largeDisplaySpeaker{
  img{
    width: 100%;
  }
  .name{
    color: @MSDgreen;
    font-size: 20px;
    font-weight: bold;
  }
  .country{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .cell{
    text-align: justify;
    padding-top: 5px;
    font-size: 12px;
    &.bold{
      font-weight: bold;
    }
  }
}

//============================================================================================= SPECIAL APPS
#specialApp{
  iframe{
    width: 100%;
    height: 100%;
  }
}

//============================================================================================= MY PROFILE

.MyProfileModal{
  font-size: 12px;
  .modal-header{
    padding: 10px 15px;
    .modal-title{
      h3{
        font-size: 22px;
      }
    }
  }
  .modal-footer{
    padding: 10px 15px;
  }
  .form-group-sm{
    padding-bottom: 8px;
  }
}

//============================================================================================= RESPONSIVE MODALS
.modal-responsive{
  .modal-dialog{
    height: 90%;
    @media screen and (orientation:portrait){
      height: auto;
      width: 700px;
    }
    .modal-content{
      height: 100%;
      .modal-header{
        height: 10%;
      }
      .modal-body{
        height: 80%;
        overflow-y: scroll;
        .multimediaVideo{
          height: 80%;
        }
      }
      .modal-footer{
        height: 10%;
      }
    }
  }
}

//============================================================================================= USEFUL STYLES / MIX-INS
.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noPadding{padding:0;}
.MSDgreen{color: @MSDgreen;}
.MSDgreenDarker{color: @MSDgreenDarker;}
.handCursor{
  cursor: pointer;
}
.justify{
  text-align: justify;
}
.noPaddingBottom{
  padding-bottom: 0px;
}
.noPaddingTop{
  padding-top: 0px;
}
.noMarginTop{
  margin-top: 0px;
}
//.articlesStyles .articleDetail .articleContent .img-special {
//  width: 300px;
//  padding-right: 15px;
//  padding-bottom: 15px;
//}
.no-text-decoration{
  text-decoration: none !important;
}
.no-text-decoration a:hover{
  text-decoration: none !important;
}
.no-text-decoration a:active{
  text-decoration: none !important;
}
.no-text-decoration a:focus{
  text-decoration: none !important;
}
.no-text-decoration:hover{
  text-decoration: none !important;
}
.no-text-decoration:active{
  text-decoration: none !important;
}
.no-text-decoration:focus{
  text-decoration: none !important;
}
.imgFix{
  height: 200px !important;
  image-orientation: from-image;
}
.margintop30px{
  margin-top: 30px;
}

.paddingTop5{
  @media(max-width: 768px){
    padding-top: 5px;
  }
}
.smallFontSize{
  font-size: smaller;
}
.mediumFont{
  font-size: medium;
}
.modal-dialog{
  .modal-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-color: @MSDgreenDarker;
  }
}
.equalMarginModalTitle{
  margin-top: 10px;
  margin-bottom: 10px;
}
a:focus{
  text-decoration: none;
}
.cookieBar{
  position: fixed;
  z-index: 1060;
  background-color: @MSDgreenDarker ;
  bottom:0;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:white;
}
h3{
  font-size: 20px;
  @media (max-device-width: 767px) {
    font-weight: bold;
    font-family: "Helvetica Neue";
  }
}
h4{
  font-size: 16px;
}

.profileImg{
  width: 100%;
  @media (max-device-width: 480px) {
    width: auto;
    margin: auto;
    image-orientation: from-image;
  }
}

//=================================== calendar mobile responsive
.popover{
  z-index: 1000 ! important;
  width: 376px !important;
  }
.popover-title{
  background: @MSDTitle;
  color: white;
}
.popover-content{ color: black; }
.fc-header-title{
  h2 {
    @media (max-device-width: 480px) {

      font-size: 20px;
      padding-top: 3px;
    }
  }
}
.fc-button-today{
  @media (max-device-width: 480px) {
    display: none !important;
  }
}