//import our customizable variables
@import 'medicVariables';

//import stripped-from-variables version of bootstrap, which will use our custom variables
@import '../../modules/bootstrap_noVariables/less/bootstrap';

//adjust fonts for phones and tablets
.fontS{
  @media (max-width: @screen-xs-max){
    font-size: 11px;
  }
}
.fontM{
  @media (max-width: @screen-xs-max){
    font-size: 13px;
  }
}
.fontL{
  @media (max-width: @screen-xs-max){
    font-size: 15px;
  }
}
.fontXL{
  @media (max-width: @screen-xs-max){
    font-size: 17px;
  }
}
.fontXXL{
  @media (max-width: @screen-xs-max){
    font-size: 20px;
  }
}


body{
  .fontM;
  h2{
    .fontXXL;
  }
  h3{
    .fontXL;
  }
  h4{
    .fontL;
  }
  a{
    cursor: pointer;
  }
  .btn{
    .btn-sm;
    .fontS;
  }
}

.filterByTherapeuticAreas{
  .areasMobile{
    padding: 0;
    margin-bottom: 25px;
  }
  .areas{
    padding: 0 30px 0 0;
    .title{
      padding: 0;
      margin-bottom: 25px;
      .fontXL;
    }
    .menu{
      padding: 0;
      .MSDgreen;
      .area{
        border: 0;
        padding: 5px;
        cursor: pointer;
        border-radius: 4px !important;
        &:hover{
          background-color: @green;
          color:white;
        }
        &.active{
          background-color: @green;
          color:white;
        }
      }
    }
  }
  .viewport{
    margin-top: 0;
  }
}
.productsView{
  padding: 0;
  .noProducts{
    text-align: center
  }
  .product{
    margin-bottom: 25px;
    padding: 0 25px 0 0;
  }
}
.pickLetter{
  padding: 0;
  .letter{
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    color: @green;
    &:hover{
      background-color: @green;
      color: white;
    }
  }
}
.productDetails{
  .imageAndRCP{
    img{
      width: 100%;
    }
    .btn{
      margin-top: 10px;
    }
    hr{
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}
.multimediaView{
  padding: 0;
  .message{
    padding: 0 0 0 45px;
    margin-top: 20px;
    text-align: center;
  }
  .multimediaWrapper{
    padding: 0 0 25px 0;
  }
}
.main-view-container {
  overflow-x: hidden;
  margin-top:20px !important;
  width: 100%;
  position:relative;
  top: 0;
  left: 0;
  padding-top: 70px;
  padding-bottom: 50px;
}
//===========================================================ARTICLES

.articlesStyles{
  .articlesWrapper{
    padding: 0;
    .articlesList{
      .articlesMoreNews{
        clear: both;margin:0 auto;
      }
      .noArticles{
        padding: 0;
      }
      .articlesMobileMessage
      {
        padding: 0;
        padding-bottom: 10px;
        text-align: left;
      }
      .articlesListWrapper{
        padding: 0;
        .article{
          padding: 0;
        }
      }
    }
  }
  .articleDetail{
    .title{
      .fontXL;
      font-weight: bold;
      border-bottom: 1px solid lightgray;
    }
    .articleContent{
      img{
        padding-right: 15px;
        padding-bottom: 15px;
      }
    }
    .date {
      margin-top: 0%;
    }
    .author{
      font-weight: bold;
    }
  }
  .stretchHorizontal{
    padding-left: 0px;
    padding-right: 0px;
  }
  .paddingTop10{
    padding-top: 10px;
  }
}
.paddingTop10{
  padding-top: 10px;
}

//===========================================================CALENDAR
.calendarWrapper{
  .noPadding{
    padding: 0;
  }
  .nextEvents{
    padding-left: 40px;
    .paddingTop5{
      padding-top: 5px;
    }
    .MainTitle{
      border-bottom: 1px solid @green;
    }
    .Date{
      padding-bottom: 10px;
      margin-top: -25px;
      .day{
        color: @green-darker;
        margin-bottom: 0;
      }
      .month{
        color: @green-darker;
        margin-top: 0;
      }
    }
    .Title{
      margin-top: -10px;
      margin-left: -2%;
      h4{
        cursor: pointer;
      }
    }
  }
}

//=======================================SEARCH
.homeSearchWrapper{
  .mainTitle{
    margin-top: 20px;
  }
  .result{
    padding: 0;
    margin-bottom: 20px;
  }
  .eventWrapper {
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
    padding: 5px;
    background: @table-bg-accent;
    border: 1px solid rgba(51, 51, 51, 0.2);
    .contentShadow;
    .event{
      border-left: 2px solid @green-darker;
      .date{
        margin-top: -18px;
        .green{
          color: @green-darker;
        }
      }
    }
    .buttonWrapper{
      padding-right: 0;
      padding-bottom: 0;
    }
    .category{
      padding-top: 5px;
      font-weight: bolder;
    }
  }
  .contentWrapper{
    padding-left: 0;
    .Title{
      color: @green-darker;
      cursor: pointer;
    }
  }
}

.homeStyles{
  height: 100%;
  padding: 0 0 50px 0;
  .leftSection{
    padding: 0;
    .lastNewsWrapper{
      .Title{
        padding: 0 0 0 10px;
        padding-bottom: 8px !important;
      }
      .content{
        padding: 0 15px 0 0;
      }
    }
    &:after{
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      border-right: 1px solid black;
    }
  }
  .rightSection{
    padding: 0;
    .leftColumn{
      padding: 0;
      .Multimedia{
        .Title{
          padding:0;
        }
        .Wrapper{
          padding: 0 0 0 40px;
          margin-top:20px !important;
          position: relative;
          .iconWrapper{
            position: absolute;
            left: 0;
            top: 0;
            padding: 0;
            i{
              color: @gray;
            }
          }
          .Content{
            padding: 0;
            text-align: justify;
            .mediaTitle{
              padding: 0;
              font-weight: bold;
              color: @green;
              cursor: pointer;
            }
            .description{
              padding: 0;
            }
          }
        }
      }
      .Events{
        .Title{
          padding: 0;
          h3{
            margin-bottom: 4%;
          }
        }
        .eventDisplay{
          padding: 0 0 30px 40px;
          position: relative;
          .date{
            position: absolute;
            left: 0;
            top: 0;
            color: @green;
            width: 35px;
            border-right: 1px solid black;
            .day{
              padding: 0;
              .fontXL;
              line-height: 1em;
            }
            .month{
              padding: 0;
              .fontM;
              line-height: 1em;
            }
          }
          .Content{
            padding: 0;
            .MediaTitle{
              padding: 0;
              color: @green;
              cursor: pointer;
              text-align: justify;
              font-weight: bold;
            }
            .Description{
              padding: 0;
              margin-top: 5px;
              text-align: justify;
            }
          }
        }
      }
    }
    .rightColumn{
      padding: 0;
      &:before{
        position: absolute;
        content: '';
        top: 0;
        left: -1px;
        width: 0;
        height: 100%;
        border-left: 1px solid black;
      }
    }
    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: -1px;
      width: 0;
      height: 100%;
      border-left: 1px solid black;
    }
  }
}

//===================================================WIDGETS
.widgets{
  .subtitle
  {
    color: @green;
  }
  .glycemizerTextPadding{
    padding-bottom: 30px;
  }
  .handCursor{
    cursor: pointer;
  }
  .title{
    text-align: left;
    @media(max-width: @screen-sm-max),(orientation: portrait){
      text-align: center;
    }
  }
  .contentPadding{
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .widgetImage{
    width: 100%;
    margin-bottom: 10px;
    @media(max-device-width: @screen-xs-max){
      width: 50% !important;
    }
  }
  .merckImageWrapper{
    vertical-align: middle;
    text-align: left;
    .merckImage{
      width: 70%;
      cursor:pointer;
    }
  }
}


//============================================================================================================ CAROUSEL
.carousel-container{
  margin-bottom: 1%;
  overflow-x: hidden;
  position: relative;
  .unselectable;

  .main-carousel {
    width: 75%;
    margin: 0 auto;
    overflow: visible!important;
    .carouselMargins{
      margin-left: 10px;
      margin-right:10px
    }
    .carouselSlide{
      height: 100%;
      position: relative;
      .carousel-title{
        z-index: 1001;
        position: absolute;
        color: white;
        bottom: 10px;
        left: 3%;
        cursor: pointer;
        .titleFont{
          font-family: "Trebuchet MS", Helvetica, sans-serif;
          color: white;
          text-shadow: black 0.1em 0.1em 0.2em;
          .fontXXL;
          @media(max-width: @screen-xs-max){
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: white;
            text-shadow: black 0.1em 0.1em 0.2em;
            .fontL;
          }
        }
      }
      .imageCover{
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0);
      }
      .imageWrapper{
        z-index: 999;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
          width: 98%;
        }
      }
      .firstTrimmedImage{
        display: inline-block; -webkit-transform: translate3d(-100%, 0px, 0px);-moz-transform: translate3d(-100%, 0px, 0px); transform: translate3d(-100%, 0px, 0px);
      }
      .lastTrimmedImage{
        display: inline-block; -webkit-transform: translate3d(100%, 0px, 0px);-moz-transform: translate3d(100%, 0px, 0px); transform: translate3d(100%, 0px, 0px);
      }
    }
  }
  .carousel-controll {
    position: absolute;
    right: 17%;
    bottom: 20px;
    .carousel-controll-element {
      float: left;
      margin: 5px;
      width: 10px;
      height: 10px;
      background-color: white;
      cursor: pointer;
      &:hover {
        outline: 2px solid white;
      }
      &.selected {
        background-color: orange;
      }
    }
  }
}

//===================================================================================================== HEADER / FOOTER
.navbar-fixed-top .navbar-nav > .active > a {
  color: @green-darker;
  font-weight: bold;
  background-color: #ffffff;
}
.navbar-fixed-top .navbar-nav > .active > a:after{
  content: '';
  position: absolute;
  width: 40%;
  height: 0;
  border: 3px solid @gray;
  border-radius: 5px;
  left: 30%;
  top: 40px;
  @media(max-width: @grid-float-breakpoint-max){
    display: none;
  }
}
.navbarMedic {
  padding: 10px 25px 0 25px;
  border-bottom: 1px solid @gray-lighter;
  .container{
    padding: 0;
    width: 100%;
    padding-bottom: 8px !important;
  }
  .dropdown-menu{
    border-radius: 6px;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 180px;
    background-color: @gray-lighter;
    li{
      padding: 10px 5px 10px 5px;
      min-width: 180px;
      height: 50px;
      &:hover{
        border-radius: 3px;
        background-color: @green;
        a {
          color: #ffffff;
          background-color: @green;
          .glyphicon{
           color:darkgrey;
          }
        }
      }
    }
    &.myProfile{
      margin-top: 5px;
      @media(max-width: @grid-float-breakpoint-max){
        left: auto !important;
      }
    }
  }
  .navbar-brand{
    padding: 0;
    img{
      height: 50px;
      @media (min-width: @grid-float-breakpoint) {
        padding-left: 25px;
      }
      @media (min-width: @screen-sm-min) and (max-width: @grid-float-breakpoint-max){
        height: 40px;
        margin-top: 9px;
      }
      @media (max-width: @screen-xs-max){
        height: 26px;
        margin-top: 12px;
      }
    }
  }
  .profile{
    position: absolute;
    right: 234px;
    @media (max-width: @grid-float-breakpoint-max) {
      right: 0;
    }
    @media (max-width: @screen-xs-max) {
      display: none;
      visibility: hidden;
    }
    margin-top: 8px;
    margin-right: 10px;
    .btn{
      .btn;
      border-color: @gray;
    }
  }
  .navbar-toggle {
    position: relative;
    float: left;
    margin: 8px 10px 8px 0;
    padding: 9px 10px;
    border: 1px solid @gray-light;
    border-radius: 4px;
  }
  .navbar-collapse{
    padding: 0;
    .navbar-nav{
      margin: 0;
      .navbar-form{
        margin-left: 0;
        margin-right: 0;
      }
      &.navbarMenu{
        padding-top: 4px;
      }
      li{
        &.mobileLink{
          @media (min-width: @screen-sm-min) {
            visibility: hidden;
            display: none;
          }
          &.dividerTop{
            &:after{
              position: absolute;
              left: 15px;
              right: 15px;
              top: 0;
              content: '';
              border-bottom: 1px solid @gray-lighter;
            }
          }
        }
        .divider{
          &:after{
            position: absolute;
            left: 15px;
            right: 15px;
            top: 0;
            content: '';
            border-bottom: 1px solid @gray-lighter;
          }
        }
      }
    }
  }
  .userDropdown{
    @media (min-width: @grid-float-breakpoint) {
      display: none;
      visibility: hidden;
    }
  }
  .specialDropdown{
    @media (max-width: @screen-xs-max){
      margin-top: 3px;
    }
  }
}

#footer {
  border-top: 1px solid @grayLightest;
  //z-index: 1040;
  background: @green;
  padding: 5px 0 5px 0;
  display: block;
  width: 100%;
  float: left;
  position: relative;
  min-height: 35px;
  .leftSection{
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    img{
      width: 65px;
      float: right;
      padding: 5px 0 5px 0;
    }
  }
  .rightSection{
    padding: 0 0 0 80px;
    .link{
      display: block;
      float: right;
      padding: 0 15px 0 0;
      color: white;
    }
  }
}

//============================================================================================= PRODUCT PAGE
.specialProductMainWrapper{
  margin-top: 20px;
  #menuDiv{
    margin-left: 0;
    .menuMarginBottom{
    margin-bottom: 0;
    }
    .panel-body{
      padding: 0;
    }
    .list-group{
      margin-bottom: 0px;
    }
    .borderRadiusSpecial{
      border-radius: 0px;
    }
    .panel-heading{
      background-color: @body-bg;
    }
    .panel-group{
      box-shadow: 0px 3px 1px @grayLighter;
      .panel{
        margin-top: 0px;
      }
      border: 1px solid @grayLighter;
      border-top: 0px;
      div{
        border: 0;
        border-radius: 0px;
      }
    }
    .parentBorderTop{
      border-top: 1px solid @grayLighter !important;
    }
    .productPageMenu{
      .parent{
        a{
          text-decoration: none;
        }
        .panel-heading{
          .MSDgreenDarker;
          .panel-title{
            font-size: inherit;
          }
        }
        padding-bottom: 0;
        .parentBorderTop;
        &.active{
          background-color: @green;
          color: white;
          .panel-heading{
            background-color: @green;
            color: white !important;
            .MSDgreenDarker{
              color: @body-bg !important;
            }
          }
        }
      }
      .child{
        a{
          text-decoration: none;
        }
        .MSDgreenDarker;
        .handCursor;
        .fontS;
        position: relative;
        display: block;
        padding: 10px 15px;
        background-color: @body-bg;
        &.active{
          color: darkorange;
        }
      }
    }
    .mobileDropdown{
      padding-bottom: 10px;
      padding-left: 0;
      padding-right: 0;
      .glyphicon-Special-Product{
        margin-top: 2px;
      }
      .my-dropdown-menu {
        padding: 0;
        background-color: transparent;
        border: 0px solid #cccccc;
        border: 0px solid rgba(0, 0, 0, 0.15);
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-clip: border-box;
        list-style: none;
        .my-list-menu-item{
          padding: 0;
          background-color: transparent;
          border: 0px solid @grayLighter;
        }
      }
    }
  }
  #descriptionDiv{
    #initialDescriptionDiv{
      margin-right: -30px;
    }
    .noPadding{
      padding: 0;
    }
    .specialProductTitle{
      margin-top: 20px;
      margin-bottom: 20px;
      color: @green;
      .fontXXL;
      font-weight: bold
    }
    .justify{
      text-align: justify;
    }
    .DescriptionWrapper{
      background-color: @body-bg;
      border-radius: 0px;
      .prescription{
        margin-top: 15px
      }
      .job_id{
        margin-top: 20px
      }
      .fileLinks{
          color: @green-darker !important;
        &:focus
        {
          text-decoration: none !important;
        }
      }
      .glossary{
        font-weight: bold;
        color: @green-darker;
        padding-bottom: 10px;
        .Description{
          padding-bottom: 10px;
        }
      }
    .glossaryPrintButtons{
      padding-top: 5px;
      padding-bottom: 5px;
      i{
        cursor: pointer;
      }
      }
      .safety {
        margin-bottom: 50px;
      }
      .siteMap{
        ul{
          list-style: none;
          font-weight: bold;
          padding: 0;
          line-height: 2em;
          cursor: pointer;
          color: @green !important;
        }
        .siteMapList{
          cursor: pointer;
          color: @green !important;
        }
      }
    }
  }
}
@media print{
  #menuDiv{
    display: none;
  }
  #descriptionDiv{
    width: 100%;
  }
  #initialDescriptionDiv{
    width: 100%;
  }
  #siteMapDiv{
    width: 100%;
  }
  #footer{
    display: none !important;
  }
  a:link:after, a:visited:after {
    content: "";
  }
}

.viewSpeakers{
  .speaker{
    padding-right: 15px;
    padding-bottom: 15px;
    .imageOuterFrame{
      width: 70px;
      height: 70px;
      border: 1px solid @gray-lighter;
      border-radius: 100px;
      overflow: hidden;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.1);
      -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.1);
      box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.1);
      .imageInnerFrame{
        width: 60px;
        height: 60px;
        border-radius: 100px;
        overflow: hidden;
        margin-left: 4px;
        margin-top: 4px;
        img{
          width: 60px;
          height: 60px;
        }
      }
    }
    .descriptionFrame{
      cursor: pointer;
      position: relative;
      left: 0;
      top: 0;
      padding-left: 85px;
      .ellips{
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        //margin: 0 auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .name{
        color: @green;
        .fontS;
        font-weight: bold;
        line-height: 1.5em;
        height: 3em;
        .ellips;
      }
      .title{
        line-height: 1.4em;
        height: 6em;
        .ellips;
      }
      .cell{
        padding-top: 5px;
        .fontS;
        &.bold{
          font-weight: bold;
        }
      }
    }
  }
}
.largeDisplaySpeaker{
  img{
    width: 100%;
  }
  .name{
    color: @green;
    .fontXL;
    font-weight: bold;
  }
  .country{
    .fontXL;
    margin-bottom: 10px;
  }
  .cell{
    text-align: justify;
    padding-top: 5px;
    .fontS;
    &.bold{
      font-weight: bold;
    }
  }
}

//============================================================================================= SPECIAL APPS
#specialApp{
  iframe{
    width: 100%;
    height: 100%;
  }
}

//============================================================================================= MY PROFILE

.MyProfileModal{
  .fontS;
  .modal-header{
    padding: 10px 15px;
    .modal-title{
      h3{
        .fontXL;
      }
    }
  }
  .modal-footer{
    padding: 10px 15px;
  }
  .form-group-sm{
    padding-bottom: 8px;
  }
}

//============================================================================================= RESPONSIVE MODALS
.modal-responsive{
  .modal-dialog{
    height: 90%;
    .modal-content{
      height: 100%;
      position: relative;
      .modal-header{
        height: 10%;
      }
      .modal-body{
        position: absolute;
        bottom: 10%;
        top: 10%;
        left: 0;
        right: 0;
        overflow-y: scroll;
        .multimediaVideo{
          height: 80%;
        }
      }
      .modal-footer{
        position: absolute;
        height: 10%;
        left: 0;
        right: 0;
        bottom: 0;
        .positionMiddle{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          &.right{
            right: 15px;
          }
          &.left{
            left: 15px;
          }
        }
      }
    }
  }
}

//============================================================================================= USEFUL STYLES / MIX-INS
.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noPadding{padding:0;}
.MSDgreen{color: @green;}
.MSDgreenDarker{color: @green-darker;}
.handCursor{
  cursor: pointer;
}
.justify{
  text-align: justify;
}
.noMarginTop{
  margin-top: 0px;
}
//.articlesStyles .articleDetail .articleContent .img-special {
//  width: 300px;
//  padding-right: 15px;
//  padding-bottom: 15px;
//}
.no-text-decoration{
  text-decoration: none !important;
}
.no-text-decoration a:hover{
  text-decoration: none !important;
}
.no-text-decoration a:active{
  text-decoration: none !important;
}
.no-text-decoration a:focus{
  text-decoration: none !important;
}
.no-text-decoration:hover{
  text-decoration: none !important;
}
.no-text-decoration:active{
  text-decoration: none !important;
}
.no-text-decoration:focus{
  text-decoration: none !important;
}
.imgFix{
  height: 200px !important;
  image-orientation: from-image;
}

.modal-dialog{
  .modal-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-color: @green;
  }
}
a:focus{
  text-decoration: none;
}
.cookieBar{
  position: fixed;
  z-index: 1060;
  background-color: @green ;
  bottom:0;
  line-height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:white;
  padding: 5px;
}

.profileImg{
  width: 100%;
}

//=================================== calendar mobile responsive
.popover{
  z-index: 1000 ! important;
  width: 376px !important;
  }
.popover-title{
  background: @green;
  color: white;
}
.popover-content{ color: black; }
.fc-header-title{
  h2 {
    .fontXL;
    @media (max-device-width: @screen-xs) {
      padding-top: 3px;
    }
  }
}
.fc-button-today{
  @media (max-device-width: @screen-xs) {
    display: none !important;
  }
}

//=================================================================================================== TINY MCE CLASSES
.specialText{
  @media (max-width: @screen-xs-max) {
    width: 100% !important;
  }
}