<div class="modal-header">
    <div class="modal-title"><h3>Stergere prezentare</h3></div>
</div>
<div class="modal-body col-xs-12">
    <div class="col-md-12" style="margin-bottom: 15px;">
        <alert ng-if="statusAlert.newAlert" type="{{statusAlert.type}}" close="statusAlert.newAlert=false">{{statusAlert.message}}</alert>
    </div>
        <div class="col-xs-12">
            Esti sigur ca vrei sa stergi aceasta prezentare?
        </div>
</div>
<div class="modal-footer">
    <a class="btn pull-left btn-primary" ng-click="closeModal()">Close</a>
    <a class="btn pull-right btn-primary" ng-click="deleteIntro()">Sterge</a>
</div>