<div class="col-md-12">
    <div class="col-md-12 well">
        <h3 class="pull-left" style="margin-top: 0px">Gestionare Intro</h3>
        <div class="btn btn-danger pull-right" ng-click="addIntro()"><i class="glyphicon glyphicon-plus-sign"></i>Adauga prezentare</div>
    </div>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="intro in $data">
            <td data-title="'Titlu Prezentare'" filter="{ 'description': 'text' }" sortable="'description'">
                {{intro.description}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons item-enable-property="intro.enabled" show-toggle-button="true" show-edit-button="true" show-delete-button="true"
                                toggle-item="toggleIntro(intro._id,intro.enabled)" update-item="viewIntro(intro._id)" delete-item="deleteIntro(intro._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>