<div class = "col-md-12 well">
    <div class="col-md-9"><h3>Gestionare categorii</h3></div>
    <div class="col-md-3"><div class="btn btn-default pull-right" ng-click="addCategory()">Adauga categorie</div></div>
</div>
<div class="col-md-12">
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="category in $data">
            <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
                {{category.name}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons item-enable-property="category.isEnabled" show-toggle-button="true" show-edit-button="true" show-delete-button="true"
                                toggle-item="toogleCategoryEnabled(category._id, category.isEnabled)" update-item="editCategory(category)" delete-item="deleteCategory(category._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>