<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div class="row">

        <div class="col-xs-3">
        <div class="well widget black">
         </div>
            </div>
        <div class="col-xs-3">
            <div class="well widget black">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="well widget black">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="well widget black">
            </div>
        </div>
        </div>
</body>

</html>