<div class="modal-header">
    <div class="modal-title"><h3>{{userData.name}}</h3></div>
</div>
<div class="modal-body">
    <accordion close-others="true">
        <accordion-group is-open="openFirst">
            <accordion-heading><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Profilul meu</accordion-heading>
            <div class="col-md-12">
                <alert ng-if="userProfileAlert.newAlert" type="{{userProfileAlert.type}}" close="userProfileAlert.newAlert=false">{{userProfileAlert.message}}</alert>
            </div>
            <form name="profileForm" ng-submit="submitProfileForm(profileForm.$valid)" novalidate>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <img ng-src="{{image}}" style="width: 100%;"/>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group col-md-6" ng-class="{'has-error': profileForm.nume.$invalid && !profileForm.nume.$pristine}">
                                <label for="nume">Nume:</label>
                                <input type="text" class="form-control" id="nume" name="nume" ng-model="firstName" ng-pattern="/^[a-zA-Z\s]{3,30}$/" required>
                            </div>
                            <div class="form-group col-md-6" ng-class="{'has-error': profileForm.prenume.$invalid && !profileForm.prenume.$pristine}">
                                <label for="prenume">Prenume:</label>
                                <input type="text" class="form-control" id="prenume" name="prenume" ng-model="lastName" ng-pattern="/^[a-zA-Z\s]{3,30}$/" required>
                            </div>
                            <div class="form-group col-md-12" ng-class="{'has-error': profileForm.telefon.$invalid && !profileForm.telefon.$pristine}">
                                <label for="telefon">Telefon:</label>
                                <input type="text" class="form-control" id="telefon" name="telefon" ng-model="phone" ng-pattern="/^[0-9]{10,20}$/" required>
                            </div>
                            <div class="col-md-12">
                                <label for="abonat">Abonat la newsletter</label>
                                <input type="checkbox" id="abonat" ng-model="newsletter" ng-checked="newsletter"/>
                            </div>
                            <div class="col-md-12">
                                <a class="btn btn-default"><i class="glyphicon glyphicon-camera"></i>&nbsp;Schimba fotografia</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr/>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Judet: </label>
                                <ui-select ng-model="county.selected" theme="select2" ng-disabled="false" style="width: 100%;" id="county" required>
                                    <ui-select-match placeholder="Selecteaza un judet">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="county in counties | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="county.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Oras: </label>
                                <ui-select ng-model="city.selected" theme="select2" ng-disabled="false" style="width: 100%;" id="city" required>
                                    <ui-select-match placeholder="Selecteaza un oras">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="city in cities | propsFilter: {name: $select.search}">
                                        <div ng-bind-html="city.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="areas">Arii terapeutice:</label>
                                <select ng-model="selectedArea" ng-options="area as area.name.replace('0','&nbsp;&nbsp;&nbsp;&nbsp;') for area in allAreas"
                                        class="form-control" id="areas" style="width: 100%;" ng-change="areaWasSelected(selectedArea)">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div ng-repeat="userArea in userTherapeuticAreas">
                                <div class="label label-primary" style="float: left; margin-right: 10px; margin-bottom: 10px;">
                                    {{userArea.name.replace('0','')}}&nbsp;
                                    <i class="glyphicon glyphicon-remove-sign" ng-click="removeUserArea(userArea.id)" style="cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="profileForm.$invalid">Salveaza</button>
                        </div>
                    </div>
                </div>
            </form>
        </accordion-group>
        <accordion-group>
            <accordion-heading><i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp;Loc de munca</accordion-heading>
            <form name="jobForm" ng-submit="submitJobForm(true)">
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label for="tipLoc">Tip loc de munca<sup>*</sup>:</label>
                        <select ng-model="selectedJob" ng-options="jobS for jobS in jobTypes" class="form-control" id="tipLoc" style="width: 100%;">
                            <option value="">Selecteaza o optiune</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="locMunca">Loc de munca<sup>*</sup>:</label>
                        <input type="text" class="form-control" id="locMunca" ng-model="job.job_name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label for="numeStrada">Numele strazii<sup>*</sup>:</label>
                        <input type="text" class="form-control" id="numeStrada" ng-model="job.street_name">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="numarStrada">Numarul strazii<sup>*</sup>:</label>
                        <input type="text" class="form-control" id="numarStrada" ng-model="job.street_number">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="codPostal">Cod postal:</label>
                        <input type="text" class="form-control" id="codPostal" ng-model="job.postal_code">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-12">
                        <label for="codPostal">Alte informatii, adresa:</label>
                        <input type="text" class="form-control" id="alteInfoAdr" ng-model="job.job_address">
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary pull-right">Salveaza loc de munca</button>
                </div>
            </form>
        </accordion-group>
        <accordion-group>
            <accordion-heading><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Contul meu</accordion-heading>
            <div class="col-md-12">
                <h4>Schimba e-mail</h4>
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label for="emailNew"><sup>*</sup>Adresa de e-mail:</label>
                    <input type="text" class="form-control" id="emailNew"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="changeEmailPass"><sup>*</sup>Parola:</label>
                    <input type="text" class="form-control" id="changeEmailPass"/>
                </div>
            </div>
            <div class="col-md-12">
                <a class="btn btn-danger pull-right">Schimba e-mail</a>
            </div>
            <div class="col-md-12">
                <h4>Schimba parola</h4>
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <label for="oldPass"><sup>*</sup>Parola:</label>
                    <input type="text" class="form-control" id="oldPass"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label for="newPass"><sup>*</sup>Parola noua:</label>
                    <input type="text" class="form-control" id="newPass"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="confirmPass"><sup>*</sup>Repeta parola:</label>
                    <input type="text" class="form-control" id="confirmPass"/>
                </div>
            </div>
            <div class="col-md-12">
                <a class="btn btn-danger pull-right">Schimba parola</a>
            </div>
        </accordion-group>
        <accordion-group>
            <accordion-heading><i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;Punctele mele</accordion-heading>
            <div class="col-md-12">
                <h4>Total puncte: {{pointsTotal}}</h4>
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">Puncte acumulate din slide:</div>
                <div class="col-md-8"><label class="label label-primary">{{pointsSlide}}</label></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">Puncte acumulate din video:</div>
                <div class="col-md-8"><label class="label label-primary">{{pointsVideo}}</label></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">Puncte acumulate din articole:</div>
                <div class="col-md-8"><label class="label label-primary">{{pointsArticles}}</label></div>
            </div>
        </accordion-group>
    </accordion>
</div>
<div class="modal-footer">
    <a class="btn btn-default" ng-click="closeModal()">Inchide</a>
</div>