<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>MSD Be Well</title>
    <!--Get amazon bucket-->
    <script>
        sessionStorage.defaultAmazonBucket = "<%=amazonBucket%>";
        sessionStorage.requestedStaywellActivation = "<%=requestedActivation%>";
        sessionStorage.activatedStaywellAccount = "<%=accountActivated%>";
    </script>

    <!--Core-modules-->
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


    <!--Controllers-->
    <script src="javascript/public/app.js"></script>
    <script src="javascript/public/controllers.js"></script>
    <script src="javascript/public/services.js"></script>
    <script src="javascript/public/publicDirectives.js"></script>
    <script src="javascript/public/home/HomeController.js"></script>
    <script src="javascript/public/home/publicSearchController.js"></script>
    <script src="javascript/public/home/NoutatiController.js"></script>
    <script src="javascript/public/home/CeleMaiCititeController.js"></script>
    <script src="javascript/public/home/HomeDownloadsController.js"></script>
    <script src="javascript/public/modals/contactModalController.js"></script>
    <script src="javascript/public/news/newsController.js"></script>
    <script src="javascript/public/ArticlesControllers/ArticlesView.js"></script>
    <script src="javascript/public/ArticlesControllers/ArticlesDetail.js"></script>
    <script src="javascript/public/downloads/downloadsController.js"></script>
    <script src="javascript/public/downloads/downloadsDetailController.js"></script>
    <script src="javascript/public/elearning/elearningController.js"></script>
    <script src="javascript/public/elearning/elearningDetailController.js"></script>
    <script src="javascript/public/AuthControllers/AuthModal.js"></script>
    <script src="javascript/public/AuthControllers/Proof.js"></script>


    <!--Plug-ins-->
    <script src="components/shifty/dist/shifty.min.js"></script>
    <script src="components/angular-touch/angular-touch.min.js"></script>
    <script src="components/angular-carousel/dist/angular-carousel.min.js"></script>
    <script src="modules/custom_timeline/timelineDirective.js"></script>
    <link rel="stylesheet" href="modules/custom_timeline/timelineStyles.css">
    <!--&lt;!&ndash;custom css for tiny scrollbar&ndash;&gt;-->
    <!--<link rel="stylesheet" href="stylesheets/public/tinyScrollbarCustom.css" type="text/css"/>-->
    <!--&lt;!&ndash;custom version of tiny scrollbar for fixing dynamic content height readjustment issue&ndash;&gt;-->
    <!--<script src="modules/ngTinyScrollbarCustom/src/ng-tiny-scrollbar.js"></script>-->
    <script src="components/videogular/videogular.js"></script>
    <script src="components/videogular-controls/controls.js"></script>
    <script src="components/videogular-overlay-play/overlay-play.js"></script>
    <script src="components/videogular-poster/poster.js"></script>
    <script src="components/videogular-buffering/buffering.js"></script>
    <script src="components/ng-file-upload/angular-file-upload.min.js"></script>


    <!--Stylesheets-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="components/angular-carousel/dist/angular-carousel.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/public/defaultStyles.css">
    <link rel="stylesheet" href="stylesheets/stylesThatReignSupreme.css">
</head>
<body>

<div id="publicHeaderWrapper">
    <div id="publicHeader">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top ng-scope" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="headerSearchAndLinks">
                        <div class="item">
                            <ul>
                                <li>
                                    <a href="#">Manualul Merck</a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a style="cursor: pointer" ng-click="showContactModal()">Contact</a>
                                </li>
                                <li>|</li>
                                <li>
                                    <a ng-click="showAuthModal('login')">Log in</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-enter="searchText(textToSearch)" placeholder="Search" ng-model="textToSearch">
                                    <span class="input-group-addon" ng-click="searchText(textToSearch)"><i class="glyphicon glyphicon-search"></i></span>
                                </div>
                                <button type="submit" class="btn btn-default sr-only">Submit</button>
                            </form>
                        </div>
                    </div>
                    <a class="navbar-brand" href="#"><img ng-src="{{pathAmazonResources+'rsz_msd_be_well_green_gray.jpg'}}"></a>
                </div>

                <div class="collapse navbar-collapse" collapse="navCollapsed">

                    <ul class="nav navbar-nav">
                        <li ng-class="{'active': $state.includes('home')}"><a ui-sref="home.noutati" ng-click="navCollapsed = true"> Home </a></li>
                        <li ng-class="{'active': $state.includes('stiri')}"><a ui-sref="stiri.all" ng-click="navCollapsed = true"> Stiri </a></li>
                        <li ng-class="{'active': $state.includes('articole')}"><a ui-sref="articole.all" ng-click="navCollapsed = true"> Articole </a></li>
                        <li ng-class="{'active': $state.includes('elearning')}"><a ui-sref="elearning.all({area: 0})" ng-click="navCollapsed = true"> Elearning </a></li>
                        <li ng-class="{'active': $state.includes('downloads')}"><a ui-sref="downloads.all" ng-click="navCollapsed = true"> Downloads </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right searchAndLinks">
                        <li>
                            <form class="navbar-form navbar-right" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-enter="searchText(textToSearch)" placeholder="Search" ng-model="textToSearch">
                                    <span class="input-group-addon" ng-click="searchText(textToSearch)"><i class="glyphicon glyphicon-search"></i></span>
                                </div>
                                <button type="submit" class="btn btn-default sr-only">Submit</button>
                            </form>
                        </li>
                        <li class="navbar-link">
                            <a href="http://www.merckmanuals.com" target="_blank">Manualul Merck</a>
                        </li>
                        <li class="link-divider"></li>
                        <li class="navbar-link">
                            <a style="cursor: pointer" ng-click="showContactModal()">Contact</a>
                        </li>
                        <li class="link-divider"></li>
                        <li class="navbar-link">
                            <a ng-click="showAuthModal('login')">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="publicContentWrapper" footer-bottom>
    <div class="container" id="publicContent">
        <div ui-view class="view-container rootView"></div>
    </div>

    <div class="footer text-center">
        <hr>
        <a href="#">Home</a>&nbsp;|&nbsp;
        <a href="http://www.merckmanuals.com" target="_blank">Manualul Merck</a>&nbsp;|&nbsp;
        <a style="cursor: pointer" ng-click="showContactModal()">Contact</a>
    </div>
</div>

</body>
</html>