<div class="col-xs-12 noPadding">
    <div class="col-xs-12 content" ng-repeat="content in content | limitTo:limit||content.length track by $index" ng-if="content">
        <div class="col-xs-4 image" ng-click="navigate(content)">
            <img ng-src="{{content[imageAttr]?imagePrefix + content[imageAttr]:defaultImage}}">
        </div>
        <div class="col-xs-8 description">
            <div class="col-xs-12 title" ng-click="navigate(content)" ng-bind-html="trustAsHtml(content[titleAttr])"></div>
            <div class="col-xs-12 type">{{boldTextFunction?boldTextFunction(content):''}}</div>
            <div class="col-xs-12 content" ng-bind-html="trustAsHtml(htmlToPlainText(content[textAttr]))"></div>
        </div>
    </div>
</div>