<!doctype html>
<html lang="ro" style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Activare cont</title>
</head>
<body style="height: 100%;">
<div style="position: relative; height: 100%;">
    <div style="position: relative; margin-top: 80px; padding: 0 50px;">
        <div style="max-width: 500px; margin: 0 auto">
        <div style="text-align: center">
            <img width="65%" src="http://www.healthsummit.ie/site/uploads/msdbewellgreengray.jpg"/>
        </div>
        <div style="text-align: justify; font-size: 16px">

            <% if(!success) { %>
            Link-ul de activare nu este valid. Dacă ați urmat instrucțiunile de activare,
            vă rugăm contactați prin email administratorul MSD la adresa "adminMSD@qualitance.ro"
            <% }else { %>
            Contul dumneavoastră a fost activat!
            <% } %>
        </div>
        </div>
    </div>
</div>
</body>
</html>