<!doctype html>
<html style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Activare cont</title>
</head>
<body style="height: 100%;">
<div style="position: relative; height: 100%;">
    <div style="position: absolute; top: 50%; transform: translateY(-50%); padding: 0 20px">
        <div style="text-align: center">
            <img style="width: 100%;" src="http://www.healthsummit.ie/site/uploads/msdbewellgreengray.jpg"/>
        </div>
        <div style="text-align: justify; font-size: 16px">

            <% if(!success) { %>
            Link-ul de activare nu este valid. Daca ati urmat instructiunile de activare,
            va rugam contactati prin email administratorul MSD la adresa "adminMSD@qualitance.ro"
            <% }else { %>
            Contul dumneavoastra a fost activat!
            <% } %>
        </div>
    </div>
</div>
</body>
</html>