@gray-light: #eee;

.selectAutocomplete{
  position: relative;
  width: 100%;
  height: 30px;
  .input {
    width: 100%;
  }
  .optionsWrapper{
    position: relative;
    width: 100%;
    .options{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 2000;
      .option{
        width: 100%;
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}