<div class="selectAutocomplete">
    <div class="desktop" ng-show="!isMobile">
        <input type="text" class="input form-control" ng-focus="desktop.showSelect()" ng-blur="desktop.hideSelect()" ng-model="inputText">
        <select class="select" ng-model="selected" ng-options="opt as opt[titleAttr] for opt in filteredOptions"
                multiple="multiple" ng-show="desktop.isSelectVisible" data-ng-attr-size="{{selectSize}}"></select>
    </div>
    <div class="mobile" ng-show="isMobile">
        <input type="text" class="input form-control" ng-click="mobile.showSearch()" ng-model="inputText" >
        <div class="searchMode" ng-show="mobile.isSearchVisible">
            <div class="searchBar">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Cauta" ng-model="inputText" id="mobileSelectAutocompleteIn">
                    <span class="input-group-addon" ng-click="mobile.hideSearch()">X</span>
                </div>
            </div>
            <div class="autocompletes">
                <div class="option" ng-repeat="option in filteredOptions | limitTo:selectSize" ng-click="mobile.selectOption(option)">
                    {{option[titleAttr]}}
                </div>
            </div>
        </div>
    </div>
</div>