<div class="col-md-12 noPadding">
    <div class="col-md-12">
        <h3>Editare curs</h3>
    </div>
    <div class="col-md-12 noPadding">
        <div class="col-md-12 form-group">
            <label>Titlu curs:</label>
            <input ng-model="course.title" type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-12 form-group">
        <label>Grupuri:</label>
        <my-multiple-select all-objects="allGroups" selected-objects="selectedGroups" track-by="_id" display-by="display_name"
                            split-by="profession.display_name" output="notUsed"></my-multiple-select>
    </div>
    <div class="col-md-12">
        <div class="col-md-6 noPadding">
            <div class="col-md-12 noPadding">
                <button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false" ngf-accept="'image/*'"><i class="glyphicon glyphicon-camera"></i>&nbsp;Incarca imagine</button>
            </div>
            <div class="col-md-12">
                <alert ng-if="uploadAlert.newAlert" type="{{uploadAlert.type}}" close="uploadAlert.newAlert=false">{{uploadAlert.message}}</alert>
            </div>
        </div>
        <div class="col-md-6">
            <a class="btn btn-default" href="{{pathAmazonDev+course.image_path}}" target="_self"><i class="glyphicon glyphicon-camera"></i>&nbsp;Descarca imagine</a>
        </div>
    </div>
    <div class="col-md-12 form-group">
        <label>Capitole:</label>
        <my-multiple-select all-objects="allChapters" selected-objects="selectedChapters" track-by="_id" display-by="title"
                            output="selectedChapters"></my-multiple-select>
    </div>

    <div class="col-md-6">
        <label class="label label-default">Durata:</label>
        <input type="number" ng-model="course.duration" class="form-control col-xs-12">
    </div>
    <div class="col-md-6">
        <label class="label label-default">Numar ordine:</label>

        <input type="number" class="form-control col-xs-12" ng-model="course.order">
    </div>
    <div class="col-md-12">
        <label>Descriere:</label>
        <textarea ui-tinymce="tinymceOptions" ng-model="course.description"></textarea>
    </div>
    <div class="col-md-12" style="margin: 10px 0">
        <a class="btn pull-right btn-primary" ng-click="saveChanges()">Salveaza modificarile</a>
    </div>
</div>