<div class="col-md-12 noPadding">
    <div class="col-md-12">
        <h3>Adaugare curs</h3>
    </div>
    <div class="col-md-12 noPadding">
        <div class="col-md-12 form-group">
            <label>Titlu curs:</label>
            <input ng-model="course.title" type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-12 form-group">
        <label>Grupuri:</label>
        <my-multiple-select all-objects="allGroups" selected-objects="selectedGroups" track-by="_id" display-by="display_name"
                            split-by="profession.display_name" output="selectedGroups"></my-multiple-select>
    </div>
    <div class="col-md-6">
        <label class="label label-default">Durata:</label>
        <input type="number" ng-model="course.duration" class="form-control col-xs-12">
    </div>
    <div class="col-md-6">
        <label class="label label-default">Numar ordine:</label>

        <input type="number" class="form-control col-xs-12" ng-model="course.order">
    </div>
    <div class="col-md-12">
        <label>Descriere:</label>
        <textarea ui-tinymce="tinymceOptions" ng-model="course.description"></textarea>
    </div>
    <div class="col-md-12" style="margin: 10px 0">
        <a class="btn pull-right btn-primary" ng-click="saveCourse()">Salveaza modificarile</a>
    </div>
</div>