    <div class="main-content">

        <div class="courses-tree col-xs-3">

            <div class="courses-panel clearfix col-xs-12">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default pull-left" ng-click="addCourse()">
                        <span class="glyphicon glyphicon-plus-sign add"></span>
                        &nbsp;Add Course
                    </button>
                </div>
            </div>
            <v-accordion class="vAccordion--default col-xs-12">

                <v-pane ng-repeat="course in courses track by $index | orderBy:' order'">
                    <v-pane-header>
                        {{ course.title }}
                    </v-pane-header>
                    <v-pane-content>
                        <div class="col-xs-12">
                            <div class="editLink col-xs-4 noPadding" ng-click="addChapter(course._id)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add&nbsp;</div>
                            <div class="editLink col-xs-4 noPadding" ui-sref="elearning.courses.editCourse({courseId: course._id})"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit&nbsp;</div>
                            <div class="editLink col-xs-4 noPadding" ng-click="deleteCourse(course._id)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete&nbsp;</div>
                        </div>
                        <v-accordion>
                            <v-pane ng-repeat="chapter in course.listChapters track by $index | orderBy:' order'">
                                <v-pane-header>
                                    {{ chapter.title }}
                                </v-pane-header>
                                <v-pane-content>
                                    <div class="editLink col-xs-4 noPadding" ng-click="addSubChapter(chapter._id)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add&nbsp;</div>
                                    <div class="editLink col-xs-4 noPadding" ui-sref="elearning.courses.editChapter({chapterId: chapter._id})"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit&nbsp;</div>
                                    <div class="editLink col-xs-4 noPadding" ng-click="deleteChapter(chapter._id)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete&nbsp;</div>
                                    <v-accordion>
                                        <v-pane ng-repeat="subChapter in chapter.listSubchapters track by $index | orderBy:' order'">
                                            <v-pane-header>
                                                {{ subChapter.title }}
                                            </v-pane-header>
                                            <v-pane-content>
                                                <div class="editLink col-xs-4 noPadding" ng-click="addSlide(subChapter._id)"><i class="glyphicon glyphicon-plus"></i>Add&nbsp; Slide</div>
                                                <div class="editLink col-xs-4 noPadding" ui-sref="elearning.courses.editSubChapter({subChapterId: subChapter._id})"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit&nbsp;</div>
                                                <div class="editLink col-xs-4 noPadding" ng-click="deleteSubChapter(subChapter._id)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete&nbsp;</div>
                                                <v-accordion>
                                                    <v-pane ng-repeat="slide in subChapter.listSlides track by $index | orderBy:' order'">
                                                        <v-pane-header>
                                                            {{ slide.title }}
                                                        </v-pane-header>
                                                        <v-pane-content>
                                                            <div class="editLinkSlide col-xs-6" ui-sref="elearning.courses.editSlide({courseId: course._id, slideId: slide._id})"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit slide&nbsp;</div>
                                                            <div class="editLinkSlide col-xs-6" ng-click="deleteSlide(slide._id)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete slide&nbsp;</div>
                                                        </v-pane-content>
                                                    </v-pane>
                                                </v-accordion>
                                            </v-pane-content>
                                        </v-pane>
                                    </v-accordion>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </v-pane-content>
                </v-pane>
            </v-accordion>
        </div>

        <div class="col-xs-9">
            <div ui-view></div>
        </div>


    </div>