    <div class="main-content">

        <div class="courses-tree col-xs-3">

            <div class="courses-panel clearfix col-xs-12">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-default pull-left" ng-click="addCourse()">
                        <span class="glyphicon glyphicon-plus-sign add"></span>
                        &nbsp;Add Course
                    </button>
                </div>
            </div>
            <div ui-tree="treeOptions" class="col-md-12 noPadding">
                <ol ui-tree-nodes="" ng-model="courses">
                    <li ng-repeat="course in courses track by course._id" ui-tree-node collapsed="true" class="padding20">
                        <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'active': $state.params.courseId == course._id && !$state.params.slideId}">
                            <a class="btn btn-success btn-xs" data-nodrag="" ng-click="toggle(this)"><span ng-class="{'glyphicon glyphicon-chevron-right': collapsed, 'glyphicon glyphicon-chevron-down': !collapsed}"></span></a>
                            {{course.title}}&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-xs pull-right" ng-class="{'btn-default': !course.enabled, 'btn-danger': course.enabled}" data-nodrag="" ng-click="disableCourse(course)"><span class="glyphicon glyphicon-lock"></span></a>
                        </div>
                        <div class="tree-node-content">
                            <span class="handCursor leftPadding5px" ng-click="addChapter(course)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add chapter&nbsp;&nbsp;</span>
                            <span class="handCursor leftPadding5px" ng-click="editNavigation(course._id, $index)"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit Course&nbsp;&nbsp;</span>
                            <span class="handCursor leftPadding5px" ng-click="deleteCourse(course._id,$index)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete Course&nbsp;&nbsp;</span>
                        </div>
                        <ol ui-tree-nodes="" ng-model="course.listChapters" ng-class="{hidden: collapsed}">
                            <li ng-repeat="chapter in course.listChapters track by chapter._id" ui-tree-node collapsed="true">
                                <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'active': $state.params.chapterId == chapter._id}">
                                    <a class="btn btn-success btn-xs" data-nodrag="" ng-click="toggle(this)"><span ng-class="{'glyphicon glyphicon-chevron-right': collapsed, 'glyphicon glyphicon-chevron-down': !collapsed}"></span></a>
                                    {{chapter.title}}&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-xs pull-right" ng-class="{'btn-default': !chapter.enabled, 'btn-danger': chapter.enabled}" data-nodrag="" ng-click="disableChapter(chapter)"><span class="glyphicon glyphicon-lock"></span></a>
                                </div>
                                <div class="tree-node-content">
                                    <span class="handCursor leftPadding5px" ng-click="addSubChapter(chapter)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add sub-chapter&nbsp;&nbsp;</span>
                                    <span class="handCursor leftPadding5px" ng-click="editNavigation(chapter._id, $index, course)"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit Chapter&nbsp;&nbsp;</span>
                                    <span class="handCursor leftPadding5px" ng-click="deleteChapter(chapter._id,course,$index)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete Chapter&nbsp;&nbsp;</span>
                                </div>
                                <ol ui-tree-nodes="" ng-model="chapter.listSubchapters" ng-class="{hidden: collapsed}">
                                    <li ng-repeat="subChapter in chapter.listSubchapters track by subChapter._id" ui-tree-node collapsed="true">
                                        <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'active': $state.params.subChapterId == subChapter._id}">
                                            <a class="btn btn-success btn-xs" data-nodrag="" ng-click="toggle(this)"><span ng-class="{'glyphicon glyphicon-chevron-right': collapsed, 'glyphicon glyphicon-chevron-down': !collapsed}"></span></a>
                                            {{subChapter.title}}&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="btn btn-xs pull-right" ng-class="{'btn-default': !subChapter.enabled, 'btn-danger': subChapter.enabled}" data-nodrag="" ng-click="disableSubChapter(subChapter)"><span class="glyphicon glyphicon-lock"></span></a>
                                        </div>
                                        <div class="tree-node-content">
                                            <span class="handCursor leftPadding5px" ng-click="addSlide(subChapter)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Slide&nbsp;&nbsp;</span>
                                            <span class="handCursor leftPadding5px" ng-click="editNavigation(subChapter._id, $index, course, chapter)"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit Sub-Chapter&nbsp;&nbsp;</span>
                                            <span class="handCursor leftPadding5px" ng-click="deleteSubChapter(subChapter._id,chapter,$index)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete Sub-Chapter&nbsp;&nbsp;</span>
                                        </div>
                                        <ol ui-tree-nodes="" ng-model="subChapter.listSlides" ng-class="{hidden: collapsed}">
                                            <li ng-repeat="slide in subChapter.listSlides track by slide._id" ui-tree-node>
                                                <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'active' : $state.params.slideId == slide._id}">
                                                    {{slide.title}}&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <a class="btn btn-xs pull-right" ng-class="{'btn-default': !slide.enabled, 'btn-danger': slide.enabled}" data-nodrag="" ng-click="disableSlide(slide)"><span class="glyphicon glyphicon-lock"></span></a>
                                                </div>
                                                <div class="tree-node-content">
                                                    <span class="handCursor leftPadding5px" ng-click="editNavigation(slide._id, $index, course, chapter,subChapter)"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit Slide&nbsp;&nbsp;</span>
                                                    <span class="handCursor leftPadding5px" ng-click="deleteSlide(slide._id,subChapter,$index)"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete Slide&nbsp;&nbsp;</span>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

        <div class="col-xs-9">
            <div ui-view></div>
        </div>


    </div>