<div class="col-md-12 noPadding">
    <div class="col-md-12">
        <h3>Adaugare sub-capitol</h3>
    </div>
    <div class="col-md-12 noPadding">
        <div class="col-md-12 form-group">
            <label>Titlu sub-capitol:</label>
            <input ng-model="subChapter.title" type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-12 form-group">
        <label>Slide-uri:</label>
        <my-multiple-select all-objects="allSlides" selected-objects="selectedSlides" track-by="_id" display-by="title"
                            output="selectedSlides"></my-multiple-select>
    </div>
    <div class="col-md-6">
        <label class="label label-default">Durata:</label>
        <input type="number" ng-model="subChapter.duration" class="form-control col-xs-12">
    </div>
    <div class="col-md-6">
        <label class="label label-default">Numar ordine:</label>

        <input type="number" class="form-control col-xs-12" ng-model="subChapter.order">
    </div>
    <div class="col-md-12">
        <label>Descriere:</label>
        <textarea ui-tinymce="tinymceOptions" ng-model="subChapter.description"></textarea>
    </div>
    <div class="col-md-12" style="margin: 10px 0">
        <a class="btn pull-right btn-primary" ng-click="saveSubChapter()">Salveaza modificarile</a>
    </div>
</div>