<div class="col-sm-12 articlesList">
    <div class="col-sm-12 noPadding" ng-if="!isMobile(true)">
        <div class="col-sm-12 article" ng-repeat="n in news | limitTo:articlesLimit track by $index">
            <div class="col-sm-3 picture">
                <div>
                    <img ng-src="{{n.image_path?pathAmazonDev+n.image_path:defaultArticleImage}}">
                </div>
            </div>
            <div class="col-sm-9 details">
                <div class="col-sm-12 title"><a ui-sref="articole.detail({id: n._id})" convert-special to-convert="n.title"
                                                ng-bind-html="trustAsHtml(n.title)"></a></div>
                <div class="col-sm-12 excerpt" convert-special to-convert="n.text" ng-bind-html="trustAsHtml(createHeader(n.text, 300))"></div>
                <div class="col-sm-12 author" convert-special to-convert="n.author"
                     ng-bind-html="trustAsHtml(n.author)"></div>
                <div class="col-sm-12 footer">
                    <div class="date">{{n.date_added | date:'dd/MM/yyyy'}}</div>
                    <div class="readMore"><a class="btn btn-default btn-sm btnGreenBorder" ui-sref="articole.detail({id: n._id})">Vezi articol</a></div>
                </div>
            </div>
            <div class="col-sm-12 divider" ng-if="$index!=articlesLimit-1 && $index!=news.length-1"></div>
        </div>
    </div>
    <div class="col-sm-12 noPadding mobileArea" ng-if="isMobile(true)">
        <div class="col-xs-12 category">
            <div class="col-xs-12 name">DESPRE - {{categoryName}}</div>
            <mobile-content-list content="news" limit="articlesLimit" image-prefix="pathAmazonDev" default-image="defaultArticleImage" sref="'articole.detail'"></mobile-content-list>
        </div>
    </div>
</div>
<div class="col-sm-12 text-center" ng-style="{'display':articlesLimit<news.length?'initial':'none'}">
    <a class="btn btn-default btnGreenBorder" ng-click="articlesLimit=articlesLimit+3">Mai multe articole</a>
</div>