<div class="col-md-12 articlesList">
    <div class="col-md-12 article" ng-repeat="n in news | limitTo:articlesLimit track by $index">
        <div class="col-md-3 picture">
            <div>
                <img ng-src="{{n.image_path?pathAmazonDev+n.image_path:defaultArticleImage}}">
            </div>
        </div>
        <div class="col-md-9 details">
            <div class="col-md-12 title"><a ui-sref="articole.detail({id: n._id})">{{n.title}}</a></div>
            <div class="col-md-12 excerpt" ng-bind-html="trustAsHtml(createHeader(n.text, 300))"></div>
            <div class="col-md-12 author">{{n.author}}</div>
            <div class="col-md-12 footer">
                <div class="date">{{n.date_added | date:'dd/MM/yyyy'}}</div>
                <div class="readMore"><a ui-sref="articole.detail({id: n._id})">Vezi articol</a></div>
            </div>
        </div>
        <div class="col-md-12 divider" ng-if="$index!=articlesLimit-1 && $index!=news.length-1"></div>
    </div>
</div>
<div class="col-md-12 text-center" ng-style="{'display':articlesLimit<news.length?'initial':'none'}">
    <a class="btn btn-default btnGreenBorder" ng-click="articlesLimit=articlesLimit+3">Mai multe articole</a>
</div>