<div class="col-md-12 articleDetail">
    <div class="col-md-12 title" convert-special to-convert="currentArticle.title" ng-bind-html="trustAsHtml(currentArticle.title)"></div>
    <div class="col-md-9 noPadding" convert-special to-convert="currentArticle.author" ng-bind-html="trustAsHtml(currentArticle.author)"></div>
    <div class="col-md-3 noPadding text-right">
        <div class="label label-default">{{currentArticle.date_added | date:'dd/MM/yyyy'}}</div>
    </div>
    <div class="col-md-12 articleContent stretchHorizontal" convert-special to-convert="currentArticle.text" ng-bind-html="trustAsHtml(currentArticle.text)">
    </div>
</div>
<div class="col-md-12" style="padding-top: 20px;">
    <div class="btn btn-default btnGreenBorder" ui-sref="articole.all">Inapoi la articole</div>
</div>