<div class = "col-md-12 well">

</div>
<div class="col-md-12">
    <div class="titleAndButton">
        <div><h3>Fisier:</h3></div>
        <div>
            <div class="btn btn-primary" ng-click="addFile()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</div>
            <!--<button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false">Importa din CSV</button>-->
        </div>
    </div>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="file in $data">
            <td data-title="' Nume afisat'" filter="{ 'displayName': 'text' }" sortable="'displayName'">
                {{file.displayName}}
            </td>
            <td data-title="' Numele fisierului'" filter="{ 'actualName': 'text' }" sortable="'actualName'">
                {{file.actualName}}
            </td>
            <td data-title="'Categorie'" filter="{'guidelineCategoryName':'text'}"sortable="'category'">
                {{file.guidelineCategoryName}}
            </td>
            <td data-title="'Download Url'" sortable="'downloadUrl'">
                {{file.guidelineFileUrl? pathAmazonDev + file.guidelineFileUrl: ''}}
            </td>
            <td data-title="'Actiuni'">
                <div class="btn-group">
                    <div class="btn btn-primary" ng-click="editFile(file._id)"><i class="glyphicon glyphicon-cog"></i></div>
                   <button class="btn btn-default" ng-click="disableFile(file._id,file)" ng-class="{'btn-danger':!file.enabled, 'btn-default':file.enabled}">
                       <i class="glyphicon glyphicon-lock"></i>
                   </button>
                    <div class="btn btn-danger" ng-click="removeFile(file)"><i class="glyphicon glyphicon-trash"></i></div>

                </div>
            </td>
        </tr>
    </table>
</div>