<div class = "col-md-12 well">

</div>
<div class="col-md-12">
    <div class="titleAndButton">
        <div><h3>Fisier:</h3></div>
        <div>
            <div class="btn btn-primary" ng-click="addFile()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</div>
            <!--<button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false">Importa din CSV</button>-->
        </div>
    </div>
    <div class="col-md-12 noPadding">
        <alert type="{{s3Alert.type}}" ng-if="s3Alert.show">{{s3Alert.text}}</alert>
    </div>
    <bulk-operations model="guidelineFile" delete-button modify-button field="enabled" items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="file in $data">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(file._id)" ng-checked="checkValue(file._id)"/>
            </td>
            <td data-title="' Nume afisat'" filter="{ 'displayName': 'text' }" sortable="'displayName'">
                {{file.displayName}}
            </td>
            <td data-title="' Numele fisierului'" filter="{ 'actualName': 'text' }" sortable="'actualName'">
                {{file.actualName}}
            </td>
            <td data-title="'Categorie'" filter="{'guidelineCategoryName':'text'}"sortable="'guidelineCategoryName'">
                {{file.guidelineCategoryName}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons item-enable-property="file.enabled" show-toggle-button="true" show-edit-button="true" show-delete-button="true"
                                toggle-item="disableFile(file._id,file)" update-item="editFile(file._id)" delete-item="removeFile(file)"></action-buttons>
            </td>
        </tr>
    </table>
</div>
