<div class="modal-content">
    <form name="fileEditForm">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeModal()">&times;</button>
            <h3 class="modal-title">Modifica fisier</h3>
        </div>
        <div class="modal-body">
            <div style="margin-bottom: 15px;">
                <alert ng-if="alert.text" type="{{alert.type}}" close="!alert.text">{{alert.text}}</alert>
            </div>

            <div class="form-group">
                <label>Numele fisierului:</label>

                <p>{{file.actualName}}</p>


            </div>
            <div class="form-group">
                <label>Nume afisat:</label>
                <input type="text" class="form-control" ng-model="file.displayName" name="file.displayName" required>
            </div>
            <div ng-show="showErr" style="text-align: center"><p style="color:red">Exista deja un fisier cu acest nume</p></div>
            <div class="form-group">
                <label>Download URL :</label>

                <p>{{file.guidelineFileUrl? pathAmazonDev + file.guidelineFileUrl:''}}</p>

            </div>
            <div class="form-group">
                <label>Categorie:</label>

                <select  ng-model="selectedCategory" class="form-control ng-pristine ng-valid ng-touched" style="width: 100%"
                        ng-options="category.name for category in categories" required>
                </select>
            </div>
            <div class="form-group">
                <s3-upload-manager ng-if="!fileEditForm.$invalid" extension="pdf" label="fisier" bucket="{{amazonBucket}}" path="{{'guideline/category/'+selectedCategory._id+'/file/'+file._id+'/'}}"></s3-upload-manager>
            </div>

        </div>

        <div class="modal-footer marginTop70">

            <button type="button" class="btn btn-default pull-left" ng-click="closeModal()">Inchide</button>
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="fileEditForm.$invalid"
                    ng-click="save(file)" >Salveaza
            </button>
        </div>
    </form>
</div>
