<div class = "col-md-12 well">

</div>
<div class="col-md-12">
    <div class="titleAndButton">
        <div><h3>Category:</h3></div>
        <div>
            <div class="btn btn-primary" ng-click="addCategory()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Adauga</div>
            <!--<button class="btn btn-default" type="file" ngf-select ngf-change="fileSelected($files, $event)" ngf-multiple="false">Importa din CSV</button>-->
        </div>
    </div>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="category in $data">
            <td data-title="' Name'" filter="{ 'displayName': 'text' }" sortable="'displayName'">
                {{category.name}}
            </td>
            <td data-title="' Image Url'" >
                {{category.imageUrl}}
            </td>
            <td data-title="'Actiuni'">
                <div class="btn-group">
                    <div class="btn btn-primary" ng-click="editCategory(category._id)"><i class="glyphicon glyphicon-cog"></i></div>
                    <button class="btn btn-default" ng-click="disableCategory(category._id,category)" ng-class="{'btn-danger':!category.enabled, 'btn-default':category.enabled}">
                        <i class="glyphicon glyphicon-lock"></i>
                    </button>
                    <div class="btn btn-danger" ng-click="removeCategory(category._id)"><i class="glyphicon glyphicon-trash"></i></div>

                </div>
            </td>
        </tr>
    </table>
</div>
