<div class="col-sm-12 downloadsList">
    <div class="col-sm-12 noPadding" ng-if="!isMobile(true)">
        <div class="col-sm-12 entry" ng-repeat="n in downloads | limitTo:contentLimit track by $index">
            <horizontal-content-list content="n" image-path-attr="image_path" image-path-prefix="{{pathAmazonDev}}" default-image-path="{{defaultArticleImage}}"
                                     title-attr="title" text-attr="text" bold-attr-1="author" date-attr="date_added" button-label="Vizualizeaza"
                                     show-divider="$index!=contentLimit-1 && $index!=downloads.length-1" navigate="navigateToDownloads"></horizontal-content-list>
        </div>
    </div>
    <div class="col-sm-12 noPadding mobileArea" ng-if="isMobile(true)">
        <div class="col-xs-12 category">
            <div class="col-xs-12 name">APLICATII</div>
            <mobile-content-list content="downloads" image-attr="image_path" image-prefix="{{pathAmazonDev}}" default-image="{{defaultArticleImage}}" title-attr="title"
                                 text-attr="text" navigate="navigateTo" limit="contentLimit"></mobile-content-list>
        </div>
    </div>
</div>
<div class="col-sm-12 text-center" ng-style="{'display':contentLimit<downloads.length?'initial':'none'}">
    <a class="btn btn-default" ng-click="contentLimit=contentLimit+3">Mai multe</a>
</div>