<div class="col-md-12 downloadsLayout">
    <div class="col-md-3 mostDownloaded" ng-if="!isMobile()">
        <div class="col-md-12 mainTitle">
            CELE MAI DESCĂRCATE
        </div>
        <div class="col-md-12 entry" ng-repeat="a in mostDownloads track by $index">
            <div class="col-md-12 title"><a ui-sref="downloads.detail({id: a._id})" convert-special
                                            to-convert="a.title" ng-bind-html="trustAsHtml(a.title)"></a></div>
            <div class="col-md-12 author" convert-special to-convert="a.author"
                                          ng-bind-html='trustAsHtml("("+a.author+")")'></div>
            <div class="col-md-12 divider" ng-if="$index!=mostRead.length-1"></div>
        </div>
    </div>
    <div class="col-md-9 noPadding">
        <div ui-view></div>
    </div>
</div>