<div class="col-md-12">
    <div class="col-md-12 well">
        <div class="col-xs-2 noPadding">
            <h3>Gestionare Conturi</h3>
        </div>
        <div class="col-xs-10 noPadding">
            <button class="btn btn-primary pull-right" ng-csv="csv.rows" csv-header="getHeader()"
                    filename="{{csv.filename}}">Export Users
            </button>
        </div>
    </div>

    <bulk-operations model="User" modify-button items-set="selectedItems" filtered-array="resultData"></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="user in $data">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(user._id)" ng-checked="checkValue(user._id)"/>
            </td>
            <td data-title="'Username'" filter="{ 'username': 'text' }" sortable="'username'">
                {{user.username}}
            </td>
            <td data-title="'Nume'" filter="{ 'name': 'text' }" sortable="'name'">
                {{user.name}}
            </td>
            <td data-title="'Profesie'" sortable="'profession.display_name'">
                {{user.profession.display_name}}
            </td>
            <td data-title="'Routing Role'" sortable="'routing_role'" filter="{ 'routing_role': 'text' }">
                {{routingRoleDisplayName(user.routing_role)}}
            </td>
            <td data-title="'Ultima modificare'" sortable="'last_updated'">
                {{user.last_updated.substr(0,10)}}
            </td>
            <td data-title="'Phone'" filter="{ 'phone': 'text' }" sortable="'phone'">
                {{user.phone}}
            </td>
            <td data-title="'Creat din'" sortable="'registeredFrom'">
                {{user.registeredFrom}}
            </td>
            <td data-title="'Status'" sortable="enabled">
                {{user.enabled? "Activ": "Inactiv"}}
            </td>
            <td data-title="'Actiuni'">
                <action-buttons item-enable-property="user.enabled" show-toggle-button="true" show-edit-button="true"
                                show-delete-button="false"
                                toggle-item="toggleUser(user._id,user.enabled)"
                                update-item="viewUser(user._id)"></action-buttons>
            </td>
        </tr>
    </table>
</div>