@gray: #bbbbbb;
@grayDarker: #a0a0a0;

@orange: #f6902e;
@greenDark: #008780;
@greenLighter: #36cfa5;

html{
  height: 100%;
  body {
    padding-top: 70px;
    height: 100%;
    .rootView{
      height: 100%;
    }
    line-height: 1.5em;
  }
}

//============================================================================================================== NAVBAR

.navbar-fixed-top{
  height: 70px;
  padding-top: 10px;
  background-color: #ffffff;
  border-color: #ffffff;
  .container{
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-brand{
    padding: 5px 15px;
  }
  .navbar-link{
    color: #000000;
    a{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .link-divider{
    height: 16px;
    width: 1px;
    margin-top: 17px;
    background-color: #000000;
  }
  .navbar-nav>li>a{
    padding: 15px 0 7px 0;
    margin: 0 10px 0 10px;
    &:hover{
      color: @greenDark;
    }
  }
  .navbar-nav>.active>a{
    color: @greenDark;
    font-weight: bold;
    background-color: #ffffff;
    &:after
    {
      content: '';
      position: absolute;
      width: 100%;
      height: 0px;
      border: 3px solid @gray;
      border-radius: 5px;
      left:0;
      top: 40px;
    }
    &:hover{
      color: @greenDark;
      background-color: #ffffff;
    }
  }
}

//============================================================================================================ CAROUSEL

.fixedBox{
  position: absolute;
  left: 0px;
//  border: 2px solid black;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  z-index: 100;
  padding: 15px 15px 15px 100px;
  background-color:rgba(200, 200, 200, 0.7);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  .carouselTitle{
    width: 100%;
    white-space: normal;
    font-size: 25px;
    font-weight: bold;
    color: @greenDark;
  }
  .carouselDescription{
    width: 100%;
    white-space: normal;
    padding-left: 5px;
    padding-top: 10px;
    font-size: 15px;
  }
  .carouselLearnMore{
    cursor: pointer;
    margin-left: 5px;
    margin-top: 15px;
    color: @orange;
    font-weight: bold;
    font-size: 17px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
}
.carouselNavigation{
  position: absolute;
  right: 20px;
  z-index: 101;
  height: auto;
  .navSlide{
    float: right;
    width: 60px;
    height: 40px;
    overflow: hidden;
    border: 2px solid @gray;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 0;
    cursor: pointer;
    &.active{
      margin-bottom: 5px;
      border-color: #ffffff;
    }
    img{
      width: 60px;
    }
    .tooltip{
      margin-top: -10px;
      margin-left: -6px;
      .top{
      }
      .tooltip-inner{
        background-color:rgba(0, 135, 128, 0.5);
        padding: 8px 8px;
        margin-bottom: 4px;
      }
      .tooltip-arrow{
        border-width: 10px 10px 0;
        border-top-color:rgba(0, 135, 128, 0.5);
      }
    }
  }
}
.myCarousel{
  height: 100%;
  .imageGroup{
    .imageReal{
      width: 100%;
    }
  }

}

//==================================================================================================== UNIVERSAL STYLES

.btnGreen{
  display: table;
  padding: 7px 14px 7px 14px;
  margin-top: 10px;
  background-color: @greenLighter;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  .unselectable;
  &:hover{
    background-color: @greenDark;
  }
}

.pagination>.active>a{
  background-color: @greenLighter;
  border-color: @greenLighter;
  &:hover{
    background-color: @greenLighter;
    border-color: @greenLighter;
  }
}

//================================================================================================================ HOME

.myTabs{
  display: table;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  .myTab{
    float: left;
    margin: 0;
    padding: 5px 10px 5px 10px;
    border: 1px solid @gray;
    cursor: pointer;
    &.active{
      color: @greenDark;
    }
    &:hover{
      color: @greenDark;
    }
  }
  .left{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  .right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.homeNewsDisplay{
  .largeDisplay{
//    height: 200px;
    overflow: hidden;
    .left{
      float: left;
      width: 50%;
      padding: 10px;
      .title{
        font-size: 20px;
        margin-bottom: 15px;
      }
      .text{
        position: relative;
        height: 6em;
        overflow: hidden;
        &:after{
          content:'';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          min-height: 4.5em;
          .gradientVertical;
        }
      }
    }
    .right{
      width: 50%;
      padding: 10px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }
  .smallDisplay{
    float: left;
    padding: 10px;
    width: 25%;
    margin-top: 10px;
    .contentBlock{
      width: 100%;
      padding: 0 0 15px 0;
      position: relative;
      img{
        width: 100%;
      }
    }
    .image{
      overflow: hidden;
    }
    .title{
      font-weight: bold;
    }
    .text{
      height: 12em;
      overflow: hidden;
      &:after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 4.5em;
        .gradientVertical;
      }
    }

  }
}


//======================================================================================================== USEFUL STUFF

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noPadding{
  padding: 0;
}

.spaceUD{
  margin-top: 10px;
  margin-bottom: 10px;
}

.spaceLR{
  margin-left: 10px;
  margin-right: 10px;
}

.height100{
  height: 100%;
}

.width100{
  width: 100%
}

.gradientVertical{
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}