//import our customizable variables
@import 'publicVariables';

//import stripped-from-variables version of bootstrap, which will use our custom variables
@import '../../modules/bootstrap_noVariables/less/bootstrap';

a{
  cursor: pointer; //ui-bootstrap fix
}

//===================================================================================================== MAIN STRUCTURE
html{
  height: 100%;
  body {
    height: 100%;
    #publicHeaderWrapper{
      left: 0;
      top: 0;
      width: 100%;
      position: fixed;
      z-index: 1000;
      background-color: #ffffff;
      #publicHeader{
        width: 100%;
        max-width: @max-content-width;
        margin: 0 auto;
      }
    }
    #publicContentWrapper{
      position: absolute;
      padding: 70px 0 0 0;
      left: 0;
      top: 0;
      width: 100%;
      .container{
        padding: 0;
      }
      #publicContent{
        width: 100%;
        max-width: @max-content-width;
        margin: 0 auto;
        padding-bottom: 30px;
      }
    }
    .rootView{
      height: 100%;
    }
    line-height: 1.5em;
  }
}

//================================= hide / show elements depending on device type
.showOnP{ //show only on phones
  @media (min-width: @screen-xs) {
    .hide;
  }
}

.showOnPsT{ //show on phones and small tablets
  @media (min-width: @screen-sm) {
    .hide;
  }
}

.showOnPT{ //show on phones and tablets
  @media (min-width: @screen-md) {
    .hide;
  }
}

.showOnTD{ //show on tablets and normal desktops
  @media (max-width: @screen-xs-max) {
    .hide;
  }
}

.showOnD{ //show on normal desktops only
  @media (max-width: @screen-sm-max) {
    .hide;
  }
}

//============================================================================================================== NAVBAR

.navbar-fixed-top{
  height: 70px;
  padding-top: 10px;
  position: relative;
  margin: 0;
  .navbar-collapse{
    background-color: #ffffff;
    margin: 0;
    overflow-x: hidden;
    @media (max-width: @grid-float-breakpoint-max) {
      border-bottom: 1px solid @gray-lighter;
    }
    .collapsedForm{
      form{
        padding: 5px 15px 0 15px;
      }
    }
  }
  .container{
    @media (max-width: @grid-float-breakpoint-max) {
      padding: 0;
    }
    width: 100%;
    .navbar-header{
      margin: 0;
    }
  }
  .navbar-toggle{
    float: left;
    margin-left: 15px;
  }
  .navbar-brand{
    padding: 0px 15px;
    img{
      width: 125px;
    }
    @media (max-width: @grid-float-breakpoint-max) {
      padding: 5px 0 0 0;
      img{
        width: 95px;
      }
    }
  }
  .navbar-link{
    a{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .link-divider{
    height: 16px;
    width: 1px;
    margin-top: 17px;
    background-color: #000000;
  }
  .navbar-nav>li>a{
    padding: 15px 0 7px 0;
    margin: 0 10px 0 10px;
    @media (max-width: @grid-float-breakpoint-max) {
      margin-left: 15px;
    }
  }
  .navbar-nav>.active>a{
    color: @greenDark;
    font-weight: bold;
    background-color: #ffffff;
    @media (min-width: @grid-float-breakpoint) {
      &:after
      {
        content: '';
        position: absolute;
        width: 100%;
        height: 0px;
        border: 3px solid @gray;
        border-radius: 5px;
        left:0;
        top: 40px;
      }
    }
  }
  .searchAndLinks{
    @media (max-width: @grid-float-breakpoint-max) {
      display: none;
    }
  }
  .headerSearchAndLinks{
    @media (min-width: @grid-float-breakpoint) {
      display: none;
    }
    float: right;
    .item{
      float: right;
      ul{
        margin: 0;
        padding: 15px 10px 0 0;
        list-style-type: none;
        li{
          display: inline;
          a{
            color: @navbar-default-link-color;
            text-decoration: none;
            &:hover{
              color: @navbar-default-link-hover-color;
            }
          }
        }
      }
      form{
        margin: 0;
        padding-top: 8px;
        width: 250px;
      }
    }
    @media (max-width: @screen-xs-max) {
      form{
        .hide;
      }
    }
  }
}

//============================================================================================================ CAROUSEL

.fixedBox{
  position: absolute;
  left: 0px;
  top: 20%;
  height: 65%;
  width: 45%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  z-index: 100;
  padding: 30px 15px 35px 70px;
  background-color:rgba(250, 250, 250, 0.7);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  @media (max-width: @carousel-font-change) {
    padding: 20px 15px 35px 40px;
  }
  .textWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .carouselTitle{
      width: 100%;
      white-space: normal;
      font-size: 30px;
      font-weight: bold;
      color: #028985;
      line-height: 1em;
      margin: 0;
      @media (max-width: @carousel-font-change) {
        font-size: 30px;
      }
    }
    .carouselDescription{
      color: #000000;
      width: 100%;
      white-space: normal;
      padding-left: 30px;
      padding-top: 15px;
      font-size: 15px;
      margin: 0;
      @media (max-width: @carousel-font-change) {
        padding-top: 10px;
      }
    }
  }
  .carouselLearnMore{
    position: absolute;
    left: 70px;
    bottom: 15px;
    cursor: pointer;
    color: @orange;
    font-weight: bold;
    font-size: 17px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
}
.carouselNavigation{
  position: absolute;
  right: 20px;
  bottom: 10%;
  width: 45%;
  z-index: 101;
  height: auto;
  .navSlide{
    float: right;
    width: 60px;
    height: 35px;
    overflow: hidden;
    border: 2px solid @gray;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 0;
    cursor: pointer;
    &.active{
      margin-bottom: 5px;
      border-color: #ffffff;
    }
    img{
      height: 100%;
    }
    .tooltip{
      width: 150px;
      padding-right: 50px;
      .tooltip-inner{
        background-color:rgba(0, 135, 128, 0.5);
        margin-bottom: 4px;
        padding: 5px;
        img{
          width: 100%;
          margin-bottom: 5px;
        }
        color: #ffffff;
        font-weight: bold;
      }
      .tooltip-arrow{
        border-width: 10px 10px 0;
        border-top-color:rgba(0, 135, 128, 0.5);
      }
    }
  }
}
.myCarousel{
  height: 100%;
  img{
    width: 100%;
  }
}
.margin35px{
  margin-top: 35px;
}
//==================================================================================================== UNIVERSAL STYLES

.btnGreen{
  display: table;
  padding: 7px 14px 7px 14px;
  margin-top: 10px;
  background-color: @greenLighter;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  .unselectable;
  &:hover{
    background-color: @greenDark;
  }
}

.evenimente{
  font-size: 18px;
  font-weight: bold;
  color: @greenDark;
  margin-top: 20px;
}

.timelineContainer{
  width: 100%;
  height: 200px;
  padding: 0;
  overflow: hidden;
  position: relative;
  .timelineBody{
    width: 0;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    transform: scale(0.8);
    transform-origin: 50% 0;
  }
}

.footer{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  hr {
    width: 90%;
    max-width: 400px;
    margin: 15px auto;
    height: 1px;
    background: black;
    .hrGradient;
  }
  a{
    color: #000000;
  }
}

//================================================================================================================ HOME

//============================= TABS
.myTabs{
  display: table;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  .myTab{
    float: left;
    margin: 0;
    padding: 5px 10px 5px 10px;
    border: 1px solid @gray;
    cursor: pointer;
    &.active{
      color: @greenDark;
    }
    &:hover{
      color: @greenDark;
    }
  }
  .left{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  .right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.tezt{
  position: absolute;
  bottom: 0;
  left: 10px;
}

//============================================ NEWS and ARTICLES
.homeNewsDisplay{
  .largeDisplay{
//    height: 200px;
    overflow: hidden;
    .left{
      float: left;
      width: 50%;
      padding: 10px;
      height: 100%;
      position: relative;
      .title{
        font-size: 20px;
        margin-bottom: 15px;
      }
      .text{
        position: relative;
        height: 100%;
        overflow: hidden;
        img{
          display: none;
          visibility: hidden;
        }
      }
      .dispFooter{
        position: absolute;
        bottom: 0;
        left: 10px;
        width: 100%;
        .upside{
          height: 4.5em;
          .gradientVertical;
        }
        .downside{
          background-color: #ffffff;
          height: 50px;
          .btnGreen{
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
    .right{
      width: 50%;
      padding: 10px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }
  .smallDisplay{
    float: left;
    padding: 10px;
    width: 25%;
    margin-top: 10px;
    .contentBlock{
      width: 100%;
      padding: 0 0 15px 0;
      position: relative;
      img{
        width: 100%;
      }
    }
    .image{
      overflow: hidden;
    }
    .excerpt{
      height: 12em;
      overflow: hidden;
      .title{
        font-weight: bold;
      }
      .text{
        img{
          display: none;
          visibility: hidden;
        }
      }
      &:after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 4.5em;
        .gradientVertical;
      }
    }

  }
}

//================================ DOWNLOADS
.homeDownloadsDisplay{
  .item{
    float: left;
    padding: 10px;
    width: 25%;
    margin-top: 10px;
    .contentBlock{
      width: 100%;
      padding: 0 0 15px 0;
      position: relative;
      img{
        width: 100%;
      }
    }
    .image{
      overflow: hidden;
    }
    .excerpt{
      height: 12em;
      overflow: hidden;
      .title{
        font-weight: bold;
      }
      .text{
        img{
          display: none;
          visibility: hidden;
        }
      }
      &:after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 4.5em;
        .gradientVertical;
      }
    }
  }
}

//================================ MOBILE
.mobileArea{
  .category{
    padding: 0;
    .name{
      padding: 10px 0 12px 0;
      font-size: 18px;
    }
  }
}

//======================================================================================================= SEARCH
.searchResults{
  .article{
    padding: 0;
    .picture{
      padding: 0;
      div{
        border: 5px solid @gray-lighter;
        border-radius: 10px;
        img{
          width: 100%;
          border-radius: 5px;
        }
      }
    }
    .details{
      padding: 5px 0 0 15px;
      .title{
        padding: 0;
        a{
          color: @greenDark;
          font-size: 20px;
          font-weight: bold;
        }
        margin-bottom: 10px;
      }
      .excerpt{
        padding: 0;
        margin-bottom: 15px;
        font-size: 15px;
      }
      .author{
        font-size: 13px;
        font-weight: bold;
        padding: 0;
      }
      .footer{
        padding: 0;
        .date{
          font-size: 13px;
          float: left;
        }
        .readMore{
          float: right;
        }
      }
    }
    .divider{
      border-bottom: 1px solid @gray-lighter;
      padding: 0;
      margin: 15px 20%;
      width: 60%;
    }
  }
}


//===================================================================================================== NEWS & ARTICLES

.contentLayout{
  margin-top: 30px;
  @media (max-width: @grid-float-breakpoint-max) {
    margin-top: 0;
  }
  padding: 0;
  .mostRead{
    .mainTitle{
      font-size: 22px;
      margin-bottom: 15px;
      padding: 0;
    }
    .article{
      padding: 0;
      .title{
        padding: 0;
        margin-bottom: 5px;
        a{
          color: @greenDark;
          font-weight: bold;
          font-size: 17px;
        }
      }
      .excerpt{
        padding: 0;
        margin-bottom: 10px;
      }
      .readMore{
        padding: 0;
        a{
          font-size: 13px;
          color: @greenDark;
        }
      }
      .divider{
        border-bottom: 1px solid @gray-lighter;
        padding: 0;
        margin: 10px 20%;
        width: 60%;
      }
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      border-right: 1px solid #000000;
    }
  }
  .articlesList{
    .article{
      padding: 0;
      .picture{
        padding: 0;
        div{
          border: 5px solid @gray-lighter;
          border-radius: 10px;
          img{
            width: 100%;
            border-radius: 5px;
          }
        }
      }
      .details{
        padding: 5px 0 0 15px;
        .title{
          padding: 0;
          a{
            color: @greenDark;
            font-size: 20px;
            font-weight: bold;
          }
          margin-bottom: 10px;
        }
        .excerpt{
          padding: 0;
          margin-bottom: 15px;
          font-size: 15px;
          img{
            visibility: hidden;
            display: none;
          }
        }
        .author{
          font-size: 13px;
          font-weight: bold;
          padding: 0;
        }
        .footer{
          padding: 0;
          .date{
            font-size: 13px;
            float: left;
          }
          .readMore{
            float: right;
          }
        }
      }
      .divider{
        border-bottom: 1px solid @gray-lighter;
        padding: 0;
        margin: 15px 20%;
        width: 60%;
      }
    }
    &:before{
      content: '';
      position: absolute;
      left: -1px;
      top: 0;
      height: 100%;
      border-left: 1px solid #000000;
    }
  }
  .articleDetail{
    .title{
      padding: 0;
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid lightgray;
    }
    .articleContent{
      padding: 30px 0 0 0;
    }
    &:before{
      content: '';
      position: absolute;
      left: -1px;
      top: 0;
      width: 0;
      height: 100%;
      border-left: 1px solid #000000;
    }
  }
}

//===================================================================================================== DOWNLOADS

.downloadsLayout{
  margin-top: 30px;
  @media (max-width: @grid-float-breakpoint-max) {
    margin-top: 0;
  }
  padding: 0;
  .mostDownloaded{
    padding: 0 15px 0 30px;
    .mainTitle{
      font-size: 22px;
      margin-bottom: 15px;
      padding: 0;
    }
    .entry{
      padding: 0;
      .title{
        padding: 0;
        margin-bottom: 5px;
        a{
          color: @greenDark;
          font-weight: bold;
          font-size: 17px;
        }
        &:before{
          content: "\e025";
          font-family: 'Glyphicons Halflings';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          color: @gray-light;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          position: absolute;
          left: -20px;
          width: 20px;
          top: 3px;
        }
      }
      .author{
        padding: 0;
        font-size: 13px;
        font-weight: bold;
      }
      .divider{
        border-bottom: 1px solid @gray-lighter;
        padding: 0;
        margin: 10px 20%;
        width: 60%;
      }
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      border-right: 1px solid #000000;
    }
  }
  .downloadsList{
    .entry{
      padding: 0;
      .picture{
        padding: 0;
        div{
          border: 5px solid @gray-lighter;
          border-radius: 10px;
          img{
            width: 100%;
            border-radius: 5px;
          }
        }
      }
      .details{
        padding: 5px 0 0 15px;
        .title{
          padding: 0;
          a{
            color: @greenDark;
            font-size: 20px;
            font-weight: bold;
          }
          margin-bottom: 10px;
        }
        .excerpt{
          padding: 0;
          margin-bottom: 20px;
          img{
            display: none;
            visibility: hidden;
          }
        }
        .author{
          font-size: 13px;
          font-weight: bold;
          padding: 0;
        }
        .footer{
          padding: 0;
          .date{
            font-size: 13px;
            float: left;
          }
          .readMore{
            float: right;
          }
        }
      }
      .divider{
        border-bottom: 1px solid @gray-lighter;
        padding: 0;
        margin: 15px 20%;
        width: 60%;
      }
    }
    &:before{
      content: '';
      position: absolute;
      left: -1px;
      top: 0;
      height: 100%;
      border-left: 1px solid #000000;
    }
  }
  .downloadsDetail{
    .title{
      padding: 0;
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid lightgray;
    }
    .content{
      padding: 30px 0 0 0;
      div{
        width: 100%;
        a{
          margin-top: 15px;
        }
      }
    }
    &:before{
      content: '';
      position: absolute;
      left: -1px;
      top: 0;
      width: 0;
      height: 100%;
      border-left: 1px solid #000000;
    }
  }
}

//===================================================================================================== ELEARNING

.elearningLayout{
  margin-top: 30px;
  @media (max-width: @grid-float-breakpoint-max) {
    margin-top: 0;
  }
  padding: 0;
  .categories{
    padding: 0 15px 0 30px;
    .mainTitle{
      font-size: 22px;
      margin-bottom: 15px;
      padding: 0;
    }
    .therapeuticArea{
      width: 100%;
      display: block;
      a{
        color: @greenDark;
        font-weight: bold;
      }
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      border-right: 1px solid #000000;
    }
  }
  .elearningList{
    .entry{
      padding: 0;
      .picture{
        padding: 0;
        div{
          border: 5px solid @gray-lighter;
          border-radius: 10px;
          img{
            width: 100%;
            border-radius: 5px;
          }
        }
      }
      .details{
        padding: 5px 0 0 15px;
        .title{
          padding: 0;
          a{
            color: @greenDark;
            font-size: 20px;
            font-weight: bold;
          }
          margin-bottom: 10px;
        }
        .description{
          padding: 0;
          margin-bottom: 20px;
        }
        .author{
          font-size: 13px;
          font-weight: bold;
          padding: 0;
        }
        .footer{
          padding: 0;
          .date{
            font-size: 13px;
            float: left;
          }
          .readMore{
            float: right;
          }
        }
      }
      .divider{
        border-bottom: 1px solid @gray-lighter;
        padding: 0;
        margin: 15px 20%;
        width: 60%;
      }
    }
    &:before{
      content: '';
      position: absolute;
      left: -1px;
      top: 0;
      height: 100%;
      border-left: 1px solid #000000;
    }
  }
  .elearningDetail{
    .title{
      padding: 0;
      font-size: 22px;
      font-weight: bold;
    }
    .author{
      padding: 0;
      font-size: 15px;
    }
    .videoWrapper{
      border: 3px solid @greenDark;
      border-radius: 10px;
      padding: 5px;
      margin-top: 15px;
      videogular{
        background-color: #ffffff;
        .controls-container{
          background-color: #ffffff;
          opacity: 1;
          .iconButton{
            color: @greenDark;
            font-size: 25px;
          }
          vg-time-display{
            color: @greenDark;
            font-weight: bold;
          }
          vg-scrub-bar{
            div{
              height: 10px;
              margin-top: 20px;
              background-color: #ccfffa;
              vg-scrub-bar-current-time{
                height: 10px;
                background-color: @greenDark;
              }
            }
          }
        }
      }
    }
  }
}

//============================================================================================================== AUTH
#codeAddon{
  .popover{
    max-width: 430px;
  }
}

#authModal{
  font-size: 12px;
  .modal-header{
    padding: 10px 15px;
    .modal-title{
      h3{
        font-size: 22px;
      }
    }
  }
  .modal-footer{
    padding: 10px 15px;
  }
  .form-group-sm{
    padding-bottom: 8px;
  }
}

//============================================================================================================== SHARED

.btnGreenBorder{
  border-color: @greenDark;
  &:hover{
    border-color: @greenDark;
  }
  &:focus{
    border-color: @greenDark;
  }
}

a{
  &:focus{
    text-decoration: none;
  }
}

//======================================================================================================== USEFUL STUFF

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pointer{
  cursor: pointer;
}

.noPadding{
  padding: 0;
}

.spaceUD{
  margin-top: 10px;
  margin-bottom: 10px;
}

.spaceLR{
  margin-left: 10px;
  margin-right: 10px;
}

.height100{
  height: 100%;
}

.width100{
  width: 100%
}

.gradientVertical{
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.hrGradient{
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}
.noListStyle{
  list-style: none;
}
.noPaddingTop{
  padding-top: 0px;
}
.noMarginTop{
  margin-top: 0px;
}
.modal-dialog{
  .modal-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background-color: @MSDgreenDarker;
  }
}
.loginInput{
  margin-left: 26px;
  width: 50%;
}
.pointerLinks{
  list-style: none;
  padding-left: 0px;
}
.rememberMeInput{
  padding-left: 20px;
}

//==================================================== don't mess with theese
.noPatientsLogo{
  visibility: hidden;
  display: none;
  img{
    max-width: 150px;
  }
}