<div class="container-fluid">
    <div class="well">
        <div class="row">
            <div class="col-xs-5"><h3>Gestionare Specializari</h3></div>
            <div class="col-xs-2 pull-right">
                <a ng-click="addSpecialty()" class="btn btn-info pull-right margintop20px" id="add-specializare"><i class="glyphicon glyphicon-plus-sign"></i> Adauga specializare</a>
            </div>
        </div>
    </div>
    <bulk-operations model="specialty" delete-button export-pdf items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="specialty in specialities">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(specialty._id)" ng-checked="checkValue(specialty._id)"/>
            </td>
            <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">{{specialty.name}}</td>
            <td data-title="'Status'" sortable="enabled">
                {{specialty.enabled? "Activ": "Inactiv"}}
            </td>
            <td>
                <action-buttons show-edit-button="true" show-delete-button="true"
                                item-enable-property="specialty.enabled"
                                show-toggle-button="true"
                                delete-item="deleteSpecialty(specialty)" toggle-item="toggleItem(specialty)" update-item="editSpecialty(specialty)"></action-buttons>
            </td>
        </tr>
    </table>
</div>