<div class="col-md-10">
    <div class="row noPadding">
        <div class="col-md-3 noPadding" ng-repeat="prod in products | orderBy:'name'|limitTo: lmt" style="padding: 0 15px 0 0; width: 250px;">
            <div class="col-md-12 well" style="min-height: 450px;">
                <div class="col-md-12 noPadding">
                    <img class="img-responsive img-back img-thumbnail" src="{{amazon + prod.image_path}}" alt="{{prod.name}}" style="width: 100%;"/>
                </div>
                <div class="col-md-12 noPadding" style="min-height: 250px;">
                    <div class="col-md-12 noPadding newBlue"><h4><b>{{prod.name}}</b></h4></div>
                    <div class="col-md-12 noPadding">{{prod.description | htmlToPlaintext2 | limitTo: 100}}...</div>
                </div>
                <div class="col-md-12 noPadding">
                    <button class="btn btn-sm btn-info pull-right btn-more-news" ui-sref="biblioteca.produse.prodById({id:prod._id})">Detalii produs</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2" style="text-align: center">
    <ul class="nav nav-list">
        <li class="active" ng-click="reset()">A - Z</li>
        <li class="divider"></li>

        <li ng-repeat="letter in firstLetters | mySort" ng-click="filterResults($index)">
            {{letter}}
        </li>

    </ul>
</div>
<div style="clear: both;margin:0 auto;" align="center">
    <button class="btn btn-sm btn-info btn-more-news" ng-click="increaseLimit()">Mai multe produse</button>
</div>