<div class="col-md-11 productsView">
    <div class="col-md-12 noProducts" ng-if="message"><h4>{{message}}</h4></div>
    <div class="col-md-3 productWrapper" ng-repeat="prod in products | orderBy:'name'|limitTo: lmt">
        <div class="col-md-12 product well">
            <div class="col-md-12 imageWrapper">
                <div class="col-md-12 image">
                    <img  ng-src="{{prod.image_path ? pathAmazonDev + prod.image_path : defaultProductImage}}" alt="{{prod.name}}"/>
                </div>
            </div>
            <div class="col-md-12 content">
                <div class="col-md-12 noPadding MSDgreen" ui-sref="biblioteca.produse.prodById({id:prod._id})"><h4><b convert-special conver="prod.name" ng-bind-html="convertAndTrustAsHtml(prod.name)"></b></h4></div>
                <div class="col-md-12 noPadding" convert-special conver="prod.description" ng-bind-html="convertAndTrustAsHtml(prod.description)"></div>
            </div>
            <div class="col-md-12 noPadding details">
                <button class="btn btn-sm btn-info" ui-sref="biblioteca.produse.prodById({id:prod._id})">Detalii produs</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button class="btn btn-sm btn-info" ng-class="showMoreProd" ng-click="increaseLimit()">Mai multe produse</button>
    </div>
</div>
<div class="col-md-1 noPadding text-center">
    <ul class="nav nav-list MSDgreen">
        <li ng-click="filterResults('A-Z')">A-Z</li>
        <li ng-repeat="(key, value) in firstLetters" ng-click="filterResults(key)">
            {{key}}
        </li>
    </ul>
</div>