<div class="col-sm-11 productsView">
    <div class="col-md-12 noProducts" ng-if="products.length == 0"><h4>Nu exista produse conform criteriilor selectate</h4></div>
    <div class="col-xs-12 noPadding" ng-if="!isMobile(true)">
        <div class="col-md-3 col-sm-4 product" ng-repeat="prod in products | orderBy:'name'|limitTo: lmt">
            <vertical-content-list content="prod" image-path-attr="image_path" image-path-prefix="{{pathAmazonDev}}" default-image-path="{{defaultProductImage}}"
                                   title-attr="name" text-attr="description" navigate="navigateProductDetails" with-background></vertical-content-list>
        </div>
    </div>
    <div class="col-xs-12 noPadding" ng-if="isMobile(true)">
        <mobile-content-list content="products" image-attr="image_path" image-prefix="{{pathAmazonDev}}" default-image="{{defaultProductImage}}" title-attr="name"
                             text-attr="description" navigate="navigateProductDetails" limit="lmt"></mobile-content-list>
    </div>
    <div class="col-xs-12 text-center">
        <button class="btn btn-default" ng-class="{'hidden': !products || products.length <= lmt}" ng-click="increaseLimit()">Mai multe produse</button>
    </div>
</div>
<div class="col-sm-1 pickLetter" ng-if="!isMobile(true)">
    <div class="col-xs-12 letter" ng-click="getProducts()">A-Z</div>
    <div class="col-xs-12 letter" ng-repeat="(key, value) in firstLetters" ng-click="getProducts(key)">
        {{key}}
    </div>
</div>