<div class="col-md-11 well well-content">
    <div class="row">

        <div class="col-md-12">
            <div class="col-md-12">
                <h3 class="MSDgreen"><b>{{selectedProduct.name}}</b></h3>
            </div>
            <div class="col-md-3">
                <a class="thumbnail"><img src="{{amazon + selectedProduct.image_path}}" alt="{{selectedProduct.name}}" height="300" width="300"/></a>
                <a href="{{amazon + selectedProduct.file_path}}" target="_blank" class="btn btn-info btn-more-news btn-block margintop10px"><i class="icon-share icon-white"></i>&nbsp;Descarca RCP</a>
                <hr class="margintop10px marginbottom0">
            </div>
            <div class="col-md-9" convert-special conver="selectedProduct.description" ng-bind-html="trustAsHtml(selectedProduct.description)">
            </div>
        </div>
    </div>
</div>