<div class="padd55px" id="content">
    <div class="row">
        <div class="col-xs-12 marginLeft0 disableDesktop col-md-2 marginLeft25px padd25Bottom" dropdown is-open="status.isopen" id="menuDiv">
            <select class="form-control" ng-options="area._id as (area.ident?'&nbsp;&nbsp;&nbsp;&nbsp;':'')+area.name for area in therapeuticAreas"
                    ng-model="selectedArea" ng-change="selectArea(selectedArea)"></select>
        </div>
        <div class="col-md-2 col-xs-12 hideOnSmallScreen noPadding hidden-sm" >
            <h3 class="h-title top0px specialTitleProductsMobile">ARII TERAPEUTICE</h3>

            <ul class="list-group MSDgreen" style="list-style: none">
                <li ng-repeat="area in therapeuticAreas">
                    <span ng-class="{'activeArea':area._id == selectedArea}" class="list-group-item no-border handCursor borderRadiusMenu" ng-click="selectArea(area._id)">
                        <b convert-special conver="area.name" ng-bind-html="trustAsHtml(area.ident?'&nbsp;&nbsp;&nbsp;&nbsp;'+area.name:area.name)"></b>
                    </span>
                </li>
            </ul>
            <hr class="visible-xs ">
        </div>

        <div ng-class="{'col-md-10 padd3Percent':!$state.includes('biblioteca.produse.prodById'),'col-md-10 padd3PercentMobile':$state.includes('biblioteca.produse.prodById')}" >
            <ui-view></ui-view>
        </div>

    </div>
</div>