<div class="col-md-12 well">
    <div class="col-md-12">
        <h4>Manualul merck</h4>
    </div>
    <div class="col-md-12"><hr/></div>
    <div class="col-md-6">
        <img ng-src="{{merckManualImage}}" style="width: 100%;">
    </div>
    <div class="col-md-6">
        <div class="col-md-12 title"><a ui-sref="home.merckManual">Manualul merck</a></div>
        <div class="col-md-12 header">
            De peste o sută de ani, Manualul Merck de Diagnostic și Tratament este cartea medicală
            cea mai utilizată din lume. Manualul Merck oferă informații medicale, în special despre
            diferite afecțiuni, pentru clinicieni și studenți în medicină.
        </div>
    </div>
</div>