<div class="col-xs-12 well well-lg DescriptionWrapper" id="immunologyQA">
    <div class="col-xs-12 padding0">
        <img class="col-xs-12 noPadding" ng-if="specialProductPage.header_image" ng-src="{{pathAmazonDev+specialProductPage.header_image}}" />
    </div>
    <div class="col-xs-12 glossaryPrintButtons text-center">
            <span class="pull-left">Questions <i class="glyphicon glyphicon-question-sign"></i></span>
            <span style="margin-left:100px;">Answers <i class="glyphicon glyphicon-film"></i></span>
    </div>
    <div ng-repeat="question in questions" class="QAitem col-xs-12" ng-class-odd="'oddQAitem'" ng-class-even="'evenQAitem'" >
        <div class="question col-xs-12"><span> {{question.question}}</span></div>
        <div class="answers col-xs-12">
            <div class ="speakerContainer" ng-repeat="speaker in question.speakers" ng-click="open(speaker)">
                <div class="speakerPicture"><img ng-src="{{speaker.picture}}" ></div>
                <div class="speakerName"><span>{{speaker.name}}</span></div>
            </div>
        </div>
    </div>
</div>
