<div class="row-fluid specialProductMainWrapper" ng-class="{'col-xs-offset-0' : pathology.associated_items , 'col-xs-offset-2' : !pathology.associated_items}">
    <div class="col-md-push-2 col-md-8 col-xs-12" id="descriptionDiv">
        <div class="col-xs-12 well well-lg DescriptionWrapper">
            <div class="col-xs-12">
                <img class="col-xs-12 noPadding" ng-if="pathology.header_image" no-cache-src="{{pathAmazonDev+pathology.header_image}}" />
            </div>
            <div class="col-xs-12">
                <h3 class="specialProductTitle" ng-if="pathology.display_name!=undefined" convert-special conver="pathology.display_name" ng-bind-html="trustAsHtml(pathology.display_name)">

                </h3>
            </div>
            <div class="col-xs-12 justify"  ng-if="pathology.description!=undefined" convert-special conver="pathology.description" ng-bind-html="trustAsHtml(pathology.description)">

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2 col-md-pull-8" ng-if="pathology.associated_items">
        <h3 class="noMarginTop">Produse specifice</h3>
        <div class="col-md-10 col-sm-6 col-xs-6 noPadding" ng-repeat="prod in pathology.associated_items">
            <img class="img-responsive img-thumbnail customBorder handCursor col-xs-12" ng-if="prod.logo_path" ui-sref="groupSpecialProduct.menuItem({product_id: prod._id})" ng-src="{{prod.logo_path ? pathAmazonDev+prod.logo_path : defaultProductImage}}" />
        </div>
        <div class="col-md-10 noPadding col-sm-6 col-xs-6" ng-if="pathology.specialApps" ng-repeat="app in pathology.specialApps">
            <img class="img-responsive img-thumbnail customBorder handCursor col-xs-12" ui-sref="groupFeatures({specialApp: app._id})" ng-src="{{defaultProofImage}}" />
        </div>
    </div>
</div>