<div class="row-fluid specialProductMainWrapper col-xs-offset-0">
    <div class="col-md-push-2 col-md-10 col-xs-12" id="descriptionDiv">
        <div class="col-xs-12 well well-lg DescriptionWrapper">
            <div class="col-xs-12">
                <h3 class="specialProductTitle" ng-if="pathology.display_name!=undefined" convert-special conver="pathology.display_name" ng-bind-html="trustAsHtml(pathology.display_name)">

                </h3>
            </div>
            <div class="col-xs-12">
                <img class="col-xs-12 noPadding" no-cache-src="{{pathAmazonDev+pathology.header_image}}" />
            </div>
            <div class="col-xs-12 justify marginTop20" ng-if="pathology.description!=undefined" convert-special conver="pathology.description" ng-bind-html="trustAsHtml(pathology.description)" compile-template>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2 col-md-pull-10" ng-if="pathology.associated_items">
        <div class="col-md-10 col-sm-6 col-xs-6 noPadding" ng-repeat="prod in pathology.associated_items">
            <img ng-class="{'noBorderBottom' : !pathology.specialApps}" class="img-responsive img-thumbnail handCursor customBorder col-xs-12" ng-if="prod.logo_path" ui-sref="groupSpecialProduct.menuItem({product_id: prod._id})" ng-src="{{prod.logo_path ? pathAmazonDev+prod.logo_path : defaultProductImage}}" />
        </div>
        <div class="col-md-10 noPadding col-sm-6 col-xs-6" ng-if="pathology.specialApps" ng-repeat="app in pathology.specialApps">
            <img ng-class="{'noBorderBottom' : $last}" class="img-responsive img-thumbnail customBorder handCursor col-xs-12" ui-sref="groupFeatures({specialApp: app._id})" ng-src="{{defaultProofImage}}" />
        </div>
        <angular-floating-button class="col-md-12 noPadding"></angular-floating-button>
    </div>
</div>