<div class="col-xs-12 well DescriptionWrapper" id="initialDescriptionDiv" >

    <div class="col-xs-12">
        <img class="col-xs-12  noPadding " ng-if="specialProductPage.header_image" ng-src="{{pathAmazonDev+specialProductPage.header_image}}" />
    </div>
    <div class="col-xs-12 glossaryPrintButtons">
            <span>
                <i class="glyphicon glyphicon-print pull-right" ng-click="printPage()">&nbsp;Print&nbsp;</i>
            </span>
            <span style="display: none;">
                <i class="glyphicon glyphicon-th-list pull-right" ui-sref="groupSpecialProduct.glossary({product_id: $stateParams.product_id})">&nbsp;Glosar&nbsp;</i>
            </span>
    </div>
    <div class="col-xs-12">
        <h3 ng-if="!specialProductPage.header_title" class="specialProductTitle" convert-special conver="specialProductPage.product_name" ng-bind-html="trustAsHtml(specialProductPage.product_name)">
        </h3>
        <h3 ng-if="specialProductPage.header_title" class="specialProductTitle" convert-special conver="specialProductPage.header_title" ng-bind-html="trustAsHtml(specialProductPage.header_title)">
        </h3>
    </div>
    <div class="col-xs-12" convert-special conver="specialProductPage.general_description" ng-bind-html="trustAsHtml(specialProductPage.general_description)">
    </div>
    <div class="col-xs-12 safety" convert-special conver="specialProductPage.safety_information" ng-bind-html="trustAsHtml(specialProductPage.safety_information)">
    </div>
</div>