<div class="row-fluid specialProductMainWrapper col-xs-offset-0">
    <div class="col-xs-12 col-md-2" id="menuDiv">
        <accordion close-others="oneAtATime" class="productPageMenu hidden-xs hidden-sm">
            <accordion-group is-open="mystatus.open" class="parent" ng-repeat="parent in specialProductMenu"
                             ng-class="{'active': ($state.includes('pathologyResources.menuItem') || $state.includes('groupSpecialProduct.menuItem')) && $state.params.menuId==parent._id}">
                <accordion-heading>
                <span ng-click="parent.children_ids.length==0? ($state.includes('pathologyResources') ? $state.go('pathologyResources.menuItem',{menuId: parent._id, childId:''}) : $state.go('groupSpecialProduct.menuItem',{menuId: parent._id, childId:'', isResource: $state.params.isResource})):null">
                    <i ng-class="{'glyphicon glyphicon-chevron-down': mystatus.open&&parent.children_ids.length!=0,
                                  'glyphicon glyphicon-chevron-right': !mystatus.open||parent.children_ids.length==0}"></i>&nbsp;&nbsp;{{parent.title}}
                </span>
                </accordion-heading>
                <div class="menuMarginBottom">
                    <div class="child" ng-repeat="subItem in parent.children_ids"
                         ui-sref="{{$state.includes('pathologyResources') ? 'pathologyResources.menuItem({menuId: parent._id, childId: subItem._id})' : 'groupSpecialProduct.menuItem({menuId: parent._id, childId: subItem._id, isResource: $state.params.isResource})'}}"
                         ng-class="{'active': ($state.includes('pathologyResources.menuItem') || $state.includes('groupSpecialProduct.menuItem')) && $state.params.childId==subItem._id}">
                        &nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right fontS"></i>&nbsp;&nbsp;{{subItem.title}}
                    </div>
                </div>
            </accordion-group>
            <accordion-group ng-if="specialProductPage.speakers && specialProductPage.speakers.length > 0" is-open="status.isFirstOpen" class="parent" ng-class="{'active':$state.includes('pathologyResources.speakers')||$state.includes('pathologyResources.speakerDetails')}" ui-sref="pathologyResources.speakers({product_id: specialProductPage._id})">
                <accordion-heading>
                    <div><i class="glyphicon glyphicon-chevron-right" ></i>&nbsp;&nbsp;Speakers</div>
                </accordion-heading>
            </accordion-group>
            <accordion-group is-open="status.isFirstOpen" class="parent hide" ng-class="{'active':$state.includes('groupSpecialProduct.files')}" ui-sref="groupSpecialProduct.files({product_id: specialProductPage._id})">
                <accordion-heading>
                    <div><i class="glyphicon glyphicon-chevron-right" ></i>&nbsp;&nbsp;Resurse</div>
                </accordion-heading>
            </accordion-group>
            <accordion-group is-open="status.isFirstOpen" class="parent" ng-if="specialProductPage.speakers.length > 0" ng-class="{'active':$state.includes('pathologyResources.immunologyQA')}" ui-sref="pathologyResources.immunologyQA">
                <accordion-heading>
                    <div><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;&nbsp;Q & A</div>
                </accordion-heading>
            </accordion-group>
        </accordion>
        <accordion close-others="oneAtATime" ng-if="!$state.includes('pathologyResources')" class="productPageMenu hidden-xs hidden-sm">
            <accordion-group is-open="status.isFirstOpen" class="parent oddParent" ng-class="{'active':$state.includes('groupSpecialProduct.sitemap')}" ui-sref="groupSpecialProduct.sitemap({product_id: specialProductPage._id, isResource: $state.params.isResource})">
                <accordion-heading>
                    <div><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;&nbsp;Sitemap</div>
                </accordion-heading>
            </accordion-group>
            <accordion-group is-open="status.isFirstOpen" ng-repeat="pathology in specialProductPage.pathologiesID" ng-if="pathology.description" class="parent oddParent" ui-sref="pathologies({pathology_id: pathology._id})">
                <accordion-heading>
                    <div><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;&nbsp;Inapoi la {{pathology.display_name}}</div>
                </accordion-heading>
            </accordion-group>
            <accordion-group is-open="status.isFirstOpen" ng-if="!$state.params.isResource" class="parent oddParent" ui-sref="productList.all.groupedByPathology({idArea: 0})">
                <accordion-heading>
                    <div><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;&nbsp;Vezi toate produsele</div>
                </accordion-heading>
            </accordion-group>
        </accordion>
        <div dropdown is-open="isCollapsed.isFirstOpen" class="col-xs-12 col-sm-12 hidden-md hidden-lg mobileDropdown">
        <a class="btn btn-primary col-xs-12 text-center pull-left dropdown-toggle" dropdown-toggle>{{mobileMenuTitle}}<i class="glyphicon glyphicon-chevron-down pull-right glyphicon-Special-Product" ></i></a>

        <ul class="dropdown-menu my-dropdown-menu col-xs-12 col-sm-12 hidden-md hidden-lg" role="menu">
            <li class="list-group-item my-list-menu-item">
                <accordion close-others="oneAtATime" class="productPageMenu">
                    <accordion-group is-open="mystatus.open" class="parent" ng-repeat="parent in specialProductMenu"
                                     ng-class="{'active': ($state.includes('pathologyResources.menuItem') || $state.includes('groupSpecialProduct.menuItem')) && $state.params.menuId==parent._id}" ng-click="goToMenuItemWithNoChildren(parent,$event)">
                        <accordion-heading>
                <span>
                    <i ng-class="{'glyphicon glyphicon-chevron-down': mystatus.open&&parent.children_ids.length!=0,
                                  'glyphicon glyphicon-chevron-right': !mystatus.open||parent.children_ids.length==0}"></i>&nbsp;&nbsp;{{parent.title}}
                </span>
                        </accordion-heading>
                        <div class="menuMarginBottom">
                            <div class="child" ng-repeat="subItem in parent.children_ids"
                                 ng-click="goToMenuItemWithChildren(parent,subItem)"
                                 ng-class="{'active':($state.includes('pathologyResources.menuItem') || $state.includes('groupSpecialProduct.menuItem')) && $state.params.childId==subItem._id}">
                                &nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right fontS"></i>&nbsp;&nbsp;{{subItem.title}}
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group ng-if="specialProductPage.speakers && specialProductPage.speakers.length > 0" is-open="status.isFirstOpen" class="parent" ng-class="{'active':$state.includes('pathologyResources.speakers')||$state.includes('pathologyResources.speakerDetails')}" ng-click="navigateMobile('Speakers')">
                        <accordion-heading>
                            <div><i class="glyphicon glyphicon-chevron-right" ></i>&nbsp;&nbsp;Speakers</div>
                        </accordion-heading>
                    </accordion-group>
                    <accordion-group is-open="status.isFirstOpen" class="parent hide" ng-class="{'active':$state.includes('groupSpecialProduct.files')}" ng-click="navigateMobile('Resurse')">
                        <accordion-heading>
                            <div><i class="glyphicon glyphicon-chevron-right" ></i>&nbsp;&nbsp;Resurse</div>
                        </accordion-heading>
                    </accordion-group>
                    <accordion-group is-open="status.isFirstOpen" class="parent" ng-if="specialProductPage.speakers.length > 0" ng-class="{'active':$state.includes('pathologyResources.immunologyQA')}" ng-click="navigateMobile('Q & A')">
                        <accordion-heading>
                            <div><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;&nbsp;Q & A</div>
                        </accordion-heading>
                    </accordion-group>
                </accordion>
            </li>
        </ul>

        </div>
        <img class="img-responsive hidden-sm hidden-xs img-thumbnail handCursor col-xs-12" ng-if="specialProductPage.logo_path" ng-click="selectFirstMenuItem()" ng-src="{{pathAmazonDev+specialProductPage.logo_path}}" />
    </div>
    <div class="col-md-8 col-xs-12" id="descriptionDiv">
        <ui-view>

        </ui-view>
    </div>

</div>