<div class="col-xs-12 noPadding hidden-md hidden-lg">
    <div class="col-xs-12 noPadding">
        <img class="col-xs-12 noPadding " ng-if="specialProductPage.header_image" ng-src="{{pathAmazonDev+specialProductPage.header_image}}" />
    </div>
</div>
<div class="col-xs-12 well well-lg DescriptionWrapper" id="siteMapDiv">
    <div class="col-xs-12 hidden-xs hidden-sm">
        <img class="col-xs-12  noPadding " ng-if="specialProductPage.header_image" ng-src="{{pathAmazonDev+specialProductPage.header_image}}" />
    </div>
    <div class="col-xs-12 glossaryPrintButtons">
            <span>
                <i class="glyphicon glyphicon-print pull-right" ng-click="printPage()">&nbsp;Print&nbsp;</i>
            </span>
            <span class="hide">
                <i class="glyphicon glyphicon-th-list pull-right" ui-sref="groupSpecialProduct.glossary({product_id: $stateParams.product_id})">&nbsp;Glosar&nbsp;</i>
            </span>
    </div>
    <div class="col-xs-12 noPadding">
        <div class="col-xs-12 col-md-4 siteMap">
            <ul class="no-text-decoration">
                <li ng-repeat="menuItem in specialProductMenu">
                <span class="siteMapList no-text-decoration" ng-click="menuItem.children_ids.length==0?$state.go('groupSpecialProduct.menuItem',{product_id: $stateParams.product_id, menuId: menuItem._id, childId:'', isResource: $state.params.isResource}):null">
                    {{menuItem.title}}
                </span>
                    <ul ng-if="menuItem.children_ids.length!=0">
                        <li ng-repeat="subItem in menuItem.children_ids" class="siteMapList no-text-decoration" ui-sref="groupSpecialProduct.menuItem({product_id: $stateParams.product_id, menuId: menuItem._id, childId: subItem._id, isResource: $state.params.isResource})">
                            &nbsp;&nbsp;{{subItem.title}}
                        </li>
                    </ul>
                </li>
                <!--<li style="display: none;" class="MSDgreenDarker no-text-decoration handCursor" ui-sref="groupSpecialProduct.files({product_id: $stateParams.product_id})">-->
                    <!--Resurse-->
                <!--</li>-->
                <li class="siteMapList no-text-decoration" ng-if="specialProductPage.speakers && specialProductPage.speakers.length > 0" ng-click="navigateMobile('Speakers')">
                    Speakers
                </li>
                <li class="siteMapList no-text-decoration" ng-if="!specialProductMenu.length" ng-click="navigateMobile('Q & A')">
                    P&#259;rerile exper&#355;ilor
                </li>
                <li class="siteMapList no-text-decoration" ui-sref="groupSpecialProduct.sitemap({product_id: $stateParams.product_id, isResource: $state.params.isResource})">
                    Sitemap
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-8" conver="specialProductPage.site_map_description" ng-bind-html="trustAsHtml(specialProductPage.site_map_description)"></div>
    </div>
    <div class="col-xs-12 justify prescription" ng-if="specialProductPage.show_sitemap_prescription"
         convert-special conver="specialProductPage.prescription" ng-bind-html="trustAsHtml(specialProductPage.prescription)">
    </div>
    <div class="col-xs-12 noPadding" ng-if="specialProductPage.show_safety_info_for.site_map">
        <div class="col-xs-12">
            <hr>
            <p>
                <strong>Informa&#355;ii selectate privind siguran&#355;a</strong>
            </p>
        </div>
        <div class="col-xs-12 justify" convert-special conver="specialProductPage.safety_information" ng-bind-html="trustAsHtml(specialProductPage.safety_information)">
        </div>
    </div>
    <div class="col-xs-12 justify job_id" ng-if="specialProductPage.job_id" convert-special conver="specialProductPage.job_id">
        {{specialProductPage.job_id}}
    </div>
</div>