<div class="col-sm-12 productsView">
    <div class="col-md-12 noProducts" ng-if="pathologiesAndProducts.length == 0"><h4>Nu exista produse conform criteriilor selectate</h4></div>
    <div class="col-xs-11 col-md-offset-1 noPadding" ng-if="!isMobile(true)" ng-repeat="pathology in pathologiesAndProducts | orderBy:'display_name'">
        <div class="col-xs-12 noPadding text-left">
            <h3>
                {{pathology.display_name}}
            </h3>
        </div>
        <div class="col-md-3 col-sm-6 product" ng-repeat="prod in pathology.associated_items | orderBy:'product_name' ">
            <vertical-content-list content="prod" image-path-attr="logo_path" image-path-prefix="{{pathAmazonDev}}" default-image-path="{{defaultProductImage}}"
                                   title-attr="product_name" text-attr-alt="prod.firstMenuItem['description']" navigate="goToSpecialProduct" with-background></vertical-content-list>
        </div>
    </div>
    <div class="col-xs-12" ng-if="isMobile(true)" ng-repeat="pathology in pathologiesAndProducts | orderBy:'display_name'">
        <div class="col-xs-12 noPadding">
            <h3>
                {{pathology.display_name}}
            </h3>
        </div>
        <mobile-content-list content="pathology.associated_items" image-attr="logo_path" image-prefix="{{pathAmazonDev}}" default-image="{{defaultProductImage}}" title-attr="product_name"
                              text-attr="firstMenuItem['description']" navigate="navigateProductDetails" limit="lmt"></mobile-content-list>
    </div>
</div>
