<div class="col-xs-12 well well-lg whiteBackground borderRadiusSpecial" id="siteMapDiv">
    <div class="col-xs-12">
        <img class="col-xs-12  noPadding " ng-if="specialProductPage.header_image" no-cache-src="{{pathAmazonDev+specialProductPage.header_image}}" />
    </div>
    <div class="col-xs-12 paddTopBottomSpecialProduct">
            <span>
                <i class="glyphicon glyphicon-print pull-right handCursor" ng-click="printPage()">&nbsp;Print&nbsp;</i>
            </span>
            <span>
                <i class="glyphicon glyphicon-th-list pull-right handCursor" ui-sref="groupSpecialProduct.glossary({product_id: $stateParams.product_id})">&nbsp;Glosar&nbsp;</i>
            </span>
    </div>
    <div class="col-xs-12">
        <ul class="MSDgreenDarker no-text-decoration handCursor">
            <li ng-repeat="menuItem in specialProductMenu">
                <span class="MSDgreenDarker handCursor no-text-decoration" ng-click="menuItem.children_ids.length==0?$state.go('groupSpecialProduct.menuItem',{product_id: $stateParams.product_id, menuId: menuItem._id, childId:''}):null">
                    {{menuItem.title}}
                </span>
                <ul ng-if="menuItem.children_ids.length!=0">
                    <li ng-repeat="subItem in menuItem.children_ids" class="MSDgreenDarker no-text-decoration handCursor" ui-sref="groupSpecialProduct.menuItem({product_id: $stateParams.product_id, menuId: menuItem._id, childId: subItem._id})">
                        &nbsp;&nbsp;{{subItem.title}}
                    </li>
                </ul>
            </li>
            <li class="MSDgreenDarker no-text-decoration handCursor" ui-sref="groupSpecialProduct.files({product_id: $stateParams.product_id})">
                Resources Library
            </li>
            <li class="MSDgreenDarker no-text-decoration handCursor" ui-sref="groupSpecialProduct.prescription({product_id: $stateParams.product_id})">
                Prescription Assistance
            </li>
            <li class="MSDgreenDarker no-text-decoration handCursor" ui-sref="groupSpecialProduct.sitemap({product_id: $stateParams.product_id})">
                Site Map
            </li>
        </ul>
    </div>
    <div class="col-xs-12 justify marginBottom50" ng-if="specialProductPage.show_safety_info_for.site_map"
         convert-special conver="specialProductPage.safety_information" ng-bind-html="trustAsHtml(specialProductPage.safety_information)">
    </div>
</div>