<div class="col-sm-11 productsView">
    <div class="col-md-12 noProducts" ng-if="pathologiesAndProducts.length == 0"><h4>Nu exista produse conform criteriilor selectate</h4></div>
    <div class="col-xs-11 noPadding marginLeft35" ng-if="!isMobile(true)" ng-repeat="pathology in pathologiesAndProducts | orderBy:'display_name'">
        <div class="col-xs-12 noPadding">
            <h3>
                {{pathology.display_name}}
            </h3>
        </div>
        <div class="col-md-3 col-sm-4 product" ng-repeat="prod in pathology.products | orderBy:'product_name' ">
            <vertical-content-list content="prod" image-path-attr="logo_path" image-path-prefix="{{pathAmazonDev}}" default-image-path="{{defaultProductImage}}"
                                   title-attr="product_name" text-attr="general_description" navigate="goToSpecialProduct" with-background></vertical-content-list>
        </div>
    </div>
    <div class="col-xs-12" ng-if="isMobile(true)" ng-repeat="pathology in pathologiesAndProducts | orderBy:'display_name'">
        <div class="col-xs-12 noPadding">
            <h3>
                {{pathology.display_name}}
            </h3>
        </div>
        <mobile-content-list content="pathology.products" image-attr="logo_path" image-prefix="{{pathAmazonDev}}" default-image="{{defaultProductImage}}" title-attr="product_name"
                              text-attr="general_description" navigate="navigateProductDetails" limit="lmt"></mobile-content-list>
    </div>
</div>
<div class="col-sm-1 pickLetter" ng-if="!isMobile(true)">
    <div class="col-xs-12 letter" ng-click="getProducts()">A-Z</div>
    <div class="col-xs-12 letter" ng-repeat="(key, value) in firstLetters" ng-click="getProducts(key)">
        {{key}}
    </div>
</div>