<div class="row-fluid margintop20px col-xs-offset-0">
    <div class="col-xs-2 col-md-2 marginLeft30px" id="menuDiv">
    <accordion close-others="oneAtATime">
        <accordion-group is-open="mystatus.open" class="no-text-decoration noPaddingBottom parentBorderTop" ng-click="changeItem(parent._id)" ng-class="{'activeArea':activeItem==parent._id&&parent.children_ids.length==0}" ng-repeat="parent in specialProductMenu">
            <accordion-heading >
                <span class="MSDgreenDarker smallFontSize no-text-decoration " ng-click="parent.children_ids.length==0?$state.go('groupSpecialProduct.description',{id: parent._id}):null">
                    <i ng-class="{'glyphicon glyphicon-chevron-down': mystatus.open&&parent.children_ids.length!=0,
                                  'glyphicon glyphicon-chevron-right': !mystatus.open||parent.children_ids.length==0}"></i>&nbsp;&nbsp;{{parent.title}}
                </span>
            </accordion-heading>
            <div class="noPaddingLeft list-group noListStyle">
                <div class="MSDgreenDarker  list-group-item no-text-decoration handCursor smallFontSize" ui-sref-active="activeArea" ui-sref="groupSpecialProduct.description({id: subItem._id})" ng-repeat="subItem in parent.children_ids">
                     &nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right smallFontSize"></i>&nbsp;&nbsp;{{subItem.title}}
                 </div>
            </div>
        </accordion-group>
        <accordion-group is-open="status.isFirstOpen" class="no-text-decoration noPaddingBottom noMarginTopPermanent parentBorderTop " ng-click="changeItem(null)" ng-class="{'activeArea':$state.includes('groupSpecialProduct.files')}"  ui-sref="groupSpecialProduct.files">
            <accordion-heading >
                <div class="MSDgreenDarker no-text-decoration smallFontSize" ><i class="glyphicon smallFontSize glyphicon-chevron-right"></i>&nbsp;&nbsp;Resources Library</div>
            </accordion-heading>
        </accordion-group>
        <accordion-group is-open="status.isFirstOpen" class="no-text-decoration noPaddingBottom noMarginTopPermanent parentBorderTop" ng-click="changeItem(null)" ng-class="{'activeArea':$state.includes('groupSpecialProduct.prescription')}" ui-sref="groupSpecialProduct.prescription">
            <accordion-heading >
                <div class="MSDgreenDarker no-text-decoration smallFontSize" ><i class="glyphicon smallFontSize glyphicon-chevron-right"></i>&nbsp;&nbsp;Prescription Assistance</div>
            </accordion-heading>
        </accordion-group>
        <accordion-group is-open="status.isFirstOpen" ui-sref="groupSpecialProduct.sitemap" ng-click="changeItem(null)" ng-class="{'activeArea':$state.includes('groupSpecialProduct.sitemap')}" class="no-text-decoration noPaddingBottom noMarginTopPermanent parentBorderTop" >
            <accordion-heading>
                <div class="MSDgreenDarker no-text-decoration smallFontSize" ><i class="glyphicon smallFontSize glyphicon-chevron-right"></i>&nbsp;&nbsp;Site Map</div>
            </accordion-heading>
        </accordion-group>
    </accordion>
        <img class="img-responsive img-thumbnail handCursor col-xs-12" ui-sref="groupSpecialProduct({product_id: $stateParams.product_id})" no-cache-src="{{pathAmazonDev+specialProductPage.logo_path}}" />
</div>
<div class="col-xs-9 marginRightMinus30 width81" id="descriptionDiv">
    <ui-view>

    </ui-view>
</div>

</div>
