<div class="col-xs-12 well well-lg DescriptionWrapper">
    <div class="col-xs-12">
        <img class="col-xs-12 noPadding" ng-if="specialProductPage.header_image" ng-src="{{pathAmazonDev+specialProductPage.header_image}}" />
    </div>
    <div class="col-xs-12 glossaryPrintButtons">
            <span>
                <i class="glyphicon glyphicon-print pull-right" ng-click="printPage()">&nbsp;Print&nbsp;</i>
            </span>
            <span class="hide">
                <i class="glyphicon glyphicon-th-list pull-right" ui-sref="{{$state.includes('pathologyResources') ? 'pathologyResources.glossary({product_id: $stateParams.product_id})' : 'groupSpecialProduct.glossary({product_id: $stateParams.product_id})'}}">&nbsp;Glosar&nbsp;</i>
            </span>
    </div>
    <div class="col-xs-12 noPadding largeDisplaySpeaker">
        <div class="col-xs-3 col-sm-4 col-md-2 col-md-offset-1">
            <img ng-src="{{speaker.image_path?pathAmazonDev+speaker.image_path:defaultUserImage}}">
        </div>
        <div class="col-xs-9 col-sm-8 col-md-8">
            <div class="name">{{speaker.profession + " " + speaker.first_name + " " + speaker.last_name}}</div>
            <div class="country">{{speaker.country}}</div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="cell" ng-bind-html="trustAsHtml(speaker.short_description)"></div>
            <div><a ui-sref="pathologyResources.speakers">&#206;napoi</a></div>
        </div>
    </div>
</div>