<div class="col-xs-12 well well-lg whiteBackground borderRadiusSpecial" id="descriptionDiv">
    <div class="col-xs-12">
        <img class="col-xs-12  noPadding" style="clip-path: ellipse(60px 40px at 75px 30px);" ng-if="specialProductDescription.header_image" no-cache-src="{{pathAmazonDev+specialProductDescription.header_image}}" />
    </div>
    <div class="col-xs-12 paddTopBottomSpecialProduct">
            <span>
                <i class="glyphicon glyphicon-print pull-right handCursor" ng-click="printPage()">&nbsp;Print&nbsp;</i>
            </span>
            <span>
                <i class="glyphicon glyphicon-th-list pull-right handCursor" ui-sref="groupSpecialProduct.glossary({product_id: $stateParams.product_id})">&nbsp;Glosar&nbsp;</i>
            </span>
    </div>
    <div class="col-xs-12">
        <h3 class="specialProductTitle" convert-special conver="specialProductDescription.header_title" ng-bind-html="trustAsHtml(specialProductDescription.header_title)">

        </h3>
    </div>
    <div class="col-xs-12 justify" convert-special conver="specialProductDescription.description" ng-bind-html="trustAsHtml(specialProductDescription.description)">

    </div>
    <div class="col-xs-12 justify" ng-if="specialProductDescription.show_prescription" style="margin-top: 30px"
         convert-special conver="specialProductPage.prescription" ng-bind-html="trustAsHtml(specialProductPage.prescription)">
    </div>
    <div class="col-xs-12 noPadding" ng-if="specialProductDescription.show_safety_info" style="margin: 10px 0">
        <div class="col-xs-12">
            <hr>
            <p>
                <strong>Informa&#355;ii selectate privind siguran&#355;a</strong>
            </p>
        </div>
        <div class="col-xs-12 justify" convert-special conver="specialProductPage.safety_information" ng-bind-html="trustAsHtml(specialProductPage.safety_information)">
        </div>
    </div>
    <div class="col-xs-12 justify" ng-if="specialProductPage.job_id" convert-special conver="specialProductPage.job_id" style="margin: 10px 0">
        {{specialProductPage.job_id}}
    </div>
</div>