<div class="col-xs-12 well well-lg DescriptionWrapper">
    <div class="col-xs-12">
        <img class="col-xs-12 noPadding" ng-if="specialProductDescription.header_image" no-cache-src="{{pathAmazonDev+specialProductDescription.header_image}}" />
    </div>
    <div class="col-xs-12 glossaryPrintButtons">
            <span>
                <i class="glyphicon glyphicon-print pull-right" ng-click="printPage()">&nbsp;Print&nbsp;</i>
            </span>
            <span>
                <i class="glyphicon glyphicon-th-list pull-right" ui-sref="{{$state.includes('pathologyResources') ? 'pathologyResources.glossary({product_id: $stateParams.product_id})' : 'groupSpecialProduct.glossary({product_id: $stateParams.product_id})'}}">&nbsp;Glosar&nbsp;</i>
            </span>
    </div>
    <div class="col-xs-12">
        <h3 convert-special conver="specialProductDescription.header_title" ng-bind-html="trustAsHtml(specialProductDescription.header_title)">

        </h3>
    </div>
    <div class="col-xs-12 justify" convert-special conver="specialProductDescription.description" ng-bind-html="trustAsHtml(specialProductDescription.description)">

    </div>
    <div class="col-xs-12 justify safety"
         convert-special conver="specialProduct.safety_information" ng-bind-html="trustAsHtml(specialProduct.safety_information)">

    </div>
</div>