<div class="col-xs-12 well well-lg whiteBackground borderRadiusSpecial" id="descriptionDiv">
    <div class="col-xs-12">
        <img class="col-xs-12  noPadding" style="clip-path: ellipse(60px 40px at 75px 30px);" ng-if="specialProductDescription.header_image" no-cache-src="{{pathAmazonDev+specialProductDescription.header_image}}" />
    </div>
    <div class="col-xs-12 paddTopBottomSpecialProduct">
            <span>
                <i class="glyphicon glyphicon-print pull-right handCursor" ng-click="printPage()">&nbsp;Print&nbsp;</i>
            </span>
            <span>
                <i class="glyphicon glyphicon-th-list pull-right handCursor" ui-sref="groupSpecialProduct.glossary({product_id: specialProduct._id})">&nbsp;Glosar&nbsp;</i>
            </span>
    </div>
    <div class="col-xs-12">
        <h3 class="specialProductTitleMargins" convert-special conver="specialProductDescription.header_title" ng-bind-html="trustAsHtml(specialProductDescription.header_title)">

        </h3>
    </div>
    <div class="col-xs-12 justify" convert-special conver="specialProductDescription.description" ng-bind-html="trustAsHtml(specialProductDescription.description)">

    </div>
    <div class="col-xs-12 justify marginBottom50"
         convert-special conver="specialProduct.safety_information" ng-bind-html="trustAsHtml(specialProduct.safety_information)">

    </div>
</div>