<div class="col-xs-12 noPadding hidden-md hidden-lg">
    <div class="col-xs-12 noPadding">
        <img class="col-xs-12 noPadding" no-cache-src="{{specialProductDescription.header_image ? pathAmazonDev+specialProductDescription.header_image : pathAmazonDev+specialProductPage.header_image}}">
    </div>
</div>
<div class="col-xs-12 well well-lg DescriptionWrapper">
    <div class="col-xs-12 hidden-xs hidden-sm">
        <img class="col-xs-12 noPadding" no-cache-src="{{specialProductDescription.header_image ? pathAmazonDev+specialProductDescription.header_image : pathAmazonDev+specialProductPage.header_image}}" />
    </div>
    <div class="col-xs-12 glossaryPrintButtons">
            <span>
                <i class="glyphicon glyphicon-print pull-right" ng-click="printPage()">&nbsp;Print&nbsp;</i>
            </span>
            <span class="hide">
                <i class="glyphicon glyphicon-th-list pull-right" ui-sref="{{$state.includes('pathologyResources') ? 'pathologyResources.glossary({product_id: $stateParams.product_id})' : 'groupSpecialProduct.glossary({product_id: $stateParams.product_id})'}}">&nbsp;Glosar&nbsp;</i>
            </span>
    </div>
    <div class="col-xs-12">
        <h3 class="specialProductTitle" ng-if="specialProductDescription.header_title!=undefined" convert-special conver="specialProductDescription.header_title" ng-bind-html="trustAsHtml(specialProductDescription.header_title)">

        </h3>
    </div>
    <div class="col-xs-12 justify"  ng-if="specialProductDescription.description!=undefined" convert-special conver="specialProductDescription.description" ng-bind-html="trustAsHtml(specialProductDescription.description)" compile-template>

    </div>
    <div class="col-xs-12 justify prescription" ng-if="specialProductDescription.show_prescription"
         convert-special conver="specialProductPage.prescription" ng-bind-html="trustAsHtml(specialProductPage.prescription)">
    </div>
    <div class="col-xs-12 noPadding" ng-if="specialProductDescription.show_safety_info">
        <div class="col-xs-12">
            <hr>
            <p>
                <strong>Informaţii selectate privind siguranţa</strong>
            </p>
        </div>
        <div class="col-xs-12 justify" convert-special conver="specialProductPage.safety_information" ng-bind-html="trustAsHtml(specialProductPage.safety_information)">
        </div>
    </div>
    <div class="col-xs-12 justify job_id" ng-if="specialProductPage.job_id" convert-special conver="specialProductPage.job_id">
        {{specialProductPage.job_id}}
    </div>
    <div class="col-xs-12">
        <h3>
            CITEȘTE ȘI:
        </h3>
    </div>
    <div class="col-xs-12 justify noPadding">
        <div class="col-md-3 col-sm-6 product" ng-repeat="prod in relatedProducts | orderBy: 'product_name' | filter : {_id: '!' + specialProductPage._id}">
            <vertical-content-list content="prod" image-path-attr="logo_path" image-path-prefix="{{pathAmazonDev}}" default-image-path="{{defaultProductImage}}"
                                   title-attr="product_name" text-attr="general_description" navigate="goToSpecialProduct" with-background></vertical-content-list>
        </div>
    </div>
</div>