<div class="col-xs-12 well well-lg whiteBackground borderRadiusSpecial">
    <div class="col-xs-12">
        <img class="col-xs-12  noPadding " ng-if="specialProductPage.header_image" no-cache-src="{{pathAmazonDev+specialProductPage.header_image}}" />
    </div>
    <div class="col-xs-12 paddTopBottomSpecialProduct">
            <span>
                <i class="glyphicon glyphicon-print pull-right handCursor" ng-click="printPage()">&nbsp;Print&nbsp;</i>
            </span>
            <span style="display: none;">
                <i class="glyphicon glyphicon-th-list pull-right handCursor" ui-sref="groupSpecialProduct.glossary({product_id: $stateParams.product_id})">&nbsp;Glosar&nbsp;</i>
            </span>
    </div>
    <div class="col-xs-12 centerText" ng-if="specialProductFiles.length==0">
        <h3>Nu exista fisiere pentru acest produs!</h3>
    </div>
    <div ng-repeat="specialFile in specialProductFiles" class="col-xs-12">
        <h5>
         <a class="MSDgreenDarker specialLink" href="{{pathAmazonDev+specialFile.file_path}}" target="_blank">
             {{specialFile.filename}}
         </a>
        </h5>

    <div class="col-xs-12 justify" convert-special conver="specialFile.description" ng-bind-html="trustAsHtml(specialFile.description)">
    </div>
    <div class="col-xs-12">
         <span>
             [ {{specialFile.type}} : &nbsp; {{specialFile.size}} ]
         </span>
    </div>
    </div>
    <div class="col-xs-12 justify marginBottom50" ng-if="specialProductPage.show_safety_info_for.resources"
         convert-special conver="specialProductPage.safety_information" ng-bind-html="trustAsHtml(specialProductPage.safety_information)">
    </div>
</div>