<div class="container-fluid">
    <div class="well">
        <div class="row">
            <div class="col-xs-5"><h3>Gestionare Articole</h3></div>
            <div class="col-xs-2 pull-right">
                <a ng-click="addArticle()" class="btn btn-info pull-right margintop20px" id="add-article"><i class="glyphicon glyphicon-plus-sign"></i> Adauga articol</a>
            </div>
        </div>
    </div>
    <bulk-operations model="articles" delete-button modify-button field="enable" items-set="selectedItems" filtered-array="resultData" ></bulk-operations>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="cont in $data">
            <td width="30">
                <input type="checkbox" ng-click="addToSelectedItems(cont._id)" ng-checked="checkValue(cont._id)"/>
            </td>
            <td data-title="'Titlu'" filter="{ 'title': 'text' }" sortable="'title'">{{cont.title}}</td>
            <td data-title="'Text'" sortable="'text'" >{{cont.text| htmlToPlaintext | limitTo : 200}}...</td>
            <td data-title="'Autor'" filter="{ 'author': 'text' }" sortable="'author'">{{cont.author}}</td>
            <td data-title="'Data adaugare'" filter="{ 'created': 'text' }" sortable="'created'">{{cont.created.substr(0,10)}}</td>
            <td data-title="'Tip'" sortable="'type'">{{cont.type==1?"National":cont.type==2?"International":"Stiintific"}}</td>
            <td data-title="'Grup'" sortable="'groupsID'">
                <ul>
                    <li class="margintop20px" ng-repeat="c in cont.groupsID">{{groupMap[c]}}&nbsp;

                    </li>
                </ul>
            </td>
            <td>
                <action-buttons item-enable-property="cont.enable" show-toggle-button="true" show-edit-button="true" show-delete-button="true"
                                toggle-item="toggleArticle(cont._id,cont.enable)" delete-item="deleteArticle(cont._id)" update-item="updateArticle(cont._id)"></action-buttons>
            </td>
        </tr>
    </table>

</div>