<div class="container-fluid">
    <div class="well">
        <div class="row">
            <div class="col-xs-5"><h3>Gestionare Articole</h3></div>
            <div class="col-xs-2 pull-right">
                <a ng-click="addArticle()" class="btn btn-info pull-right margintop20px" id="add-article"><i class="glyphicon glyphicon-plus-sign"></i> Adauga articol</a>
            </div>
        </div>
    </div>
    <table ng-table="tableParams" show-filter="true" class="table table-bordered">
        <tr ng-repeat="cont in $data">
            <td data-title="'Titlu'" filter="{ 'title': 'text' }" sortable="'title'">{{cont.title}}</td>
            <td data-title="'Text'" sortable="'text'" >{{cont.text| htmlToPlaintext | limitTo : 200}}...</td>
            <td data-title="'Autor'" filter="{ 'author': 'text' }" sortable="'author'">{{cont.author}}</td>
            <td data-title="'Tip'" sortable="'type'">{{cont.type==1?"Noutati":cont.type==2?"Legislativ":"Stiintific"}}</td>
            <td data-title="'Grup'" sortable="'groupsID'">
                <ul>
                    <li class="margintop20px" ng-repeat="c in cont.groupsID">{{groupMap[c]}}&nbsp;

                    </li>
                </ul>
            </td>
            <td>
                <div class="btn-group-sm"  role="group" style="display: flex">
                    <button ng-click="toggleArticle(cont._id,cont.enable)"
                            class="btn" ng-class="{'btn-danger':cont.enable, 'btn-default':!cont.enable}">
                        <i class="glyphicon glyphicon-lock"></i>
                    </button>
                    <button ng-click="deleteArticle(cont._id)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                    <button ng-click="updateArticle(cont._id)" class="btn btn-info"><i class="glyphicon glyphicon-cog"></i></button>
                </div>
            </td>
        </tr>
    </table>

</div>